//
//== Apply to Bootstrap
//

// override bootstrap variables
$body-bg: $bgcolor-global;
$body-color: $color-global;
$link-color: $color-link;
$link-hover-color: $color-link-hover;

@import 'reboot-bootstrap-colors';
@import 'reboot-bootstrap-theme-colors';

// Link buttons
.btn-link {
  color: $link-color;

  @include hover {
    color: $link-hover-color;
  }
}

// Dropdown
.dropdown-item {
  color: $color-global;
  &.active,
  &:active {
    @include gradient-bg($dropdown-link-active-bg);
  }
}

// Form
.form-control {
  @include form-control-focus();
}

// Tabs
.nav.nav-tabs {
  > li > a {
    color: $color-link;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }
  }
}

//
//== Apply to GROWI Elements
//

.grw-logo {
  // set transition for fill
  svg * {
    transition: fill 0.8s ease-out;
  }

  svg {
    fill: $fillcolor-logo-mark;
  }

  &:hover {
    svg {
      .group1 {
        fill: $growi-green;
      }

      .group2 {
        fill: $growi-blue;
      }
    }
  }
}

.grw-navbar {
  // TODO: coloring
  // background: $bgcolor-navbar;
  // .nav-item > .nav-link {
  //   color: white;
  // }
  background: darken($bgcolor-global, 8%);
  .nav-item > .nav-link {
    color: #333;
  }
}

.grw-title-bar {
  background: darken($bgcolor-global, 2%);
}

.grw-sidebar {
  .grw-logo {
    background-color: darken($bgcolor-navbar, 10%);
  }
}

/*
 * code color of inline-code
 */
:not(.hljs) > code:not(.hljs) {
  color: $color-inline-code;
  background-color: $bgcolor-inline-code;
}

/*
 * Modal
 */
.modal {
  .modal-header {
    border-bottom-color: $border-color-theme;

    &.bg-primary,
    &.bg-info,
    &.bg-success,
    &.bg-warning,
    &.bg-danger {
      color: white;

      .close {
        color: white;
      }
    }

    .close {
      opacity: 0.5;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .modal-content {
    background-color: $bgcolor-global;
  }

  .modal-footer {
    border-top-color: $border-color-theme;
  }
}

/*
 * cards
 */
.card-header {
  border: 0;
}

.card.well {
  background-color: $bgcolor-card;
  border-color: $light;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*
 * Form Slider
 */
.admin-page {
  span.slider {
    background-color: #ccc;

    &:before {
      background-color: white;
    }
  }

  input:checked + .slider {
    background-color: #007bff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
  }
}

/*
 * Crowi sidebar
 */
.crowi-sidebar {
  background-color: darken($bgcolor-global, 4%);
  border-left: solid 1px $border-color;

  .system-version {
    background-color: darken($bgcolor-global, 4%);
  }
}

/*
 * GROWI wiki
 */
.wiki {
  a {
    color: $color-link-wiki;

    &:hover {
      color: $color-link-wiki-hover;
    }
  }

  // table with handsontable modal button
  .editable-with-handsontable {
    button {
      color: $color-link-wiki;
    }

    button:hover {
      color: $color-link-wiki-hover;
    }
  }
}

/*
 * GROWI header
 */
header.affix {
  background: rgba(darken($bgcolor-global, 2%), 0.9);
}

/*
 * GROWI on-edit
 */
body.on-edit {
  .main {
    background-color: darken($bgcolor-global, 2%);

    .page-editor-editor-container {
      border-right-color: $border-color-theme;

      .navbar-editor {
        background-color: $bgcolor-global; // same color with active tab
        border-bottom-color: $border-color-theme;
      }
    }

    .page-editor-preview-container {
      background-color: $bgcolor-global;
    }

    .page-editor-footer {
      border-top-color: $border-color-theme;
    }
  }
}

/*
 * GROWI comment form
 */
.growi .main {
  .page-comments-row {
    border-top-color: $border-color-theme;
  }

  .page-comment .page-comment-main,
  .page-comment-form .comment-form-main {
    background-color: darken($bgcolor-global, 4%);

    &:before {
      border-right-color: darken($bgcolor-global, 4%);
    }

    .nav.nav-tabs {
      > li > a.active {
        background: transparent;
        border-bottom: solid 1px darken($bgcolor-global, 4%);
        border-bottom-color: darken($bgcolor-global, 4%);
      }
    }
  }
}

/*
 * GROWI search result
 */
.search-result {
  .search-result-list {
    .page-list {
      .page-list-ul {
        > li > a {
          background-color: transparent;
        }

        li:hover {
          background-color: darken($bgcolor-global, 4%);
        }

        li.active {
          background-color: darken($bgcolor-global, 8%);
          border-color: theme-color('primary');
        }
      }
    }
  }
}

/*
 * GROWI page attachments
 */
.page-attachments-row {
  background-color: darken($bgcolor-global, 2%);
  border-top-color: $border-color-theme;
}

/*
 * GROWI admin page #themeOptions
 */
.admin-page {
  #themeOptions {
    .theme-option-container.active {
      .theme-option-name {
        color: $color-global;
      }
    }
  }
}
