//== Apply to Bootstrap
//
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// override bootstrap variables
$link-color: $color-link;
$link-hover-color: $color-link-hover;

@import 'override-bootstrap-themes';

@import '~bootstrap/scss/reboot';

@each $color, $value in $theme-colors {
  @include bg-variant('.bg-#{$color}', $value);
}
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}
@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
@each $theme-color, $color in $theme-colors {
  .alert.alert-#{$theme-color} {
    color: white;
    background: $color;
    a:not(.btn) {
      color: white;

      &:hover,
      &:focus {
        color: lighten($color, 30%);
      }
    }
  }
}
// @each $color, $value in $theme-colors {
//   .link-#{$color} {
//     color: $value;
//     @if $emphasized-link-hover-darken-percentage != 0 {
//       &:hover,
//       &:focus {
//         color: darken($value, $emphasized-link-hover-darken-percentage);
//       }
//     }
//   }
// }
// @each $color, $value in $theme-colors {
//   @include table-row-variant($color, color-level($value, $table-bg-level), color-level($value, $table-border-level));
// }
// @each $color, $value in $theme-colors {
//   @include list-group-item-variant($color, color-level($value, -9), color-level($value, 6));
// }

//== Apply to GROWI Elements
//

body {
  background: $bgcolor-global;
}

.logo {
  // set transition for fill
  svg * {
    transition: fill 0.8s ease-out;
  }

  background-color: darken($bgcolor-navbar, 10%);

  .logo-mark {
    svg {
      fill: $fillcolor-logo-mark;

      &:hover {
        .group1 {
          fill: $growi-green;
        }
        .group2 {
          fill: $growi-blue;
        }
      }
    }
  }
}

.grw-navbar {
  background: $bgcolor-navbar;
}

.grw-title-bar {
  background: darken($bgcolor-global, 2%);
}

/*
 * code color of inline-code
 */
:not(.hljs) > code:not(.hljs) {
  color: $color-inline-code;
  background-color: $bgcolor-inline-code;
}

/*
 * Legend
 */
legend {
  color: $color-header;
}

/*
 * Modal
 */
.modal {
  .modal-header {
    border-bottom-color: $border;
    &.bg-primary,
    &.bg-info,
    &.bg-success,
    &.bg-warning,
    &.bg-danger {
      color: white;
      .close {
        color: white;
      }
    }
    .close {
      opacity: 0.5;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .modal-content {
    background-color: $bgcolor-global;
  }
  .modal-footer {
    border-top-color: $border;
  }
}

/*
 * Panel
 */
.panel {
  .panel-body {
    background-color: $bgcolor-global;
  }
}

/*
 * Wells
 */
.well {
  background-color: darken($bgcolor-global, 5%);
  border-color: $border;
}

/*
 * Tabs
 */
$active-nav-tabs-bgcolor: $bgcolor-global !default;

/*
.nav.nav-tabs {
  border-bottom-color: $navbar-border;

  > li > a {
    color: $linktext;
    &:hover,
    &:focus {
      color: $linktext-hover;
      background: transparent;
    }
  }
  > li.active > a {
    background: $active-nav-tabs-bgcolor;
    border-top-color: $navbar-border;
    border-right-color: $navbar-border;
    border-left-color: $navbar-border;
  }
  > li:not(.active) > a {
    &:hover,
    &:focus {
      border-top-color: $active-navbar-border;
      border-right-color: $active-navbar-border;
      border-bottom: transparent;
      border-left-color: $active-navbar-border;
    }
  }
}
*/

/*
 * Form Slider
 */
.admin-page {
  span.slider {
    background-color: #ccc;
    &:before {
      background-color: white;
    }
  }
  input:checked + .slider {
    background-color: #007bff;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
  }
}

/*
 * Crowi sidebar
 */
.crowi-sidebar {
  background-color: darken($bgcolor-global, 4%);
  border-left: solid 1px $border;
  .system-version {
    background-color: darken($bgcolor-global, 4%);
  }
}

/*
 * GROWI wiki
 */
.wiki {
  a {
    color: $color-link-wiki;
    &:hover {
      color: $color-link-wiki-hover;
    }
  }

  // table with handsontable modal button
  .editable-with-handsontable {
    button {
      color: $color-link-wiki;
    }
    button:hover {
      color: $color-link-wiki-hover;
    }
  }
}

/*
 * GROWI header
 */
header.affix {
  background: rgba(darken($bgcolor-global, 2%), 0.9);
}

/*
 * GROWI on-edit
 */
body.on-edit {
  .main {
    background-color: darken($bgcolor-global, 2%);

    .page-editor-editor-container {
      border-right-color: $navbar-border;
      .navbar-editor {
        background-color: $active-nav-tabs-bgcolor; // same color with active tab
        border-bottom-color: $border;
      }
    }
    .page-editor-preview-container {
      background-color: $bgcolor-global;
    }

    .page-editor-footer {
      border-top-color: $border;
    }
  }
}

/*
 * GROWI comment form
 */
.growi .main {
  .page-comments-row {
    border-top-color: $border;
  }
  .page-comment .page-comment-main,
  .page-comment-form .comment-form-main {
    background-color: darken($bgcolor-global, 4%);
    &:before {
      border-right-color: darken($bgcolor-global, 4%);
    }
    .nav.nav-tabs {
      > li.active > a {
        background: transparent;
        border-bottom: solid 1px darken($bgcolor-global, 4%);
        border-bottom-color: darken($bgcolor-global, 4%);
      }
    }
  }
}

/*
 * GROWI search result
 */
.search-result {
  .search-result-list {
    .page-list {
      .page-list-ul {
        > li > a {
          background-color: transparent;
        }
        li:hover {
          background-color: darken($bgcolor-global, 4%);
        }
        li.active {
          background-color: darken($bgcolor-global, 8%);
          border-color: theme-color('primary');
        }
      }
    }
  }
}

/*
 * GROWI page attachments
 */
.page-attachments-row {
  background-color: darken($bgcolor-global, 2%);
  border-top-color: $border;
}

/*
 * GROWI admin page #themeOptions
 */
.admin-page {
  #themeOptions {
    .theme-option-container.active {
      .theme-option-name {
        color: $color-global;
      }
    }
  }
}
