// determine optional variables
$color-list: $color-global !default;
$bgcolor-list: $bgcolor-global !default;
$color-list-hover: $color-global !default;
$bgcolor-list-hover: darken($bgcolor-global, 3%) !default;
$bgcolor-list-active: $primary !default;
$color-list-active: color-yiq($bgcolor-list-active) !default;
$bgcolor-subnav: darken($bgcolor-global, 3%) !default;
$color-table: $color-global !default;
$bgcolor-table: null !default;
$border-color-table: $gray-200 !default;
$color-table-hover: $color-table !default;
$bgcolor-table-hover: rgba(black, 0.075) !default;
$bgcolor-sidebar-list-group: $bgcolor-list !default;
$color-tags: $gray-500 !default;
$bgcolor-tags: $gray-200 !default;

// override bootstrap variables
$border-color: $gray-200;
$table-color: $color-table;
$table-bg: $bgcolor-table;
$table-border-color: $border-color-table;
$table-hover-color: $color-table-hover;
$table-hover-bg: $bgcolor-table-hover;

@import 'reboot-bootstrap-border-colors';
@import 'reboot-bootstrap-tables';

// List Group
@include override-list-group-item($color-list, $bgcolor-list, $color-list-hover, $bgcolor-list-hover, $color-list-active, $bgcolor-list-active);

/*
 * Form
 */
.form-control {
  background-color: $bgcolor-global;
}

.grw-slack-notification {
  .form-control {
    background: white;
  }
}

.form-control::placeholder {
  color: darken($bgcolor-global, 20%);
}

.form-control[disabled],
.form-control[readonly] {
  color: lighten($color-global, 10%);
  background-color: darken($bgcolor-global, 5%);
}

/*
 * card
 */
.card.card-disabled {
  background-color: darken($bgcolor-card, 5%);
  border-color: $gray-200;
}

/*
 * GROWI Login form
 */
.nologin {
  // background color
  $color-gradient: #3e4d6c;
  background: linear-gradient(45deg, darken($color-gradient, 30%) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, $growi-green 10%, hsla(225, 95%, 50%, 0) 70%), linear-gradient(225deg, $growi-blue 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, darken($color-gradient, 25%) 100%, hsla(35, 95%, 55%, 0) 70%);

  .login-header {
    background-color: rgba(white, 0.5);

    .logo {
      background-color: rgba(black, 0);
      fill: rgba(black, 0.5);
    }

    h1 {
      color: rgba(black, 0.5);
    }
  }

  .login-dialog {
    background-color: rgba(white, 0.5);
  }

  .dropdown-with-icon {
    .dropdown-toggle {
      color: white;
      background-color: rgba($gray-600, 0.7);
      box-shadow: unset;
      &:focus {
        color: white;
        background-color: rgba($gray-600, 0.7);
      }
    }
    i {
      color: darken(white, 30%);
      background-color: rgba($gray-700, 0.7);
    }
  }

  .input-group {
    .input-group-text {
      color: darken(white, 30%);
      background-color: rgba($gray-700, 0.7);
    }

    .form-control {
      color: white;
      background-color: rgba($gray-600, 0.7);
      box-shadow: unset;

      &::placeholder {
        color: darken(white, 30%);
      }
    }
  }

  // footer link text
  .link-growi-org {
    color: rgba(black, 0.4);

    &:hover,
    &.focus {
      color: black;

      .growi {
        color: darken($growi-green, 20%);
      }

      .org {
        color: darken($growi-blue, 15%);
      }
    }
  }
}

/*
 * GROWI subnavigation
 */
.grw-subnav {
  background-color: $bgcolor-subnav;
}

.grw-subnav-fixed-container .grw-subnav {
  background-color: rgba($bgcolor-subnav, 0.85);
}

.grw-three-stranded-button {
  .btn-outline-primary {
    &:hover {
      color: $primary;
      background-color: $gray-200;
    }
  }
}

.grw-drawer-toggler {
  @extend .btn-light;
  color: $gray-500;
}

/*
 * GROWI Sidebar
 */
.grw-sidebar {
  // List
  @include override-list-group-item($color-list, $bgcolor-sidebar-list-group, $color-list-hover, $bgcolor-list-hover, $color-list-active, $bgcolor-list-active);
}

/*
 * GROWI page list
 */
.page-list {
  .page-list-ul {
    > li {
      > span.page-list-meta {
        color: lighten($color-global, 10%);
      }
    }
  }
}

/*
 * GROWI on-edit
 */
.grw-editor-navbar-bottom {
  #slack-mark-white {
    display: none;
  }

  .input-group-text {
    margin-right: 1px;
    color: $secondary;
    border-color: $light;
  }

  .btn.btn-outline-secondary {
    border-color: $border-color;
  }
}

/*
 * GROWI Link Edit Modal
 */
.link-edit-modal {
  span i {
    color: $gray-400;
  }
}

.grw-slack-notification {
  background-color: white;
  $color-slack: #4b144c;

  .custom-control-label {
    &::before {
      background-color: $gray-200;
      border-color: transparent;
    }
    &::after {
      background-color: white;
      background-image: url(/images/icons/slack/slack-logo-off.svg);
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      background-color: lighten($color-slack, 60%);
    }
    &::after {
      background-image: url(/images/icons/slack/slack-logo-on.svg);
    }
  }
}

.grw-slack-logo svg {
  fill: #af30b0;
}

.grw-btn-slack {
  background-color: white;

  &:hover,
  &:focus {
    background-color: white;
  }
}

.grw-btn-slack-triangle {
  color: $secondary;
}

/*
 * GROWI HandsontableModal
 */
.grw-hot-modal-navbar {
  background-color: $light;
}

.wiki {
  h1 {
    border-color: $border-color-theme;
  }
  h2 {
    border-color: $border-color-theme;
  }
}

/*
 * GROWI comment form
 */
.comment-form {
  #slack-mark-white {
    display: none;
  }
}

.growi .main {
  .page-comments-row {
    background: $bgcolor-subnav;
  }
}

/*
 * GROWI tags
 */
.grw-tag-labels {
  .grw-tag-label {
    color: $color-tags;
    background-color: $bgcolor-tags;
  }
}

/*
 * GROWI user page
 */
.grw-page-list-m {
  .grw-page-list-title-m {
    svg {
      fill: $color-global;
    }
  }
}
