// determine optional variables
$color-list: $color-global !default;
$bgcolor-list: $bgcolor-global !default;
$color-list-hover: $color-global !default;
$bgcolor-list-hover: darken($bgcolor-global, 3%) !default;
$color-list-active: $color-reversal !default;
$bgcolor-list-active: $primary !default;
$bgcolor-subnabvar: darken($bgcolor-global, 3%) !default;
$color-table: $color-global !default;
$bgcolor-table: null !default;
$border-color-table: #dee2e6 !default;
$color-table-hover: $color-table !default;
$bgcolor-table-hover: rgba(black, 0.075) !default;
$bgcolor-sidebar-list-group: $bgcolor-list !default;

// override bootstrap variables
$table-color: $color-table;
$table-bg: $bgcolor-table;
$table-border-color: $border-color-table;
$table-hover-color: $color-table-hover;
$table-hover-bg: $bgcolor-table-hover;

@import 'reboot-bootstrap-tables';

// List Group
@include override-list-group-item($color-list, $bgcolor-list, $color-list-hover, $bgcolor-list-hover, $color-list-active, $bgcolor-list-active);

/*
 * Form
 */
.form-control {
  background-color: $bgcolor-global;
}

.form-control[disabled],
.form-control[readonly] {
  color: lighten($color-global, 10%);
  background-color: darken($bgcolor-global, 5%);
}

/*
 * GROWI search-top
 */
.search-top {
  .btn-group-dropdown-scope .dropdown-toggle {
    background-color: rgba($bgcolor-global, 0.8);
  }
  .rbt-input.form-control {
    background-color: rgba($bgcolor-global, 0.9);
  }
  .search-typeahead {
    background-color: rgba($bgcolor-global, 0.9);
  }
}

/*
 * GROWI subnavigation
 */
.grw-subnavbar {
  background-color: $bgcolor-subnabvar;
}

/*
 * GROWI Sidebar
 */
.grw-sidebar {
  // List
  @include override-list-group-item($color-list, $bgcolor-sidebar-list-group, $color-list-hover, $bgcolor-list-hover, $color-list-active, $bgcolor-list-active);
}

/*
 * GROWI page list
 */
.page-list {
  .page-list-ul {
    > li {
      > span.page-list-meta {
        color: lighten($color-global, 10%);
      }
    }
  }
}

/*
 * GROWI on-edit
 */
.page-editor-footer {
  #slack-mark-white {
    display: none;
  }
}

/*
 * GROWI HandsontableModal
 */
.grw-hot-modal-navbar {
  background-color: $light;
}

.wiki {
  h1 {
    border-color: darken($border-color-theme, 10%);
  }
  h2 {
    border-color: $border-color-theme;
  }
}

/*
 * GROWI comment form
 */
.comment-form {
  #slack-mark-white {
    display: none;
  }
}
