//== Table
$table-variants: (
  'light': $light,
  'dark': $dark,
);

// remove when master version is released
// show https://github.com/twbs/bootstrap/blob/28cb1ff2b23253293601c51aff434c39b461025e/scss/mixins/_table-variants.scss
@mixin table-variant($state, $background) {
  .table-#{$state} {
    $table-hover-bg-factor: 0.075 !default;
    $table-striped-bg-factor: 0.05 !default;
    $body-bg: $white !default;
    $table-active-bg-factor: 0.1 !default;
    $table-border-factor: 0.1 !default;

    $color: color-contrast(mix(rgba($background, 1), $body-bg, opacity($background) * 100));
    $color: gray;
    $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
    $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
    $active-bg: mix($color, $background, percentage($table-active-bg-factor));

    --bs-table-bg: #{$background};
    --bs-table-striped-bg: #{$striped-bg};
    --bs-table-striped-color: #{color-contrast($striped-bg)};
    --bs-table-active-bg: #{$active-bg};
    --bs-table-active-color: #{color-contrast($active-bg)};
    --bs-table-hover-bg: #{$hover-bg};
    --bs-table-hover-color: #{color-contrast($hover-bg)};

    color: $color;
    border-color: mix($color, $background, percentage($table-border-factor));
  }
}
