@import 'layout_variable';

/*
.bg-title {
  padding: 6px 0;
  margin-right: -15px;
  margin-left: -15px;
  overflow: unset;
}
*/

/*
 * Growi original
 */

#page-wrapper {
  padding-bottom: 0;
}

/*
 * Sidebar
 */
.content-wrapper {
  // hide elements by agile-admin completely
  .logo .logo-text {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      display: none;
    }
  }
  #page-wrapper {
    margin-left: 0;
  }
}

/*
 * Logo
 */
.top-left-part {
  line-height: 0%;

  a {
    text-transform: none;
  }
}

/*
 * Nav
 */
/*
.nav-pills {
  > li > a {
    border-radius: 3px;
  }
}
*/

/*
 * Link
 */
a {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*
 * Alert
 */
/*
.alert {
  a:not(.btn) {
    color: white;
  }

  &.alert-info {
    a:not(.btn) {
      &:hover,
      &:focus {
        color: lighten($info, 40%);
      }
    }
  }
  &.alert-success {
    a:not(.btn) {
      &:hover,
      &:focus {
        color: lighten($success, 40%);
      }
    }
  }
  &.alert-warning {
    a:not(.btn) {
      &:hover,
      &:focus {
        color: lighten($warning, 30%);
      }
    }
  }
  &.alert-danger {
    a:not(.btn) {
      &:hover,
      &:focus {
        color: lighten($danger, 30%);
      }
    }
  }
}
*/

/*
 * Form
 */
/*
.input-sm,
.input-group-sm > .form-control,
.input-group-addon.input-sm,
.input-group-sm > .input-group-addon,
.btn-group-sm > .btn {
  border-radius: $radius;
}
*/

/*
 * Button
 */
/*
button.btn.btn-link:hover {
  text-decoration: none;
}
*/

/*
 * Dropdown
 */
/*
.dropdown-menu {
  > li > a {
    padding: 5px 15px;
  }
}
*/

// dropdown menu for search
// inherited from elite.admin.scss
.dropdown-menu {
  $grw-dropdown-margin-top: 0.5em;
  margin-top: $grw-dropdown-margin-top;
  border: 1px solid $border;
  border-radius: $radius;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  li > a {
    display: block;
    padding: 0.25em 0.75em;
    color: #333;
    text-decoration: none;
    white-space: nowrap;
    &:focus,
    &:hover {
      background: $grw-alice-blue;
    }
  }

  .search-typeahead & {
    margin-top: $grw-dropdown-margin-top !important;
  }
}

/*
.nav-item-user {
  .dropdown-toggle {
    &::after {
      //caret position
      margin: 0.75em 0 0 0.75em;
    }
  }
}
*/

/*
 * Modal
 */
/*
.modal-content {
  border: none;
  // border-radius: 0;

  .modal-header,
  .modal-footer {
    padding: 10px 15px;
  }
}
*/

/*
 * Wells
 */
/*
 .well {
  padding: 0.7em;
  border-radius: 3px;
  &.well-sm {
    padding: 0.5em;
  }

  a {
    text-decoration: underline;
  }
}
*/

/*
 * Wiki
 */
.wiki {
  a {
    text-decoration: underline;
  }
}
