// default colors
$border: #f0f0f0 !default;
$navbar-border: #ccc !default;
$active-navbar-border: lighten($navbar-border, 10%) !default;
$inline-code-color: #c7254e !default;
$inline-code-bg: #f9f2f4 !default;
