@import '../variables';
@import '../override-bootstrap-variables';

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
// $secondary: #;
// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $light: #;
// $dark: #;
$themecolor: #b3000c;
$themelight: white;

$subthemecolor: #017e20;
$bgcolor-global: $themelight;
$linktext: lighten(#0d5901, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: #ffffff;
$fillcolor-logo-mark: lighten(desaturate($themecolor, 50%), 50%);
$color-link-wiki: lighten($themecolor, 5%);
$color-link-wiki-hover: lighten($color-link-wiki, 15%);
$active-nav-tabs-bgcolor: white;

.growi:not(.login-page) {
  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/christmas/christmas.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

//== Light Mode
//
html[light],
html[dark] {
  // Background colors
  $bgcolor-card: #f5f5f5;
  $bgcolor-inline-code: #f0f0f0; //optional

  // Font colors
  $color-global: $subthemecolor;
  $color-reversal: #eeeeee;
  $color-link: lighten($color-global, 2%);
  $color-link-hover: lighten($color-link, 20%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: #c7254e; // optional

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: $themelight;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $themecolor;
  $color-list-hover: $color-reversal;

  // Navbar
  $bgcolor-navbar: $themecolor;
  $border-color-navbar-gradient-left: #545fff;
  $border-color-navbar-gradient-right: #00a6e5;

  // Logo colors
  $bgcolor-logo: $themecolor;

  // Sidebar
  $bgcolor-sidebar: $themecolor;
  $color-sidebar-context: $color-reversal;
  $bgcolor-sidebar-context: lighten($themecolor, 10%);

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`
  $bordercolor-inline-code: #ccc8c8; // optional

  // Dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($themecolor, 20%);

  // alert
  $color-alert: $color-reversal;

  // badge
  $color-badge: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-light';

  // change color of highlighted header in wiki (default: orange)
  .wiki {
    .code-line.revision-head.highlighted {
      color: $themelight;
      background-color: lighten($themecolor, 20%);

      .icon-note,
      .icon-link {
        color: $themelight;
      }
    }
  }

  .sidebar {
    background: $themecolor;
  }

  .rbt-menu {
    background: $themelight;
  }

  #wrapper > #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/christmas/christmas.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  /*
  * Tabs
  */
  body:not(.on-edit) .nav.nav-tabs {
    > li.active > a {
      background: linear-gradient(
        rgba($active-nav-tabs-bgcolor, 0) 0%,
        rgba($active-nav-tabs-bgcolor, 0) 90%,
        $active-nav-tabs-bgcolor 100%
      ); // overwrite only the bottom pixel
    }
  }

  // login page
  .nologin {
    .input-group {
      .input-group-addon {
        background-color: rgba(lighten(black, 10%), 0.6);
      }
      .form-control {
        background-color: rgba(lighten(black, 10%), 0.6);
      }
    }

    &.login-page {
      .login-header,
      .login-dialog {
        background-color: rgba(#ccc, 0.5);
      }
      .link-switch {
        color: #bd3425;
      }
    }
  }

  /*
  * Modal
  */
  .modal-dialog .modal-header.bg-primary {
    background-image: url('/images/themes/christmas/christmas-navbar.jpg');
    border-bottom: 2px solid $subthemecolor;
  }

  /*
  * Panel
  */
  .panel {
    &.panel-white,
    &.panel-default {
      border-color: $subthemecolor;
      .panel-heading {
        color: $dark;
        background-color: $subthemecolor;
        border-bottom: 1px solid $subthemecolor;
      }
    }
  }

  .panel.panel-primary {
    border-color: #bd3425;
    .panel-heading {
      color: white;
      background-color: $themecolor;
      background-image: url('/images/themes/christmas/christmas-navbar.jpg');
    }
  }

  .grw-navbar {
    background-image: url('/images/themes/christmas/christmas-navbar.jpg');
    border-bottom: 4px solid $subthemecolor;
  }

  .grw-subnav {
    background-color: #ffffff;
  }

  .nav-tabs {
    border-bottom-color: $themecolor;
  }

  .nav-link {
    border-color: $themecolor;
  }

  .nav-tabs .nav-link.active {
    background: none;
    border-color: $themecolor;
  }

  .search-top .dropdown-toggle {
    color: black;
    background-color: hsla(0, 0%, 100%, 0.8);
  }
}
