@import '../variables';
@import '../override-bootstrap-variables';

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
// $secondary: #;
// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $light: #;
// $dark: #;

$themecolor: #b3000c;
$themelight: white;
$subthemecolor: #30882c;
$bgcolor-global: $themelight;
$linktext: $subthemecolor;
$linktext-hover: lighten($subthemecolor, 15%);
$sidebar-text: #ffffff;
$fillcolor-logo-mark: lighten(desaturate($themecolor, 50%), 50%);
$color-link-wiki: lighten($subthemecolor, 5%);
$color-link-wiki-hover: lighten($color-link-wiki, 15%);
$color-inline-code: darken($subthemecolor, 5%);
$bgcolor-inline-code: lighten($subthemecolor, 70%);
$active-nav-tabs-bgcolor: white;

.growi:not(.login-page) {
  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/christmas/christmas.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

//== Light Mode
//
html[light],
html[dark] {
  $primary: #d3c665;
  // Background colors
  $bgcolor-card: #f5f5f5;

  // Font colors
  $color-global: $subthemecolor;
  $color-reversal: #eee;
  $color-link: lighten($color-global, 2%);
  $color-link-hover: lighten($color-link, 20%);
  $color-link-nabvar: #A7A7A7;

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: $themelight;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $themecolor;
  $color-list-hover: $color-reversal;

  // Navbar
  $bgcolor-navbar: $themecolor;
  $bgcolor-search-top-dropdown: $primary;
  $border-color-navbar-gradient-left: #545fff;
  $border-color-navbar-gradient-right: #00a6e5;
  $border-image-navbar: linear-gradient(to right, #6458bc 33%, #5cb4ff 66%, #85d800 100%);

  // Logo colors
  $bgcolor-logo: $themecolor;

  // Sidebar
  $bgcolor-sidebar: $color-inline-code;
  $bgcolor-sidebar-nav-item-active: rgba(#000000, 0.37); // optional
  // $text-shadow-sidebar-nav-item-active: 0px 0px 10px #0099ff; // optional
  // Sidebar resize button
  $color-resize-button: $color-reversal;
  $bgcolor-resize-button: #D3C665;
  $color-resize-button-hover: $color-reversal;
  $bgcolor-resize-button-hover: lighten($bgcolor-resize-button, 5%);
  $color-sidebar-context: $linktext;
  $bgcolor-sidebar-context: #F4F6FC;
  // Sidebar list group
  $bgcolor-sidebar-list-group: #fafbff; // optional

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`

  // Dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($themecolor, 20%);

  // alert
  $color-alert: $color-reversal;

  // badge
  $color-badge: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-light';

  // change color of highlighted header in wiki (default: orange)
  .wiki {
    .code-line.revision-head.highlighted {
      color: $themelight;
      background-color: lighten($themecolor, 20%);

      .icon-note,
      .icon-link {
        color: $themelight;
      }
    }
  }

  .sidebar {
    background: $themecolor;
  }

  .rbt-menu {
    background: $themelight;
  }

  #wrapper > #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/christmas/christmas.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  /*
  * Tabs
  */
  body:not(.on-edit) .nav.nav-tabs {
    > li.active > a {
      background: linear-gradient(
        rgba($active-nav-tabs-bgcolor, 0) 0%,
        rgba($active-nav-tabs-bgcolor, 0) 90%,
        $active-nav-tabs-bgcolor 100%
      ); // overwrite only the bottom pixel
    }
  }

  // login page
  .nologin {
    .input-group {
      .input-group-addon {
        background-color: rgba(lighten(black, 10%), 0.6);
      }
      .form-control {
        background-color: rgba(lighten(black, 10%), 0.6);
      }
    }

    &.login-page {
      .login-header,
      .login-dialog {
        background-color: rgba(#ccc, 0.5);
      }
      .link-switch {
        color: #bd3425;
      }
    }
  }

  /*
  * Modal
  */
  .modal-dialog .modal-header.bg-primary {
    background-image: url('/images/themes/christmas/christmas-navbar.jpg');
    border-bottom: 2px solid $subthemecolor;
  }

  /*
  * Panel
  */
  .panel {
    &.panel-white,
    &.panel-default {
      border-color: $subthemecolor;
      .panel-heading {
        color: $dark;
        background-color: $subthemecolor;
        border-bottom: 1px solid $subthemecolor;
      }
    }
  }

  .panel.panel-primary {
    border-color: #bd3425;
    .panel-heading {
      color: white;
      background-color: $themecolor;
      background-image: url('/images/themes/christmas/christmas-navbar.jpg');
    }
  }

  .search-top {
    .btn-secondary.dropdown-toggle {
      color: #FCFDFF;
      &:active, &:hover, &:focus {
        color: #FCFDFF;
      }
    }
  }

  .grw-navbar {
    background-image: url('/images/themes/christmas/christmas-navbar.jpg');
    border-bottom: 4px solid $subthemecolor;
  }


  .nav-link {
    border-color: #D7D7D7;
  }

  .nav-tabs .nav-link.active {
    background: none;
    border-color: #D7D7D7;
  }

  .search-top .dropdown-toggle {
    color: black;
    background-color: hsla(0, 0%, 100%, 0.8);
  }

  .grw-sidebar-history {
    .grw-sidebar-header-container {
      .btn-outline-secondary {
        color: #FCFDFF;
        background-color: #797979;
      }
    }
  }
}
