@import '../variables';
@import '../override-bootstrap-variables';

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
// $secondary: #;
// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $light: #;
// $dark: #;

//== Light Mode
//
html:not([dark]) {
  $primary: #112744;

  // Background colors
  $bgcolor-global: white;
  $bgcolor-navbar: #334455;
  $bgcolor-inline-code: #f9f2f4;
  $bgcolor-card: #f5f5f5;

  // Font colors
  $color-global: #333333;
  $color-header: #2b2b2b;
  $color-link: lighten($primary, 20%);
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: lighten($primary, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-inline-code: #c7254e;

  // Logo colors
  $fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 10%), 15%);

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`

  @import 'apply-colors';
  @import 'apply-colors-light';
}

//== Dark Mode
//
html[dark] {
  $primary: #f75b36;

  $basecolor: #212731;

  // Background colors
  $bgcolor-global: $basecolor;
  $bgcolor-navbar: #151515;
  $bgcolor-inline-code: darken($basecolor, 5%);
  $bgcolor-card: darken($basecolor, 5%);

  // Font colors
  $color-global: lighten($basecolor, 35%);
  $color-header: lighten($basecolor, 45%);
  $color-link: lighten($basecolor, 45%);
  $color-link-hover: lighten($color-link, 10%);
  $color-link-wiki: saturate($color-global, 20%);
  $color-link-wiki-hover: darken($color-link-wiki, 5%);
  $color-inline-code: #c7254e;

  // Logo colors
  $fillcolor-logo-mark: #444;

  // Border colors
  $border-color-theme: black; // former: `$navbar-border: #ccc;`

  @import 'apply-colors';
  @import 'apply-colors-dark';
}
