@import '../variables';
@import '../override-bootstrap-variables';

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
// $secondary: #;
// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $light: #;
// $dark: #;

//== Light Mode
//
html[light] {
  $primary: #112744;

  // Background colors
  $bgcolor-global: white;
  $bgcolor-navbar: #334455;
  $bgcolor-inline-code: #f9f2f4;
  $bgcolor-card: #f5f5f5;

  // Font colors
  $color-global: #333333;
  $color-reversal: #eeeeee;
  // $color-header: #2b2b2b;
  $color-link: lighten($primary, 20%);
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: lighten($primary, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: #c7254e;

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: $bgcolor-global;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $primary;

  // Logo colors
  $fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 10%), 15%);

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`

  // Dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-light';
}

//== Dark Mode
//
html[dark] {
  $primary: #d65a31;

  $basecolor: #222831;

  // Background colors
  $bgcolor-global: $basecolor;
  $bgcolor-navbar: #151515;
  $bgcolor-inline-code: darken($basecolor, 5%);
  $bgcolor-card: darken($basecolor, 5%);

  // Font colors
  $color-global: #eeeeee;
  $color-reversal: #333333;
  // $color-header: desaturate($primary, 20%);
  $color-link: $primary;
  $color-link-hover: lighten($color-link, 10%);
  $color-link-wiki: lighten($basecolor, 50%);
  $color-link-wiki-hover: darken($color-link-wiki, 5%);
  $color-link-nabvar: $color-global;
  $color-inline-code: #c7254e;

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: $bgcolor-global;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $primary;

  // Logo colors
  $fillcolor-logo-mark: #444;

  // Border colors
  $border-color-theme: black; // former: `$navbar-border: #ccc;`

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-global;
  $color-dropdown-link-hover: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-dark';
}
