@import '../variables';

// == Define colors
//

// colors for overriding bootstrap $theme-colors
$primary: #112744;
$secondary: #ced4da;
// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
$light: #f0f0f0;
// $dark: #;

// Background colors
$bgcolor-navbar: #334455;
$bgcolor-inline-code: #f9f2f4;
$bgcolor-card: #f5f5f5;

// Font colors
$color-global: #333333;
$color-header: #2b2b2b;
$color-link: lighten($primary, 20%);
$color-link-hover: lighten($color-link, 20%);
$color-link-wiki: lighten($primary, 20%);
$color-link-wiki-hover: lighten($color-link-wiki, 20%);
$color-inline-code: #c7254e;

// Logo colors
$fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 10%), 15%);

// Border colors
$border-color-theme: #ccc; // former: `$navbar-border: #ccc;`

// override bootstrap variables
$link-color: $color-link;
$link-hover-color: $color-link-hover;

//== Apply
//

@import '~bootstrap/scss/bootstrap-reboot';

html:not([dark]) {
  $bgcolor-global: white;
  @import 'apply-colors';
  @import 'apply-colors-light';
}

html[dark] {
  $bgcolor-global: black;
  @import 'apply-colors';
  @import 'apply-colors-dark';
}
