@import '../variables';
@import '../override-bootstrap-variables';


$primary: rgba(11, 79, 104, 0.616);
$themecolor: #16282d;
$accentcolor: #66eddf;



html[light],
html[dark] {
  // Background colors
  $bgcolor-global: $themecolor;
  $bgcolor-inline-code: darken($themecolor, 5%);
  $bgcolor-card: darken($themecolor, 5%);

  // Font colors
  $color-global: #979797;
  $color-reversal: #00FFF5;
  $color-header: #00FFF5;
  $color-link: #00FFF5;
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: darken($themecolor, 5%);
  $color-link-wiki-hover: darken($color-link-wiki, 5%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: #C7254E;
  $color-search: #00C2C4;

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: transparent;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $primary;
  $color-list-hover: $color-reversal;

  // Navbar
  $bgcolor-navbar: #01181A;
  $border-color-navbar-gradient-left: #545fff;
  $border-color-navbar-gradient-right: #00a6e5;
  $border-image-navbar: linear-gradient(90deg, #6CFFF9 0%, #0034C1 45%, #6CFFF9 100%);


  // Logo colors
  $bgcolor-logo: darken($themecolor, 10%);
  $fillcolor-logo-mark: #DEDEDE;

  // Sidebar
  $bgcolor-sidebar: #052E2F;
  $color-sidebar-context: $color-reversal;
  $bgcolor-sidebar-context: $bgcolor-navbar;

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: #578CAD;

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  // alert
  $color-alert: $color-reversal;

  // badge
  $color-badge: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-dark';

  // headers
  @for $i from 1 through 6 {
    h#{$i} {
      color: $color-header;
    }
  }

  // Navs {
  .nav-tabs {
    border-bottom: $border-color-theme 1px solid;

    .nav-link {
      &:hover {
        border-color: darken($border-color-theme, 10%);
        border-bottom: none;
      }

      &.active {
        color: $color-link;
        background-color: transparent;
        border-color: $border-color-theme;
      }
    }
  }

  // Search Top
  .search-top {
    .input-group-prepend .dropdown-toggle {
      color: #050a0b;
      background-color: $color-search;
      border-color: $color-search;

      &:hover {
        background-color: #050a0b;
        color: $color-search;
        ;
      }
    }
  }

  .wiki {
    p {
      color: #95ABBA;
    }

    pre {}

    li {
      a {
        color: #00FFF5;
        border-bottom: solid 1px #00FFF5;
      }
    }
  }
}
