@import '../variables';
@import '../override-bootstrap-variables';

$themecolor: #aa4a04;
$themelight: #f0f8ff;
$accentcolor: #ffd700;
$bordercolor: #7e0d7e;

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
$primary: $themecolor;
$light: lighten($secondary, 10%);

// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $dark: #;

.growi:not(.login-page) {
  #wrapper > .navbar {
    background-image: url(/images/themes/halloween/halloween-navbar.jpg);
  }

  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/halloween/halloween.jpg');
  }
}

//== Light Mode
//
html[light],
html[dark] {
  // Background colors
  $bgcolor-global: #050000;
  $bgcolor-inline-code: #1f1f22; //optional
  $bgcolor-card: $gray-50;

  // Font colors
  $color-global: #e9af2b;
  $color-reversal: #eeeeee;
  // $color-header: #2b2b2b;
  $color-link: #aa97cb;
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: #aa97cb;
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: #a7a7a7;
  $color-inline-code: #c7254e; // optional

  // List Group colors
  $color-list: #979797;
  $bgcolor-list: transparent;
  $color-list-hover: $themecolor;
  // $bgcolor-list-hover: ;
  // $color-list-active: $color-reversal;
  // $bgcolor-list-active: $primary;

  // Search Top
  $color-search: $primary;

  // Navbar
  $bgcolor-navbar: #eceded;
  $bgcolor-search-top-dropdown: $primary;
  $border-image-navbar: linear-gradient(90deg, #e3b7ff 0%, #134774 100%);

  // Logo colors
  $bgcolor-logo: darken($themecolor, 10%);
  $fillcolor-logo-mark: #dedede;

  // Sidebar
  $bgcolor-sidebar: #162b33;
  $bgcolor-sidebar-nav-item-active: rgba(#969494, 0.3); // optional
  $text-shadow-sidebar-nav-item-active: 0px 0px 10px #969494; // optional

  // Sidebar contents
  $color-sidebar-context: #aa97cb;
  $bgcolor-sidebar-context: #1d2126;

  // Sidebar list group
  $bgcolor-sidebar-list-group: #2c2926; // optional

  // Sidebar resize button
  $color-resize-button: #effcfa;
  $bgcolor-resize-button: $primary;
  $color-resize-button-hover: #effcfa;
  $bgcolor-resize-button-hover: lighten($bgcolor-resize-button, 5%);

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: $gray-300; // former: `$navbar-border: $gray-300;`
  $bordercolor-inline-code: #4d4d4d; // optional

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  @import 'apply-colors';
  @import 'apply-colors-dark';

  //Button
  .grw-three-stranded-button {
    .btn.btn-outline-primary {
      @include three-stranded-button(lighten($primary, 35%), $primary, lighten($primary, 5%), darken($primary, 20%));
    }
    .btn.btn-outline-primary.active {
      background-color: lighten($primary, 5%);
    }
  }

  // Table
  .table {
    color: $color-global;
  }

  pre {
    color: #edba4a;
    background: black;
  }
}
