@import '../variables';
@import '../override-bootstrap-variables';

$themecolor: #aa4a04;
$themelight: #f0f8ff;
$accentcolor: #ffd700;
$bordercolor: #7e0d7e;

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
$primary: $themecolor;
$light: lighten($secondary, 10%);

// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $dark: #;

.growi:not(.login-page) {
  #wrapper > .navbar {
    background-image: url(/images/themes/halloween/halloween-navbar.jpg);
  }
  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/halloween/halloween.jpg');
  }
}

//== Light Mode
//
html[light],
html[dark] {
  // Background colors
  $bgcolor-global: #050000;
  $bgcolor-inline-code: #f9f2f4;
  $bgcolor-card: #f5f5f5;

  // Font colors
  $color-global: #e9af2b;
  $color-reversal: #eeeeee;
  // $color-header: #2b2b2b;
  $color-link: lighten($primary, 20%);
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: lighten($primary, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: #c7254e;

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: transparent;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $primary;
  $color-list-hover: $themecolor;

  // Navbar
  $bgcolor-navbar: #223344;
  $border-color-navbar-gradient-left: #545fff;
  $border-color-navbar-gradient-right: #00a6e5;

  // Logo colors
  $bgcolor-logo: darken($themecolor, 10%);
  $fillcolor-logo-mark: lighten($accentcolor, 15%);

  // Sidebar
  $bgcolor-sidebar: $bgcolor-navbar;
  $color-sidebar-context: $color-reversal;
  $bgcolor-sidebar-context: lighten($bgcolor-navbar, 10%);

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  // alert
  $color-alert: $color-reversal;

  // badge
  $color-badge: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-dark';

  // Table
  .table {
    color: $color-global;
  }
  .table-bordered {
    th,
    td {
      border: 1px solid $themecolor;
    }
  }

  // Nav
  .nav-tabs {
    border-bottom: $bordercolor 1px solid;
    .nav-link {
      &:hover {
        border: $bordercolor 1px solid;
      }
      &.active {
        color: lighten($themecolor, 5%);
        background-color: transparent;
        border: $bordercolor 1px solid;
      }
    }
  }
}
