@import '../variables';
@import '../override-bootstrap-variables';

$themecolor: #aa4a04;
$themelight: #f0f8ff;
$accentcolor: #ffd700;
$bordercolor: #7e0d7e;

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
$primary: $themecolor;
$light: lighten($secondary, 10%);

// $info: #;
// $success: #;
// $warning: #;
// $danger: #;
// $dark: #;

.growi:not(.login-page) {
  #wrapper>.navbar {
    background-image: url(/images/themes/halloween/halloween-navbar.jpg);
  }

  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/halloween/halloween.jpg');
  }
}

//== Light Mode
//
html[light],
html[dark] {
  // Background colors
  $bgcolor-global: #050000;
  $bgcolor-inline-code: #1f1f22; //optional
  $bgcolor-card: #f5f5f5;

  // Font colors
  $color-global: #e9af2b;
  $color-reversal: #eeeeee;
  // $color-header: #2b2b2b;
  $color-link: #AA97CB;
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: #AA97CB;
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: #A7A7A7;
  $color-inline-code: #C7254E; // optional

  // List Group colors
  $color-list: #979797;
  $bgcolor-list: transparent;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $primary;
  $color-list-hover: $themecolor;

  // Search Top
  $color-search: #814B02;

  // Navbar
  $bgcolor-navbar: #ECEDED;
  $bgcolor-search-top-dropdown: #814B02;
  $border-image-navbar: linear-gradient(90deg, #E3B7FF 0%, #134774 100%);

  // Logo colors
  $bgcolor-logo: darken($themecolor, 10%);
  $fillcolor-logo-mark: #DEDEDE;


  // Sidebar
  $bgcolor-sidebar: #162B33;
  $bgcolor-sidebar-nav-item-active: rgba(#969494, 0.3); // optional
  $text-shadow-sidebar-nav-item-active: 0px 0px 10px #969494; // optional

  // Sidebar contents
  $color-sidebar-context: #AA97CB;
  $bgcolor-sidebar-context: #1D2126;

  // Sidebar list group
  $bgcolor-sidebar-list-group: #2C2926; // optional

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`
  $bordercolor-inline-code: #4d4d4d; // optional

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  // alert
  $color-alert: $color-reversal;

  // badge
  $color-badge: $color-reversal;

  @import 'apply-colors';
  @import 'apply-colors-dark';

  .search-top {
    input {
      background-color: #ECEDED;
    }

    i {
      color: #949494;
    }
  }

  // Table
  .table {
    color: $color-global;
  }

  .table-bordered {

    th,
    td {
      border: 1px solid $themecolor;
    }
  }

  pre {
    color: #EDBA4A;
    background: #000000;
  }

  .authors {
    color: #302E2E;
  }


}
