@import '../variables';
@import '../override-bootstrap-variables';

// Light Mode
html:not([dark]) {
  $bgcolor-theme: rgb(18, 86, 163);
  $themelight: #f4f5f6;
  $subthemecolor: rgb(88, 130, 250);
  $lightthemecolor: rgba(181, 203, 247, 0.61);

  // Background colors
  $bgcolor-navbar: white;
  $bgcolor-navbar-active: $bgcolor-theme;
  $bgcolor-global: $themelight;
  $bgcolor-card: #e3e5e7;
  $bgcolor-inline-code: lighten($subthemecolor, 70%);

  $color-header: $bgcolor-theme;
  $color-global: #3c4a60;
  $color-link: rgb(74, 109, 204);
  $color-link-hover: lighten($color-link, 12%);
  $sidebar-text: $bgcolor-theme;
  $color-reversal: #eee;

  $primary: $bgcolor-theme;
  $info: lighten($bgcolor-theme, 20%);

  $fillcolor-logo-mark: lighten($bgcolor-theme, 20%);
  $color-link-wiki: lighten($bgcolor-theme, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-global;
  $color-link-nabvar-hover: $color-global;
  $color-inline-code: $subthemecolor;

  // border colors
  $border-color-theme: $lightthemecolor;
  $thickborder: #5584e1;

  // dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  @import 'apply-colors';
  @import 'apply-colors-light';
  @import 'apply-colors-kibela';
}


// Dark Mode
html[dark] {
  $bgcolor-theme: rgb(18, 86, 163);
  $themelight: #f4f5f6;
  $subthemecolor: rgb(88, 130, 250);
  $lightthemecolor: rgba(181, 203, 247, 0.61);

  // Background colors
  $bgcolor-navbar: white;
  $bgcolor-navbar-active: $bgcolor-theme;
  $bgcolor-global: $themelight;
  $bgcolor-card: #e3e5e7;
  $bgcolor-inline-code: lighten($subthemecolor, 70%);

  $color-header: $bgcolor-theme;
  $color-global: #3c4a60;
  $color-link: rgb(74, 109, 204);
  $color-link-hover: lighten($color-link, 12%);
  $sidebar-text: $bgcolor-theme;
  $color-reversal: #eee;

  $primary: $bgcolor-theme;
  $info: lighten($bgcolor-theme, 20%);

  $fillcolor-logo-mark: lighten($bgcolor-theme, 20%);
  $color-link-wiki: lighten($bgcolor-theme, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-global;
  $color-link-nabvar-hover: $color-global;
  $color-inline-code: $subthemecolor;

  // border colors
  $border-color-theme: $lightthemecolor;
  $thickborder: #5584e1;

  // dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  @import 'apply-colors';
  @import 'apply-colors-dark';
  @import 'apply-colors-kibela';
}