@import '../variables';
@import '../override-bootstrap-variables';

$bgcolor-theme: rgb(18, 86, 163);
$themelight: #f4f5f6;
$subthemecolor: rgb(88, 130, 250);
$lightthemecolor: rgba(181, 203, 247, 0.61);

// change width only for pages with articles
.growi:not(.on-edit):not(.admin-page):not(.user-settings-page) {
  // layout
  header,
  #main {
    max-width: 1024px;
    margin: auto;
  }
  header {
    margin-top: 30px;
    margin-bottom: 42px;
    background-color: $gray-100;
  }
}

.grw-subnav {
  padding: 20px 30px;
  border-radius: 0.35em;
}

.grw-page-content-container {
  padding-top: 10px;
  background-color: #fff;
  border-radius: 0.35em;
}

.page-attachments-row {
  margin-top: 30px;
}

// Light Mode
html[light],
html[dark] {
  // Background colors
  $bgcolor-navbar: white;
  $bgcolor-navbar-active: $bgcolor-theme;
  $bgcolor-global: $themelight;
  $bgcolor-inline-code: lighten($subthemecolor, 70%);
  $bgcolor-card: $lightthemecolor;
  $color-header: $bgcolor-theme;
  $color-global: #3c4a60;
  $color-link: rgb(74, 109, 204);
  $color-link-hover: lighten($color-link, 12%);
  $sidebar-text: $bgcolor-theme;
  $color-reversal: $gray-100;

  $primary: $bgcolor-theme;
  $info: lighten($bgcolor-theme, 20%);

  // List Group colors
  $color-list: $color-global;
  $bgcolor-list: $bgcolor-global;
  $color-list-active: $color-reversal;
  $bgcolor-list-active: $primary;
  $color-list-hover: $color-reversal;

  // navbar
  $bgcolor-search-top-dropdown: $primary;

  // Logo colors
  $bgcolor-logo: transparent;
  $fillcolor-logo-mark: lighten($bgcolor-theme, 20%);

  // Icon colors
  $color-editor-icons: $color-global;

  $color-link-wiki: lighten($bgcolor-theme, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-global;
  $color-link-nabvar-hover: $color-global;
  $color-inline-code: $subthemecolor;

  // border colors
  $border-color-theme: $lightthemecolor;
  $thickborder: #5584e1;
  $bordercolor-inline-code: $lightthemecolor;

  // dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($bgcolor-theme, 20%);

  // Sidebar
  $bgcolor-sidebar: $bgcolor-theme;
  $color-sidebar-context: $color-reversal;
  $bgcolor-sidebar-context: lighten($bgcolor-theme, 10%);
  // Sidebar resize button
  $color-resize-button: $color-reversal;
  $bgcolor-resize-button: #209fd8;
  $color-resize-button-hover: $color-reversal;
  $bgcolor-resize-button-hover: lighten($bgcolor-resize-button, 5%);
  // Sidebar contents
  $color-sidebar-context: $color-global;
  $bgcolor-sidebar-context: #f4f6fc;
  // Sidebar list group
  $bgcolor-sidebar-list-group: #fafbff; // optional

  @import 'apply-colors';
  @import 'apply-colors-light';
  //Button
  .grw-three-stranded-button {
    .btn.btn-outline-primary.active {
      background-color: $light;
    }
  }
}
