@import '../variables';
@import '../override-bootstrap-variables';

html[light] {
  // Theme colors
  $themecolor: #00587a;
  $themelight: #f7fbfd;
  $accentcolor: #16617d;
  $subthemecolor: #186718;

  $primary: $themecolor;

  // Background colors
  $bgcolor-global: $themelight;
  $bgcolor-inline-code: $gray-100; //optional
  $bgcolor-card: darken($themelight, 5%);

  // Font colors
  $color-global: $themecolor;
  $color-reversal: $gray-100;
  $color-link: lighten($primary, 5%);
  $color-link-hover: lighten($color-link, 12%);
  $color-link-wiki: lighten($primary, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: #c7254e; // optional
  $color-search: #c0d6df;

  // List Group colors
  // $color-list: $color-global;
  $bgcolor-list: transparent;
  $color-list-hover: $color-search;
  $bgcolor-list-hover: darken($bgcolor-global, 3%);
  // $color-list-active: $color-reversal;
  // $bgcolor-list-active: $primary;

  // Navbar
  $bgcolor-navbar: #2a2929;
  $bgcolor-search-top-dropdown: $themecolor;
  $border-image-navbar: linear-gradient(to right, #54bafd 0%, #3d98a3 50%, #708b0b 100%);

  // Logo colors
  $bgcolor-logo: $themecolor;
  $fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 10%), 15%);

  // Sidebar
  $bgcolor-sidebar: $themecolor;
  // $bgcolor-sidebar-nav-item-active: rgba(#, 0.37); // optional
  $text-shadow-sidebar-nav-item-active: 0px 0px 10px #0099ff; // optional
  // Sidebar resize button
  $color-resize-button: $color-reversal;
  $bgcolor-resize-button: #209fd8;
  $color-resize-button-hover: $color-reversal;
  $bgcolor-resize-button-hover: lighten($bgcolor-resize-button, 5%);
  // Sidebar contents
  $color-sidebar-context: $color-global;
  $bgcolor-sidebar-context: #f1fcff;
  // Sidebar list group
  // $bgcolor-sidebar-list-group: #; // optional

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: $gray-300;
  $bordercolor-inline-code: #ccc8c8; // optional

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-reversal;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  @import 'apply-colors';
  @import 'apply-colors-light';

  // Navs {
  .nav-tabs {
    border-bottom: $border-color-theme 1px solid;
    .nav-link {
      &:hover {
        border-color: lighten($border-color-theme, 10%);
        border-bottom: none;
      }
      &.active {
        background-color: transparent;
      }
    }
  }
  // Button
  .grw-three-stranded-button {
    .btn.btn-outline-primary {
      @include three-stranded-button($primary, lighten($primary, 65%), lighten($primary, 70%));
    }
    .btn.btn-outline-primary.active {
      background-color: lighten($primary, 70%);
    }
  }
}

html[dark] {
  // Theme colors
  $themecolor: #00587a;
  $themedark: #061f2f;
  $accentcolor: #16617d;
  $subthemecolor: #c1f1f0;

  $primary: #0090c8;
  $dark: #031018;

  // Background colors
  $bgcolor-global: $themedark;
  $bgcolor-navbar: #27343b;
  $bgcolor-inline-code: #1f1f22; //optional
  $bgcolor-card: darken($themedark, 5%);

  // Font colors
  $color-global: #d3d4d4;
  $color-reversal: $gray-100;
  $color-link: #97d1f0;
  $color-link-hover: darken($color-link, 12%);
  $color-link-wiki: lighten($primary, 20%);
  $color-link-wiki-hover: lighten($color-link-wiki, 20%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: $subthemecolor;
  $color-inline-code: #c7254e; // optional
  $color-search: #000102;

  // List Group colors
  // $color-list: $color-global;
  $bgcolor-list: transparent;
  $color-list-hover: $accentcolor;
  // $bgcolor-list-hover: lighten($bgcolor-global, 3%);
  // $color-list-active: $color-reversal;
  // $bgcolor-list-active: $primary;

  // Navbar
  $bgcolor-navbar: #2a2929;
  $bgcolor-search-top-dropdown: $themecolor;
  $border-image-navbar: linear-gradient(to right, #54bafd 0%, #3d98a3 50%, #708b0b 100%);

  // Logo colors
  $bgcolor-logo: #13191c;
  $fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 10%), 15%);
  // $fillcolor-logo-mark: #4e5a60;

  // Sidebar
  $bgcolor-sidebar: $accentcolor;
  // $bgcolor-sidebar-nav-item-active: rgba(#, 0.3); // optional
  $text-shadow-sidebar-nav-item-active: 0px 0px 10px #0099ff; // optional
  // Sidebar resize button
  $color-resize-button: $color-global;
  $bgcolor-resize-button: $themecolor;
  $color-resize-button-hover: $color-global;
  $bgcolor-resize-button-hover: darken($bgcolor-resize-button, 5%);
  // Sidebar contents
  $bgcolor-sidebar-context: darken($bgcolor-sidebar, 13%);
  $color-sidebar-context: $color-global;
  // Sidebar list group
  // $bgcolor-sidebar-list-group: #; // optional

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: #146aa0;
  $bordercolor-inline-code: #4d4d4d; // optional

  // Dropdown colors
  $bgcolor-dropdown-link-active: $primary;
  $color-dropdown-link-active: $color-global;
  $color-dropdown-link-hover: $color-reversal;

  // admin theme box
  $color-theme-color-box: $primary;

  @import 'apply-colors';
  @import 'apply-colors-dark';

  // Navs
  .nav-tabs {
    border-bottom: $border-color-theme 1px solid;
    .nav-link {
      &:hover {
        border-color: lighten($border-color-theme, 10%);
        border-bottom: none;
      }
      &.active {
        color: $color-link;
        background-color: transparent;
        border-color: $border-color-theme;
      }
    }
  }

  // Table
  .table {
    color: white;
  }

  // Button
  .grw-three-stranded-button {
    .btn.btn-outline-primary {
      @include three-stranded-button(lighten($primary, 30%), $primary, darken($primary, 10%), darken($primary, 20%));
    }
    .btn.btn-outline-primary.active {
      background-color: darken($primary, 10%);
    }
  }
}
