@import '../variables';
@import '../override-bootstrap-variables';

// == Define Bootstrap theme colors
//
// colors for overriding bootstrap $theme-colors
// $secondary: #;
// $success: #;
// $warning: #;
// $danger: #;
// $light: #;
// $dark: #;

.growi:not(.login-page) {
  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/wood/wood.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

.growi.login-page {
  #page-wrapper {
    background-image: url('/images/themes/wood/wood.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

$themecolor: #b9b177;
$themelight: #f5f3ee;

//== Light Mode
//
html[light],
html[dark] {
  $primary: #aaa45f;

  // Background colors
  $bgcolor-global: #ffffff;
  $bgcolor-inline-code: #f0f0f0;
  $bgcolor-card: #ece8de;

  // Font colors
  // $color-global: black;
  $color-global: #433005;
  $color-reversal: #fffffc;
  $color-link: #9d7406;
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: lighten($themecolor, 5%);
  $color-link-wiki-hover: lighten($color-link-wiki, 15%);
  $color-link-nabvar: #a7a7a7;
  $color-inline-code: #c7254e;
  $color-search: white;

  // List Group colors
  $color-list-hover: #eee;

  // Navbar
  $bgcolor-navbar: #2a2929;
  $bgcolor-search-top-dropdown: $themecolor;
  $border-image-navbar: linear-gradient(to right, #5c78ef 0%, #16bc42 50%, #5c78ef 100%);

  // Logo colors
  $bgcolor-logo: darken($themecolor, 10%);
  $fillcolor-logo-mark: lighten(desaturate($themecolor, 50%), 50%); // Icon colors
  $color-editor-icons: $color-global;

  // Sidebar
  $bgcolor-sidebar: $bgcolor-navbar;
  // Sidebar contents
  $color-sidebar-context: #9d7406;
  $bgcolor-sidebar-context: #f0efe7;
  // Sidebar list group
  $bgcolor-sidebar-list-group: #f7f5f1;
  // Sidebar resize button
  $color-resize-button: white;
  $bgcolor-resize-button: $themecolor;

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`
  $bordercolor-inline-code: #ccc8c8;

  // Dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  // alert
  $color-alert: $color-reversal;

  // badge
  $color-badge: $color-reversal;

  // portal
  $info: lighten($themecolor, 10%);

  @import 'apply-colors';
  @import 'apply-colors-light';

  // hljs
  .hljs {
    color: #433005;
    background-color: $bgcolor-inline-code;
  }

  // List
  .list-group .list-group-item {
    background: transparent;
  }

  // Search Top
  .search-top {
    .btn-secondary.dropdown-toggle {
      color: $color-search;
    }
  }

  // Sidebar
  .grw-sidebar div[data-testid='GlobalNavigation'] {
    * {
      background-image: url('/images/themes/wood/wood-navbar.jpg');
    }

    button,
    .btn {
      border: none;
    }
  }
}

//== Dark Mode
//
// html[dark] {
//   $primary: #d65a31;

//   $basecolor: #222831;

//   // Background colors
//   $bgcolor-global: $basecolor;
//   $bgcolor-navbar: #151515;
//   $bgcolor-inline-code: darken($basecolor, 5%);
//   $bgcolor-card: darken($basecolor, 5%);

//   // Font colors
//   $color-global: #eeeeee;
//   $color-reversal: #333333;
//   // $color-header: desaturate($primary, 20%);
//   $color-link: $primary;
//   $color-link-hover: lighten($color-link, 10%);
//   $color-link-wiki: lighten($basecolor, 50%);
//   $color-link-wiki-hover: darken($color-link-wiki, 5%);
//   $color-link-nabvar: $color-global;
//   $color-inline-code: #c7254e;

//   // List Group colors
//   $color-list: $color-global;
//   $bgcolor-list: $bgcolor-global;
//   $color-list-active: $color-reversal;
//   $bgcolor-list-active: $primary;
//   $color-list-hover: $color-reversal;

//   // Logo colors
//   $bgcolor-logo: $bgcolor-navbar;
//   $fillcolor-logo-mark: #444;

//   // Icon colors
//   $color-editor-icons: darken($accentcolor, 15%);

//   // Border colors
//   $border-color-theme: black; // former: `$navbar-border: #ccc;`

//   // Dropdown colors
//   $bgcolor-dropdown-link-active: $primary;
//   $color-dropdown-link-active: $color-global;
//   $color-dropdown-link-hover: $color-reversal;

//   // alert
//   $color-alert: $color-global;

//   // badge
//   $color-badge: $color-global;

//   // Sidebar
//   $bgcolor-sidebar: $bgcolor-navbar;
//   $color-sidebar-context: $color-global;
//   $bgcolor-sidebar-context: lighten($bgcolor-navbar, 5%);

//   @import 'apply-colors';
//   @import 'apply-colors-dark';
// }
