@import '../variables';
@import '../override-bootstrap-variables';

// == Define Bootstrap theme colors
//
// colors for overriding bootstrap $theme-colors
// $secondary: #;
// $success: #;
// $warning: #;
// $danger: #;
// $light: #;
// $dark: #;

.growi:not(.login-page) {
  // add background-image
  #page-wrapper,
  .page-editor-preview-container {
    background-image: url('/images/themes/wood/wood.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

.growi.login-page {
  #page-wrapper {
    background-image: url('/images/themes/wood/wood.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

$themecolor: #b9b177;
$themelight: #f5f3ee;

//== Light Mode
//
html[light],
html[dark] {
  $primary: #aaa45f;

  // Background colors
  $bgcolor-global: #ffffff;
  $bgcolor-inline-code: #f0f0f0; //optional
  $bgcolor-card: #ece8de;

  // Font colors
  // $color-global: black;
  $color-global: #433005;
  $color-reversal: #fffffc;
  $color-link: #9d7406;
  $color-link-hover: lighten($color-link, 20%);
  $color-link-wiki: lighten($themecolor, 5%);
  $color-link-wiki-hover: lighten($color-link-wiki, 15%);
  $color-link-nabvar: #a7a7a7;
  $color-inline-code: #c7254e; // optional
  $color-search: white;

  // List Group colors
  $color-list-hover: #eee;

  // Navbar
  $bgcolor-navbar: #2a2929;
  $bgcolor-search-top-dropdown: $themecolor;
  $border-image-navbar: linear-gradient(to right, #5c78ef 0%, #16bc42 50%, #5c78ef 100%);

  // Logo colors
  $bgcolor-logo: darken($themecolor, 10%);
  $fillcolor-logo-mark: lighten(desaturate($themecolor, 50%), 50%); // Icon colors
  $color-editor-icons: $color-global;

  // Sidebar
  $bgcolor-sidebar: transparent;
  // Sidebar contents
  $color-sidebar-context: #9d7406;
  $bgcolor-sidebar-context: transparent;
  // Sidebar list group
  $bgcolor-sidebar-list-group: rgba(#f7f5f1, 0.5);
  // Sidebar resize button
  $color-resize-button: white;
  $bgcolor-resize-button: $themecolor;

  // Border colors
  $border-color-theme: #ccc; // former: `$navbar-border: #ccc;`
  $bordercolor-inline-code: #ccc8c8; // optional

  // Dropdown colors
  $bgcolor-dropdown-link-active: $growi-blue;
  $color-dropdown-link-active: $color-reversal;
  $color-dropdown-link-hover: $color-global;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  // alert
  $color-alert: $color-reversal;

  // portal
  $info: lighten($themecolor, 10%);

  @import 'apply-colors';
  @import 'apply-colors-light';

  /*
   * Modal
   */
  .modal-dialog .modal-header.bg-primary {
    background-image: url('/images/themes/wood/wood-navbar.jpg');
  }

  // Sidebar
  .grw-sidebar {
    div[data-testid='GlobalNavigation'] {
      background-image: url('/images/themes/wood/wood-navbar.jpg');

      button,
      .btn {
        border: none;
      }
    }
    div[data-testid='ContextualNavigation'] {
      > div {
        background-color: rgba(white, 0.6);
        background-image: url('/images/themes/wood/wood-navbar.jpg');
        background-blend-mode: lighten;
      }
    }
  }

  // login and register

  .login-header,
  .login-dialog {
    background-color: rgba(black, 0.1);
  }

  a#login.link-switch,
  a#register.link-switch {
    color: rgba(black, 0.5);
  }
}
