@use '@growi/core/scss/bootstrap/init' as *;

.color-settings :global {
  .btn {
    font-weight: bold;
    color: var(--color-global);
    background-color: transparent;
    border-width: 3px;
  }

  .btn-outline-secondary {
    border-color: $gray-400;
  }
}

