@use '@growi/core-styles/scss/bootstrap/init' as bs;

.tree-item-for-modal :global {
  li {
    min-height: 36px;
  }
}


// == Colors
@include bs.color-mode(light) {
  .tree-item-for-modal :global {
    .list-group-item-action {
      --bs-list-group-active-bg: var(--grw-primary-200);
    }
  }
}

@include bs.color-mode(dark) {
  .tree-item-for-modal :global {
    .list-group-item-action {
      --bs-list-group-active-bg: var(--grw-primary-700);
    }
  }
}
