$h3-line-height: 30px;
$h5-line-height: 18px;

.grw-sidebar-content-header-skeleton {
  max-width: 160px;
  height: $h3-line-height;
  padding: (($h3-line-height - 16px) / 2) 0;
}

@mixin grw-skeleton-text($width) {
  max-width: $width;
  height: 1rem;
}

/*
.grw-skeleton-h3 {
  max-width: 160px;
  height: $h5-line-height;
  padding: (($h5-line-height - 14px) / 2) 0;
}
*/

@mixin grw-skeleton-h5 {
  height: $h5-line-height;
  padding: (($h5-line-height - 16px) / 2) 0;
}

.grw-sidebar-skeleton-text-full {
  @include grw-skeleton-text(100%);
}
