// styles
.btn-toolbar-button {
  --bs-btn-border-width: 0;
}

// set size
.btn-toolbar-button {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;

  width: 24px !important;
  height: 24px !important;
}

// set icon center
.btn-toolbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

