.btn-toolbar-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
  font-size: 1rem !important;
  line-height: 1 !important;
  text-align: center !important;

  border: 0;
}
