@use 'bootstrap/scss/functions' as bs;

// @function getHS($color-hsl) {
//   // remove "var(" and ")"
//   $color: str-replace($color-hsl, 'var(');
//   $color: str-replace($color, ')');
//   @return var(#{$color+'-hs'});
// }
// @function getL($color-hsl) {
//   // remove "var(" and ")"
//   // $color: str-replace(str-replace($color-hsl, 'var('), ')');
//   $color: str-replace($color-hsl, 'var(');
//   $color: str-replace($color, ')');
//   @return var(#{$color+'-l'});
// }

// @function contrast($color-hsl) {
//   $color-hs: getHS($color-hsl);
//   $color-l: getL($color-hsl);
//   @return hsl($color-hs, clamp(10%, calc((100% - $color-l - 51% ) * 1000), 95%));
// }

// @function lighten($color-hsl, $degrees) {
//   $color-hs: getHS($color-hsl);
//   $color-l: getL($color-hsl);
//   @return hsl($color-hs, calc($color-l + $degrees));
// }
// @function darken($color-hsl, $degrees) {
//   $color-hs: getHS($color-hsl);
//   $color-l: getL($color-hsl);
//   @return hsl($color-hs, calc($color-l - $degrees));
// }

@function contrast($color, $darken-degrees: 0%) {
  $color: bs.str-replace($color, 'var(');
  $color: bs.str-replace($color, ')');
  $color-hs: var(#{$color+'-hs'});
  $color-l: var(#{$color+'-l'});
  // @return hsl($color-hs, clamp(10%, calc((100% - $color-l - 51% ) * 1000), 95%));
  @return hsl($color-hs, clamp(10%, calc((100% - $color-l - $darken-degrees - 51% ) * 1000), 95%));
}

@function lighten($color, $degrees) {
  $color: bs.str-replace($color, 'var(');
  $color: bs.str-replace($color, ')');
  $color-hs: var(#{$color+'-hs'});
  $color-l: var(#{$color+'-l'});
  @return hsl($color-hs, calc($color-l + $degrees));
}
@function darken($color, $degrees) {
  $color: bs.str-replace($color, 'var(');
  $color: bs.str-replace($color, ')');
  $color-hs: var(#{$color+'-hs'});
  $color-l: var(#{$color+'-l'});
  @return hsl($color-hs, calc($color-l - $degrees));
}
@function alpha($color, $degrees) {
  $color: bs.str-replace($color, 'var(');
  $color: bs.str-replace($color, ')');
  $color-hs: var(#{$color+'-hs'});
  $color-l: var(#{$color+'-l'});
  @return hsla($color-hs,$color-l,$degrees);
}
