@use '@growi/core-styles/scss/variables/growi-official-colors';
@use '@growi/core-styles/scss/bootstrap/init' as bs;


.grw-ai-assistant-keyword-search :global {
  .rbt {
    .rbt-input-multi {
      border: none;
      border-bottom: 3px solid bs.$gray-200;
      border-radius: 0;

      &.focus {
        border-color: var(--grw-primary-500);
        box-shadow: none;
      }
    }

    .rbt-menu {
       display: none !important;
    }
  }
}
