@use '@growi/core-styles/scss/bootstrap/init' as bs;

.grw-ai-assistant-management-page-selection-method :global {
  .page-selection-method-btn {
      width: 280px;
  }
}


// == Colors
.grw-ai-assistant-management-page-selection-method :global {
  .page-selection-method-btn {
      border: 2px solid bs.$gray-300;
      &:hover {
        color: var(--bs-primary);
        background-color: rgba(var(--bs-primary-rgb), 0.1);
        border-color: var(--bs-primary)
      }
    }
}
