@use '~/styles/variables' as var;
@use '@growi/core-styles/scss/bootstrap/init' as bs;

 .selectable-page-page-list :global {
    .page-path {
      display: inline-block;
      max-width: 100%;
      padding: 0.25rem 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    .page-path-editable {
      cursor: pointer;
      border: 2px solid transparent;

      &:hover {
        border-color: var(--bs-border-color);
      }
    }

    .page-path-input {
      border: 2px solid var(--bs-border-color);
    }
}


// == Colors
@include bs.color-mode(light) {
  .selectable-page-page-list :global {
    .page-list-item {
      background-color: #{bs.$gray-100};
    }
  }
}

@include bs.color-mode(dark) {
  .selectable-page-page-list :global {
    .page-list-item {
      background-color: #{bs.$gray-900};
    }
  }
}
