@use '~/styles/bootstrap/init' as bs;

.grw-tag-labels :global {
  .grw-tag-label {
    font-size: 12px;
    font-weight: normal;
    border-radius: bs.$border-radius;
  }
}


.grw-tag-labels-skelton :global {
  width: 137px;
  height: 21.99px;
}
