.btn.btn-like {
  color: $secondary;
  background-color: rgba(lighten($info, 10%), 0.5);

  &.active,
  &:hover {
    color: lighten($info, 15%) !important;
  }

  &:not(:hover) {
    background-color: transparent;
  }
}

.btn.btn-bookmark {
  @include button-outline-variant($secondary, $warning, rgba(lighten($warning, 20%), 0.5), rgba(lighten($warning, 20%), 0.5));
  &.active {
    color: $warning !important;
  }
}

// .btn.btn-bookmark {
//   color: $secondary;
//   background-color: rgba(lighten($warning, 20%), 0.5);

//   &.active,
//   &:hover {
//     color: $warning !important;
//   }

//   &:not(:hover) {
//     background-color: transparent;
//   }
// }

.btn-copy,
.btn-edit {
  opacity: 0.3;
}

.btn-edit-tags {
  opacity: 0.5;

  &.no-tags {
    opacity: 0.7;
  }
}

.rounded-pill-weak {
  border-radius: 60px;
}

// fill button style
:root .btn.btn-fill {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 130px;
  padding: 0px;
  overflow: hidden;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: rgba(lighten(black, 15%), 0.5);
  border: none;

  .btn-label {
    position: relative;
    z-index: 1;
    padding: 9px 15px;
    color: white;
    text-decoration: none;
  }

  .btn-label-text {
    position: relative;
    z-index: 1;
    margin: auto;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  // effect
  .eff {
    position: absolute;
    top: -50px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }

  &:hover {
    .eff {
      top: 0;
    }
  }
}
