label.custom-control-label {
  font-weight: normal;
}

.custom-switch.custom-switch-sm {
  $custom-control-indicator-size-sm: $custom-control-indicator-size * 0.8;
  $custom-switch-width-sm: $custom-control-indicator-size-sm * 1.75;
  $custom-control-gutter-sm: $custom-control-gutter * 0.8;
  $custom-control-indicator-size-sm: $custom-control-indicator-size * 0.8;
  $custom-switch-indicator-size-sm: subtract($custom-control-indicator-size-sm, $custom-control-indicator-border-width * 4);

  padding-left: $custom-switch-width-sm + $custom-control-gutter-sm;

  .custom-control-label {
    &::before {
      left: -($custom-switch-width-sm + $custom-control-gutter-sm);
      width: $custom-switch-width-sm;
      height: $custom-control-indicator-size-sm;
    }

    &::after {
      top: add(($font-size-base * $line-height-base - $custom-control-indicator-size) / 2, $custom-control-indicator-border-width * 2);
      left: add(-($custom-switch-width-sm + $custom-control-gutter-sm), $custom-control-indicator-border-width * 2);
      width: $custom-switch-indicator-size-sm;
      height: $custom-switch-indicator-size-sm;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      transform: translateX($custom-switch-width-sm - $custom-control-indicator-size-sm);
    }
  }
}

//slack

.grw-slack-notification {
  $custom-control-indicator-size-slack: 2rem; //size shitei

  //from _variables.scss of bs4
  $custom-switch-width: $custom-control-indicator-size-slack * 1.75;
  $custom-switch-indicator-border-radius: $custom-control-indicator-size-slack / 2;
  $custom-switch-indicator-size: subtract($custom-control-indicator-size-slack, $custom-control-indicator-border-width * 4);

  //base class from _custom-forms.scss of bs4
  .custom-control {
    padding-left: $custom-control-gutter + $custom-control-indicator-size-slack;
  }
  .custom-control-input {
    width: $custom-control-indicator-size-slack;
    height: ($font-size-base * $line-height-base + $custom-control-indicator-size-slack) / 2 !important;
  }
  //base end

  .custom-switch {
    padding-left: $custom-switch-width + $custom-control-gutter;

    .custom-control-label {
      &::before {
        top: ($font-size-base * $line-height-base - $custom-control-indicator-size-slack) / 2;
        left: -($custom-switch-width + $custom-control-gutter);
        width: $custom-switch-width;
        height: $custom-control-indicator-size-slack;
        pointer-events: all;
        // stylelint-disable-next-line property-blacklist
        border-radius: $custom-switch-indicator-border-radius;
      }

      &::after {
        top: add(($font-size-base * $line-height-base - $custom-control-indicator-size-slack) / 2, $custom-control-indicator-border-width * 2);
        left: add(-($custom-switch-width + $custom-control-gutter), $custom-control-indicator-border-width * 2);
        width: $custom-switch-indicator-size;
        height: $custom-switch-indicator-size;
        background-color: $custom-control-indicator-border-color;
        // stylelint-disable-next-line property-blacklist
        border-radius: $custom-switch-indicator-border-radius;
        @include transition(transform 0.15s ease-in-out, $custom-forms-transition);
      }
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::after {
        background-color: $custom-control-indicator-bg;
        transform: translateX($custom-switch-width - $custom-control-indicator-size-slack);
      }
    }

    .custom-control-input:disabled {
      &:checked ~ .custom-control-label::before {
        background-color: $custom-control-indicator-checked-disabled-bg;
      }
    }
  }
}
