.nav-tabs .grw-main-nav-item-left {
  width: $grw-nav-main-left-tab-width;
  text-align: center;

  @include media-breakpoint-down(sm) {
    width: $grw-nav-main-left-tab-width-mobile;
  }

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}
