.speeding-wheel {
  width: 32px;
  height: 32px;
  border: 2px solid gray;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  animation: cssload-spin 425ms infinite linear;
}

.speeding-wheel-sm {
  @extend .speeding-wheel;
  width: 16px;
  height: 16px;
}

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
