.user-group-edit-link {
  text-decoration: underline;
}

.user-group-edit-link {
  :global {
    .grw-edit-icon {
      visibility: hidden;
    }
  }

  &:global {
    &:hover {
      .grw-edit-icon {
        visibility: visible;
      }
    }
  }
}
