.toast-success {
  background-color: var(--success);
}

.toast-error {
  background-color: var(--danger);
}

.toast-info {
  background-color: var(--info);
}

.toast-warning {
  background-color: var(--warning);
}
