.toast-success {
  background-color: var(--success) !important;
}

.toast-error {
  background-color: var(--danger) !important;
}

.toast-info {
  background-color: var(--info) !important;
}

.toast-warning {
  background-color: var(--warning) !important;
}

:root {
  --toastify-color-info: var(--info);
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--danger);
}
