@use '@growi/core/scss/bootstrap/init' as bs;
@use './comment-inheritance';
@use '../PageEditor/page-editor-inheritance';

// display cheatsheet for comment form only
.comment-editor-styles :global {
  .cm-editor {
    height: 300px !important;
  }

  .comment-form {
    position: relative;

    // user icon
    .picture {
      @extend %picture;
    }

    // textarea
    .comment-form-preview {
      padding-top: 0.5em;
    }
  }
}
