@use '@growi/core-styles/scss/bootstrap/init' as bs;


// == Colors
@include bs.color-mode(light) {
  .dropdown-item:active{
    --bs-dropdown-link-active-color: #{( bs.$gray-600 )};
    --bs-dropdown-link-active-bg: #{( bs.$gray-200 )};
  }
}

@include bs.color-mode(dark) {
  .dropdown-item:active{
    --bs-dropdown-link-active-bg: #{( bs.$gray-700 )};
  }
}
