#installer-form-container > .grw-custom-nav-tab {
  .nav-title {
    width: 100%;
    li {
      width: 100%;
      text-align: center;
    }
  }
  .nav-link {
    color: white;
  }
  .grw-nav-slide-hr {
    border-color: white;
  }
}
