@use '@growi/core/scss/bootstrap/init' as bs;
@use '@growi/core/scss/flex-expand';

@use './variables' as var;

.flex-expand-horiz {
  @extend %flex-expand-horiz;
}

.flex-expand-vert {
  @extend %flex-expand-vert;
}

.dynamic-layout-root {
  @extend %flex-expand-vert;
  overflow-y: unset;
}

.dynamic-layout-root.growi-layout-fluid .grw-container-convertible {
  width: 100%;
  max-width: none;
}

.grw-bg-image-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    object-position: bottom;
  }
}

.grw-modal-head {
  border-bottom: 1px solid transparent;
}

.grw-scrollable-modal-body {
  max-height: calc(100vh - 330px);
  overflow-y: scroll;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

// padding settings for GrowiNavbarBottom
.page-wrapper {
  padding-bottom: var.$grw-navbar-bottom-height;

  @include bs.media-breakpoint-up(md) {
    padding-bottom: unset;
  }
}

.main {
  margin-top: 1rem;

  @include bs.media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

// printable style
@media print {
  body {
    padding: 30px;
  }

  a:after {
    display: none !important;
  }

  .main {
    header {
      border-bottom: solid 1px bs.$secondary;
      h1 {
        font-size: 2em;
        color: black;
      }
    }

    .row {
      display: block !important;
    }

    .meta {
      margin-top: 32px;
      color: bs.$secondary;
      border-top: solid 1px bs.$gray-300;
    }
  }
}
