@use '@growi/core/scss/bootstrap/init' as bs;
@use './variables' as var;

@import './mixins/editing';

@mixin apply-navigation-transition() {
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  transition-duration: 300ms;
}

@mixin border-vertical($beforeOrAfter, $borderLength, $zIndex: initial, $isBtnGroup: false) {
  position: relative;
  @if $isBtnGroup {
    &:not(:first-child) {
      margin-left: 0;
      border-left: none;
    }
    &:not(:last-child) {
      border-right: none;
    }
  }
  &:not(:first-child) {
    &::#{$beforeOrAfter} {
      position: absolute;
      top: calc((100% - #{$borderLength}) / 2);
      left: 0;
      z-index: $zIndex;
      width: 100%;
      height: $borderLength;
      margin-left: -0.5px;
      content: '';
      border-left: 1px solid transparent;
      transition: border-color 0.15s ease-in-out;
    }
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

@mixin blink-bgcolor($bgcolor) {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 70%;
    content: '';
    background-color: $bgcolor;
    border-radius: 2px;
    animation: fadeout 1s ease-in 1.5s forwards;
  }
}

@mixin overlay-processing-style($additionalSelector, $contentFontSize: inherit, $contentPadding: inherit) {
  .overlay.#{$additionalSelector} {
    background: rgba(255, 255, 255, 0.5);
    .overlay-content {
      padding: $contentPadding;
      font-size: $contentFontSize;
      color: bs.$gray-700;
      background: rgba(200, 200, 200, 0.5);
    }
  }
}

@mixin insertSimpleLineIcons($code) {
  &:before {
    margin-right: 0.2em;
    font-family: 'simple-line-icons';
    content: $code;
  }
}

@mixin grw-skeleton-text($font-size, $line-height) {
  height: $line-height;
  padding: (($line-height - $font-size)  / 2) 0;
}
/*
.example {
  @include grw-skeleton-text($font-size:$size, $line-height:$height);
  max-width: 100%;
}
*/

// values from './bootstrap/override'

@mixin grw-skeleton-h3 {
  @include grw-skeleton-text(21px, 30px);
}

@mixin grw-skeleton-h5 {
  @include grw-skeleton-text(16px, 18px);
}
