@use '@growi/core/scss/bootstrap/init' as bs;

.tags-page {
  .list-tag-count {
    background: rgba(0, 0, 0, 0.08);
  }
}

.grw-popular-tag-labels {
  text-align: left;

  .grw-tag-label {
    font-size: 10px;
    font-weight: normal;
    border-radius: bs.$border-radius;
  }
}

#edit-tag-modal {
  .form-control {
    height: auto;
  }
}

.grw-recent-changes {
  .grw-tag-label {
    font-size: 10px;
    font-weight: normal;
    border-radius: bs.$border-radius;
  }
}
