@use '@growi/core/scss/bootstrap/init' as bs;

#edit-tag-modal {
  .form-control {
    height: auto;
  }
}

.grw-recent-changes {
  .grw-tag-label {
    font-size: 10px;
    font-weight: normal;
    border-radius: bs.$border-radius;
  }
}
