//== Marker Color
$grw-marker-yellow: #ff6;
$grw-marker-red: #f6c;
$grw-marker-blue: #6cf;
$grw-marker-cyan: #6ff;
$grw-marker-green: #6f6;

//== Layout
$grw-sidebar-nav-width: 48px;

$grw-navbar-bottom-height: 48px;
$grw-editor-navbar-bottom-height: 48px;

$grw-scroll-margin-top-in-view: 130px;
