//== GROWI Official Color
$growi-green: #74bc46;
$growi-blue: #175fa5;

//== Marker Color
$grw-marker-yellow: #ff6;
$grw-marker-red: #f6c;
$grw-marker-blue: #6cf;
$grw-marker-cyan: #6ff;
$grw-marker-green: #6f6;

//== Layout
$grw-navbar-height: 52px;
$grw-navbar-border-width: 3.3333px;
// slightly larger than $zindex-sticky
// https://getbootstrap.jp/docs/4.6/layout/overview/#z-index
$grw-navbar-z-index: 1025;

$grw-subnav-min-height: 95px;
$grw-subnav-min-height-md: 115px;
$grw-subnav-height-on-edit: 95px;
$grw-subnav-height-lg-on-edit: 50px;

$grw-subnav-search-preview-min-height: 90px;

$grw-navbar-bottom-height: 48px;
$grw-editor-navbar-bottom-height: 48px;

$grw-sidebar-nav-width: 64px; // !!DO NOT CHANGE!! 'margin-left' for '.css-teprsg' is hardcoded

$grw-logo-width: $grw-sidebar-nav-width;
$grw-logomark-width: 36px;

$grw-scroll-margin-top-in-view: 130px;
