{% extends './layout.html' %}

{% block html_base_css %}admin-page{% endblock %}

{% block html_head_loading_app %}
<script src="{{ webpack_asset('js/admin.js') }}" defer></script>
{% endblock %}

{% block layout_main %}

{% block content_header_wrapper %}
<header class="container-fluid py-0">
  {% block content_header %}
    <div id="grw-subnav-container"></div>
  {% endblock %}
</header>
{% endblock %}

<div id="main" class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3" id="admin-navigation"></div>
      <div class="col-lg-9">
        {% block content_main_before %}
        {% endblock %}

        {% block content_main %}
        {% endblock content_main %}

        {% block content_main_after %}
        {% endblock %}
      </div>
    </div>
  </div>
</div><!-- /.main -->
{% endblock %} {# layout_main #}
