<!DOCTYPE html>
<html>
{% block html_head %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block html_title %}{{ customTitle(path) }}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="apple-mobile-web-app-title" content="{{ appService.appTitle() }}">

  {{ customHeader() }}

  {% include '../widget/headers/favicon.html' %}
  {% include '../widget/headers/ie11-polyfills.html' %}

  {{ cdnScriptTagsByGroup('basis') }}

  {% if local_config.env.MATHJAX %}
    {% include '../widget/headers/mathjax.html' %}
  {% endif %}

  {% include '../widget/headers/scripts-for-dev.html' %}

  <script src="{{ webpack_asset('js/vendors.js') }}" defer></script>
  <script src="{{ webpack_asset('js/commons.js') }}" defer></script>

  {% if isEnabledPlugins() %}
    <script src="{{ webpack_asset('js/plugin.js') }}" defer></script>
  {% endif %}
  {% block html_head_loading_legacy %}
    <script src="{{ webpack_asset('js/legacy.js') }}" defer></script>
  {% endblock %}
  {% block html_head_loading_app %}
    <script src="{{ webpack_asset('js/app.js') }}" defer></script>
  {% endblock %}

  <!-- styles -->
  {% include '../widget/headers/styles-for-app.html' %}
  {% if 'kibela' === getConfig('crowi', 'customize:layout') %}
    {% include '../widget/headers/styles-theme-kibela.html' %}
  {% else %}
    {% block theme_css_block %}
      {% set themeName = getConfig('crowi', 'customize:theme') %}
      {% include '../widget/headers/styles-theme.html' with {themeName: themeName} %}
    {% endblock %}
  {% endif %}

  {{ cdnStyleTagsByGroup('basis') }}
  {{ cdnHighlightJsStyleTag(highlightJsStyle()) }}

  {% block html_additional_headers %}{% endblock %}

  <style>
    {{ customCss() }}
  </style>
</head>
{% endblock %}

{% block html_body %}
<body
  class="main-container content-wrapper {% block html_base_css %}{% endblock %}
      {% if !layoutType() || 'crowi' === layoutType() %}crowi{% elseif !layoutType() || 'kibela' === layoutType() %}kibela{% else %}growi{% endif %}"
  data-me="{{ user._id.toString() }}"
  data-is-admin="{{ user.admin }}"
  data-plugin-enabled="{{ isEnabledPlugins() }}"
  {% block html_base_attr %}{% endblock %}
  data-csrftoken="{{ csrf() }}"
  data-current-username="{% if user %}{{ user.username }}{% endif %}"
  data-userlang="{% if user %}{{ user.lang }}{% endif %}"
 >

<div id="wrapper">
  <!-- Navigation -->
  {% block layout_head_nav %}
  <nav class="navbar navbar-default navbar-static-top mb-0">
    <div class="navbar-header">
      <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="ti-menu"></i>
      </a>
      <div class="top-left-part">
        <a class="logo" href="/">
          <b>
            <div class="logo-mark">{% include '../widget/logo.html' %}</div>
          </b>
          <span class="hidden-xs" style="color: black">
            {% set appTitle = appService.appTitle() %}
            {% set appTitleFontSize = getAppTitleFontSize(appTitle) %}
            <span class="logo-text">
              <svg xmlns="http://www.w3.org/2000/svg">
                <text x="0" y="{{22+appTitleFontSize/2}}" font-size="{{appTitleFontSize}}">
                  {% block title %}{{ appTitle }}{% endblock %}
                </text>
              </svg>
            </span>
          </span>
        </a>
      </div>

      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li>
          <a class="open-close hidden-xs waves-effect waves-light">
            <i class="ti-menu"></i>
          </a>
        </li>
        {#  disabled temporary -- 2019.05.13 Yuki Takei
        <li>
          <li class="nav-item-admin">
            <a href="/tags">
              <i class="tag-icon icon-tag"></i><span>{{ t('Tags') }}</span>
            </a>
          </li>
        </li>
        #}
        <li>
          {% if searchConfigured() %}
          <div class="navbar-form navbar-left search-top" role="search" id="search-top"></div>
          {% endif %}
        </li>
      </ul>

      <ul class="nav navbar-top-links navbar-right pull-right">
        {% if user and user.admin %}
        <li class="nav-item-admin">
          <a href="/admin">
            <i class="icon-settings"></i><span>{{ t('Admin') }}</span>
          </a>
        </li>
        {% endif %}

        {% if user %}
        <li class="nav-item-create-page">
          <a href="#" data-target="#create-page" data-toggle="modal" class="create-page">
            <i class="icon-pencil"></i><span>{{ t('New') }}</span>
          </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown">
            <img src="{{ user|picture }}" class="picture img-circle" width="25" /> <span class="user-name">{{ user.name }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/user/{{ user.username }}"><i class="icon-fw icon-home"></i>{{ t('Home') }}</a></li>
            <li><a href="/me"><i class="icon-fw icon-wrench"></i>{{ t('User Settings') }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user/{{ user.username }}#user-draft-list"><i class="icon-fw icon-docs"></i>{{ t('List Drafts') }}</a></li>
            <li><a href="/user"><i class="icon-fw icon-trash"></i>{{ t('Deleted Pages') }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><i class="icon-fw icon-power"></i>{{ t('Sign out') }}</a></li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        {% else %}
        <li id="login-user"><a href="/login">Login</a></li>
        {% endif %}
        {% if config.crowi['app:confidential'] && config.crowi['app:confidential'] != '' %}
        <li class="confidential"><a href="#">{{ config.crowi['app:confidential'] }}</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-header -->
  </nav>
  {% include '../modal/create_page.html' %}
  {% endblock  %} {# layout_head_nav #}

  {% block head_warn_alert_siteurl_undefined %}{% include '../widget/alert_siteurl_undefined.html' %}{% endblock %}
  {% block head_warn_breaking_changes %}{% include '../widget/alert_breaking_changes.html' %}{% endblock %}

  {% block sidebar %}
  <!-- Left navbar-header -->
  <div class="navbar-default sidebar hidden-print" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
      <ul class="nav" id="side-menu">
        <li class="sidebar-search hidden-sm hidden-md hidden-lg">
          {% if searchConfigured() %}
          <div class="search-sidebar" role="search" id="search-sidebar"></div>
          {% endif %}
        </li>

        <li class="tbd"><a href="#">(TBD) Create /Sidebar</a></li>
      </ul>
    </div>
  </div>
  <!-- Left navbar-header end -->
  {% endblock %}

  <!-- Page Content -->
  <div id="page-wrapper">
    {% block layout_main %}
    {% endblock %} {# layout_main #}
  </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- /#staff-credit -->
<div id="staff-credit"></div>

{% include '../modal/shortcuts.html' %}

{% block body_end %}
{% endblock %}
</body>
{% endblock %}

<script type="application/json" id="crowi-context-hydrate">
{{ local_config|json|safe|preventXss }}
</script>

{% block custom_script %}
<script>
  {{ customScript() }}
</script>
{% endblock %}

</html>
