{% extends 'base/layout.html' %}

{% block content_header %}

  {% block content_header_before %}
  {% endblock %}

  <div class="header-wrap">
    <header id="page-header">
      <div>
        <div>
          <h1 class="title" id="revision-path"></h1>
          {% if page and not forbidden and not isTrashPage() %}
            <div id="tag-label"></div>
          {% endif %}
        </div>
      </div>

    </header>
  </div>

  {% block content_header_after %}
  {% endblock %}

{% endblock %} {# /content_head #}


{% block content_main_before %}
  {% include '../widget/page_alerts.html' %}
{% endblock %}


{% block content_main %}
  {% include '../widget/not_creatable_content.html' %}
{% endblock %}


{% block content_main_after %}
{% endblock %}


{% block content_footer %}
{% endblock %}
