{% extends 'base/layout.html' %}


{% block content_header %}

  {% block content_header_before %}
  {% endblock %}

  <div class="header-wrap">
    <header id="page-header">
      <div class="d-flex align-items-center">
        <div class="title-container">
          <h1 class="title" id="revision-path"></h1>
          {% if page and not forbidden and not isTrashPage() %}
            <div id="tag-label"></div>
          {% endif %}
        </div>
        {% include '../widget/header-buttons.html' %}
      </div>
    </header>
  </div>

  {% block content_header_after %}
  {% endblock %}

{% endblock %}


{% block content_main_before %}
{% endblock %}


{% block content_main %}
  <div class="m-b-30">
    {% include '../widget/page_content.html' %}
  </div>
{% endblock %}


{% block content_main_after %}
{% endblock %}


{% block content_footer %}
  {% if page %}
    {% include '../widget/page_attachments.html' %}
  {% endif %}
{% endblock %}

{% block side_header %}
  {% if page and not page.isDeleted() %}
    {% include 'widget/page_side_header.html' %}
  {% endif %}
{% endblock %} {# side_header #}

{% block side_content %}
  {% if page and not page.isDeleted() %}
    {% include 'widget/page_side_content.html' %}
  {% endif %}
{% endblock %}

{% block layout_footer %}
{% endblock %}

{% block body_end %}
  <div id="presentation-layer" class="fullscreen-layer">
    <div id="presentation-container"></div>
  </div>
  <div id="crowi-modals">
    {% include '../widget/page_modals.html' %}
  </div>
{% endblock %}
