{
  "plugins": [
    "lodash",
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
        },
        "useBuiltIns": "usage",
      }
    ],
    "@babel/preset-react"
  ]
}
