{
  "plugins": [
    "lodash",
    ["transform-runtime", {
      "regenerator": true
    }],
    ["transform-decorators-legacy"]
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "react"
  ]
}
