/.github/**
/.vscode/**
/dist/**
/node_modules/**
/public/**
/src/linter-checker/**
/tmp/**
next-env.d.ts



/config/webpack*.js
/src/client/js/admin.jsx
/src/client/js/app.jsx
/src/client/js/base.jsx
/src/client/js/nologin.jsx
/src/client/js/legacy/thirdparty-js/**
/src/client/js/util/reveal/plugins/markdown.js
/src/client/js/util/markdown-it/**
/src/server/**/*deprecate*
