# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# dist
/dist/
/report/
/public/static/js
/public/static/styles
/public/uploads
/tmp/

# dist (for GROWI v4.x and below)
/public/*.chunk.js
/public/*.chunk.js.LICENSE
/public/*.bundle.js
/public/manifest.json
/public/dll
/public/js
/public/styles
/src/*/__build__/
/__build__/**
/src/*/dist/
/.awcache
.webpack.json
/compiled/

# misc
.DS_Store
*.pem
.Trash-*
ehthumbs.db
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE, dev #
.idea
*.orig
*.code-workspace
