// Variables

// @import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

// $basefont1:'Rubik', sans-serif;
// $basefont2:'Rubik', sans-serif;
$basefont1: Lato, -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$basefont2: Lato, -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

/* GROWI Color */
$growi-green: #74bc46;
$growi-blue: #175fa5;


/*bootstrap Color*/
$danger: #ff0a54;
$success: #00bb83;
$warning: #ffa32b;
$primary: $growi-blue;
$info: #009fbb;
$muted: #98a6ad;
$dark: #3e4d6c;
$inverse:#3e4d6c;
$light:#e4e7ea;
$extralight:#f7fafc ;
$gray: #eee;
$gray-light: #f0f0f0;
$gray-lighter: #f5f5f5;
$gray-extralight: #fafafa;

/*Normal Color*/
$white: #ffffff;
$red:#ff0000;
$purple:#7b00ce;
$blue:#0d00c5;
$yellow:#cccf0e;
$border:$gray;
$megna:#00b5c2;

/*Theme Colors*/
$topbar:#3c4451;
$sidebar:#4F5467;
$bodycolor:#fff;
$headingtext: #2b2b2b;
$bodytext: #686868;
$linktext: $inverse;
$linktext-hover: lighten($inverse, 20%);
$sidebar-text:#54667a;
$themecolor:#ff6849;
$dark-themecolor:#4F5467;


$rgt:right;
$lft:left;

$dark-text:#848a96;

/*Border radius*/
$radius: 0;

/*Preloader*/
/*
.preloader{
    width: 100%;
    height: 100%;
    top:0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
    .cssload-speeding-wheel{
        position: absolute;
        top: "calc(50% - 3.5px)";
        left: "calc(50% - 3.5px)";
    }
}
*/

/*Font weight*/
$font-bold:700;
