// Variables

// @import 'https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900';

// $basefont1:'Rubik', sans-serif;
// $basefont2:'Rubik', sans-serif;
$basefont1: Lato, -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
$basefont2: Lato, -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;


/*Theme Colors*/
$topbar:#3c4451;
$sidebar:#4F5467;
$bodycolor:#fff;
$headingtext: #2b2b2b;
$bodytext: #686868;
$sidebar-text:#54667a;
$themecolor:#ff6849;
$dark-themecolor:#4F5467;

/*bootstrap Color*/
$danger: #f75b36;
$success: #00c292;
$warning: #f8c255;
$primary: #2c5ca9;
$info: #008efa;
$muted: #98a6ad;
$dark: #3e4d6c;
$inverse:#3e4d6c;
$light:#e4e7ea;
$extralight:#f7fafc ;



/*Normal Color*/
$white: #ffffff;
$red:#fb3a3a;
$purple:#2c5ca9;
$blue:#02bec9;
$yellow:#a0aec4;
$border:rgba(120, 130, 140, 0.21);
$megna:#00b5c2;

$rgt:right;
$lft:left;

$dark-text:#848a96;

/*Border radius*/
$radius:3px;

/*Preloader*/
.preloader{
    width: 100%;
    height: 100%;
    top:0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
    .cssload-speeding-wheel{
        position: absolute;
        top: "calc(50% - 3.5px)";
        left: "calc(50% - 3.5px)";
    }
}

/*Font weight*/
$font-bold:700;
