{% extends '../layout/layout.html' %}

{% block html_base_css %}error nologin{% endblock %}

{% block html_title %}{{ customTitle('セットアップ') }}{% endblock %}



{#
 # Remove default contents
 #}
{% block html_head_loading_legacy %}
{% endblock %}
{% block html_head_loading_app %}
{% endblock %}
{% block layout_head_nav %}
{% endblock %}
{% block sidebar %}
{% endblock %}



{% block layout_main %}

<div class="main container-fluid">

  <div class="row">

    <div class="login-header col-sm-offset-4 col-sm-4">
      <div class="logo">{% include '../widget/logo.html' %}</div>
      <h1>GROWI</h1>

      <div class="m-b-15 login-form-errors text-center">
        {% if reason === 'registered'%}
        <div class="alert alert-success">
          <h2>登録完了</h2>
        </div>
        {% else %}
        <div class="alert alert-warning">
            <h2>ログインエラー</h2>
        </div>
        {% endif %}
      </div>

      <p>{{ reasonMessage }}</p>
    </div>


  </div>{# /.row #}

</div>{# /.main #}

{% endblock %}
