// Change buttons layout for @codemirror/merge
.codemirror-editor :global {
  .cm-chunkButtons {
    // reverse order
    display: flex;
    flex-direction: row-reverse;
  }
}

// Change button size
.codemirror-editor :global {
  .cm-chunkButtons {
    button {
      --bs-btn-padding-y: .1rem;
      --bs-btn-padding-x: .5rem;
      --bs-btn-font-size: 1rem;
    }
  }
}

// Override button style with Bootstrap variables
.codemirror-editor :global {
  .cm-chunkButtons {
    button {
      color: var(--bs-btn-color) !important;
      background: var(--bs-btn-bg) !important;
      border: var(--bs-btn-border-width) solid var(--bs-btn-border-color) !important;
      border-radius: var(--bs-btn-border-radius) !important;

      &:hover {
        color: var(--bs-btn-hover-color) !important;
        background: var(--bs-btn-hover-bg) !important;
        border-color: var(--bs-btn-hover-border-color) !important;
      }
    }
  }
}
