{% extends '../../layout/layout.html' %}

{% block html_additional_headers %}
  {% parent %}
  {{ cdnScriptTag('highlight-addons') }}
  {{ cdnScriptTag('drawio-viewer') }}
{% endblock %}

{% block layout_main %}

{% block content_header_wrapper %}
<header class="py-0">
  {% block content_header %}
    <div id="grw-subnav-container"></div>
  {% endblock %}
</header>
<div id="grw-subnav-switcher-container" class="d-edit-none"></div>
<div id="grw-subnav-sticky-trigger" class="sticky-top"></div>
<div id="grw-fav-sticky-trigger" class="sticky-top"></div>
{% endblock %}

<div id="main" class="main {% if page %}{{ css.grant(page) }}{% endif %} {% block main_css_class %}{% endblock %}">
  {% block content_main_before %}
  {% endblock %}

  {% block content_main %}
  {% endblock content_main %}

  {% block content_main_after %}
  {% endblock %}
</div><!-- /.main -->

<footer class="footer">
</footer>
{% endblock %} {# layout_main #}
