.lsx .page-list-ul > li > a:not(:hover) {
  text-decoration: none;
}
.lsx .lsx-page-not-exist {
  opacity: 0.6;
}

.lsx .lsx-blink {
  animation: lsx-fadeIn 1s ease 0s infinite alternate;
}

@keyframes lsx-fadeIn {
  0% {opacity: .2}
  100% {opacity: .9}
}
