@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '@growi/core-styles/scss/variables/growi-official-colors';
@use '@growi/ui/scss/atoms/btn-muted';

.grw-aichat-modal :global {

  .textarea-ask {
    max-height: 30vh;
  }

  .btn-submit {
    font-size: 1.1em;
  }
}


// == Colors
.grw-aichat-modal :global {
  .growi-ai-chat-icon {
    color: growi-official-colors.$growi-ai-purple;
  }

  .btn-submit {
    @include btn-muted.colorize(bs.$purple, bs.$purple);
  }
}

