@use '@growi/core/scss/bootstrap/init' as bs;

@use '@growi/ui/scss/atoms/btn-muted';

.grw-copy-dropdown :global {
  .btn.btn-copy {
    @include btn-muted.colorize(bs.$gray-500);
  }

  .dropdown-menu {
    min-width: 310px;

    .dropdown-header {
      margin-bottom: 0.5em;
      font-size: 1.1em;
    }

    // unset active styles
    .dropdown-item:active {
      color: unset;
      background-color: unset;
    }

    .card {
      font-size: 0.7em;
      word-break: break-all;
    }
  }
}
