@use '~/styles/bootstrap/init' as bs;

.btn-group-bookmark :global {
  .btn-bookmark {
    box-shadow: none !important;

    @include bs.button-outline-variant(rgba(bs.$secondary, 50%), bs.$orange, rgba(lighten(bs.$orange, 20%), 0.5), rgba(lighten(bs.$orange, 20%), 0.5));

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: bs.$orange;
    }
    &:not(:disabled):not(.disabled):not(:hover) {
      background-color: transparent;
    }
  }
}
