@use '~/styles/bootstrap/init' as bs;

.btn-group-like :global {
  .btn-like {
    box-shadow: none !important;

    @include bs.button-outline-variant(rgba(bs.$secondary, 50%), lighten(bs.$red, 15%), rgba(lighten(bs.$red, 10%), 0.15), rgba(lighten(bs.$red, 10%), 0.5));

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: lighten(bs.$red, 15%);
    }
    &:not(:disabled):not(.disabled):not(:hover) {
      background-color: transparent;
    }
  }
}
