@use '~/styles/bootstrap/init' as bs;

// TODO: This class from "/workspace/growi/packages/app/src/styles/_page-content-footer.scss"
.page-content-footer :global {
  border-top: solid 1px transparent;
  .page-meta {
    font-size: 0.95em;
  }
}
// TODO: Should Soft Coding see: https://github.com/weseek/growi/pull/6404
.page-content-footer-skelton :global {
  width: 300px;
  height: 20px;
}
