@use '~/styles/bootstrap/init' as bs;

.page-comment-styles :global {
  .page-comments {
    h4 {
      margin-bottom: 1em;
    }
  }

  // reply button
  .btn-comment-reply {
    margin-top: 0.5em;
    border: none;
  }
}

// TODO: Refacotr to Soft-coding
.page-comment-commenteditorlazyrenderer-body-skelton :global {
  position: relative;
  padding: 1.5rem 2rem;
  margin-left: 4.5em;
  //font-size: 1.09375rem;
  line-height: 1.5;
  //border-radius: 8px;
  @include bs.media-breakpoint-down(xs) {
    margin-left: 3.5em;
  }
}
