.grw-page-accessories-modal :global {
  .modal-header {
    button.close {
      margin: auto 0rem auto auto;
    }
  }

  .modal-body {
    padding: 25px 30px;
  }

  .grw-modal-body-style {
    max-height: calc(100vh - 100px);
  }
  ul.pagination {
    margin-bottom: 0rem;
  }
}
