@use '~/styles/_modal';

.grw-presentation-modal :global {

  @include modal.expand-modal-fullscreen(false, false, 0px);

  .modal-content {
    background-color: transparent;
    border-radius: 0;
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    color: var(--color-global);

    span {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      font-size: 3rem;
      line-height: 3rem;
    }
  }

}
