.page-comment-styles :global {
  .page-comments {
    h4 {
      margin-bottom: 1em;
    }
  }

  // reply button
  .btn-comment-reply {
    margin-top: 0.5em;
    border: none;
  }
}

.page-comment-comment-body-skelton :global {
  position: relative;
  height: 66px;
  padding: 1em;
  margin-left: 4.5em;
}

.page-comment-replycomments-body-skelton :global{
  position: relative;
  height: 66px;
  padding: 1em;
  margin-left: 4.5em;
}

.page-comment-button-skelton :global {
  width: 70.0167px;
  height: 26.3833px;
  margin-top: 0.5em;
  border: none;
}
