
.revision-toc :global {
  // to get on the Attachment row
  z-index: 1;
  padding: 5px;
  font-size: 0.9em;

  border-bottom: 1px solid transparent;

  .revision-toc-content {
    li {
      margin: 6px;
    }
    > ul {
      padding-left: 0;
      ul {
        padding-left: 1em;
      }
    }

    // first level of li
    > ul > li {
      padding: 5px;
      margin-right: 4px;
      margin-left: 17px;
    }
  }
}
