.user-page-footer :global {
  .grw-user-page-list-m {
    svg {
      width: 35px;
      height: 35px;
      margin-bottom: 6px;
    }
  }

  .page-list-container {
    font-size: 15px;
    line-height: 1.6em;
  }
}
