@use '~/styles/molecules/page_list';

.user-page-footer :global {
  .grw-user-page-list-m {
    .list-group-item {
      svg{
        width: 20px;
        height: 20px;
      }

    }
    .grw-triangle-container{
      svg {
        width: 12px;
        height: 12px;
      }
    }
    .grw-foldertree-item-container {
      input {
        max-width: 25%;
      }
    }
    svg {
      width: 35px;
      height: 35px;
      margin-bottom: 6px;
    }
    .new-bookmark-folder{
      max-height: 30px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .grw-expand-compress-btn {
      max-height: 40px;
      svg {
        width: 18px;
        height: 18px;
        margin-bottom: 3px;
      }
    }
  }
}
