@use '~/styles/molecules/page_list';

.user-page-footer :global {
  .grw-user-page-list-m {
    svg {
      width: 35px;
      height: 35px;
      margin-bottom: 6px;
    }
    .new-bookmark-folder{
      max-height: 30px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
