@keyframes attachement-refs-fadeIn {
  0% {opacity: .2}
  100% {opacity: .9}
}

.attachment-refs .attachement-refs-blink {
  animation: attachement-refs-fadeIn 1s ease 0s infinite alternate;
}


.attachment-refs li.attachment {
  list-style: none;
}

.attachment-refs .attachment-userpicture {
  line-height: 1.7em;
  vertical-align: bottom;
}

.attachment-refs .page-meta {
  font-size: 0.95em;
}

.attachment-refs .attachment-filetype {
  padding: 1px 5px;
  margin: 0 0 0 4px;
  font-weight: normal;
}
