// == Colors
.ai-assistant-tree-item :global {
  .grw-ai-assistant-actions {
    .btn-link {
      &:hover {
        color: var(--bs-gray-800) !important;
      }
    }
  }
}

.ai-assistant-tree-item :global {
  .grw-ai-assistant-substance-header2 {
    font-size: 14px;
  }
}


.ai-assistant-tree-item :global {
  .list-group-item {
    height: 40px;
    padding-left: 4px;

    .grw-ai-assistant-triangle-btn {
      border: 0;
      transition: transform 0.2s ease-out;
      transform: rotate(0deg);

      &.grw-ai-assistant-open {
        transform: rotate(90deg);
      }
    }

    .grw-ai-assistant-title-anchor {
      width: 100%;
      overflow: hidden;
      font-size: 14px;
    }


    .grw-ai-assistant-actions {
      transition: opacity 0.2s ease-out;
    }

    &:hover {
      .grw-ai-assistant-actions {
        opacity: 1 !important;
      }
    }
  }
}
