@use '~/styles/organisms/wiki-custom-sidebar.scss';
@use '~/styles/mixins' as *;

.grw-custom-sidebar-content :global {
  .wiki {
    @extend %grw-custom-sidebar-content;
  }

  .grw-custom-sidebar-skeleton-text {
    @include grw-skeleton-text($font-size:15px, $line-height:21.42px);
    max-width: 160px;
    margin: 15px 0;
  }

  .grw-custom-sidebar-skeleton-text-full {
    @extend .grw-custom-sidebar-skeleton-text;
    max-width: 100%;
  }
}
