@use '@growi/core/scss/bootstrap/init' as bs;

@use '~/styles/variables' as var;

.grw-sidebar-nav :global {
  // set position and z-index to prevent dropdowns covered by other element
  position: relative;
  z-index: bs.$zindex-fixed;

  height: 100vh;

  border-right : 1px solid var(--bs-border-color);

  .grw-logo {
    svg {
      width: var.$grw-logo-width;
      height: var.$grw-logo-width;
      padding: (var.$grw-logo-width - var.$grw-logomark-width) / 2;
    }
  }

  .grw-apperance-mode-dropdown,
  .grw-personal-dropdown {
    .dropdown-menu {
      min-width: 15rem;

      .grw-icon-container svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .btn {
    width: var.$grw-sidebar-nav-width;
    height: var.$grw-sidebar-nav-height;
    padding-top: .75rem;
    padding-bottom: .75rem;
    line-height: 1em;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;

    // icon opacity
    &:not(.active) {
      i {
        opacity: 0.7;
      }
      &:hover,
      &:focus {
        i {
          opacity: 0.8;
        }
      }
    }
  }

  .grw-sidebar-nav-primary-container {
    $btn-active-indicator-height: 34px;

    .btn {
      &.active {
        position: relative;

        // indicator
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 3px;
          height: $btn-active-indicator-height;
          content: '';
          background-color: var(--bs-primary);
          transform: translateY(#{(var.$grw-sidebar-nav-height - $btn-active-indicator-height) / 2});
        }
      }
    }
  }

  .grw-sidebar-nav-secondary-container {
    position: fixed;
    bottom: 1.5rem;

    .btn {
      i {
        opacity: 0.4;
      }
    }
  }
}


// == Colors
.grw-sidebar-nav :global {
  .btn.btn-primary {
    --bs-btn-bg: transparent;
    --bs-btn-active-bg: transparent;
    --bs-btn-hover-color: var(
      --grw-sidebar-nav-btn-hover-color,
      var(
        --grw-sidebar-nav-btn-color,
        var(--bs-btn-color)
      ),
    );
    --bs-btn-active-color: var(
      --grw-sidebar-nav-btn-active-color,
      var(
        --grw-sidebar-nav-btn-color,
        var(--bs-btn-color)
      ),
    );
  }
}
@include bs.color-mode(light) {
  .grw-sidebar-nav :global {
    background-color: var(--grw-sidebar-nav-bg, var(--grw-highlight-100));

    .btn-primary {
      --bs-btn-color: var(--grw-sidebar-nav-btn-color, var(--grw-primary-500));
      --bs-btn-hover-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-300));
    }
  }
}
@include bs.color-mode(dark) {
  .grw-sidebar-nav :global {
    background-color: var(--grw-sidebar-nav-bg, var(--grw-highlight-800));

    .btn-primary {
      --bs-btn-color: var(--grw-sidebar-nav-btn-color, var(--grw-primary-400));
      --bs-btn-hover-bg: var(--grw-sidebar-nav-btn-hover-bg, var(--grw-highlight-700));
    }
  }
}
