@use '~/styles/mixins';
@use '@growi/core/scss/bootstrap/init' as bs;

.grw-sidebar :global {
  border-right : 1px solid var(--bs-border-color);

  .grw-navigation-wrap {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .grw-sidebar-content-header {
    .grw-btn-reload {
      font-size: 18px;
    }
  }
}


// Dock Mode
@mixin dock() {
  .grw-navigation-wrap {
    // sticky
    position: sticky;
    top: 0;

    // set the max value that should be taken when sticky
    height: 100vh;
  }
}

// Drawer Mode
@mixin drawer() {

  .grw-navigation-wrap {
    position: fixed;
    top: 0;
    z-index: bs.$zindex-fixed + 2;
    max-width: 80vw;

    // apply transition
    transition-property: transform;
    @include mixins.apply-navigation-transition();
  }

  &:not(.open) {
    .grw-navigation-wrap {
      transform: translateX(-100%);
    }
  }
  &.open {
    .grw-navigation-wrap {
      transform: translateX(0);
    }
  }

  .sidebar-contents-container {
    backdrop-filter: blur(20px);
  }
}

.grw-sidebar {
  &:global {
    &.grw-sidebar-drawer {
      @include drawer();
    }
    &.grw-sidebar-dock {
      @include dock();
    }
  }
}


@include bs.color-mode(light) {
  .grw-sidebar :global {
    --bs-border-color: var(--grw-highlight-200);

    .sidebar-contents-container {
      background-color: rgba(var(--grw-highlight-100-rgb), .5);
    }
  }
}

@include bs.color-mode(dark) {
  .grw-sidebar :global {
    --bs-color: var(--bs-gray-400);
    --bs-border-color: var(--grw-highlight-800);

    .sidebar-contents-container {
      background-color: rgba(var(--grw-highlight-800-rgb), .5);
    }
  }
}
