@use '~/styles/mixins';
@use '@growi/core/scss/bootstrap/init' as bs;

.grw-sidebar :global {
  // sticky
  position: sticky;
  top: 0;

  // set the max value that should be taken when sticky
  height: 100vh;

  border-right : 1px solid var(--bs-border-color);

  .data-layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 0px;
  }
  .navigation {
    .grw-navigation-wrap {
      display: flex;
      flex-direction: row;
      height: 100%;
      overflow: hidden;
    }
  }

  .grw-sidebar-content-header {
    .grw-btn-reload {
      font-size: 18px;
    }
  }
}


// Dock Mode
@mixin dock() {
}

// Drawer Mode
@mixin drawer() {
  z-index: bs.$zindex-fixed + 2;

  .data-layout-container {
    position: fixed;
    top: 0;
    width: 0;
  }
  div.navigation.transition-enabled {
    max-width: 80vw;

    // apply transition
    transition-property: transform;
    @include mixins.apply-navigation-transition();
  }

  &:not(.open) {
    div.navigation {
      transform: translateX(-100%);
    }
  }
  &.open {
    div.navigation {
      transform: translateX(0);
    }
  }
}

.grw-sidebar {
  &:global {
    &.grw-sidebar-drawer {
      @include drawer();
    }
    &.grw-sidebar-dock {
      @include bs.media-breakpoint-down(sm) {
        @include drawer();
      }
      @include bs.media-breakpoint-up(md) {
        @include dock();
      }
    }
  }
}


.grw-sidebar :global {
  .sidebar-contents-container {
    backdrop-filter: blur(20px);
  }
}
@include bs.color-mode(light) {
  .grw-sidebar :global {
    --bs-border-color: var(--grw-highlight-200);

    .grw-navigation-wrap {
      background-color: rgba(var(--grw-highlight-100-rgb), .5);
    }
  }
}

@include bs.color-mode(dark) {
  .grw-sidebar :global {
    --bs-color: var(--bs-gray-400);
    --bs-border-color: var(--grw-highlight-800);

    .grw-navigation-wrap {
      background-color: rgba(var(--grw-highlight-800-rgb), .5);
    }
  }
}
