$grw-sidebar-content-header-height: 58px;
$grw-sidebar-content-footer-height: 50px;

.grw-bookmarks-list {
  min-height: calc(100vh - ($grw-navbar-height + $grw-navbar-border-width + $grw-sidebar-content-header-height + $grw-sidebar-content-footer-height));

  .btn-page-item-control {
    .icon-plus::before {
      font-size: 18px;
    }
  }

  .list-group-item {
    .grw-visible-on-hover {
      display: none;
    }

    &:hover {
      .grw-visible-on-hover {
        display: block;
      }
    }

    .grw-bookmarks-title-anchor {
      width: 100%;
      overflow: hidden;
      text-decoration: none;
    }

  }
  .grw-bookmarks-item-container {
    .list-group-item {
      min-width: 35px;
      height: 40px;
    }
  }

}
