// modal
.page-comment-delete-modal .modal-content {
  .modal-body {
    .comment-body {
      max-height: 13em;
      // scrollable
      overflow-y: auto;
    }
  }
}


.page-comments {
  // TODO: Never use .page-comments-list-toggle-older class.
  .page-comments-list-toggle-older {
    display: inline-block;
    font-size: 0.9em;
  }
  // TODO: "pointer-events: none;" moved to "Comment.module.scss" now.
  // .page-comment was defined in _comment.scss and _comment_growi.scss
  // Required if .page-comment is not under .growi but under .page-comments, or under .growi but not under .page-comments
  .page-comment {
    padding-top: 50px;
    margin-top: -50px;
    pointer-events: none;
  }
}
