.growi {
  // display cheatsheet for comment form only
  .comment-form {
    // TODO: Never use .editor-cheatsheet class.
    .editor-cheatsheet {
      display: none;
    }

    // textarea
    // TODO: Never use .comment-form-comment class.
    .comment-form-comment {
      height: 80px;
      &:focus,
      &:not(:invalid) {
        height: 180px;
        transition: height 0.2s ease-out;
      }
    }
  }
}
