// modal
.page-comment-delete-modal .modal-content {
  .modal-body {
    .comment-body {
      max-height: 13em;
      // scrollable
      overflow-y: auto;
    }
  }
}

.page-comments {
  .page-comments-list-toggle-older {
    display: inline-block;
    font-size: 0.9em;
  }
  .page-comment {
    padding-top: 50px;
    margin-top: -50px;
    pointer-events: none;
  }

  .page-comment {
    // older comments
    &.page-comment-older {
    }
    // newer comments
    &.page-comment-newer {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    .page-comment-meta {
      display: flex;
      justify-content: flex-end;

      font-size: 0.9em;
      color: $gray-400;
    }

    .page-comment-revision svg {
      width: 16px;
      height: 16px;
    }
  }

  .page-comment-main {
    pointer-events: auto;

    // delete button
    .page-comment-control {
      position: absolute;
      top: 0;
      right: 0;
      visibility: hidden;
    }

    &:hover > .page-comment-control {
      visibility: visible;
    }
  }
}
