// Override emoji-mart style
nav.emoji-mart-anchors {
  display: flex !important;
}

button.emoji-mart-anchors {
  display: inline-block !important;
  color: #858585 !important;
}

:root button {
  overflow: hidden;
}

.emoji-mart-category {
  .emoji-mart-emoji span {
    cursor: pointer !important;
  }
}
