.grw-navbar-bottom {
  height: $grw-navbar-bottom-height;

  // apply transition
  transition-property: bottom;
  @include apply-navigation-transition();

  &.grw-navbar-bottom-drawer-opened {
    bottom: -$grw-navbar-bottom-height;
  }
}

.grw-custom-nav-tab,
.grw-custom-nav-dropdown {
  svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }
}

.grw-custom-nav-tab {
  .nav-title {
    flex-wrap: nowrap;
  }

  .nav-link {
    padding: 1rem 1.5rem;
  }

  .grw-nav-slide-hr {
    border-top: 0rem;
    border-bottom: 3px solid;
    transition: 0.3s ease-in-out;
  }
}
