.grw-pagetree {
  .grw-pagetree-item-wrapper {
    margin-top: 10px;
    margin-left: 10px;
  }

  .grw-pagetree-item {
    &:hover {
      opacity: 0.7;

      .grw-pagetree-control {
        display: flex !important;
      }

      .grw-pagetree-count {
        display: none;
      }
    }

    .grw-pagetree-button {
      background-color: transparent;
      transition: all 0.5s ease-out;
      transform: rotate(0deg);

      &:focus {
        box-shadow: none;
      }

      &.grw-pagetree-open {
        transform: rotate(90deg);
      }
    }

    .grw-pagetree-title-anchor {
      width: 100%;
      overflow: hidden;
      color: inherit;
      text-decoration: none;

      .grw-pagetree-title {
        overflow: hidden;
        font-size: medium;
        text-overflow: ellipsis;
      }
    }

    .grw-pagetree-count-wrapper {
      display: inline-block;

      &:hover {
        display: none;
      }

      .grw-pagetree-count {
        padding: 0.3rem 1rem;
      }
    }
  }
}
