.search-group-submit-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.search-listpage-clear {
  position: absolute;
  right: 8px;
  display: none;
  width: 22px;
  height: 22px;
  padding: 8px;
  font-size: 0.6em;
  color: $gray-300;
}

.search-typeahead {
  position: relative;
  width: 100%;
  // corner radius
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  .rbt-input-main {
    padding-right: 58px;
    // corner radius
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  .search-clear {
    position: absolute;
    top: 4px;
    right: 26px;
    z-index: 3;
    width: 24px;
    height: 24px;
    padding: 0;
    color: $gray-400;
  }

  .rbt-menu {
    max-height: none !important;
    margin-top: 3px;

    li a span {
      .page-path {
        display: inline;
        padding: 0 4px;
        color: inherit;
      }

      .page-list-meta {
        font-size: 0.9em;
        color: $gray-400;

        > span {
          margin-right: 0.3rem;
        }
      }
    }
  }
}

// styles for admin user search
.admin-user-page {
  .search-typeahead {
    .search-clear {
      top: 7px;
      right: 4px;
    }
  }
}

// input styles
.grw-global-search {
  .dropdown-toggle {
    min-width: 95px;
    padding-left: 1.5rem;
  }

  .search-typeahead {
    .rbt-menu {
      @extend .dropdown-menu-right;
      @extend .dropdown-menu-md-left;
      @include media-breakpoint-down(sm) {
        left: auto !important;
        width: 90vw;
      }
    }
  }

  // using react-bootstrap-typeahead
  // see: https://github.com/ericgio/react-bootstrap-typeahead
  .rbt-input.form-control {
    height: 30px;
    .rbt-input-wrapper {
      margin-left: 8px;
    }
  }

  .form-group:not(.has-error) {
    .rbt-input.form-control {
      border: none;
    }
  }

  .btn-group-submit-search {
    @extend .search-group-submit-button;
  }
}

.grw-search-form-in-search-result-page {
  .btn-group-submit-search {
    @extend .search-group-submit-button;
  }

  button {
    &:focus {
      box-shadow: none !important;
    }
  }
}

// layout
.grw-global-search-top {
  // centering on navbar
  top: $grw-navbar-height / 2;
  left: 50vw;
  z-index: $zindex-fixed + 1;
  transform: translate(-50%, -50%);

  .rbt-input.form-control {
    width: 200px;
    transition: 0.3s ease-out;

    // focus
    &.focus {
      width: 300px;
    }

    @include media-breakpoint-up(md) {
      width: 300px;
    }
    @include media-breakpoint-up(lg) {
      // focus
      &.focus {
        width: 400px;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 350px;
      // focus
      &.focus {
        width: 450px;
      }
    }
  }
}

// TODO : keep the selected list in the same positino as other lists
// TASK : https://redmine.weseek.co.jp/issues/82470
.search-result {
  .search-control {
    padding: 5px 0;
  }
  // To fix the sort options position
  .search-sort-option-btn {
    min-width: 12rem;
  }
  .search-control-include-options {
    .card-body {
      padding: 5px 10px;
    }
  }
  .search-result-list {
    position: sticky;
    top: 0px;
    z-index: 10; // to avoid dropdown menu in this class to be placed behind elements displayed on the right pane

    .search-result-list-scroll {
      // subtract the height of GrowiNavbar + (SearchControl component + other factors)
      height: calc(100vh - (($grw-navbar-height + $grw-navbar-border-width) + 110px));
      overflow-y: scroll;
    }
    .nav.nav-pills {
      > .grw-search-result-item {
        min-height: 136px;
        &.active {
          border-left: solid 3px transparent;
          .search-item-checkbox {
            // subtract 3px from padding left applied by .search-item-checkbox
            // as 3px of border-left is added above
            padding-left: 4px !important;
          }
        }
        > a {
          word-break: break-all;

          &:hover {
            color: inherit;
            text-decoration: none;
          }
          > * {
            margin-right: 3px;
          }
        }
        .page-list-meta {
          .meta-icon {
            width: 14px;
            height: 14px;
            margin-right: 14px;
          }
          .footstamp-icon {
            margin-right: 2px;
          }
        }
      }
    }

    .search-result-meta {
      font-weight: bold;
    }
    .search-result-select-group {
      > select {
        max-width: 8rem;
      }
    }
    .search-result-list-delete-checkbox {
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }
  .search-item-text {
    .picture-sm {
      width: 20px;
      height: 20px;
    }
    .item-meta {
      .top-label {
        display: none; // not show top label in search result list
      }
    }
  }
  .search-result-content {
    .search-result-content-nav {
      min-height: $grw-subnav-search-preview-min-height;
      overflow: auto;

      .grw-subnav {
        min-height: inherit;
      }
    }

    .search-result-page {
      height: calc(100vh - ($grw-navbar-height + $grw-navbar-border-width));

      > h2 {
        margin-right: 10px;
        font-size: 22px;
        line-height: 1em;
      }

      &:first-child > h2 {
        margin-top: 0;
      }

      .search-result-page-content {
        overflow-y: auto;

        .wiki {
          padding: 16px;
          font-size: 13px;
          border: solid 1px $gray-300;
        }
      }
    }
  }
}

// 2021/9/22 TODO: Remove after moving to SearchResult
.search-page-input {
  position: sticky;
  top: 15px;
  // placed at front-most
  z-index: 15;

  margin-bottom: 15px;

  .input-group-btn .btn {
    height: 34px;
    padding: 0px 10px;
  }
}

// support for your search
.grw-search-table {
  caption {
    display: table-header-group;
  }
}

@include media-breakpoint-down(sm) {
  .grw-search-table {
    th {
      text-align: right;
    }

    td {
      overflow-wrap: anywhere;
      white-space: normal !important;
    }

    @include media-breakpoint-down(xs) {
      th,
      td {
        display: block;
      }

      th {
        text-align: left;
      }

      td {
        padding-top: 0 !important;
        border-top: none !important;
      }
    }
  }
}
