// styles for admin user search
.admin-user-page {
  .search-typeahead {
    .search-clear {
      top: 7px;
      right: 4px;
    }
  }
}

// layout
.on-search {
  .page-wrapper {
    padding-bottom: unset;
  }

  .search-control-include-options {
    .card-body {
      padding: 5px 10px;
    }
  }
  .search-result-list {
    .search-result-list-scroll {
      // subtract the height of GrowiNavbar + (SearchControl component + other factors)
      height: calc(100vh - (($grw-navbar-height + $grw-navbar-border-width) + 110px));
      overflow-y: scroll;

      @include media-breakpoint-down(sm) {
        height: calc(100vh - (($grw-navbar-height + $grw-navbar-border-width + $grw-navbar-bottom-height) + 123px));
      }
    }

    .search-result-keyword {
      font-size: 17.5px;
      font-weight: bold;
    }
    .search-result-select-group {
      > select {
        max-width: 8rem;
      }
    }

    // list group
    .page-list {
      // not show top label in search result list
      .page-list-meta {
        .top-label {
          display: none;
        }
      }
    }
  }

  .search-result-content {
    .search-result-content-nav {
      min-height: $grw-subnav-search-preview-min-height;
      overflow: auto;

      .grw-subnav {
        min-height: inherit;
      }
    }

    .search-result-content {
      height: calc(100vh - ($grw-navbar-height + $grw-navbar-border-width));

      > h2 {
        margin-right: 10px;
        font-size: 22px;
        line-height: 1em;
      }

      &:first-child > h2 {
        margin-top: 0;
      }

      .search-result-content-body-container {
        overflow-y: auto;

        .wiki {
          padding: 16px;
          font-size: 13px;
        }
      }
    }
  }
}

// support for your search
.grw-search-table {
  caption {
    display: table-header-group;
  }
}

@include media-breakpoint-down(sm) {
  .grw-search-table {
    th {
      text-align: right;
    }

    td {
      overflow-wrap: anywhere;
      white-space: normal !important;
    }

    @include media-breakpoint-down(xs) {
      th,
      td {
        display: block;
      }

      th {
        text-align: left;
      }

      td {
        padding-top: 0 !important;
        border-top: none !important;
      }
    }
  }
}


// style to apply when displaying search page
.on-search {
  // set sidebar height shown in search page
  $search-page-sidebar-height: calc(100vh - ($grw-navbar-height + $grw-navbar-border-width));

  .grw-sidebar {
    height: $search-page-sidebar-height;
    .data-layout-container {
      height: 100%;
    }
  }
}
