.tags-page {
  .list-tag-count {
    background: rgba(0, 0, 0, 0.08);
  }
}

.grw-tag-labels {
  .grw-tag-label {
    font-size: 10px;
    font-weight: normal;
    border-radius: $border-radius-sm;
  }
}

#edit-tag-modal {
  .form-control {
    height: auto;
  }
}
