.tags-page {
  .list-tag-count {
    background: rgba(0, 0, 0, 0.08);
  }
}

.grw-tag-labels {
  .grw-tag-label {
    margin-left: 1px;
    font-size: 12px;
    border-radius: $border-radius-xl;
  }
}

#edit-tag-modal {
  .form-control {
    height: auto;
  }
}
