@import './bootstrap/apply';

@import 'mixins';

// // override codemirror
// @import 'override-codemirror';

// react-bootstrap-typeahead
@import '~react-bootstrap-typeahead/css/Typeahead';
@import 'override-rbt';

// SimpleBar
@import '~simplebar/dist/simplebar.min.css';
@import 'override-simplebar';

// KaTeX
@import '~katex/dist/katex.min';

// icons

// DO NOT CHANGE THER OERDER OF font-awesome AND simple-line-icons.
// font-familiy used in simple-line-icons has to be prioritized than the one used in font-awesome.
@import '~font-awesome';
@import '~simple-line-icons';
@import '~material-icons/iconfont/filled';
@import '~@icon/themify-icons/themify-icons';

// atoms
@import 'atoms/buttons';
@import 'atoms/spinners';
@import 'atoms/custom_control';
@import 'atoms/code';

// molecules
@import 'molecules/toastr';
// @import 'molecules/copy-dropdown';
// @import 'molecules/slack-notification';
// @import 'molecules/duplicated-paths-table.scss';

// organisms
@import 'organisms/wiki';

// // growi component
// @import 'attachments';
// @import 'comment';
// @import 'comment_growi';
// @import 'create-page';
// @import 'draft';
@import 'editor';
@import 'fonts';
// @import 'handsontable';
@import 'layout';
// @import 'me';
@import 'mirror_mode';
@import 'modal';
// @import 'old-ios';
// @import 'page-duplicate-modal';
@import 'page-path';
// @import 'page';
@import 'search';
@import 'tag';
// @import 'user';


/*
 * for Guest User Mode
 */
// TODO: reactify and replace with `grw-not-available-for-guest`
.dropdown-toggle.dropdown-toggle-disabled {
  cursor: not-allowed;
}

// TODO: reactify and replace with `grw-not-available-for-guest`
.edit-button.edit-button-disabled {
  cursor: not-allowed;
}

.grw-not-available-for-guest {
  cursor: not-allowed !important;
}

/*
 * Helper Classes
 */

.mw-0 {
  min-width: 0;
}

.flex-basis-0 {
  flex-basis: 0;
}

.picture {
  width: 24px;
  height: 24px;

  // size list
  &.picture-lg {
    width: 48px;
    height: 48px;
  }

  &.picture-md {
    width: 24px;
    height: 24px;
  }

  &.picture-sm {
    width: 18px;
    height: 18px;
  }

  &.picture-xs {
    width: 14px;
    height: 14px;
  }
}

// transplant from FontAwesome
.icon-fw {
  display: inline-block;
  width: 1.4em;
  text-align: left;
}

.cmd-key.mac {
  &:after {
    content: '⌘';
  }
}

.cmd-key.win {
  &:after {
    content: 'Ctrl';
  }
}

.grw-page-control-dropdown-item {
  display: flex !important;
  align-items: center;

  .grw-page-control-dropdown-icon {
    display: flex;
    justify-content: center;
    width: 25px;
  }

}
