.tag-edit-modal :global {
  .rbt-token {
    // override to .badge color
    color: var(--bs-badge-color);

    .rbt-token-label {
      // override to text-truncate
      overflow: hidden;
      font-size: 1rem; // adjust font-size
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .rbt-token-active {
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.05rem #007bff40;
  }
}
