@keyframes attachement-refs-fadeIn {
  0% {opacity: .2}
  100% {opacity: .9}
}

.attachment-refs :global {
  .attachement-refs-blink {
    animation: attachement-refs-fadeIn 1s ease 0s infinite alternate;
  }

  li.attachment {
    list-style: none;
  }

  .attachment-userpicture {
    line-height: 1.7em;
    vertical-align: bottom;
  }

  .page-meta {
    font-size: 0.95em;
  }

  .attachment-filetype {
    padding: 1px 5px;
    margin: 0 0 0 4px;
    font-weight: normal;
  }
}
