.login-page {
  $dark-gray: darken(white, 30%);

  // background color
  background:
    linear-gradient(45deg, darken($inverse, 30%)  0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, $growi-green 10%, hsla(225, 95%, 50%, 0) 70%),
    linear-gradient(225deg, $growi-blue  10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, darken($inverse, 25%) 100%, hsla(35, 95%, 55%, 0) 70%);
  #page-wrapper {
    background: none;
  }

  // layout
  #wrapper {
    height: 100vh;

    #page-wrapper {
      height: 80vh;
      display: flex;
      align-items: center;

      .main {
        width: 100vw;

        > .row {
          margin-right: 20px;
          margin-left: 20px;
        }

        @media(min-width: 480px) {
          .col-sm-offset-4 {
            margin-left: calc(50% - 150px);
          }
          .col-sm-4 {
            width: 300px;
          }
        }

        .login-header {
          padding: 30px 30px 10px;

          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .link-growi-org {
          position: absolute;
          bottom: 9px;
        }

        // flip animation
        .login-dialog.flipper {
          transition: min-height 0.2s;

          &.to-flip {
            min-height: 313px;
          }

          .front, .back {
            backface-visibility: hidden;
            transition: 0.4s;
            transform-style: preserve-3d;
          }
          .front {
            z-index: 2;
          }
          .back {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
          }
          .back,
          &.to-flip .front {
            transform: rotateY(180deg);
          }
          &.to-flip .back {
            transform: rotateY(0deg);
          }
        }
      }  // .main
    }  // #page-wrapper
  } // #wrapper

  .login-header {
    background-color: rgba($white, 0.5);
    .logo {
      width: 70px;
      .group1, .group2 {
        fill: rgba(black, 0.5);
      }

    }
    h1 {
      color: rgba(black, 0.5);
      font-size: 22px;
      line-height: 1em;
    }
  }
  .login-dialog {
    background-color: rgba($white, 0.5);
  }

  .input-group {
    margin-bottom: 10px;

    .input-group-addon {
      border: none;
      border-radius: 0;
      color: $dark-gray;
      background-color: rgba(black, 0.4);
    }
    .form-control {
      border: none;
      color: white;
      background-color: rgba(lighten(black, 10%), 0.4);
      &::placeholder {
        color: $dark-gray;
      }
    }
  }

  // button style
  .btn-login, .btn-register {
    border: none;
    color: white;
    background-color: rgba(lighten(black, 20%), 0.4);

    .btn-label {
      margin: -8px 20px -8px -20px;
      padding: 9px 15px;
    }
    &:focus {
      border: none;
    }
  }
  .btn-login {
    .btn-label {
      background-color: rgba($danger, 0.4);
    }
    &:after {
      background-color: #7e4153;
    }
  }
  .btn-register {
    .btn-label {
      background-color: rgba($success, 0.4);
    }
    &:after {
      background-color: #3f7263;
    }
  }

  hr {
    margin: 10px 0;
    border-color: #ccc;
  }

  // footer link text
  .link-growi-org {
    color: rgba(black, 0.2);
    font-weight: bold;
    font-size: smaller;

    .growi, .org {
      transition: color 0.8s;
    }

    &:hover, &.focus {
      .growi {
        color: darken($growi-green, 20%);
      }
      .org {
        color: darken($growi-blue, 20%);
      }
    }
  }
  .link-switch {
    color: $gray;
  }
}
