.login-page {
  // background color
  background:
    linear-gradient(45deg, darken($inverse, 30%)  0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, $growi-green 10%, hsla(225, 95%, 50%, 0) 70%),
    linear-gradient(225deg, $growi-blue  10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, darken($inverse, 25%) 100%, hsla(35, 95%, 55%, 0) 70%);
  #page-wrapper {
    background: none;
  }

  // layout
  #wrapper {
    height: 100vh;

    #page-wrapper {
      height: 80vh;
      display: flex;
      align-items: center;

      .main {
        width: 100vw;

        // flip animation
        .login-dialog.flipper {
          transition: min-height 0.2s;
          &.to-flip {
            min-height: 335px;
          }

          .front, .back {
            backface-visibility: hidden;
            transition: 0.4s;
            transform-style: preserve-3d;
          }
          .front {
            z-index: 2;
          }
          .back {
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
          }
          .back,
          &.to-flip .front {
            transform: rotateY(180deg);
          }
          &.to-flip .back {
            transform: rotateY(0deg);
          }
        }
      }
    }
  }

  .login-header {
    background-color: rgba($white, 0.5);
  }
  .login-dialog {
    background-color: rgba($white, 0.5);
  }

  .input-group {
    margin-bottom: 10px;

    .input-group-addon {
      border: none;
      border-radius: 0;
      color: white;
      background-color: rgba(black, 0.4);
    }
    .form-control {
      border: none;
      color: white;
      background-color: rgba(lighten(black, 10%), 0.4);
      &::placeholder {
        color: rgba($gray-light, 0.6);
      }
    }
  }

  // button style
  .btn-login, .btn-register {
    border: none;
    color: white;
    background-color: rgba(lighten(black, 20%), 0.4);

    .btn-label {
      margin: -8px 20px -8px -20px;
      padding: 9px 15px;
    }
    &:focus {
      border: none;
    }
  }
  .btn-login {
    .btn-label {
      background-color: rgba($danger, 0.4);
    }
    &:after {
      background-color: #7e4153;
    }
  }
  .btn-register {
    .btn-label {
      background-color: rgba($success, 0.4);
    }
    &:after {
      background-color: #3f7263;
    }
  }
}
