.spinner {
  animation: animation-rotate 750ms infinite linear;
}

// refs: https://github.com/weseek/growi/blob/master/apps/app/src/styles/atoms/_spinners.scss
@keyframes animation-rotate {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes animation-rotate {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes animation-rotate {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes animation-rotate {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

