.top-left-part {
  .logo-mark, .logo-text {
    fill: white;
  }
}


/*
 * Button
 */
.btn-default {
  &:hover, &:focus,
  &.active, &.active:hover, &.active:focus {
    color: white;
    background-color: lighten($bodycolor, 5%);
  }
}

/*
  * Form
  */
input.form-control, textarea.form-control {
  color: lighten($bodytext, 30%);
  background-color: darken($bodycolor, 5%);
  border: 1px solid darken($border, 30%);
}
.form-control[disabled], .form-control[readonly] {
  color: lighten($bodytext, 10%);
  background-color: lighten($bodycolor, 5%);
}
.input-group .input-group-addon {
  color: $dark;
  background-color: rgba($topbar, 0.4);
  border: 1px solid darken($border, 30%);
  border-right: none;
}

/*
 * Dropdown
 */
.dropdown-menu {
  background-color: $bodycolor;
  > li > a {
    color: $bodytext;
  }

  .divider {
    background-color: $border;
  }
}

.modal {
  .modal-header {
    .close {
      color: white;
    }
  }
}

/*
 * Panel
 */
.panel {
  &, &.panel-white, &.panel-default {
    .panel-heading, .panel-body {
      color: $light;
    }
  }
}

/*
 * Table
 */
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
 .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td ,
 .table > thead > tr > th, .table-bordered{
     border-top: 1px solid $border;
 }

 .table-bordered > thead > tr > th,
 .table-bordered > tbody > tr > th,
 .table-bordered > tfoot > tr > th,
 .table-bordered > thead > tr > td,
 .table-bordered > tbody > tr > td,
 .table-bordered > tfoot > tr > td {
   border: 1px solid $border;
 }
 .table > thead > tr > th {
     border-bottom: 1px solid $border;
 }

 .table-bordered {
     border: 1px solid $border;
 }


/*
 * GROWI header
 */
.main-container header.affix {
  .logo-mark {
    fill: white;
  }
}

/*
 * GROWI page list
 */
.page-list {
  .page-list-ul {
    > li {
      > a strong {
        color: lighten($bodytext, 25%);
      }
      > span.page-list-meta {
        color: $bodytext;
      }
    }
  }
}

/*
 * GROWI search page
 */
.search-page {
  .input-group-btn {
    .btn-default {
      border: 1px solid darken($border, 30%); // fit to input.form-control
    }
  }
}

/*
 * GROWI on-edit
 */
.page-editor-footer {
  #slack-mark-black {
    display: none;
  }
}

legend {
  border-color: lighten($border, 10%);
}
.wiki {
  h1 {
    border-color: lighten($border, 10%);
  }
  h2 {
    border-color: $border;
  }
}

/*
 * GROWI admin page #themeOptions
 */
.admin-page {
  #themeOptions {
    a.active {
      background-color: darken($themecolor,15%);
      border-color: darken($themecolor,15%);
    }
  }
}

/*
 * GROWI comment form
 */
.comment-form {
  #slack-mark-black {
    display: none;
  }
}
