.top-left-part {
  .logo-mark, .logo-text {
    fill: white;
  }
}

/*
  * Code
  */
code {
  background-color: darken($bodycolor, 5%);
}

/*
  * Form
  */
input.form-control, textarea.form-control {
  color: lighten($bodytext, 30%);
  background-color: darken($bodycolor, 5%);
  border: 1px solid darken($border, 30%);
}
.form-control[disabled], .form-control[readonly] {
  color: lighten($bodytext, 10%);
  background-color: lighten($bodycolor, 5%);
}
/*
 * Form
 */
.input-group .input-group-addon {
  color: $dark;
  background-color: rgba($topbar, 0.4);
  border: 1px solid darken($border, 30%);
  border-right: none;
}

/*
 * Dropdown
 */
.dropdown-menu {
  background-color: $bodycolor;
  > li > a {
    color: $bodytext;
  }
}

.modal {
  .modal-header {
    .close {
      color: white;
    }
  }
}

/*
 * Panel
 */
.panel {
  &, &.panel-white, &.panel-default {
    .panel-heading, .panel-body {
      color: $light;
    }
  }
}

/*
 * Tabs
 */
.nav.nav-tabs {
  border-bottom-color: $border;

  > li > a {
    color:$light;
    &:hover, &:focus {
      color: $light;
    }
  }
  > li.active > a {
    border-top-color: $border;
    border-left-color: $border;
    border-right-color: $border;
  }
  > li:not(.active) > a {
    &:hover, &:focus {
      border-top-color: darken($border, 20%);
      border-left-color: darken($border, 20%);
      border-right-color: darken($border, 20%);
      border-bottom: transparent;
    }
  }
}


/*
 * GROWI header
 */
.main-container header.affix {
  .logo-mark {
    fill: white;
  }
}

/*
 * GROWI page list
 */
.page-list {
  .page-list-ul {
    > li {
      > a strong {
        color: lighten($bodytext, 25%);
      }
      > span.page-list-meta {
        color: $bodytext;
      }
    }
  }
}

/*
 * GROWI search page
 */
.search-page {
  .input-group-btn {
    .btn-default {
      border: 1px solid darken($border, 30%); // fit to input.form-control
    }
  }
}

/*
 * GROWI on-edit
 */
.page-editor-footer {
  #slack-mark-black {
    display: none;
  }
}
