.top-left-part {
  .logo-mark, .logo-text {
    fill: $dark-themecolor;
  }
}

/*
 * Form
 */
.form-control {
  background-color: $bodycolor;
}
.form-control[disabled], .form-control[readonly] {
  color: lighten($bodytext, 10%);
  background-color: darken($bodycolor, 5%);
}

/*
 * Tabs
 */
.nav-tabs > li > a {
  color: $dark;
}


/*
 * GROWI page list
 */
 .page-list {
  .page-list-ul {
    > li {
      > a strong {
        color: darken($bodytext, 20%);
      }
      > span.page-list-meta {
        color: lighten($bodytext, 10%);;
      }
    }
  }
}
