.top-left-part {
  .logo-mark, .logo-text {
    fill: white;
  }
}

/*
  * Code
  */
code {
  background-color: darken($bodycolor, 5%);
}

/*
  * Form
  */
input.form-control, textarea.form-control {
  color: lighten($bodytext, 30%);
  background-color: darken($bodycolor, 5%);
  border: 1px solid darken($border, 30%);
}

/*
 * Dropdown
 */
.dropdown-menu {
  background-color: $bodycolor;
  > li > a {
    color: $bodytext;
  }
}

/*
 * Panel
 */
.panel {
  &, &.panel-white, &.panel-default {
    .panel-heading, .panel-body {
      color: $light;
    }
  }
}

/*
 * Tabs
 */
.nav.nav-tabs {
  border-bottom-color: $border;

  > li > a {
    color:$light;
    &:hover, &:focus {
      color: $light;
    }
  }
  > li.active > a {
    border-top-color: $border;
    border-left-color: $border;
    border-right-color: $border;
  }
  > li:not(.active) > a {
    &:hover, &:focus {
      border-top-color: darken($border, 20%);
      border-left-color: darken($border, 20%);
      border-right-color: darken($border, 20%);
      border-bottom: transparent;
    }
  }
}


/*
 * header
 */
.main-container header.affix {
  .logo-mark {
    fill: white;
  }
}
