.top-left-part {
  .logo-mark, .logo-text {
    fill: $dark-themecolor;
  }
}

.bg-title{
  background: #fafafa;
}

/*
* Form
*/
.form-control {
  background-color: $bodycolor;
}

/*
* Tabs
*/
.nav-tabs > li > a {
  color: $dark;
}
