.top-left-part {
  .logo-mark, .logo-text {
    fill: $themecolor;
  }
}

/*
 * Form
 */
.form-control {
  background-color: $bodycolor;
}
.form-control[disabled], .form-control[readonly] {
  color: lighten($bodytext, 10%);
  background-color: darken($bodycolor, 5%);
}

/*
 * Panel
 */
 .panel {
 &, &.panel-white, &.panel-default {
    border-color: darken($bodycolor,3%);
    .panel-heading {
      color: $headingtext;
      background-color: darken($bodycolor,3%);
      border-bottom:1px solid darken($bodycolor,3%);
   }
  }
}

/*
 * Tabs
 */
 .nav.nav-tabs {
  border-bottom-color: $border;

  > li > a {
    color:$linktext;
    &:hover, &:focus {
      color: $linktext-hover;
    }
  }
  > li.active > a {
    border-top-color: $border;
    border-left-color: $border;
    border-right-color: $border;
  }
  > li:not(.active) > a {
    &:hover, &:focus {
      border-top-color: darken($border, 5%);
      border-left-color: darken($border, 5%);
      border-right-color: darken($border, 5%);
      border-bottom: transparent;
    }
  }
}

/*
 * GROWI header
 */
 .main-container header.affix {
  .logo-mark {
    fill: $white;
  }
}

/*
 * GROWI page list
 */
 .page-list {
  .page-list-ul {
    > li {
      > a strong {
        color: darken($bodytext, 20%);
      }
      > span.page-list-meta {
        color: lighten($bodytext, 10%);;
      }
    }
  }
}

/*
 * GROWI on-edit
 */
 .page-editor-footer {
  #slack-mark-white {
    display: none;
  }
}

.wiki {
  h1 {
    border-color: $border;
  }
  h2 {
    border-color: $border;
  }
}
