@import '../variables';

$topbar:#345;
$sidebar:#fff;
$bodycolor:#fff;
$headingtext: #2b2b2b;
$bodytext: #686868;
$linktext: $inverse;
$linktext-hover: lighten($inverse, 20%);
$sidebar-text:#38495a;
$themecolor:#134;

$primary: $themecolor;

$logo-mark-fill: lighten(desaturate($topbar, 10%), 15%);
$wikilinktext: lighten($themecolor, 20%);
$wikilinktext-hover: darken($wikilinktext, 5%);

@import 'apply-colors';
@import 'apply-colors-light';
