@import '../variables';

$basecolor:#2e343f;

$topbar: #151515;
$sidebar: #101010;
$bodycolor:$basecolor;
$headingtext: lighten($basecolor, 45%);
$bodytext: lighten($basecolor, 35%);
$linktext: lighten($basecolor, 45%);
$linktext-hover: lighten($linktext, 10%);
$sidebar-text:#a6acbc;
$themecolor:#f75b36;
$dark-themecolor:#4F5467;

$primary: $themecolor;
$logo-mark-fill: #444;
$wikilinktext: saturate($bodytext, 20%);
$wikilinktext-hover: darken($wikilinktext, 5%);

$dark: darken($bodytext, 5%);
$border: lighten($basecolor, 15%);

@import 'apply-colors';
@import 'apply-colors-dark';
