@import '../variables';

$topbar:#4F5467;
$sidebar:#4F5467;
$bodycolor:#fff;
$headingtext: #2b2b2b;
$bodytext: #686868;
$linktext: $inverse;
$linktext-hover: lighten($inverse, 20%);
$sidebar-text:#a6acbc;
$themecolor:#f75b36;
$dark-themecolor:#4F5467;

$primary: $topbar;

@import 'apply-colors';
@import 'apply-colors-dark';
