@import '../variables';

$radius: 3px;

$themecolor: #00587A;
$themelight: #F4F5F6;
$subthemecolor: rgb(75, 96, 129);


$topbar: $themecolor;
$sidebar: $themelight;
$bodycolor: $themelight;

$headingtext: $themecolor;
$bodytext: $themecolor;
$linktext: lighten($themecolor,5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: $themecolor;

$primary: $themecolor;
$info: lighten($themecolor,20%);

$logo-mark-fill: lighten(desaturate($topbar, 30%), 20%);
$wikilinktext: lighten($themecolor, 20%);
$wikilinktext-hover: lighten($wikilinktext, 20%);
$inline-code-color: $subthemecolor;
$inline-code-bg: lighten($subthemecolor,70%);

@import 'apply-colors';
@import 'apply-colors-light';


// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    background-color: lighten($themecolor,20%);
    color: $themelight;

    .icon-note, .icon-link {
      color: $themelight;
    }
  }
}
