@import '../variables';

$themecolor:#00363d;

$topbar:#118050;;
$sidebar:#fff;
$bodycolor:#fefffd;

$headingtext: #46694e;
$bodytext: #333333;
$linktext: lighten($themecolor,5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text:#5c7253;
$border: #e9f0de;

$primary: $themecolor;

$logo-mark-fill: lighten(desaturate($topbar, 30%), 20%);
$wikilinktext: lighten($themecolor, 20%);
$wikilinktext-hover: lighten($wikilinktext, 20%);

@import 'apply-colors';
@import 'apply-colors-nature';
