//== GROWI Official Color
$growi-green: #74bc46;
$growi-blue: #175fa5;

//== Marker Color
$grw-marker-yellow: #ff6;
$grw-marker-red: #f6c;
$grw-marker-blue: #6cf;
$grw-marker-cyan: #6ff;
$grw-marker-green: #6f6;
