@use '@growi/core/scss/bootstrap/init' as *;

@use './variables' as var;
@use './theme/mixins/page-editor-mode-manager';
@use './theme/hsl-functions' as hsl;

:root[data-theme='dark']{
  // Theme colors
  --primary: hsl(var(--primary-hs),var(--primary-l)) !important;
  --primary-hs: 36,95%;
  --primary-l: 44%;
  --secondary: hsl(var(--secondary-hs),var(--secondary-l)) !important;
  --secondary-hs: 208,7%;
  --secondary-l: 46%;
  --subthemecolor: hsl(var(--subthemecolor-hs),var(--subthemecolor-l));
  --subthemecolor-hs: 141,25%;
  --subthemecolor-l: 13%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs),var(--bgcolor-global-l));
  --bgcolor-global-hs: 140,24%;
  --bgcolor-global-l: 17%;
  --bgcolor-inline-code: #{$gray-100}; //optional
  --bgcolor-card: #{hsl.darken(var(--bgcolor-global), 5%)};
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary), 50%)};
  --bgcolor-keyword-highlighted: #{darken(var.$grw-marker-red, 30%)};

  // Font colors
  --color-global: hsl(var(--color-global-hs),var(--color-global-l));
  --color-global-hs: 0,0%;
  --color-global-l: 100%;
  --color-reversal: var(--gray-100);
  --color-link: hsl(var(--color-link-hs),var(--color-link-l));
  --color-link-hs: 223,100%;
  --color-link-l: 73%;
  --color-link-hover: #{hsl.lighten(var(--color-link), 12%)};
  --color-link-wiki: var(--color-link);
  --color-link-wiki-hs: var(--color-link-hs);
  --color-link-wiki-l: var(--color-link-l);
  --color-link-wiki-hover: #{hsl.lighten(var(--color-link), 12%)};
  --color-link-nabvar: var(--color-reversal);
  --color-inline-code: var(--subthemecolor);
  --color-search: $dark;

  // List Group colors
  // --color-list: var(--color-global);
  --bgcolor-list: transparent;
  --color-list-hover: var(--color-link);
  // --bgcolor-list-hover: #{hsl.lighten(var(--bgcolor-global), 3%);
  // --color-list-active: var(--color-reversal);
  // --bgcolor-list-active: var(--primary);

  // Table colors
  // --color-table: #; // optional
  --bgcolor-table: var(--bgcolor-global); // optional
  // --border-color-table: #; // optional
  // --color-table-hover: #; // optional
  // --bgcolor-table-hover: #; // optional

  // Navbar
  --bgcolor-navbar: hsl(var(--bgcolor-navbar-hs),var(--bgcolor-navbar-l));
  --bgcolor-navbar-hs: 32,42%;
  --bgcolor-navbar-l: 24%;
  --bgcolor-search-top-dropdown: var(--primary);
  --bgcolor-search-top-dropdown-hs: var(--primary-hs);
  --bgcolor-search-top-dropdown-l: var(--primary-l);
  --border-image-navbar: linear-gradient(to right, #bebebe 0%, #d8d8d8 100%);

  // Logo colors
  --bgcolor-logo: var(--color-global);
  --fillcolor-logo-mark: var(--color-global);

  // Sidebar
  --bgcolor-sidebar: hsl(var(--bgcolor-sidebar-hs),var(--bgcolor-sidebar-l));
  --bgcolor-sidebar-hs: 32,42%;
  --bgcolor-sidebar-l: 34%;
  // 00bgcolor-sidebar-nav-item-active: rgba(#, 0.3); // optional
  --text-shadow-sidebar-nav-item-active: 0px 0px 10px var(--primary); // optional

  // Sidebar resize button
  --color-resize-button: var(--color-global);
  --bgcolor-resize-button: var(--primary);
  --bgcolor-resize-button-hs: var(--primary-hs);
  --bgcolor-resize-button-l: var(--primary-l);
  --color-resize-button-hover: var(--color-global);
  --bgcolor-resize-button-hover: #{hsl.darken(var(--color-global), 5%)};

  // Sidebar contents
  --color-sidebar-context: var(--color-global);
  --color-sidebar-context-hs: var(--color-global-hs);
  --color-sidebar-context-l: var(--color-global-l);
  --bgcolor-sidebar-context: #{hsl.lighten(var(--subthemecolor),8%)};
  --bgcolor-sidebar-context-hs: var(--subthemecolor-hs);
  --bgcolor-sidebar-context-l: calc(var(--subthemecolor-l) + 8%);

  // Sidebar list group
  // --bgcolor-sidebar-list-group: #; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(var(--bgcolor-subnav-hs),var(--bgcolor-subnav-l));
  --bgcolor-subnav-hs: var(--bgcolor-global-hs);
  --bgcolor-subnav-l: calc(var(--bgcolor-global-l) - 3%);

  // Icon colors
  --color-editor-icons: var(--color-global);

  // Border colors
  --border-color-theme: var(--color-global);
  --bordercolor-inline-code: #4d4d4d; // optional

  // admin theme box
  --color-theme-color-box: var(--primary);

  // Navs
  .nav-tabs {
    border-bottom: var(--border-color-theme) 1px solid;
    .nav-link {
      &:hover {
        border-color: #{hsl.lighten(var(--color-global), 10%)};
        border-bottom: none;
      }
      &.active {
        color: var(--color-link);
        background-color: transparent;
        border-color: var(--border-color-theme);
      }
    }
  }

  // Table
  .table {
    color: white;
    background-color: var(--bgcolor-global);
    border-color: var(--border-color-theme);
  }

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(#ffffff, var(--primary), var(--primary), #{hsl.darken(var(--primary), 20%)});
    }
  }
}
