@use '../../styles/variables' as *;
@use '../../styles/bootstrap/variables' as *;
@use '../../styles/theme/mixins/page-editor-mode-manager';

:root .theme-blackboard {
  // Theme colors
  $themecolor: #da8506;
  $themelight: #223729;
  $accentcolor: #739aff;
  $subthemecolor: #192a1f;

  $primary: $themecolor;
  $dark: #223729;

  // Background colors
  $bgcolor-global: $themelight;
  $bgcolor-navbar: #563e23;
  $bgcolor-inline-code: $gray-100; //optional
  $bgcolor-card: darken($themelight, 5%);
  $bgcolor-blinked-section: rgba($primary, 0.5);
  $bgcolor-keyword-highlighted: darken($grw-marker-red, 30%);

  // Font colors
  $color-global: #ffffff;
  $color-reversal: $gray-100;
  $color-link: $accentcolor;
  $color-link-hover: lighten($color-link, 12%);
  $color-link-wiki: $accentcolor;
  $color-link-wiki-hover: lighten($color-link-wiki, 12%);
  $color-link-nabvar: $color-reversal;
  $color-inline-code: $subthemecolor;
  $color-inline-code: #c7254e; // optional
  $color-search: $dark;

  // List Group colors
  // $color-list: $color-global;
  $bgcolor-list: transparent;
  $color-list-hover: $accentcolor;
  // $bgcolor-list-hover: lighten($bgcolor-global, 3%);
  // $color-list-active: $color-reversal;
  // $bgcolor-list-active: $primary;

  // Navbar
  $bgcolor-navbar: #563e23;
  $bgcolor-search-top-dropdown: $themecolor;
  $border-image-navbar: linear-gradient(to right, #bebebe 0%, #d8d8d8 100%);

  // Logo colors
  $bgcolor-logo: $color-global;
  $fillcolor-logo-mark: $color-global;
  // $fillcolor-logo-mark: #4e5a60;

  // Sidebar
  $bgcolor-sidebar: #7b5932;
  // $bgcolor-sidebar-nav-item-active: rgba(#, 0.3); // optional
  $text-shadow-sidebar-nav-item-active: 0px 0px 10px $primary; // optional
  // Sidebar resize button
  $color-resize-button: $color-global;
  $bgcolor-resize-button: $primary;
  $color-resize-button-hover: $color-global;
  $bgcolor-resize-button-hover: darken($bgcolor-resize-button, 5%);
  // Sidebar contents
  $bgcolor-sidebar-context: lighten($subthemecolor, 8%);
  $color-sidebar-context: $color-global;
  // Sidebar list group
  // $bgcolor-sidebar-list-group: #; // optional

  // Icon colors
  $color-editor-icons: $color-global;

  // Border colors
  $border-color-theme: $color-global;
  $bordercolor-inline-code: #4d4d4d; // optional

  // Dropdown colors
  $color-dropdown-link-active: $color-global;
  $color-dropdown-link-hover: $color-reversal;

  // admin theme box
  $color-theme-color-box: $primary;

  @import '../../styles/theme/apply-colors';
  @import '../../styles/theme/apply-colors-dark';

  // Navs
  .nav-tabs {
    border-bottom: $border-color-theme 1px solid;
    .nav-link {
      &:hover {
        border-color: lighten($border-color-theme, 10%);
        border-bottom: none;
      }
      &.active {
        color: $color-link;
        background-color: transparent;
        border-color: $border-color-theme;
      }
    }
  }

  // Table
  .table {
    color: white;
    background-color: $themelight;
    border-color: $border-color-theme;
  }

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(#ffffff, $primary, $primary, darken($primary, 20%));
    }
  }
}
