@use '@growi/core/scss/bootstrap/init' as bs;

@use './variables' as var;
@use './theme/mixins/page-editor-mode-manager';
@use './theme/hsl-functions' as hsl;

.growi:not(.login-page) {
  // add background-image
  .page-editor-preview-container {
    background-image: url('../images/christmas/christmas.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}

//== Light Mode
//
:root[data-bs-theme='light'] {
  --primary: hsl(var(--primary-hs),var(--primary-l)) !important;
  --primary-hs: 53,56%;
  --primary-l: 61%;
  --secondary: hsl(var(--secondary-hs),var(--secondary-l)) !important;
  --secondary-hs: 208,7%;
  --secondary-l: 46%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs),var(--bgcolor-global-l));
  --bgcolor-global-hs: 0,0%;
  --bgcolor-global-l: 100%;
  --bgcolor-card: #{bs.$gray-100};
  --bgcolor-inline-code: #{bs.$gray-100}; //optional
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary),50%)};
  //--bgcolor-keyword-highlighted: #{$grw-marker-yellow};

  // Font colors
  --color-global: hsl(var(--color-global-hs),var(--color-global-l));
  --color-global-hs: 214,60%;
  --color-global-l: 17%;
  --color-reversal: #{bs.$gray-100};
  --color-link: hsl(var(--color-link-hs),var(--color-link-l));
  --color-link-hs: 117,51%;
  --color-link-l: 35%;
  --color-link-hover: #{hsl.lighten(var(--color-link), 15%)};
  --color-link-nabvar: var(--color-reversal);
  --color-link-wiki: #{hsl.lighten(var(--color-link), 5%)};
  --color-link-wiki-hs: var(--color-link-hs);
  --color-link-wiki-l: calc(var(--color-link-l) + 5%);
  --color-link-wiki-hover: #{hsl.lighten(var(--color-link), 20%)};
  --color-inline-code: #c7254e; // optional
  --color-modal-header: var(--bgcolor-global);

  // Table colors
  --border-color-table: #{bs.$gray-400}; // optional

  // List Group colors
  // --color-list: var(--color-global);
  --bgcolor-list: transparent;
  // --color-list-hover: var(--color-reversal);
  --color-list-active: var(--bgcolor-global);
  --bgcolor-list-active: var(--bgcolor-navbar);

  // Navbar
  --bgcolor-navbar: hsl(var(--bgcolor-navbar-hs),var(--bgcolor-navbar-l));
  --bgcolor-navbar-h: 356;
  --bgcolor-navbar-s: 100%;
  --bgcolor-navbar-l: 35%;
  --bgcolor-navbar-hs: var(--bgcolor-navbar-h),var(--bgcolor-navbar-s);
  --bgcolor-search-top-dropdown: var(--primary);
  --bgcolor-search-top-dropdown-hs: var(--primary-hs);
  --bgcolor-search-top-dropdown-l: var(--primary-l);
  --border-color-navbar-gradient-left: #545fff;
  --border-color-navbar-gradient-right: #00a6e5;
  --border-image-navbar: linear-gradient(to right, var(--primary) 0%, var(--color-link) 100%);

  // Logo colors
  --bgcolor-logo: var(--bgcolor-navbar);
  --fillcolor-logo-mark: hsl(var(--bgcolor-navbar-h),calc(var(--bgcolor-navbar-s) - 50%),calc(var(--bgcolor-navbar-l) + 50%));

  // Sidebar
  --bgcolor-sidebar: var(--color-link);
  --bgcolor-sidebar-hs: var(--color-link-hs);
  --bgcolor-sidebar-l: var(--color-link-l);
  --bgcolor-sidebar-nav-item-active: rgba(black, 0.37); // optional
  --text-shadow-sidebar-nav-item-active: 0px 0px 10px var(--primary); // optional

  // Sidebar resize button
  --color-resize-button: var(--color-reversal);
  --bgcolor-resize-button: var(--primary);
  --bgcolor-resize-button-hs: var(--primary-hs);
  --bgcolor-resize-button-l: var(--primary-l);
  --color-resize-button-hover: var(--color-reversal);
  --bgcolor-resize-button-hover: #{hsl.lighten(var(--primary), 5%)};

  // Sidebar contents
  --color-sidebar-context: var(--color-link);
  --color-sidebar-context-hs: var(--color-link-hs);
  --color-sidebar-context-l: var(--color-link-l);
  --bgcolor-sidebar-context: hsl(var(--bgcolor-sidebar-context-hs),var(--bgcolor-sidebar-context-l));
  --bgcolor-sidebar-context-hs: 135,57%;
  --bgcolor-sidebar-context-l: 97%;

  // Sidebar list group
  --bgcolor-sidebar-list-group: #fafbff; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(var(--bgcolor-subnav-hs),var(--bgcolor-subnav-l));
  --bgcolor-subnav-hs: var(--bgcolor-global-hs);
  --bgcolor-subnav-l: calc(var(--bgcolor-global-l) - 3%);

  // Icon colors
  --color-editor-icons: var(--color-global);  --color-editor-icons: var(--color-global);

  // Border colors
  --border-color-theme: #{bs.$gray-300}; // former: `$navbar-border: $gray-300;`
  --bordercolor-inline-code: #ccc8c8; // optional

  // Dropdown colors
  --bgcolor-dropdown-link-active: var(--bgcolor-navbar);

  // admin theme box
  --color-theme-color-box: #{hsl.lighten(var(--bgcolor-navbar), 20%)};

  &, body {
    background-image: url('../images/christmas/christmas.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  // change color of highlighted header in wiki (default: orange)

  .sidebar {
    background: var(--bgcolor-navbar);
  }

  .rbt-menu {
    background: var(--bgcolor-global);
  }

  .page-editor-preview-container {
    background-image: url('../images/christmas/christmas.jpg');
    background-attachment: fixed;
    background-size: cover;
  }

  // login page
  .nologin {
    .input-group {
      .input-group-text {
        color: bs.$gray-700;
        background-color: rgba(darken(white, 20%), 0.6);
      }
      .form-control {
        color: bs.$gray-700;
        background-color: rgba(white, 0.6);
      }
    }

    .page-wrapper{
      .nologin-header,
      .nologin-dialog {
        background-color: rgba(#ccc, 0.5);
        a.link-switch {
          color: #bd3425;
        }
      }
      .grw-external-auth-form {
        border-color: #aaa;
      }
    }
  }

  /*
  * Modal
  */
  .modal-dialog .modal-header.bg-primary {
    background-image: url('../images/christmas/christmas-navbar.jpg');
    border-bottom: 2px solid var(--color-link);
  }

  /*
  * Card
  */
  .card {
    &.border-primary {
      border-color: var(--bgcolor-navbar) !important;
    }
    .card-header.bg-primary {
      color: white;
      background-image: url('../images/christmas/christmas-navbar.jpg') !important;
    }
  }

  .grw-navbar {
    background-image: url('../images/christmas/christmas-navbar.jpg');
  }

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(#{hsl.darken(var(--color-link), 15%)}, #{hsl.lighten(var(--color-link), 35%)}, #{hsl.lighten(var(--color-link), 45%)});
    }
  }

}
