@use './variables' as *;
@use './bootstrap/variables' as *;
@use './theme/mixins/page-editor-mode-manager';

// == Define Bootstrap theme colors
//

// colors for overriding bootstrap $theme-colors
// $secondary: #;
// --info: #;
// --success: #;
// --warning: #;
// --danger: #;
// $light: #;
// $dark: #;

//== Light Mode
//
:root[data-theme='light'] {
  --primary: #122c55;
  $accent: #209fd8;

  // Background colors
  --bgcolor-global: white;
  --body-bg: var(--bgcolor-global);
  $bgcolor-inline-code: $gray-100; //optional
  --bgcolor-card: #{$gray-50};
  $bgcolor-blinked-section: rgba($primary, 0.1);
  //$bgcolor-keyword-highlighted: $grw-marker-yellow;

  // Font colors
  --color-global: #112744;
  --body-color: var(--color-global);
  $color-reversal: $light;
  // $color-header: #2b2b2b;
  --color-link: #1938ba;
  --link-color: var(--color-link);
  --link-hover-color: var(--color-link-hover);
  --color-link-hover: hsl(from var(--color-link) h s calc(l + 20%));
  --color-link-wiki: var(--color-link);
  --color-link-wiki-hover:  hsl(from var(--color-link-wiki) h s calc(l + 20%));
  --color-link-nabvar: #{$gray-500};
  $color-inline-code: darken($red, 15%); // optional

  // List Group colors
  --color-list: var(--color-global); // optional
  --bgcolor-list: var(--bgcolor-global); // optional
  // --color-list-hover: va(--color-global); // optional
  --bgcolor-list-hover: hsl(from var(--bgcolor-global) h s calc(l + 3%)); // optional
  // --color-list-active:white ; // optional
  // $bgcolor-list-active: $primary; // optional

  // Table colors
  // --color-table: #; // optional
  // --bgcolor-table: #; // optional
  // --border-color-table: #; // optional
  // --color-table-hover: #; // optional
  // --bgcolor-table-hover: #; // optional

  // Navbar
  --bgcolor-navbar: #{$gray-900};
  $bgcolor-search-top-dropdown: $accent;
  $border-image-navbar: linear-gradient(to right, #36c9ff 0%, #36c9ff 33%, #7926ff 66%, #ff2eff 100%);

  // Logo colors
  --bgcolor-logo: var(--bgcolor-navbar);
  --fillcolor-logo-mark:hsl(from var(--bgcolor-navbar) h s calc(l + 15%));

  // Sidebar
  --bgcolor-sidebar: var(--primary);
  $bgcolor-sidebar: #122c55;
  --bgcolor-sidebar-nav-item-active: rgba(black, 0.37); // optional
  --text-shadow-sidebar-nav-item-active: 0px 0px 10px #0099ff; // optional
  // Sidebar resize button
  $color-resize-button: $color-reversal;
  $bgcolor-resize-button: $accent;
  $color-resize-button-hover: $color-reversal;
  $bgcolor-resize-button-hover: lighten($bgcolor-resize-button, 5%);
  // Sidebar contents
  --color-sidebar-context: var(--color-global);

  // Sidebar list group
  --bgcolor-sidebar-list-group: #{$gray-50}; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(from var(--bgcolor-global) h s calc(l - 3%));

  // Tabs
  // $color-nav-tabs-link-active: #; //optional
  // $bordercolor-nav-tabs-hover: # # $bordercolor-nav-tabs; // optional
  // $bordercolor-nav-tabs-active: # # --bgcolor-global; // optional

  // Tags
  // $color-tags: #; //optional
  // $bgcolor-tags: #; //optional

  // Icon colors
  --color-editor-icons: var(--color-global);

  // Border colors
  $border-color-theme: $gray-400;
  $bordercolor-inline-code: $gray-400; // optional

  // Dropdown colors
  --bgcolor-dropdown-link-active: $growi-blue;

  // admin theme box
  $color-theme-color-box: lighten($primary, 20%);

  @import './theme/apply-colors';
  @import './theme/apply-colors-light';

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(primary, lighten($primary, 65%), lighten($primary, 70%));
    }
  }
}

//== Dark Mode
//
:root[data-theme='dark'] {
  --primary: #115cd3;
  $accent: #db00c2;

  // Background colors
  --bgcolor-global: #131418;
  $bgcolor-inline-code: #1f1f22; //optional
  --bgcolor-card: hsl(from var(--bgcolor-global) h s calc(l - 5%));
  $bgcolor-blinked-section: rgba($primary, 0.4);
  $bgcolor-keyword-highlighted: darken($grw-marker-red, 30%);

  // Font colors
  --color-global: #{$gray-400};
  $color-global: var(--color-global);
  $color-reversal: $gray-900;
  // $color-header: desaturate($primary, 20%);
  --color-link: #7b9ad5;
  --color-link-hover: hsl(from var(--color-link) h s calc(l + 10%));
  --color-link-wiki: var(--color-link);
  --color-link-wiki-hover: hsl(from var(--color-link-wiki) h s calc(l + 10%));
  --color-link-nabvar: #a7a7a7;
  --color-inline-code: #c7254e; // optional

  // List Group colors
  --color-list: var(--color-global); // optional
  --bgcolor-list: var(--bgcolor-global); // optional
  // --color-list-hover: va(--color-global); // optional
  --bgcolor-list-hover: hsl(from var(--bgcolor-global) h s calc(l + 3%)); // optional
  // --color-list-active:white ; // optional
  // $bgcolor-list-active: $primary; // optional

  // Table colors
  // --color-table: #; // optional
  // --bgcolor-table: #; // optional
  // --border-color-table: #; // optional
  // --color-table-hover: #; // optional
  // --bgcolor-table-hover: #; // optional

  // Navbar
  --bgcolor-navbar: #2a2929;
  $bgcolor-search-top-dropdown: $accent;
  $border-image-navbar: linear-gradient(to right, #44bfe3 0%, #b04aff 50%, #ff1794 100%);

  // Logo colors
  --bgcolor-logo: var(--bgcolor-navbar);
  --fillcolor-logo-mark: #{$gray-700};

  // Sidebar
  --bgcolor-sidebar: #122c55;
  $bgcolor-sidebar: #122c55;
  --bgcolor-sidebar-nav-item-active: rgba(#969494, 0.3); // optional
  --text-shadow-sidebar-nav-item-active: 0px 0px 10px #0099ff; // optional
  // Sidebar resize button
  $color-resize-button: white;
  $bgcolor-resize-button: $accent;
  $color-resize-button-hover: white;
  $bgcolor-resize-button-hover: darken($bgcolor-resize-button, 5%);
  // Sidebar contents
  --color-sidebar-context: var(--color-global);

  // Sidebar list group
  --bgcolor-sidebar-list-group: #1c2a3e; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(from var(--bgcolor-global) h s calc(l - 3%)); // optional

  // Tabs
  $bordercolor-nav-tabs: $gray-700; // optional
  // $color-nav-tabs-link-active: #; //optional
  $bordercolor-nav-tabs-hover: #666 #666 $bordercolor-nav-tabs; // optional
  // $bordercolor-nav-tabs-active: # # var(--bgcolor-global); // optional

  // Tags
  // $color-tags: #; //optional
  // $bgcolor-tags: #; //optional

  // Icon colors
  --color-editor-icons: var(--color-global);

  // Border colors
  $border-color-theme: $gray-400;
  $bordercolor-inline-code: $secondary; // optional

  // admin theme box
  $color-theme-color-box: $primary;

  @import './theme/apply-colors';
  @import './theme/apply-colors-dark';

  //Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(lighten($primary, 30%), lighten($primary, 20%), $primary, darken($primary, 20%));
    }
  }
}
