@use '@growi/core/scss/bootstrap/init' as bs;

@use './variables' as var;
@use './theme/mixins/page-editor-mode-manager';
@use './theme/hsl-functions' as hsl;

:root[data-bs-theme='light'] {
  // Theme colors
  --primary: hsl(var(--primary-hs),var(--primary-l)) !important;
  --primary-hs: 11,81%;
  --primary-l: 56%;
  --secondary: hsl(var(--secondary-hs),var(--secondary-l)) !important;
  --secondary-hs: 208,7%;
  --secondary-l: 46%;
  --accentcolor: hsl(var(--accentcolor-hs),var(--accentcolor-l));
  --accentcolor-hs: 0,0%;
  --accentcolor-l: 75%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs),var(--bgcolor-global-l));
  --bgcolor-global-hs: 0,0%;
  --bgcolor-global-l: 100%;
  --bgcolor-inline-code: #{bs.$gray-100}; //optional
  --bgcolor-card: var(--accentcolor);
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary),10%)};
  //--bgcolor-keyword-highlighted: #{$grw-marker-yellow};

  // Font colors
  --color-global: hsl(var(--color-global-hs),var(--color-global-l));
  --color-global-hs: 0,0%;
  --color-global-l: 17%;
  --color-reversal: #{bs.$gray-100};
  --color-link: var(--primary);
  --color-link-hs: var(--primary-hs);
  --color-link-l: var(--primary-l);
  --color-link-hover: #{hsl.lighten(var(--primary), 12%)};
  --color-link-wiki: var(--primary);
  --color-link-wiki-hs: var(--primary-hs);
  --color-link-wiki-l: var(--primary-l);
  --color-link-wiki-hover: #{hsl.lighten(var(--primary), 12%)};
  --color-link-nabvar: var(--color-reversal);
  --color-inline-code: #c7254e; // optional
  --color-search: var(--color-global);

  // List Group colors
  // --color-list: var(--color-global);
  --bgcolor-list: transparent;
  --color-list-hover: var(--color-global);
  --bgcolor-list-hover: #{hsl.darken(var(--bgcolor-global),3%)};
  // --color-list-active: var(--color-reversal);
  // --bgcolor-list-active: var(--primary);

  // Navbar
  --bgcolor-navbar: var(--color-global);
  --bgcolor-navbar-hs: var(--color-global-hs);
  --bgcolor-navbar-l: var(--color-global-l);
  --bgcolor-search-top-dropdown: var(--primary);
  --bgcolor-search-top-dropdown-hs: var(--primary-hs);
  --bgcolor-search-top-dropdown-l: var(--primary-l);
  --border-image-navbar: linear-gradient(to right, var(--primary) 0%, #{hsl.darken(var(--primary), 5%)} 100%);

  // Logo colors
  --bgcolor-logo: var(--bgcolor-global);
  --fillcolor-logo-mark: var(--bgcolor-global);

  // Sidebar
  --bgcolor-sidebar: var(--accentcolor);
  --bgcolor-sidebar-hs: var(--accentcolor-hs);
  --bgcolor-sidebar-l: var(--accentcolor-l);
  // --bgcolor-sidebar-nav-item-active: rgba(#, 0.37); // optional
  --text-shadow-sidebar-nav-item-active: 0px 0px 10px #ffffff; // optional

  // Sidebar resize button
  --color-resize-button: #ffffff;
  --bgcolor-resize-button: var(--primary);
  --bgcolor-sidebar-context-hs: var(--primary-hs);
  --bgcolor-sidebar-context-l: var(--primary-l);
  --color-resize-button-hover: var(--color-reversal);
  --bgcolor-resize-button-hover: #{hsl.lighten(var(--primary), 5%)};

  // Sidebar contents
  --color-sidebar-context: var(--color-global);
  --color-sidebar-context-hs: var(--color-global-hs);
  --color-sidebar-context-l: var(--color-global-l);
  --bgcolor-sidebar-context: hsl(var(--bgcolor-sidebar-context-hs),var(--bgcolor-sidebar-context-l));
  --bgcolor-sidebar-context-hs: 0,0%;
  --bgcolor-sidebar-context-l: 93%;

  // Sidebar list group
  // --bgcolor-sidebar-list-group: #; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(var(--bgcolor-subnav-hs),var(--bgcolor-subnav-l));
  --bgcolor-subnav-hs: var(--bgcolor-global-hs);
  --bgcolor-subnav-l: calc(var(--bgcolor-global-l) - 3%);

  // Icon colors
  --color-editor-icons: var(--color-global);

  // Border colors
  --border-color-theme: var(--primary);
  --bordercolor-inline-code: #ccc8c8; // optional

  // admin theme box
  --color-theme-color-box: var(--primary);

  // Navs {
  .nav-tabs {
    border-bottom: var(--primary) 1px solid;
    .nav-link {
      &:hover {
        border-color: #{hsl.lighten(var(--primary), 10%)};
        border-bottom: none;
      }
      &.active {
        background-color: transparent;
      }
    }
  }

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(#ffffff, var(--primary), var(--primary), #{hsl.lighten(var(--primary), 20%)});
    }
  }

  .grw-global-search .btn-secondary.dropdown-toggle {
    color: white;
  }

  .btn-primary {
    color:white !important;
  }
}

:root[data-bs-theme='dark'] {
  // Theme colors
  --primary: hsl(var(--primary-hs),var(--primary-l)) !important;
  --primary-hs: 11,81%;
  --primary-l: 56%;
  --secondary: hsl(var(--secondary-hs),var(--secondary-l)) !important;
  --secondary-hs: 208,7%;
  --secondary-l: 46%;
  --accentcolor: hsl(var(--accentcolor-hs),var(--accentcolor-l));
  --accentcolor-hs: 0,0%;
  --accentcolor-l: 13%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs),var(--bgcolor-global-l));
  --bgcolor-global-hs: 0,0%;
  --bgcolor-global-l: 20%;
  --bgcolor-inline-code: #{bs.$gray-100}; //optional
  --bgcolor-card: #{hsl.darken(var(--bgcolor-global), 5%)};
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary),50%)};
  --bgcolor-keyword-highlighted: #{darken(var.$grw-marker-red, 30%)};

  // Font colors
  --color-global: hsl(var(--color-global-hs),var(--color-global-l));
  --color-global-hs: 0,0%;
  --color-global-l: 100%;
  --color-reversal: #{bs.$gray-100};
  --color-link: var(--primary);
  --color-link-hs: var(--primary-hs);
  --color-link-l: var(--primary-l);
  --color-link-hover: #{hsl.lighten(var(--color-link),12%)};
  --color-link-wiki: var(--primary);
  --color-link-wiki-hs: var(--primary-hs);
  --color-link-wiki-l: var(--primary-l);
  --color-link-wiki-hover: #{hsl.lighten(var(--color-link),12%)};
  --color-link-nabvar: var(--color-reversal);
  --color-inline-code: #c7254e; // optional
  --color-search: #a7a7a7;

  // List Group colors
  // --color-list: var(--color-global);
  --bgcolor-list: transparent;
  --color-list-hover: var(--accentcolor);
  // --bgcolor-list-hover: #{hsl.darken(var(--bgcolor-global),3%)};// optional
  // --color-list-active: white ; // optional
  // --bgcolor-list-active: #{hsl.lighten(var(--bgcolor-global),3%)}; // optional

  // Navbar
  --bgcolor-navbar: hsl(var(--bgcolor-navbar-hs),var(--bgcolor-navbar-l));
  --bgcolor-navbar-hs: 0,0%;
  --bgcolor-navbar-l: 17%;
  --bgcolor-search-top-dropdown: var(--primary);
  --bgcolor-search-top-dropdown-hs: var(--primary-hs);
  --bgcolor-search-top-dropdown-l: var(--primary-l);
  --border-image-navbar: linear-gradient(to right, #ea5532 0%, #c9171e 100%);

  // Logo colors
  --bgcolor-logo: var(--color-global);
  --fillcolor-logo-mark: var(--color-global);
  // --fillcolor-logo-mark: #4e5a60;

  // Sidebar
  --bgcolor-sidebar: var(--accentcolor);
  --bgcolor-sidebar-hs: var(--accentcolor-hs);
  --bgcolor-sidebar-l: var(--accentcolor-l);
  // --bgcolor-sidebar-nav-item-active: rgba(#, 0.3); // optional
  --text-shadow-sidebar-nav-item-active: 0px 0px 10px var(--primary); // optional

  // Sidebar resize button
  --color-resize-button: var(--color-global);
  --bgcolor-resize-button: var(--primary);
  --bgcolor-resize-button-hs: var(--primary-hs);
  --bgcolor-resize-button-l: var(--primary-l);
  --color-resize-button-hover: var(--color-global);
  --bgcolor-resize-button-hover: #{hsl.darken(var(--primary), 5%)};

  // Sidebar contents
  --color-sidebar-context: var(--color-global);
  --color-sidebar-context-hs: var(--color-global-hs);
  --color-sidebar-context-l: var(--color-global-l);
  --bgcolor-sidebar-context: hsl(var(--bgcolor-sidebar-context-hs),var(--bgcolor-sidebar-context-l));
  --bgcolor-sidebar-context-hs: 0,2%;
  --bgcolor-sidebar-context-l: 25%;

  // Sidebar list group
  // --bgcolor-sidebar-list-group: #; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(var(--bgcolor-subnav-hs),var(--bgcolor-subnav-l));
  --bgcolor-subnav-hs: var(--bgcolor-global-hs);
  --bgcolor-subnav-l: calc(var(--bgcolor-global-l) - 3%);

  // Icon colors
  --color-editor-icons: var(--color-global);

  // Border colors
  --border-color-theme: var(--primary);
  --bordercolor-inline-code: #4d4d4d; // optional

  // admin theme box
  --color-theme-color-box: var(--primary);

  // Navs
  .nav-tabs {
    border-bottom: var(--primary) 1px solid;
    .nav-link {
      &:hover {
        border-color: #{hsl.lighten(var(--primary), 10%)};
        border-bottom: none;
      }
      &.active {
        color: var(--primary);
        background-color: transparent;
        border-color: var(--primary);
      }
    }
  }

  // Table
  .table {
    color: white;
  }

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(#ffffff, var(--primary), var(--primary), #{hsl.darken(var(--primary), 20%)});
    }
  }

  .grw-global-search .btn-secondary.dropdown-toggle {
    color: white;
  }

  .btn-primary {
    color:white !important;
  }

}
