@use '../../bootstrap/init' as bs;
@use '../hsl-functions' as hsl;

// @mixin badge-variant($bg) {
@mixin badge-variant($bg) {
  color: hsl.contrast($bg);
  background-color: $bg;

  @at-root a#{&} {
    @include bs.hover-focus() {
      color: hsl.contrast($bg);
      background-color: hsl.darken($bg, 10%);
    }

    &:focus,
    &.focus {
      outline: 0;
      // box-shadow: 0 0 0 $badge-focus-width hsl.alpha($bg, 50%);
    }
  }
}
