@mixin override-list-group-item($color, $bgcolor, $color-hover: $color, $bgcolor-hover: $bgcolor, $color-active: $color, $bgcolor-active: $bgcolor) {
  .list-group {
    .list-group-item {
      color: $color;
      background-color: $bgcolor;
      border-color: $border-color-global;

      &.list-group-item-action {
        &:hover {
          background-color: $bgcolor-hover;
        }
        &.active {
          color: $color-active;
          background-color: $bgcolor-active;
        }
      }
    }
  }
}

@mixin override-list-group-item-for-pagetree(
  $color,
  $bgcolor,
  $color-hover: $color,
  $bgcolor-hover: $bgcolor,
  $color-active: $color,
  $bgcolor-active: $bgcolor,
  $button-color
) {
  .grw-pagetree-is-over {
    background: $bgcolor-hover;
  }
  .list-group-item {
    color: $color;
    background-color: transparent;
    border-color: $border-color-global;

    &.grw-pagetree-is-target {
      background: $bgcolor-hover;
    }
    .grw-pagetree-count {
      background: $bgcolor;
    }
    .grw-pagetree-button {
      &:not(:hover) {
        svg {
          fill: $button-color;
        }
      }
    }

    &.list-group-item-action {
      &:hover {
        background-color: $bgcolor-hover;
      }
      &.active {
        background-color: $bgcolor-active;
      }
    }
  }
}
