@use '@growi/core/scss/bootstrap/init' as bs;

@use '../mixins';

// define disabled button w/o pointer-events, see _override-bootstrap.scss
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  &.grw-pointer-events-none {
    pointer-events: none;
  }
}

%btn-register {
  --bs-btn-bg: #{rgba(bs.$success, 0.4)};
  --bs-btn-hover-bg: #{rgba(bs.$success, 0.8)};
  --bs-btn-active-bg: #{rgba(bs.$success, 0.8)};
}
