  <div class="modal" id="deletePage">
    <div class="modal-dialog">
      <div class="modal-content">

      <form role="form" id="delete-page-form" onsubmit="return false;">

        <div class="modal-header {% if page.isDeleted() %}bg-danger{% endif %}">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-title">
            {% if page.isDeleted() %}
            <i class="icon-fw icon-fire"></i> {{ t('modal_delete.label.Delete completely') }}
            {% else %}
            <i class="icon-fw icon-trash"></i> {{ t('modal_delete.label.Delete Page') }}
            {% endif %}
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">Deleting page:</label><br>
            <code>{{ page.path }}</code>
          </div>

          <hr>

          <div class="checkbox checkbox-warning">
            <input name="recursively" id="cbDeleteRecursively" value="1" type="checkbox" checked>
            <label for="cbDeleteRecursively">{{ t('modal_delete.label.Delete recursively') }}</label>
            <p class="help-block"> {{ t('modal_delete.help.recursively', page.path) }}
            </p>
          </div>
          {% if not page.isDeleted() %}
          <div class="checkbox checkbox-danger">
          <input name="completely" id="cbDeleteCompletely" {% if !user.canDeleteCompletely() %} disabled="disabled" {% endif %} value="1"  type="checkbox">
            <label for="cbDeleteCompletely" class="text-danger">{{ t('modal_delete.label.Delete completely') }}</label>
            <!-- GC-1755 Change Sentence -->
            {% if !user.canDeleteCompletely() %}
              <p class="bg-danger text-white p-2 mt-2"> <i class="icon-ban" ></i> 完全削除の権限がありません </p>
            {% else %}
            <p class="help-block"> {{ t('modal_delete.help.completely') }}</p>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-between">
            {% include '../widget/modal/page-api-error-messages.html' %}
            <div>
              <input type="hidden" name="_csrf" value="{{ csrf() }}">
              <input type="hidden" name="path" value="{{ page.path }}">
              <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
              <input type="hidden" name="revision_id" value="{{ page.revision._id.toString() }}">
              {% if page.isDeleted() %}
                <input type="hidden" name="completely" value="true">
                <button type="submit" class="m-l-10 btn btn-sm btn-danger delete-button">
                  <i class="icon-fire" aria-hidden="true"></i>
                  {{ t('Delete Completely') }}
                </button>
              {% else %}
                <button type="submit" class="m-l-10 btn btn-sm btn-default delete-button">
                  <i class="icon-trash" aria-hidden="true"></i>
                  {{ t('Delete') }}
                </button>
              {% endif %}
            </div>
          </div>
        </div><!-- /.modal-footer -->

      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
