<div class="modal" id="emptyTrash">
  <div class="modal-dialog">
    <div class="modal-content">

    <form role="form" id="empty-trash-form" onsubmit="return false;">

      <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title">
          <i class="icon-fw icon-trash"></i>  {{ t('modal_empty.empty_the_trash') }}
        </div>
      </div>
      <div class="modal-body">
        <ul>
          {% for data in pages %}
            {% if pagePropertyName %}
              {% set deletePage = data[pagePropertyName] %}
            {% else %}
              {% set deletePage = data %}
            {% endif %}
            <li>
              <img src="{{ deletePage.lastUpdateUser|picture }}" class="picture img-circle">
              <a href="{{ deletePage.path }}"
                class="page-list-link"
                data-path="{{ deletePage.path }}">{{ decodeURIComponent(deletePage.path) }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <div class="d-flex justify-content-end">
          {% include '../widget/modal/page-api-error-messages.html' %}
          <div>
            <input type="hidden" name="_csrf" value="{{ csrf() }}">
            <button type="submit" class="m-l-10 btn btn-danger delete-button">
              <i class="icon-trash" aria-hidden="true"></i>
              Empty
            </button>
          </div>
        </div>
      </div><!-- /.modal-footer -->

    </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
