  <div class="modal" id="renamePage">
    <div class="modal-dialog">
      <div class="modal-content">

      <form role="form" id="renamePageForm" onsubmit="return false;">

        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-title">{{ t('Rename page') }}</div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">{{ t('Current page name') }}</label><br>
            <code>{{ page.path }}</code>
          </div>
          <div class="form-group">
            <label for="newPageName">{{ t('New page name') }}</label><br>
            <div class="input-group">
              <span class="input-group-addon">{{ config.crowi['app:siteUrl:fixed'] }}</span>
              <input type="text" class="form-control" name="new_path" id="newPageName" value="{{ page.path }}">
            </div>
          </div>
          <div class="checkbox checkbox-warning">
            <input name="move_recursively" id="cbRecursively" value="1" type="checkbox" checked>
            <label for="cbRecursively">{{ t('modal_rename.label.Move recursively') }}</label>
            <p class="help-block"> {{ t('modal_rename.help.recursive', page.path) }}
            </p>
          </div>
          <div class="checkbox checkbox-info">
            <input name="create_redirect" id="cbRedirect" value="1"  type="checkbox">
              <label for="cbRedirect">{{ t('modal_rename.label.Redirect') }}</label>
              <p class="help-block"> {{ t('modal_rename.help.redirect', page.path) }}
              </p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-between">
            <p>
              <span class="text-danger msg msg-notfound_or_forbidden">
                <strong><i class="icon-fw icon-ban"></i>{{ t('page_api_error.notfound_or_forbidden') }}</strong>
              </span>
              <span class="text-danger msg msg-already_exists">
                <strong><i class="icon-fw icon-ban"></i>{{ t('page_api_error.already_exists') }}</strong>
                <small id="linkToNewPage"></small>
              </span>
            </p>
            <div>
              <input type="hidden" name="_csrf" value="{{ csrf() }}">
              <input type="hidden" name="path" value="{{ page.path }}">
              <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
              <input type="hidden" name="revision_id" value="{{ page.revision._id.toString() }}">
              <button type="submit" class="btn btn-primary">Rename</button>
            </div>
          </div>
        </div>

      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
