  <div class="modal" id="renamePage">
    <div class="modal-dialog">
      <div class="modal-content">

      <form role="form" id="renamePageForm" onsubmit="return false;">

        <!-- <div class="modal-header bg-primary text-light">
          <div class="modal-title">{{ t('modal_rename.label.Move/Rename page') }}</div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="">{{ t('modal_rename.label.Current page name') }}</label><br>
            <code>{{ page.path }}</code>
          </div>
          <div class="form-group">
            <label for="newPageName">{{ t('modal_rename.label.New page name') }}</label><br>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">{{ baseUrl }}</span>
              </div>
              {% if isSearchServiceConfigured() %}
              <div id="rename-page-name-input" class="page-name-input flex-fill"></div>
              {% else %}
              <input type="text" class="form-control" name="new_path" id="newPageName" value="{{ page.path }}">
              {% endif %}
            </div>
          </div>

          <hr>

          {% if page.grant != 2 %}
          <div class="custom-control custom-checkbox custom-checkbox-warning">
            <input class="custom-control-input" name="recursively" id="cbRenameRecursively" value="1" type="checkbox" checked　>
            <label class="custom-control-label" for="cbRenameRecursively">
              {{ t('modal_rename.label.Recursively') }}
              <p class="form-text text-muted mt-0">{{ t('modal_rename.help.recursive', page.path) }}</p>
            </label>
          </div>
          {% endif %}

          <div class="custom-control custom-checkbox custom-checkbox-success">
            <input class="custom-control-input" name="create_redirect" id="cbRenameRedirect" value="1" type="checkbox">
            <label class="custom-control-label" for="cbRenameRedirect">
              {{ t('modal_rename.label.Redirect') }}
              <p class="form-text text-muted mt-0">{{ t('modal_rename.help.redirect', page.path) }}</p>
            </label>
          </div>

          <div class="custom-control custom-checkbox custom-checkbox-primary">
            <input class="custom-control-input" name="remain_metadata" id="cbRenameMetadata" value="1" type="checkbox">
            <label class="custom-control-label" for="cbRenameMetadata">
              {{ t('modal_rename.label.Do not update metadata') }}
              <p class="form-text text-muted mt-0">{{ t('modal_rename.help.metadata') }}</p>
            </label>
          </div>

        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-between">
            {% include '../widget/modal/page-api-error-messages.html' %}
            <div>
              <input type="hidden" name="_csrf" value="{{ csrf() }}">
              <input type="hidden" name="path" value="{{ page.path }}">
              <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
              <input type="hidden" name="revision_id" value="{{ page.revision._id.toString() }}">
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Rename</button>
          </div>
        </div> -->

      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
