{% if isTopPage() %}
  {% set unportalizedPath = '/top-' + Date.now() %}
{% else %}
  {% set unportalizedPath = page.path|replace('(\/)$', '') %}
{% endif %}
  <div class="modal" id="unportalize">
    <div class="modal-dialog">
      <div class="modal-content">

      <form role="form" id="unportalize-form" onsubmit="return false;">

        <div class="modal-header bg-warning">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-title">ポータル化を解除する</div>
        </div>
        <div class="modal-body">
          <ul>
           <li>このポータル化を解除し、通常のページに戻します。</li>
          </ul>
            <div class="form-group">
              <p>
                <label for="">このページ</label><br><code>{{ page.path }}</code>
              </p>
              <p>
                <label for="">解除後のページ</label><br><code>{{ unportalizedPath }}</code>
              </p>
              {% if isTopPage() %}
              <p class="alert alert-info">
              このポータルはトップページのポータルのため、特別なページに移動します。
              </p>
              {% endif %}
            </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex justify-content-between">
            <p>
              <span class="text-danger msg msg-notfound_or_forbidden">
                <strong><i class="icon-fw icon-ban"></i>{{ t('Original page is not found or forbidden.') }}</strong>
              </span>
              <span class="text-danger msg msg-already_exists">
                <strong><i class="icon-fw icon-ban"></i>{{ t('New page path is already exists.') }}</strong>
                <small id="linkToNewPage"></small>
              </span>
            </p>
            <div>
              <input type="hidden" name="_csrf" value="{{ csrf() }}">
              <input type="hidden" name="path" value="{{ page.path }}">
              <input type="hidden" class="form-control" name="new_path" id="newPageName" value="{{ unportalizedPath }}">
              <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
              <input type="hidden" name="revision_id" value="{{ page.revision._id.toString() }}">
              <button type="submit" class="btn btn-warning">Unportalize</button>
            </div>
        </div>

      </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
