<div class="modal" id="help-portal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title">What is Portal?</div>
      </div>

      <div class="modal-body">
        <h4>Portal とは</h4>
        <br>
        <ul>
          <li>すべての、スラッシュ <code>/</code> で終わるページは、その階層の一覧ページとなります。</li>
          <li>Portal 機能を使うと、その一覧ページに対して、任意の編集コンテンツを配置することができるようになります (つまり、一般的なページと同様に、編集したコンテンツを作成でき、その内容は常にページ一覧の上部に表示されるようになります)</li>
        </ul>
        <br>

        <hr>

        <h4>想定される使われ方</h4>
        <br>
        <p>
        例えば、以下のようなページの階層があったとします。
        </p>
        <ul>
          <li><code>/projects</code>
            <ul>
              <li><code>/projects/homepage-renewal</code>
                <ul>
                  <li><code>/projects/homepage-renewal/...</code></li>
                </ul>
              </li>
              <li><code>/projects/...</code></li>
            </ul>
          </li>
        </ul>

        <p>
        こういったケースでは、<code>/projects/homepage-renewal</code> には homepage-renewal プロジェクトについてのイントロや各ページへのリンク、関係者の紹介など、homepage-renewal に関する情報を掲載しておきたいと思うはずです。
        </p>
        <p>
        Poral機能を使うと、こうしたときに、<code>/projects/homepage-renewal/</code> この <strong>"一覧ページ" を、ページ化することができ、そこに、通常のページと同じように Markdown で編集したコンテンツを配置することができるようになります</strong>。
        </p>

        <p>
        まさにそのプロジェクトのポータルページを用意したい場合などに活用してください。
        </p>

        </div>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade portal-warning-modal" id="portal-warning-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title">ポータルに関するヒント</div>
      </div>
      <div class="modal-body">

        <strong>Warning!</strong><br>

        <p>既に <strong><a href="{{ path|removeLastSlash }}">{{ path|removeLastSlash }}</a></strong> のページが存在します。</p>

        <p>
          <a href="{{ path|removeLastSlash }}">{{ path|removeLastSlash }}</a> をポータル化するには、
          <a href="{{ path|removeLastSlash }}">{{ path|removeLastSlash }}</a> に移動し、「ページを移動」させてください。<br>
          <a href="{{ path|removeLastSlash }}">{{ path|removeLastSlash }}</a> とは別に、このページ(<code>{{ path }}</code>)にポータルを作成する場合、このまま編集を続けて作成してください。
        </p>

      </div>
    </div>
  </div>
</div>
