@use '@growi/core/scss/bootstrap/init' as bs;
@use '~/styles/variables' as var;
@use '~/styles/mixins';

@include mixins.editing() {
  .grw-editor-navbar-bottom :global {
    height: var.$grw-editor-navbar-bottom-height;

    .grw-grant-selector {
      @include bs.media-breakpoint-down(sm) {
        .btn .label {
          display: none;
        }
      }
      @include bs.media-breakpoint-up(md) {
        .dropdown-toggle {
          min-width: 100px;

          // caret
          &::after {
            margin-left: 1em;
          }
        }
      }
    }

    .btn-submit {
      width: 100px;
    }

    .btn-expand {
      // rotate icon
      i {
        display: inline-block;
        transition: transform 200ms;
      }
      &.expand i {
        transform: rotate(-180deg);
      }
    }
  }
}
