@use '~/styles/mixins' as ms;
@use '@growi/core/scss/bootstrap/init' as bs;
@use './page-editor-inheritance';


.editor-container :global {

  .btn.btn-open-dropzone {
    z-index: 2;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: small;
    border: none;
    border-top: 1px dotted bs.$gray-300;
    border-bottom: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }

  // for Navbar editor
  .navbar-editor {
    height: page-editor-inheritance.$navbar-editor-height;
    padding: 0;

    border-bottom: 1px solid transparent;

    li {
      display: inline-block;
      i {
        font-size: 16px;
      }
    }

    button {
      padding: 0px;
      margin: 0 2px;
      font-size: 1rem;
      line-height: 1;
      background-color: transparent;
      border: none;
    }

    img {
      vertical-align: bottom;
    }
  }
}
