@use '~/styles/variables' as var;
@use '~/styles/mixins';

@include mixins.editing(true) {
  .page-editor-preview-body :global {
  }
}

// modify width for fluid layout
@include mixins.editing(true) {
  .dynamic-layout-root:not(.growi-layout-fluid) {
    :local {
      .page-editor-preview-body :global {
        .wiki {
          max-width: 980px;
          margin: 0 auto;
        }
      }
    }
  }
  .dynamic-layout-root.growi-layout-fluid {
    :local {
      .page-editor-preview-body :global {
        .wiki {
          margin: 0 auto;
        }
      }
    }
  }
}
