@mixin override-list-group-item($color, $bgcolor, $color-hover: $color, $bgcolor-hover: $bgcolor, $color-active: $color, $bgcolor-active: $bgcolor) {
  .list-group {
    .list-group-item {
      color: $color;
      background-color: $bgcolor;
      border-color: $border-color;

      &.list-group-item-action {
        &:hover {
          background-color: $bgcolor-hover;
        }
        &.active {
          color: $color-active;
          background-color: $bgcolor-active;
        }
      }
    }
  }
}
