@mixin override-list-group-item($color, $bgcolor, $color-hover: $color, $bgcolor-hover: $bgcolor, $color-active: $color, $bgcolor-active: $bgcolor) {
  .list-group {
    .list-group-item {
      color: $color;
      background-color: $bgcolor;
      border-color: $border-color-global;

      &.list-group-item-action {
        &:hover {
          background-color: $bgcolor-hover;
        }
        &.active {
          color: $color-active;
          background-color: $bgcolor-active;
        }
      }

      .footstamp-icon {
        svg {
          width: 13.92px;
          height: 13.95px;
          viewbox: 0 0 13.9 13.9;
        }
      }

      .seen-user-count {
        font-size: 12px;
      }

      .mr-2 {
        font-size: 12px;
      }
    }
  }
}
