@use '@growi/core/scss/bootstrap/init' as bs;
@use '@growi/core/scss/growi-official-colors' as var;


.nologin :global {
  height: 100vh;

  // layout
  .page-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin-top: 0px;

    .main {
      width: 100vw;

      .nologin-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }

  }

  // styles
  .nologin-header {
    h1 {
      font-size: 22px;
      line-height: 1em;
    }
  }

  .alert {
    padding: 0.5em 1em 0.5em 2em;
  }

  .input-group {
    margin-bottom: 10px;

    .input-group-text {
      text-align: center;
      border: none;
      border-radius: 0;
    }
  }

  .input-group:not(.has-error) {
    .form-control {
      border: transparent;
    }
  }

  $btn-fill-colors: (
    'login': (
      rgba(bs.$danger, 0.4),
      rgba(#7e4153, 0.7),
    ),
    'register': (
      rgba(bs.$success, 0.4),
      rgba(#3f7263, 0.7),
    ),
    'google': (
      rgba(#24292e, 0.4),
      bs.$gray-700,
    ),
    'github': (
      rgba(lighten(black, 20%), 0.4),
      bs.$gray-700,
    ),
    'facebook': (
      rgba(#29487d, 0.4),
      bs.$gray-700,
    ),
    'oidc': (
      rgba(#24292e, 0.4),
      bs.$gray-700,
    ),
    'saml': (
      rgba(#55a79a, 0.4),
      bs.$gray-700,
    ),
  );

  @each $label, $colors in $btn-fill-colors {
    .btn-fill##{$label} {
      .btn-label {
        background-color: nth($colors, 1);
      }
      .eff {
        background-color: nth($colors, 2);
      }
    }
  }

  // footer link text
  .link-growi-org {
    font-size: smaller;
    font-weight: bold;

    &,
    .growi,
    .org {
      transition: color 0.8s;
    }
  }
  .nologin-header,
  .nologin-dialog {
    max-width: 480px;
  }

}

.link-switch {
  color: bs.$gray-200;

  &:hover {
    color: white;
  }
}

.nologin.error {
  .alert h2 {
    line-height: 1em;
  }
}

// Light mode color
@include bs.color-mode(light) {
  .nologin :global {
    // background color
    $color-gradient: #3c465c;
    background: linear-gradient(45deg, darken($color-gradient, 30%) 0%, hsla(340, 100%, 55%, 0) 70%),
      linear-gradient(135deg, var.$growi-green 10%, hsla(225, 95%, 50%, 0) 70%), linear-gradient(225deg, var.$growi-blue 10%, hsla(140, 90%, 50%, 0) 80%),
      linear-gradient(315deg, darken($color-gradient, 25%) 100%, hsla(35, 95%, 55%, 0) 70%);

    .nologin-header {
      background-color: rgba(white, 0.5);

      .logo {
        background-color: rgba(black, 0);
        fill: rgba(black, 0.5);
      }

      h1 {
        color: rgba(black, 0.5);
      }
    }

    .nologin-dialog {
      background-color: rgba(white, 0.5);
      .link-switch {
        color: #1939b8;
        &:hover {
          color: lighten(#1939b8,20%);
        }
      }
    }

    .input-group {
      .input-group-text {
        color: darken(white, 30%);
        background-color: rgba(bs.$gray-700, 0.7);
      }

      .form-control {
        color: white;
        background-color: rgba(bs.$gray-600, 0.7);
        box-shadow: unset;

        &::placeholder {
          color: darken(white, 30%);
        }
      }
    }

    .link-growi-org {
      color: rgba(black, 0.4);

      &:hover,
      &.focus {
        color: black;

        .growi {
          color: darken(var.$growi-green, 20%);
        }

        .org {
          color: darken(var.$growi-blue, 15%);
        }
      }
    }
  }
}

// Dark mode color
@include bs.color-mode(dark) {
  .nologin :global {
    // background color
    $color-gradient: #3c465c;
    background: linear-gradient(45deg, darken($color-gradient, 30%) 0%, hsla(340, 100%, 55%, 0) 70%),
      linear-gradient(135deg, darken(var.$growi-green, 30%) 10%, hsla(225, 95%, 50%, 0) 70%),
      linear-gradient(225deg, darken(var.$growi-blue, 20%) 10%, hsla(140, 90%, 50%, 0) 80%),
      linear-gradient(315deg, darken($color-gradient, 25%) 100%, hsla(35, 95%, 55%, 0) 70%);

    .nologin-header {
      background-color: rgba(black, 0.5);

      .logo {
        background-color: rgba(white, 0);
        fill: rgba(white, 0.5);
      }

      h1 {
        color: rgba(white, 0.5);
      }
    }

    .nologin-dialog {
      background-color: rgba(black, 0.5);
      .link-switch {
        color: #7b9bd5;
        &:hover {
          color: lighten(#7b9bd5,10%);
        }
      }
    }

    .input-group {
      .input-group-text {
        color: darken(white, 30%);
        background-color: rgba(bs.$gray-700, 0.7);
      }

      .form-control {
        color: white;
        background-color: rgba(#505050, 0.7);
        box-shadow: unset;

        &::placeholder {
          color: darken(white, 30%);
        }
      }
    }

    .link-growi-org {
      color: rgba(white, 0.4);

      &:hover,
      &.focus {
        color: rgba(white, 0.7);

        .growi {
          color: darken(var.$growi-green, 5%);
        }

        .org {
          color: darken(var.$growi-blue, 5%);
        }
      }
    }

  }
}
