/* stylelint-disable scss/no-global-function-names */

@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '@growi/core-styles/scss/variables/growi-official-colors' as var;


.nologin :global {
  height: 100vh;

  .nologin-header,
  .nologin-dialog {
    max-width: 480px;
  }

  // layout
  .main {
    width: 100vw;

    .nologin-header {
      padding-top: 30px;
      padding-bottom: 10px;
      svg {
        fill: white;
      }
    }

    .growi-logo-type {
      margin-left: 7px;
    }

  }

  // styles
  .alert {
    padding: 0.5em 1em 0.5em 2em;
  }

  .input-group {
    margin-bottom: 16px;

    .input-group-text {
      text-align: center;
    }
  }

  .input-group:not(.has-error) {
    .form-control {
      border: transparent;
    }
  }

  // footer link text
  .link-growi-org {
    font-size: smaller;
    font-weight: bold;

    &,
    .growi,
    .org {
      transition: color 0.8s;
    }
  }

}

.link-switch {
  color: bs.$gray-200;

  &:hover {
    color: white;
  }
}

.nologin.error {
  .alert h2 {
    line-height: 1em;
  }
}

// Light mode color
@include bs.color-mode(light) {
  .nologin :global {
    // background color
    $color-gradient: #3c465c;

    background: linear-gradient(45deg, darken($color-gradient, 30%) 0%, hsla(340deg, 100%, 55%, 0%) 70%),
      linear-gradient(135deg, var.$growi-green 10%, hsla(225deg, 95%, 50%, 0%) 70%), linear-gradient(225deg, var.$growi-blue 10%, hsla(140deg, 90%, 50%, 0%) 80%),
      linear-gradient(315deg, darken($color-gradient, 25%) 100%, hsla(35deg, 95%, 55%, 0%) 70%);

    .nologin-header {
      background-color: rgba(white, 0.3);
    }

    .nologin-dialog {
      background-color: rgba(white, 0.3);
      .link-switch {
        color: #1939b8;
        &:hover {
          color: lighten(#1939b8,20%);
        }
      }
    }

    .input-group {
      .form-control {
        color: bs.$gray-800;
        background-color: white;
        box-shadow: unset;

        &::placeholder {
          color: bs.$gray-500;
        }
      }
    }

    .link-growi-org {
      color: rgba(white, 0.4);

      &:hover,
      &.focus {
        color: white;

        .growi {
          color: darken(var.$growi-blue, 10%);
        }

        .org {
          color: darken(var.$growi-green, 10%);
        }
      }
    }
  }
}

// Dark mode color
@include bs.color-mode(dark) {
  .nologin :global {
    // background color
    $color-gradient: #3c465c;

    background: linear-gradient(45deg, darken($color-gradient, 30%) 0%, hsla(340deg, 100%, 55%, 0%) 70%),
      linear-gradient(135deg, var.$growi-green 10%, hsla(225deg, 95%, 50%, 0%) 70%), linear-gradient(225deg, var.$growi-blue 10%, hsla(140deg, 90%, 50%, 0%) 80%),
      linear-gradient(315deg, darken($color-gradient, 25%) 100%, hsla(35deg, 95%, 55%, 0%) 70%);

    .nologin-header {
      background-color: rgba(black, 0.3);
    }

    .nologin-dialog {
      background-color: rgba(black, 0.3);
      .link-switch {
        color: #7b9bd5;
        &:hover {
          color: lighten(#7b9bd5,10%);
        }
      }
    }

    .input-group {
      .form-control {
        color: white;
        background-color: rgba(#505050, 0.7);
        box-shadow: unset;

        &::placeholder {
          color: bs.$gray-500;
        }
      }
    }

    .link-growi-org {
      color: rgba(white, 0.4);

      &:hover,
      &.focus {
        color: rgba(white, 0.7);

        .growi {
          color: darken(var.$growi-blue, 5%);
        }

        .org {
          color: darken(var.$growi-green, 5%);
        }
      }
    }

  }
}
