@use '@growi/core/scss/bootstrap/init' as *;


.nologin :global {
  height: 100vh;

  // layout
  .page-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-top: 0px;

    .main {
      width: 100vw;

      .nologin-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 10px;
      }
    }

  }

  // styles
  .nologin-header {
    h1 {
      font-size: 22px;
      line-height: 1em;
    }
  }

  .alert {
    padding: 0.5em 1em 0.5em 2em;
  }

  .input-group {
    margin-bottom: 10px;

    .input-group-text {
      text-align: center;
      border: none;
      border-radius: 0;
    }
  }

  .input-group:not(.has-error) {
    .form-control {
      border: transparent;
    }
  }

  $btn-fill-colors: (
    'login': (
      rgba($danger, 0.4),
      rgba(#7e4153, 0.7),
    ),
    'register': (
      rgba($success, 0.4),
      rgba(#3f7263, 0.7),
    ),
    'google': (
      rgba(#24292e, 0.4),
      $gray-700,
    ),
    'github': (
      rgba(lighten(black, 20%), 0.4),
      $gray-700,
    ),
    'facebook': (
      rgba(#29487d, 0.4),
      $gray-700,
    ),
    'oidc': (
      rgba(#24292e, 0.4),
      $gray-700,
    ),
    'saml': (
      rgba(#55a79a, 0.4),
      $gray-700,
    ),
  );

  @each $label, $colors in $btn-fill-colors {
    .btn-fill##{$label} {
      .btn-label {
        background-color: nth($colors, 1);
      }
      .eff {
        background-color: nth($colors, 2);
      }
    }
  }

  // footer link text
  .link-growi-org {
    font-size: smaller;
    font-weight: bold;

    &,
    .growi,
    .org {
      transition: color 0.8s;
    }
  }
  .nologin-header,
  .nologin-dialog {
    max-width: 480px;
  }

}

.link-switch {
  color: $gray-200;

  &:hover {
    color: white;
  }
}

.nologin.error {
  .alert h2 {
    line-height: 1em;
  }
}
