@use '~/styles/variables' as var;
@use '@growi/core/scss/bootstrap/init' as bs;

.on-search :global {
  .page-wrapper {
    height: 100vh;
  }

  .search-control-include-options {
    .card-body {
      padding: 5px 10px;
    }
  }
  .search-result-list {

    .search-result-keyword {
      font-size: 17.5px;
      font-weight: bold;
    }
    .search-result-select-group {
      > select {
        max-width: 8rem;
      }
    }

    // list group
    .page-list {
      // not show top label in search result list
      .page-list-meta {
        .top-label {
          display: none;
        }
      }
    }
  }

  .search-result-content {
    .search-result-content-body-container {
      .wiki {
        margin-top: 2em;
        font-size: 14px;
      }
    }
  }
}
