@use '~/styles/variables' as var;
@use '@growi/core/scss/bootstrap/init' as bs;

.on-search :global {
  .page-wrapper {
    height: 100vh;
  }

  .search-control-include-options {
    .card-body {
      padding: 5px 10px;
    }
  }
  .search-result-list {

    .search-result-keyword {
      font-size: 17.5px;
      font-weight: bold;
    }
    .search-result-select-group {
      > select {
        max-width: 8rem;
      }
    }

    // list group
    .page-list {
      // not show top label in search result list
      .page-list-meta {
        .top-label {
          display: none;
        }
      }
    }
  }

  .search-result-content {
    .search-result-content-nav {
      min-height: var.$grw-subnav-search-preview-min-height;
      overflow: auto;

      .grw-subnav {
        min-height: inherit;
      }
    }

    .search-result-content {

      > h2 {
        margin-right: 10px;
        font-size: 22px;
        line-height: 1em;
      }

      &:first-child > h2 {
        margin-top: 0;
      }

      .search-result-content-body-container {
        .wiki {
          padding: 16px;
          font-size: 14px;
        }
      }
    }
  }
}
