@use '@growi/core-styles/scss/bootstrap/init' as bs;

.shortcuts-modal :global {

  .key {
    /* Box Properties */
    display: inline-block;
    padding: 0 4px;
    margin: 2px 4px;

    /* Text Properties */
    text-align: center;
    background: bs.$body-tertiary-bg;
    border: 1px solid bs.$secondary-border-subtle;
    border-radius: bs.$border-radius-sm;
  }
}
