{% extends './shared_page.html' %}

{% block html_title %}
  {{ customizeService.generateCustomTitle('Page is expired') }}
{% endblock %}

{% block content_main %}
  <div class="container-lg">

    <div
      id="is-shared-page"
      data-share-link-expired-at="{% if sharelink.expiredAt %}{{ sharelink.expiredAt|datetz('Y/m/d H:i:s')}}{% endif %}"
      data-share-link-created-at="{{ sharelink.createdAt|datetz('Y/m/d H:i:s')}}"
    >
      <div id="share-link-alert"></div>

      <h2 class="text-muted mt-4">
        <i class="icon-ban" aria-hidden="true"></i>
        Page is expired
      </h2>
    </div>

  </div>
{% endblock %}
