{% extends 'base/layout.html' %}


{% block content_main_before %}
  <div class="container-lg">
    {% include '../widget/page_alerts.html' %}
  </div>
{% endblock %}

{% block content_main %}
  <div
    id="content-main"
    class="content-main page-list"
    data-path="{{ encodeURI(path) }}"
    data-current-user="{% if user %}{{ user._id.toString() }}{% endif %}"
    data-page-is-not-creatable="true"
    >
  </div>
  <div class="container-lg" id="forbidden-page"></div>
{% endblock %}

{% block body_end %}
  <div id="crowi-modals">
  </div>
{% endblock %}
