{% extends 'base/layout.html' %}


{% block content_main_before %}
{% endblock %}


{% block content_main %}
  <div class="container-lg">

    {% include '../widget/page_content.html' %}

  </div>
{% endblock %}


{% block content_main_after %}
  {% include 'widget/comments.html' %}

  {% if page %}
    {% include '../widget/page_attachments.html' %}
  {% endif %}
{% endblock %}


{% block body_end %}
  <div id="presentation-layer" class="fullscreen-layer">
    <div id="presentation-container"></div>
  </div>
{% endblock %}
