{% extends 'base/layout.html' %}


{% block content_main_before %}
{% endblock %}


{% block content_main %}
  <div class="container">
    {% include '../widget/page_content.html' %}
  </div>
{% endblock %}


{% block content_main_after %}
  {% if isTrashPage() %}
    <div class="container">
      <div id="trash-page-list"></div>
    </div>
  {% endif %}
  {% if page %}
    {% include '../widget/page_attachments.html' %}
  {% endif %}
{% endblock %}


{% block body_end %}
  <div id="presentation-layer" class="fullscreen-layer">
    <div id="presentation-container"></div>
  </div>
{% endblock %}
