@use '~/styles/molecules/bookmark-folder-tree';
@use '~/styles/molecules/page_list';
@use '~/styles/variables' as var;
$grw-sidebar-content-header-height: 58px;
$grw-sidebar-content-footer-height: 50px;

.compressed {
  max-height: calc(70vh - (var.$grw-navbar-height + var.$grw-navbar-border-width + $grw-sidebar-content-header-height + $grw-sidebar-content-footer-height));
  overflow-y: scroll;
}

.expanded {
  max-height: calc(100vh - (var.$grw-navbar-height + var.$grw-navbar-border-width + $grw-sidebar-content-header-height + $grw-sidebar-content-footer-height));
  overflow-y: scroll;
}

