.revision-history-main :global {
  img.picture-lg {
    width: 32px;
    height: 32px;
  }
}

.revision-history-main-nodiff :global {
  .picture-container {
    min-width: 32px;
    text-align: center; // centering .picture
  }
}
