@use '~/styles/variables' as var;
@use '@growi/core/scss/bootstrap/init' as bs;

/*
 * Fixed ver
 */
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

.grw-subnav-fixed-container {
  top: var.$grw-navbar-border-width;
  z-index: bs.$zindex-sticky - 5;
}

/*
 * Switching show/hide
 */
.grw-subnav-switcher {
  :global {
    .grw-subnav-fixed-container {
      transition: transform 150ms $easeInOutCubic;
    }

    /*
    * shadow
    */
    .grw-subnav-append-shadow-container {
      .grw-subnav {
        box-shadow: 0px 0px 6px 3px rgba(black, 0.15);
      }
    }
  }

  &:global {
    &.grw-subnav-switcher-hidden {
      .grw-subnav-fixed-container {
        transition: unset;
        transform: translateY(-100%);
      }
    }
  }
}
