// import crowi variable
@import 'utilities';

.crowi {

  .admin-user-menu {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  .admin-customize {
    .ss-container img {
      padding: .5em;
      background-color: #ddd;
    }

    // Toggle Twitter Bootstrap button class when active
    // https://jsfiddle.net/ms040m01/3/
    .btn-group.btn-toggle {
      .btn.active[data-active-class="primary"] {
        color: $btn-primary-color;
        background-color: darken($btn-primary-bg, 10%);
        border-color: $btn-primary-border;

        &:hover {
          background-color: darken($btn-primary-bg, 15%);
        }
      }
    }

    .table-user-list {
      .label-admin {
        margin-left: 1em;
      }
    }

    // override CodeMirror styles
    .CodeMirror pre {
      font-family: $font-family-monospace;
    }
  }

  .admin-security {
    .passport-logo {
      padding: 4px;
      height: 32px;
      background-color: black;
    }

    .auth-mechanism-configurations {
      min-height: 800px;
    }
  }
  
}
