.crowi { // {{{

  .admin-user-menu {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  .content-main.admin-customize {
    .ss-container img {
      padding: .5em;
      background-color: #ddd;
    }
  }

} // }}}
