
.form-full {
  width: 99%;
}

textarea {
  font-family: menlo, monaco, consolas, monospace;
  line-height: 1.1em;
}

textarea.form-body-height {
  height: 300px;
}

.form-maximized {
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: opacity 1s linear;
}
