.crowi { // {{{
  font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  &.main-container { // {{{

    .crowi-header { // {{{
      z-index: 1040;
      background: $crowiHeaderBackground;
      height: $crowiHeaderHeight;
      border-radius: 0;
      border: none;
      margin-bottom: 0;

      box-shadow: 0 3px 10px 0px rgba(0,0,0,.3);

      .navbar-brand {
        font-weight: bold;
      }
      .navbar-collapse {
        background: $crowiHeaderBackground;
      }

      > div > a ,
      > div > ul > li > a {
        color: #ccc;
        &:hover {
          color: #aaa;
        }
      }

      .confidential {
        a {
          border: solid 2px #f00;
          background: #fff;
          color: #f00;
          font-weight: bold;
          height: 42px;
          margin-top: 5px;
          padding: 10px;
          margin-right: 5px;
        }
      }

      .navbar-toggle {
        position: absolute;
        top: 0;
        right: 0;
      }
      .navbar-collapse.collapse.in {

        .confidential {
        }
      }

    } // }}}

    .layout-control { // {{{
      transition: .3s ease;
      -webkit-transition: .3s ease;
      position: fixed;
      display: block;
      text-align: center;
      right: 25%;
      bottom: 25px;
      padding: 5px 8px;
      border: solid 1px #ccc;
      border-right: none;
      background: $crowiAsideBackground;
      border-radius: 5px 0 0 5px;
      z-index: 1039;
      font-size: .8em;

      color: darken($link-color, 15%);

      &:hover {
        color: darken($link-color, 25%);
        background: darken($crowiAsideBackground, 10%);
        text-decoration: none;
        cursor: pointer;
      }
    } // }}}


    aside.sidebar { // {{{
      z-index: 1030;
      position: fixed;
      padding: 65px 0 0 0;
      margin-bottom: $crowiFooterHeight;
      color: #333;
      height: 100%;
      right: 0;
      top: 0;
      overflow: auto;
      border-left: solid 1px #ccc;
      background: $crowiAsideBackground;

      transition: .3s ease;
      -webkit-transition: .3s ease;


      .page-meta {
        padding: 15px 15px 5px 15px;
        color: #666;
        font-size: .9em;
        line-height: 1.4em;
        border-bottom: solid 1px #ccc;

        .creator-picture {
          text-align: center;
          img {
            width: 48px;
            height: 48px;
            box-shadow: 0 0 2px #333;
          }
        }
        .creator {
          font-size: 1.3em;
          font-weight: bold;
        }
        .created-at {
        }

        .like-box {
          padding-bottom: 0;

          .dl-horizontal {
            margin-bottom: 0;

            dt, dd {
              border-top: solid 1px #ccc;
              padding-top: 5px;
              padding-bottom: 5px;
            }
            dt {
              width: 80px;
            }
            dd {
              margin-left: 90px;
              text-align: right;
            }
          }

          .btn-bookmark {
            color: #e6b422;
            &.bookmarked {
              color: #fff;
            }
          }
        }

        .liker-list, .contributor-list, .seen-user-list {
          .picture-rounded {
            box-shadow: 0 0 2px #666;
          }
        }
        .liker-count, .contributor-count, .seen-user-count {
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .contributor-list, .seen-user-list {
        }
      }


      .side-content {
        margin-bottom: $crowiFooterHeight + $crowiHeaderHeight;
        padding: 15px;

        h3 {
          font-size: 1.1em;
        }

        a {
          color: #ccc;
          &:hover { color: #aaa;}
        }

        ul.revision-history {
          padding: 0;
          li {
            position: relative;
            list-style: none;

            a {
              color: #666;
              padding: 3px 5px 3px 40px;
              display: block;

              &:hover {
                background: darken($crowiAsideBackground, 10%);
                text-decoration: none;
                color: darken($link-color, 35%);
              }
            }

          }

          .picture {
            position: absolute;
            left: 5px;
            top: 12px;
          }
        }

        ul.fitted-list {
          padding-left: 0;
          li {
            margin-bottom: 2px;

            .input-group-addon {
              padding: 5px 6px;
            }
          }
        }
      }
    } // }}}

    .main { // {{{
      transition: .5s ease;
      -webkit-transition: .5s ease;
      background: #fff;

      padding: 20px;
      //margin-left: 10px;
      //padding: 10px;
      //
      article {
        background: #fff;
      }

      article header {
        background: #fff;
        width: 100%;

        p.stopper {
          display: none;
        }

        &.affix {
          width: 100%;
          top: 0;
          left: 0;
          padding: 5px 20px;
          z-index: 1039;
          background: rgba(255, 255, 255, .9);
          box-shadow: 0 0px 2px #999;

          h1 {
            font-size: 1.8em;
          }

          p.stopper {
            display: block;
            position: absolute;
            bottom: -30px;
            right: 10px;
            background: #fff;
            padding: 7px 14px;
            margin: 0;
            border: solid 1px #ccc;
            border-top: none;
            border-radius: 0 0 5px 5px;
            font-size: .8em;
          }
        }
      }

      &.col-md-12 article header.affix {
        width: 100%;
      }


      article header h1 {
        margin-top: 0;

        a:last-child {
          color: #D1E2E4;
          opacity: .7;

          &:hover {
            color: inherit;
          }
        }
      }

    } // }}}

    .main.grant-restricted,
    .main.grant-specified,
    .main.grant-owner {
      background: #333;
      padding: 20px 10px;

      .page-grant {
        color: #ccc;
      }

      article {
        border-radius: 5px;
        padding: 20px;
      }
    }

    .page-attachments {
      background: #f0f0f0;
      padding: 10px;
      font-size: 0.9em;
      color: #888;
      margin: 10px 0;
      border-radius: 5px;
      p {
        font-weight: bold;
      }

      ul {
      }
    }

    .footer { // {{{
      position: fixed;
      width: 100%;
      bottom: 0px;
      height: 26px;
      padding: 4px;
      color: #444;
      background: $crowiAsideBackground;
      border-top-left-radius: 5px;
      z-index: 1055;

      a {
        color: #666;
      }
    } // }}}
  } // }}}

  &.main-container.aside-hidden { // {{{
    .layout-control {
      right: 0;
      i {
        transform: rotate(180deg);
      }
    }

    aside.sidebar { // {{{
      right: -25%;
    } // }}}

    .main { // {{{
      width: 100%;

      article header.affix {
        width: 100%;
      }
    } // }}}
  } // }}}

  // override bootstrap modals
  //.modal-backdrop {
  //  z-index: 1052;
  //}
  //.modal {
  //  z-index: 1055;
  //}
} // }}}

.crowi.main-container .main {
  .wiki-content {
  }

  .content-main {
    .tab-content {
      margin-top: 30px;
    }
  }

  .content-main .timeline-body { // {{{ timeline
     .revision-path {
       margin-top: 1.6em;
       margin-bottom: 0;
       border: solid 2px #ddd;
       border-bottom: none;
       padding: 16px;
       background: #ddd;
     }
     .revision-body {
       font-size: 14px;
       border: solid 2px #ddd;
       padding: 16px;
       background: #fdfdfd;
     }
  } // }}}

  // on-edit
  .content-main.on-edit {
    position: fixed;
    z-index: 1060;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .nav {
      margin-top: 8px;
      height: 40px;
    }

    .tab-content {
      .alert-info {
        display: none;
      }

      top: 48px;
      bottom: 58px;
      padding: 0 12px;
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 4px;

      .edit-form {
        height: 100%;
        .row {
          height: 100%;
          .col-md-6 {
            height: 100%;
          }
          form {
            padding: 0;
            border-right: solid 1px #ccc;
            &::after {
              position: absolute;
              top: 0;
              right: 15px;
              font-size: 10px;
              font-weight: 700;
              color: #959595;
              text-transform: uppercase;
              letter-spacing: 1px;
              content: "Input Content ...";
            }
          }
          textarea {
            height: 100%;
            padding-top: 18px;
            border: none;
            box-shadow: none;

            &.dragover {
              border: dashed 6px #ccc;
              padding: 12px 6px 0px;
            }
          }
          .preview-body {
            height: 100%;
            padding-top: 18px;
            overflow: scroll;

            &::after {
              position: absolute;
              top: 0;
              right: 15px;
              font-size: 10px;
              font-weight: 700;
              color: #959595;
              text-transform: uppercase;
              letter-spacing: 1px;
              content: "Preview";
            }
          }
        }
      }
    }

    .form-group.form-submit-group {

      position: fixed;
      z-index: 1054;
      bottom: 0;
      width: 100%;
      left: 0;
      padding: 8px;
      height: 50px;
      background: rgba(255,255,255,.8);
      border-top: solid 1px #ccc;
      margin-bottom: 0;
    }
  }
}

.crowi.single { // {{{
} // }}}

.crowi.single.nologin { // {{{
  //background: lighten($crowiHeaderBackground, 15%);
  background: $crowiHeaderBackground;

  .installer-header {
    margin-top: 100px;
    text-align: center;

    h1 {
      margin: 40px 0 40px;
      color: #fff;
      font-size: 1.6em;
    }
  }

  .main {
    margin: 0;
    padding: 0;
  }

  h1.login-page {
    margin-top: 80px;
    color: #fff;
    font-size: 1.6em;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0,0,0,.5);
    line-height: 100%;
  }


  .login-dialog-container {

    .facebook-info {
      border-radius: 4px;
      border: solid 1px #ccc;
      padding: 10px;
      margin-bottom: 15px;
    }

    margin: 40px auto;
    float: none;

    .login-dialog {
      position: relative;

      form {
        margin-top: 10px;
        .input-group {
          margin-bottom: 10px;
        }
      }

      .login-dialog-inner, .register-dialog-inner {
        top: 0;
        left: 0;
        padding: 42px 48px;
        background: #fff;
        position: absolute;
        margin-bottom: 40px;
        width: 100%;

        box-shadow: 0 1px 40px 0 rgba(0,0,0,0.3);
        border-radius: 3px;

        h2 {
          margin: 0 0 28px;
          font-size: 1.3em;
          text-align: center;
        }
      }

      p.bottom-text {
        text-align: right;
        margin: 20px 0 0;
      }
    }

  }


} // }}}

@media (max-width: $screen-sm-max) { // {{{ less than tablet size

  .content-main.on-edit {
    .form-group.form-submit-group {
      select.form-control {
        display: inline-block;
        width: auto;
      }
    }
  }

} // }}}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // {{{ tablet size
  .crowi.main-container { // {{{
    .main {
      article header {
        h1 {
          font-size: 1.4em;
          margin-bottom: 0;
        }

        &.affix {
          width: 100%;
        }
      }
    }
  }
} // }}}

@media (max-width: $screen-xs-max) { // {{{ iPhone size
  .crowi.main-container { // {{{
    .main {
      padding: 10px;
      article header {
        h1 {
          font-size: 1.1em;
        }

        &.affix {
          h1 {
            font-size: 1.1em;
          }

          width: 100%;
          padding: 5px;
          box-shadow: 0 0px 2px #999;

          p.stopper {
            right: 20px;
          }
        }
      }
    }
  }
}

@media print { // {{{ printable style
  .crowi.main-container { // {{{
    padding: 30px;

    a:after {
      display: none !important;
    }
    .main {
      article header {
        border-bottom: solid 1px #666;
        margin-bottom: 20px;
        h1 {
          font-size: 2em;
          color: #000;
        }
      }

      .revision-toc {
        float: none;
        font-size: .9em;
        border: solid 1px #aaa;
        border-radius: 5px;
        max-width: 100%;
        margin-bottom: 20px;

        .revision-toc-head {
          display: inline-block;
          float: none;
        }

        .revision-toc-content.collapse {
          display: block;
          height: auto;
        }
      }

      .meta {
        border-top: solid 1px #ccc;
        margin-top: 32px;
        color: #666;
      }


    }
  }
} // }}}
