
.crowi.main-container .main .content-main .timeline-body { // {{{
  .revision-path {
    margin-top: 1.6em;
    margin-bottom: 0;
    border: solid 2px #ddd;
    border-bottom: none;
    padding: 16px;
    background: #ddd;
  }
  .revision-body {
    font-size: 14px;
    border: solid 2px #ddd;
    padding: 16px;
    background: #fdfdfd;
  }
} // }}}

.page-list {
  .page-list-container {
    line-height: 1.6em;
    font-size: 15px;
  }

  .page-list-ul {
    padding-left: 0;

    .page-list-li {
      list-style: none;
      line-height: 1.8em;

      .picture {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }

      .page-list-link {
        font-size: 1.1em;
        color: #666;

        strong {
          color: #333;
        }
      }
    }
  }
}
