.crowi.main-container {
  // padding controll of .header-wrap and .content-main are moved to _layout and _form

  .main { // {{{ .main of layout related
    transition: .5s ease;
    -webkit-transition: .5s ease;
    background: #fff;

    article {
      background: #fff;
    }

    article header {
      background: #fff;
      width: 100%;

      p.stopper {
        display: none;
      }

      &.affix {
        width: 100%;
        top: 0;
        left: 0;
        padding: 5px 20px;
        z-index: 1039;
        background: rgba(255, 255, 255, .9);
        box-shadow: 0 0px 2px #999;

        h1 {
          font-size: 1.8em;
        }

        p.stopper {
          display: block;
          position: absolute;
          bottom: -30px;
          right: 10px;
          background: #fff;
          padding: 7px 14px;
          margin: 0;
          border: solid 1px #ccc;
          border-top: none;
          border-radius: 0 0 5px 5px;
          font-size: .8em;
        }
      }

    }

    &.col-md-12 article header.affix {
      width: 100%;
    }

    article header { // not affixed
      .bookmark-link {
        color: #e6b422;
        font-size: 2em;
        &.bookmarked {
          //color: #fff;
        }
      }

      .flex-title-line {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items:         center;

        .flex-item-title {
          -webkit-flex-basis: auto;
          flex-basis: auto;
          margin-right: auto;
        }
        .flex-item-action {
          -webkit-flex-basis: 2em;
          flex-basis: 2em;
          text-align: center;
          padding: 0 2px;
        }
      }

      h1 {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 0;

        a:last-child {
          color: #D1E2E4;
          opacity: .4;

          &:hover {
            color: inherit;
          }
        }
      }
    }

    .content-main {
      .tab-content {
        margin-top: 30px;
      }

      // alert component settings for trash page and moved page
      // see: https://jsfiddle.net/me420sky/2/
      .alert-trash, .alert-moved {
        padding: 10px 15px;

        span {
          line-height: 25px;
        }

        >div:after {
          clear: both;
          content: '';
          display: table;
        }
      }
    }
  } // }}}

  // {{{ grant related style
  .main.grant-restricted,
  .main.grant-specified,
  .main.grant-owner {
    background: #333;
    padding: 16px;

    .page-grant {
      color: #ccc;
    }

    article {
      border-radius: 5px;
    }
  }
  // }}}

  .page-attachments { // {{{
    p {
      font-weight: bold;
    }

    ul {
    }
  } // }}}

  aside.sidebar { // {{{
    z-index: 1030;
    position: fixed;
    padding: 65px 0 0 0;
    margin-bottom: $crowiFooterHeight;
    color: #333;
    height: 100%;
    right: 0;
    top: 0;
    overflow: auto;
    border-left: solid 1px #ccc;
    background: $crowiAsideBackground;

    transition: .3s ease;
    -webkit-transition: .3s ease;


    .page-meta {
      padding: 15px 15px 5px 15px;
      color: #666;
      font-size: .9em;
      line-height: 1.4em;
      border-bottom: solid 1px #ccc;

      .creator-picture {
        text-align: center;
        img {
          width: 48px;
          height: 48px;
          box-shadow: 0 0 1px #666;
        }
      }
      .creator {
        font-size: 1.3em;
        font-weight: bold;
      }
      .created-at {
      }

      .like-box {
        padding-bottom: 0;

        .dl-horizontal {
          margin-bottom: 0;

          dt, dd {
            border-top: solid 1px #ccc;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          dt {
            width: 80px;
          }
          dd {
            margin-left: 90px;
            text-align: right;
          }
        }
      }

      .liker-count, .contributor-count, .seen-user-count {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .contributor-list, .seen-user-list {
      }
    }


    .side-content {
      margin-bottom: $crowiFooterHeight + $crowiHeaderHeight;
      color: #666;
      padding: 15px;

      h3 {
        font-size: 1.1em;
      }

      a {
        color: #ccc;
        &:hover { color: #aaa;}
      }

      ul.fitted-list {
        padding-left: 0;
        li {
          margin-bottom: 2px;

          .input-group-addon {
            padding: 5px 6px;
          }
        }
      }
    }
  } // }}}

  .footer { // {{{
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 26px;
    padding: 4px;
    color: #444;
    background: $crowiAsideBackground;
    border-top-left-radius: 5px;
    z-index: 1055;

    a {
      color: #666;
    }
  } // }}}

  &.aside-hidden { // {{{
    .layout-control {
      right: 0;
      i {
        transform: rotate(180deg);
      }
    }

    aside.sidebar { // {{{
      right: -25%;
    } // }}}

    .main { // {{{
      width: 100%;

      article header.affix {
        width: 100%;
      }
    } // }}}
  } // }}}

}
.crowi.main-container .main .content-main .revision-history { // {{{
  h1 {
    padding-bottom: 0.3em;
    font-size: 2.3em;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
  }


  .revision-history-list {
    .revision-hisory-outer {
      margin-top: 8px;

      .revision-history-main {

        .picture {
          float: left;
          width: 32px;
          height: 32px;
        }

        .revision-history-author {
          margin-left: 40px;
          color: #666;
        }
        .revision-history-comment {
          margin-left: 40px;
        }
        .revision-history-meta {
          margin-left: 40px;

          p {
            margin-bottom: 8px;
          }

          a {
            margin-right: 8px;
          }
          a:hover {
            cursor: pointer;
          }
        }

      }
      .revision-history-diff {
        margin-left: 40px;
      }
    }

    li {
      position: relative;
      list-style: none;

      a {
        color: #666;
        padding: 3px 5px 3px 40px;
        display: block;

        &:hover {
          background: darken($crowiAsideBackground, 10%);
          text-decoration: none;
          color: darken($link-color, 35%);
        }
      }

    }
  }

} // }}}
