
.search-listpage-icon {
  font-size: 16px;
  color: #999;
}

.search-input-group {
  display: inline-block;
  margin-bottom: 0;
  width: 200px;
  vertical-align: bottom;
}

.search-listpage-input {
}

.search-top {
  .search-top-input-group {
    .search-top-input {
    }
    &:focus {
      width: 400px;
      transition: .3s ease;
    }
  }
}

.search-suggest {
  // => dicided by JS
  // top: 43px;
  // left: 125px;
  //display: none;
  position: absolute;
  width: 500px;
  background: #fff;
  border: solid 1px #ccc;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  padding: 16px;

}

