.search-listpage-icon {
  font-size: 16px;
  color: #999;
}
.search-listpage-clear {
  z-index: 3;
  display: none;
  position: absolute;
  right: 8px;
  z-index: 10;
  font-size: 0.6em;
  width: 22px;
  height: 22px;
  color: #ccc;
  padding: 8px;
}

.search-input-group {
  display: inline-block;
  margin-bottom: 0;
  width: 200px;
  vertical-align: bottom;

  .search-listpage-submit-group {
    position: absolute;
    width: 30px;
    height: 30px;
    padding-left: 197px;
    border-radius: 0;

    > .btn {
      padding: 6px 12px 7px;
    }
  }
}


.search-top {
  .search-top-input-group {
    .search-top-input {
      width: 400px;
    }
    .btn {
      padding: 6px 12px 7px;
      margin-left: -3px;
    }

    .search-top-clear {
      position: absolute;
      right: 40px;
      z-index: 10;
      width: 22px;
      height: 22px;
      color: #ccc;
      padding: 8px;
    }
  }
}

.search-suggest {
  // => dicided by JS
  // top: 43px;
  // left: 125px;
  //display: none;
  position: absolute;
  width: 500px;
  background: #fff;
  border: solid 1px #ccc;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
  padding: 16px;


  .searching {
    color: #666;
  }
}


.search-result {

  .search-result-list {
    nav {
      &.affix {
        top: 8px;
        width: 33.33333%;
        padding-right: 30px;
        padding-bottom: 50px;
        height: 100%;
        overflow-y: scroll;
      }
      .nav {

        > li {
          padding: 0px 11px 0 8px;
          &.active {
            padding: 0px 8px;
            border-right: solid 3px #666;
            background: #f0f0f0;
          }
        }
      }
    }
  }

  .search-result-content {
    padding-bottom: 32px;

    .search-result-meta {
      margin-bottom: 16px;
      font-weight: bold;
    }
    .search-result-page {
      > h2 {
        font-size: 20px;
      }
      &:first-child > h2 {
        margin-top: 0;
      }

      .wiki {
        border: solid 1px #ccc;
        padding: 16px;
        border-radius: 3px;
        font-size: 13px;
      }
    }
  }
}
