.navbar-header {
  .navbar-brand {
    display: none;
  }
}

.navbar-form {
  margin-left: 15px;
}

.navbar-right {
  .ui-new, .ui-publish {
    display: none;
  }
}

.CodeMirror pre {
  font-family: Osaka-Mono, "MS Gothic", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  line-height: 20px;
}
