<h3><i class="icon-link"></i> {{ t('Share') }}</h3>
<ul class="fitted-list">
  <li class="input-group">
    <span class="input-group-addon">{{ t('Share Link') }}</span>
    <input readonly class="copy-link form-control" type="text" value="{{ appTitle }} {{ path }} {{ baseUrl }}/{{ page._id.toString() }}">
  </li>
  <li class="input-group">
    <span class="input-group-addon">Markdown</span>
    <input readonly class="copy-link form-control" type="text" value="[{{ path }}]({{ baseUrl }}/{{ page._id.toString() }})">
  </li>
</ul>

<h3><i class="icon-bubble"></i> Comments</h3>
<div class="page-comments">
  {% if page and not page.isDeleted() %}
  <div id="page-comment-write"></div>
  <hr>
  {% endif %}

  <div id="page-comment-form-behavior"></div>

  <div class="page-comments-list" id="page-comments-list"></div>
</div>
