{% if page %} {# {{{ if page #}
<div class="page-meta">
  <div class="row">
    {# default(author) としているのは、v1.1.1 以前に page.creator データが入ってないから。暫定として最新更新ユーザーを表示しちゃう。 #}
    <div class="col-md-3 creator-picture">
      <a href="{{ userPageRoot(page.creator) }}">
        <img src="{{ page.creator|default(author)|picture }}" class="picture picture-lg img-circle"><br>
      </a>
    </div>
    <div class="col-md-9">
      <p class="creator">
        <a href="{{ userPageRoot(page.creator) }}">{{ page.creator.name|default(author.name) }}</a>
      </p>
      <p class="created-at">
        {{ t('Created') }}: {{ page.createdAt|datetz('Y/m/d H:i:s') }}<br>
        {{ t('Last updated') }}: {{ page.updatedAt|datetz('Y/m/d H:i:s') }} <a href="/user/{{ page.revision.author.username }}"><img src="{{ page.revision.author|picture }}" class="picture picture-xs img-circle" alt="{{ page.revision.author.name }}"></a>
      </p>
    </div>
  </div>

  <div class="like-box">
    <dl class="dl-horizontal">
      <dt>
        <i class="icon-like"></i> {{ t('Like!') }}
      </dt>
      <dd>
        <div id="liker-list" data-user-ids="{{ page.liker|default([])|join(',') }}"></div>
      </dd>

      <dt><i class="fa fa-paw"></i> {{ t('Seen by') }}</dt>
      <dd>
        <div id="seen-user-list" data-user-ids="{{ page.seenUsers|default([])|join(',') }}"></div>
      </dd>
    </dl>
  </div>
</div>
{% endif %} {# if page }}} #}
