{% extends '../layout/admin.html' %}

{% block html_title %}{{ customizeService.generateCustomTitle(t('admin_top.Management Wiki')) }}{% endblock %}

{% block content_header %}
<div class="header-wrap">
  <header id="page-header">
    <h1 id="admin-title" class="title"> {{ t('admin_top.Management Wiki') }}</h1>
  </header>
</div>
{% endblock %}

{% block content_main %}
<div class="content-main">

  {% set emessage = req.flash('errorMessage') %}
  {% if emessage.length %}
  <div class="alert alert-danger">
    {{ emessage }}
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-3">
      {% include './widget/menu.html' %}
    </div>
    <div class="col-md-9">
      <p> {{ t("admin_top.wiki_administrator") }}<br>
      {{ t("admin_top.assign_administrator") }}
      </p>

      <h2 class="border-bottom pb-3">{{ t('admin_top.System Information') }}</h2>
      <table class="table table-bordered mt-4">
        <tr>
          <th class="w-25" scope="row">GROWI</th>
          <td>{{ growiVersion() }}</td>
        </tr>
        <tr>
          <th class="w-25" scope="row">node.js</th>
          <td>{{ nodeVersion() }}</td>
        </tr>
        <tr>
          <th class="w-25" scope="row">npm</th>
          <td>{{ npmVersion() }}</td>
        </tr>
        <tr>
          <th class="w-25" scope="row">yarn</th>
          <td>{{ yarnVersion() }}</td>
        </tr>
      </table>

      <h2 class="border-bottom pb-3">{{ t('admin_top.List of installed plugins') }}</h2>
      <table class="table table-bordered mt-4">
        <th class="text-center">
          {{ t('admin_top.Package name') }}
        </th>
        <th class="text-center">
          {{ t('admin_top.Specified version') }}
        </th>
        <th class="text-center">
          {{ t('admin_top.Installed version') }}
        </th>
        {% for pluginName in Object.keys(plugins) %}
        <tr>
          <td>{{ pluginName }}</td>
          <td class="text-center">{{ plugins[pluginName] }}</td>
          <td class="text-center"><span class="tbd">(TBD)</span></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

</div>
{% endblock content_main %}

{% block content_footer %}
{% endblock content_footer %}

