{% extends '../layout/admin.html' %}

{% block html_title %}{{ customizeService.generateCustomTitle(t('Markdown settings')) }}
 · {{ path }}{% endblock %}

{% block content_header %}
<div class="header-wrap">
  <header id="page-header">
    <h1 id="admin-title" class="title">{{ t('Markdown Settings') }}</h1>
  </header>
</div>
{% endblock %}

{% block content_main %}
<div class="content-main">
  <div class="row">
    <div class="col-md-3">
      {% include './widget/menu.html' with {current: 'markdown'} %}
    </div>

    <div class="col-md-9" id="admin-markdown-setting"></div>
  </div>

</div>

<script>
  // give a space between items in textarea(',' => ', ')
  for (var i = 0; i < $('textarea.xss-list').length; i++) {
    $($('textarea.xss-list')[i]).val($($('textarea.xss-list')[i]).val().replace(/,/g, ', '));
  };

  $('input[name="markdownSetting[markdown:xss:isEnabledPrevention]"]').change(function() {
    if ($(this).val() === 'true') {
      $('#xss-hide-when-disabled').slideDown();
    }
    else {
      $('#xss-hide-when-disabled').slideUp();
    }
  });

  $('#btn-import-tags').on('click', () => {
    var $tagWhiteList = $('textarea[name="markdownSetting[markdown:xss:tagWhiteList]"]');
    var $recommendedTagList = $('textarea[name="recommendedTags"]');
    $tagWhiteList.val($recommendedTagList.val());
  });
  $('#btn-import-attrs').on('click', () => {
    var $attrWhiteList = $('textarea[name="markdownSetting[markdown:xss:attrWhiteList]"]');
    var $recommendedAttrList = $('textarea[name="recommendedAttrs"]');
    $attrWhiteList.val($recommendedAttrList.val());
  });
</script>
{% endblock content_main %}

{% block content_footer %}
{% endblock content_footer %}







