{% extends '../layout/admin.html' %}

{% block html_title %}{{ customizeService.generateCustomTitle(t('Full Text Search management')) }}{% endblock %}

{% block content_header %}
<div class="header-wrap">
  <header id="page-header">
    <h1 id="admin-title" class="title">{{ t('Full Text Search management') }}</h1>
  </header>
</div>
{% endblock %}

{% block content_main %}
<div class="content-main row">
  {% parent %}
    <div
      class="col-md-9"
      id ="admin-full-text-search-management"
    >
      <!-- Reactify Paginator start -->
      <!-- {% include '../widget/pager.html' with {path: "/admin/search", pager: pager} %} -->
      <!-- Reactify Paginator end -->
    </div>
</div>


{% endblock content_main %}

{% block content_footer %}
{% endblock content_footer %}
