{% extends '../layout/admin.html' %}

{% block html_title %}{{ customizeService.generateCustomTitleForFixedPageName(t('UserGroup Management') + '/' + userGroup.name) | preventXss }}{% endblock %}

{% block content_header %}
<h1 class="title">{{ t('UserGroup Management') + '/' + userGroup.name | preventXss }}</h1>
{% endblock %}

{% block content_main %}
<div class="content-main row">
  {% parent %}
  <div
    id="admin-user-group-detail"
    class="col-lg-9"
    data-user-group="{{ userGroup|json }}"
  >
  </div>
</div>
{% endblock content_main %}

{% block content_footer %}
{% endblock content_footer %}
