{% extends '../layout/admin.html' %}

{% block html_title %}{{ customTitle(t('UserGroup Management')) }}{% endblock %}

{% block content_header %}
<div class="header-wrap">
  <header id="page-header">
    <h1 id="admin-title" class="title">{{ t('UserGroup Management') }}</h1>
  </header>
</div>
{% endblock %}

{% block content_main %}
<div class="content-main">
  <div class="row">
    <div class="col-md-3">
      {% include './widget/menu.html' with {current: 'user-group'} %}
    </div>
    <div
      id ="admin-user-group-page"
      class="col-md-9"
      data-user-groups="{{ userGroups|json }}"
      data-user-group-relations="{{ userGroupRelations|json }}"
      data-isAclEnabled="{{ isAclEnabled }}"
    >
      <!-- Reactify Paginator start -->
      <!-- {% include '../widget/pager.html' with {path: "/admin/user-groups", pager: pager} %} -->
      <!-- Reactify Paginator end -->
    </div>
  </div>
</div>
{% endblock content_main %}

{% block content_footer %}
{% endblock content_footer %}


