@use '@growi/core/scss/bootstrap/init' as bs;

@use '@growi/ui/scss/atoms/btn-muted';

@use '~/styles/variables' as var;


.grw-drawer-toggler :global {
  .btn {
    --bs-btn-color: rgba(var(--bs-tertiary-color-rgb), 0.5);
    --bs-btn-bg: transparent;

    --bs-btn-hover-color: rgba(var(--bs-tertiary-color-rgb), 0.7);

    width: var.$grw-sidebar-nav-width;
    height: var.$grw-sidebar-nav-width;
  }
}
