@use '@growi/core/scss/bootstrap/init' as bs;

.btn-page-accessories :global {
  display: flex;
  align-items: center;
  padding: 6px 8px;

  .grw-labels {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}

// smaller than lg
@include bs.media-breakpoint-down(md) {
  .btn-page-accessories :global {
    .material-symbols-outlined {
      font-size: 2em;
    }
  }
}

// larger than lg
@include bs.media-breakpoint-up(md) {
  .btn-page-accessories :global {
    flex-grow: 1;
    padding: 1px 5px 1px 10px;
  }
}
