@use '@growi/core/scss/bootstrap/init' as bs;

.page-content-footer :global {
  border-top: solid 1px transparent;
  .page-meta {
    font-size: 0.95em;
  }
}
// TODO: Should Soft Coding see: https://github.com/weseek/growi/pull/6404
.page-content-footer-skeleton :global {
  width: 300px;
  height: 20px;
}
