@use '@growi/core/scss/bootstrap/init' as bs;

.card-timeline :global {
  margin-bottom: 3rem;
  border: 1px solid bs.$gray-300;

  .card-header {
    background-color: bs.$gray-300;
  }

  .card-body {
    min-height: 15vh;
  }
}
