@use '@growi/core/scss/bootstrap/init' as bs;

.search-typeahead :global {
  position: relative;
  width: 100%;
  // corner radius
  border-top-right-radius: bs.$border-radius;
  border-bottom-right-radius: bs.$border-radius;
  .rbt-input-main {
    padding-right: 36px;
  }
  .search-clear {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 3;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
  }

  .rbt-menu {
    max-height: none !important;
    margin-top: 3px;

    li a span {
      .page-path {
        display: inline;
        padding: 0 4px;
        color: inherit;
      }

      .page-list-meta {
        font-size: 0.9em;
        color: bs.$gray-400;

        > span {
          margin-right: 0.3rem;
        }
      }
    }
  }
}
