@use '@growi/core/scss/bootstrap/init' as bs;

.revision-toc :global {
  // to get on the Attachment row
  z-index: 1;
  padding: 5px;
  font-size: 0.9em;

  border-bottom: 1px solid transparent;

  .revision-toc-content {
    ul {
      list-style-type: disc;
    }

    li {
      margin: 6px;
    }
    > ul {
      padding-left: 0;
      ul {
        padding-left: 1em;
      }
    }

    // first level of li
    > ul > li {
      padding: 5px;
      margin-left: 17px;
    }
  }
}

.revision-toc {
  @media print {
    float: none;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 0.9em;
    border: solid 1px bs.$gray-400;
  }
}
