{% extends 'base/layout.html' %}

{% block content_main_before %}
  {% include '../widget/page_alerts.html' %}
{% endblock %}


{% block content_main %}
  <div class="row">
    <div class="col-12 col-xl-9 col-lg-8 bg-white round-corner">
      {% include '../widget/not_found_content.html' %}
    </div>
    <div class="col-xl-3 col-lg-4 d-none d-lg-block revision-toc-container"></div>
  </div>
{% endblock %}

{% block body_end %}
  <div id="presentation-layer" class="fullscreen-layer">
    <div id="presentation-container"></div>
  </div>

  <div id="crowi-modals">
  </div>
{% endblock %}
