{% extends 'base/layout.html' %}

 {% block content_main_before%}
 {% endblock %}

 {% block content_main %}
<div class="row page-content">


  <div class="col-12 col-xl-9 col-lg-8 bg-white round-corner">

    {% include '../widget/page_content.html' %}

  </div>

  <div class="col-xl-3 col-lg-4 d-none d-lg-block revision-toc-container">
    <div id="revision-toc" class="revision-toc sps sps--abv" data-sps-offset="80">
      <div id="revision-toc-content" class="revision-toc-content"></div>
    </div>
  </div>

</div>

  <div class="row page-list bg-white round-corner grw-pt-10px my-5 d-edit-none {% if page.isTopPage() %}mt-5{% endif %}">
    <div class="col">
      {% include '../widget/page_list_and_timeline_kibela.html' %}
    </div>
  </div>
{% endblock %}


{% block content_main_after %}
  {% if page %}
    {% include '../widget/page_attachments.html' %}
  {% endif%}
{% endblock %}


{% block body_end %}
<div id="presentation-layer" class="fullscreen-layer">
  <div id="presentation-container"></div>
</div>
{% endblock %}
