{% extends 'page.html' %}

{% block main_css_class %}
  {% parent %}
  user-page
{% endblock %}


{% block content_main %}
  <div class="row pt-15">

    <div class="col bg-white round-corner">

      {#
        # ensure to insert 'user_page_content' widget to here
        #
        #   Because this block has content like 'Bookmarks' or 'Recent Created' whose height changes dynamically,
        #   setting of 'revision-toc' (affix) is hindered.
        #}
      <div class="mb-5 user-page-content-container d-edit-none">
        {% include '../widget/user_page_content.html' %}
      </div>

      {% block content_main_before %}
        {% parent %}
      {% endblock %}

      {% include '../widget/page_content.html' %}

    </div>

    <div class="col-xl-3 col-lg-4 d-none d-lg-block revision-toc-container">
      <div id="revision-toc" class="revision-toc sps sps--abv" data-sps-offset="75">
        <div id="revision-toc-content" class="revision-toc-content"></div>
      </div>
    </div>

  </div>

  <div class="row page-list mt-5 d-edit-none">
    <div class="col-12">
      {% include '../widget/page_list_and_timeline_kibela.html' %}
    </div>
  </div>

{% endblock %}


{% block content_main_after %}
  {% include 'widget/comments.html' %}

  {% if page %}
    {% include '../widget/page_attachments.html' %}
  {% endif %}
{% endblock %}
