.admin-page {
  .title {
    padding: 0.5rem 15px;

    line-height: 1em;

    @include variable-font-size(28px);
    line-height: 1.1em;
  }

  .admin-user-menu {
    .dropdown-menu {
      right: 0;
      left: auto;
      width: 400px;
    }
  }

  .admin-group-menu {
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .admin-customize {
    @import 'hljs';

    .ss-container img {
      padding: 0.5em;
      background-color: $gray-300;
    }

    .table-user-list {
      .label-admin {
        margin-left: 1em;
      }
    }
  }

  .admin-setting-header {
    border-bottom: 1px solid $border-color;
  }

  .admin-security {
    .passport-logo {
      height: 32px;
      padding: 3px;
      margin-top: -0.5em;
      background-color: black;
    }

    .auth-mechanism-configurations {
      min-height: 300px;
    }
  }

  .admin-notification {
    table .admin-notif-list {
      td {
        vertical-align: middle;
      }
      .td-abs-center {
        width: 1px; // to keep the cell small
        text-align: center;
      }
    }
  }

  .admin-importer {
    table.table-mapping {
      th,
      td {
        text-align: center;
      }
    }
  }

  .admin-export {
    .progress {
      height: 8px;
    }
  }

  //// TODO: migrate to Bootstrap 4
  //// omit all .btn-toggle and use Switches
  //// https://getbootstrap.com/docs/4.2/components/forms/#switches
  //
  // Toggle Twitter Bootstrap button class when active
  // https://jsfiddle.net/ms040m01/3/
  // @mixin active-color($color, $bg-color, $border-color) {
  //   color: $color;
  //   background-color: darken($bg-color, 10%);
  //   border-color: $border-color;

  //   &:hover {
  //     background-color: darken($bg-color, 15%);
  //   }
  // }
  // .btn-group.btn-toggle {
  //   .btn {
  //     min-width: 60px;
  //   }
  //   .btn.active[data-active-class='default'] {
  //     @include active-color($btn-default-color, $btn-default-bg, $btn-default-border);
  //   }
  //   .btn.active[data-active-class='primary'] {
  //     @include active-color($btn-primary-color, $btn-primary-bg, $btn-primary-border);
  //   }

  //   // disabled btn-group styles
  //   &.btn-group-disabled {
  //     .btn:hover {
  //       cursor: not-allowed;
  //       background-color: unset;
  //     }
  //   }
  // }

  // theme selector
  #themeOptions {
    // layout
    .theme-option-container {
      min-width: 100px;
      a {
        padding: 3px;
        margin-right: 10px;
        margin-bottom: 10px;

        svg {
          display: block;
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    // style
    .theme-option-container a {
      background-color: $gray-50;
      border: 1px solid $border-color;
    }
    .theme-option-name {
      opacity: 0.3;
    }
    // style (active)
    .theme-option-container.active {
      .theme-option-name {
        opacity: 1;
      }
    }
  }

  .settings-table {
    table-layout: fixed;

    .item-name {
      width: 150px;
    }

    td.unused {
      opacity: 0.5;
    }

    &.use-only-env-vars .from-env-vars {
      background-color: rgba($info, 0.1);
    }
  }
}

.admin-navigation {
  & > a + a {
    margin-top: 2px;
  }
  &.sticky-top {
    top: 30px;
  }
}
