.main-container {
  .page-comment-main {
    // delete button
    .page-comment-control {
      position: absolute;
      display: none;    // default hidden
      top: 0;
      right: 0;
    }
  }

  // modal
  .page-comment-delete-modal .modal-content {
    .modal-body {
      .comment-body {
        // scrollable
        overflow-y: auto;
        max-height: 13em;
      }
    }
  }
}

.main-container {
  .page-comments {

    .page-comments-list-toggle-newer,
    .page-comments-list-toggle-older {
      text-align: center;
      display: block;
      margin: 8px;
      font-size: .9em;
      color: #999;
    }

    // older comments
    .page-comments-list-older .page-comment {
    }
    // newer comments
    .page-comments-list-newer .page-comment {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }
}
