.page-comment-main {
  // delete button
  .page-comment-control {
    position: absolute;
    top: 0;
    right: 0;
    display: none; // default hidden
  }
}

// modal
.page-comment-delete-modal .modal-content {
  .modal-body {
    .comment-body {
      max-height: 13em;
      // scrollable
      overflow-y: auto;
    }
  }
}

.page-comments {
  .page-comments-list-toggle-older {
    display: inline-block;
    font-size: 0.9em;
  }

  .page-comment {
    // older comments
    &.page-comment-older {
    }
    // newer comments
    &.page-comment-newer {
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }

    .page-comment-meta {
      display: flex;
      justify-content: flex-end;

      font-size: 0.9em;
      color: #999;
    }
  }
}
