.growi.main-container {
  %comment-section {
    position: relative;
    padding: 1em;
    margin: 1em 0 0.2em 4.5em;
    // screen-xs
    @media (max-width: $screen-xs) {
      margin-left: 3.5em;
    }

    // speech balloon
    &:before {
      position: absolute;
      top: 1.5em;
      left: -1em;
      display: block;
      width: 0;
      content: '';
      border: 1em solid transparent;
      border-left-width: 0;

      // screen-xs
      @media (max-width: $screen-xs) {
        top: 1em;
      }
    }
  }

  %picture {
    float: left;
    width: 3em;
    height: 3em;
    margin-top: 0.8em;
    // screen-xs
    @media (max-width: $screen-xs) {
      width: 2em;
      height: 2em;
    }
  }

  .page-comments-row {
    margin: 30px 0px;
    border-top: 5px solid;
  }

  .page-comments {
    h4 {
      margin-bottom: 1em;
    }
  }

  .page-comment {
    position: relative;

    // ユーザー名
    .page-comment-creator {
      margin-top: -0.5em;
      margin-bottom: 0.5em;
      font-weight: bold;
    }

    // ユーザーアイコン
    .picture {
      @extend %picture;
    }

    // コメントセクション
    .page-comment-main {
      @extend %comment-section;
    }

    // コメント本文
    .page-comment-body {
      margin-bottom: 0.5em;
      word-wrap: break-word;
    }

    .page-comment-meta {
      display: flex;
      justify-content: flex-end;

      font-size: 0.9em;
      color: #999;
    }
  }

  .page-comment-reply {
    margin-right: 15px;
    margin-left: 6em;
  }

  // show when hover
  .page-comment-main:hover > .page-comment-control {
    display: block;
  }

  // display cheatsheet for comment form only
  .comment-form {
    .editor-cheatsheet {
      display: none;
    }

    position: relative;
    margin-top: 2em;
    // user icon
    .picture {
      @extend %picture;
    }

    // seciton
    .comment-form-main {
      @extend %comment-section;
    }

    // textarea
    .comment-write {
      margin-bottom: 0.5em;
    }
    .comment-form-comment {
      height: 80px;
      &:focus,
      &:not(:invalid) {
        height: 180px;
        transition: height 0.2s ease-out;
      }
    }
    .comment-form-preview {
      padding-top: 0.5em;
    }
  }
}
