.grw-create-page {
  .page-today-input1 {
    width: 60px;
  }
  .page-today-input2 {
  }

  .grw-btn-create-page {
    min-width: 90px;
  }

  .create-page-under-tree-label code {
    font-family: $font-family-monospace-not-strictly;
  }

  .compare-page-table {
    width: 100%;

    tbody {
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
    }

    td,
    th {
      width: 50%;
    }

    tbody,
    tr,
    td,
    th {
      display: block;
    }

    tr {
      display: flex;
    }
  }
}
