.grw-create-page {
  .page-today-input1 {
    width: 60px;
  }
  .page-today-input2 {
  }

  .grw-btn-create-page {
    min-width: 90px;
  }

  .create-page-under-tree-label code {
    font-family: $font-family-monospace-not-strictly;
  }

  .compare-page-tabel {
    width: 100%;
  }

  .compare-page-tabel tbody {
    width: 100%;
    height: 200px;
    overflow-y: auto;
  }

  .compare-page-tabel thead,
  tbody,
  tr,
  td,
  th {
    display: block;
  }
  .compare-page-tabel tbody td {
    float: left;
  }

  .compare-page-tabel thead tr th {
    float: left;
  }
}
