.draft-list-item {
  // .icon-arrow-up {
  //   transition: 0.4s;
  //   transform: rotate(-90deg);

  //   &.caret-opened {
  //     transform: rotate(30deg);
  //   }
  // }
  .panel-heading {
    .icon-container {
      a:hover {
        text-decoration: unset;
      }
      i {
        opacity: 0.5;
      }
    }

    &:hover {
      .icon-container {
        i {
          opacity: 1;
        }
      }
    }
  }

  .draft-copy {
    cursor: pointer;
  }
  .draft-path {
    cursor: pointer;
  }
}
