.draft-list-item {
  .panel-heading {
    .caret {
      transition: 0.4s;
      transform: rotate(-90deg);

      &.caret-opened {
        transform: rotate(0deg);
      }
    }

    .icon-container {
      a:hover {
        text-decoration: unset;
      }
      i {
        opacity: 0.5;
      }
    }

    &:hover {
      .icon-container {
        i {
          opacity: 1;
        }
      }
    }
  }

  .draft-copy {
    cursor: pointer;
  }
}
