.editor-container {
  .navbar-editor {
    height: 30px;
    padding: 0;

    border-bottom: 1px solid transparent;

    li {
      display: inline-block;
    }

    button {
      padding: 8px;
      margin: 0 2px;
      font-size: 14px;
      line-height: 1;
      background-color: transparent;
      border: none;
    }

    img {
      vertical-align: bottom;
    }
  }
}
