.handsontable {
  .handsontableInput {
    max-width: 290px !important;
  }

  td {
    word-break: break-all;
  }
}

.handsontable-modal {
  &.modal-lg {
    width: 90%;
  }

  .navbar {
    margin-bottom: 0;
  }

  .data-import-form {
    background-color: #f8f8f8;
  }

  .data-import-button {
    position: relative;
    padding-right: 35px;
    padding-left: 10px;

    i:before {
      position: absolute;
      top: 6px;
      right: 8px;
      font-size: 20px;
    }
  }
}
