pre.hljs {
  position: relative;

  // override Highlight Js Style Border
  border: 1px solid $gray-500;
  border-radius: $border-radius;
  &.hljs-no-border {
    border: none;
  }

  cite {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 4px;
    font-style: normal;
    font-weight: bold;
    color: #333;
    background: #$gray-300;
    opacity: 0.6;
  }
}

// styles for highlightjs-line-numbers
.hljs-ln td.hljs-ln-numbers {
  padding-right: 5px;
  color: #$gray-300;

  text-align: center;
  vertical-align: top;
  user-select: none;
  border-right: 1px solid #$gray-300;
}

.hljs-ln td.hljs-ln-code {
  padding-left: 10px;
}
