@import 'layout';

.growi {
  .content-main {
    padding: 0;
  }

  .top-of-table-contents {
    line-height: 1.25;
    border-bottom: 1px solid transparent;

    .user-list-content {
      direction: rtl;

      .liker-user-count,
      .seen-user-count {
        font-size: 12px;
        font-weight: bolder;
      }
    }
    .cls-1 {
      isolation: isolate;
    }
  }

  .grw-page-accessories-modal {
    .modal-body {
      padding: 0rem;
    }
    .nav-title {
      //li.button etc
      li.nav-link {
        padding: 0rem;
        a.nav-link {
          padding: 1rem 1.5rem;
        }
      }
    }
    .table-top-icon {
      margin-right: 5px;
    }

    #grw-nav-slide-hr {
      border-top: 0rem;
      transition: 0.3s ease-in-out;
    }
  }

  .revision-toc {
    position: sticky;
    // growisubnavigation + grw-navbar-boder
    top: calc(100px + 4px);
    min-width: 100%;
    margin-top: 5px;

    .revision-toc-content {
      padding: 0;
    }
  }
}
