// FIXME: replace with mt-2 or mt-3
.grw-mt-10px {
  margin-top: 10px !important;
}

// FIXME: replace with pt-2 or pt-3
.grw-pt-10px {
  padding-top: 10px !important;
}

.grw-logo {
  svg {
    width: $grw-logo-width;
    height: $grw-navbar-height;
    padding: ($grw-logo-width - $grw-logomark-width) / 2;
  }
}

.confidential {
  font-weight: bold;
}

#page-wrapper {
  min-width: 0;
  margin-top: $grw-navbar-height + $grw-navbar-border-width;
}

.grw-modal-head {
  font-size: 1em;
  border-bottom: 1px solid $gray-500;
}

.main {
  margin-top: 1rem;
}

.layout-control {
  position: fixed;
  right: 25%;
  bottom: 25px;
  z-index: 1;
  display: block;
  padding: 5px 8px;
  font-size: 0.8em;
  text-align: center;
  border: solid 1px #ccc;
  border-right: none;
  // border-radius: 5px 0 0 5px;
  transition: 0.3s ease;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.revision-toc {
  // to get on the Attachment row
  z-index: 1;
  overflow: hidden;
  font-size: 0.9em;

  .revision-toc-content {
    padding: 10px;

    > ul {
      padding-left: 0;
      ul {
        padding-left: 1em;
      }
    }

    // first level of li
    > ul > li {
      padding: 5px;
      margin: 4px 4px 4px 17px;
    }
  }
}

.grw-fixed-controls-container {
  position: fixed;
  right: 1em;
  bottom: 3em;

  transition: all 200ms linear;

  .grw-fixed-controls-button-container {
    box-shadow: 0 3px 4px rgba($black, 0.3);
  }
}

// printable style
@media print {
  padding: 30px;

  a:after {
    display: none !important;
  }
  .main {
    header {
      border-bottom: solid 1px #666;
      h1 {
        font-size: 2em;
        color: #000;
      }
    }

    .revision-toc {
      float: none;
      max-width: 100%;
      margin-bottom: 20px;
      font-size: 0.9em;
      border: solid 1px #aaa;
      // border-radius: 5px;

      .revision-toc-head {
        display: inline-block;
        float: none;
      }

      .revision-toc-content.collapse {
        display: block;
        height: auto;
      }
    }

    .meta {
      margin-top: 32px;
      color: #666;
      border-top: solid 1px #ccc;
    }
  }
}

.system-version {
  position: fixed;
  right: 0.5em;
  bottom: 0;
  opacity: 0.6;

  > span {
    margin-left: 0.5em;
  }
}
