@import 'layout';

.growi {
  .content-main {
    padding: 0;
  }

  .liker-and-seenusers {
    // adjusting position with negative margin
    height: $grw-nav-main-tab-height;
    line-height: 1.25;
    border-bottom: 1px solid transparent;

    .liker-user-count,
    .seen-user-count {
      font-weight: bold;
    }
  }

  .revision-toc {
    position: sticky;
    top: calc(46px + 5px);
    min-width: 100%;
    margin-top: 5px;

    .revision-toc-content {
      padding: 0;
    }
  }
}
