@import 'layout_variable';
@import 'layout';

.growi.main-container {
  .content-main {
    padding: 0;
  }

  .liker-and-seenusers {
    // adjusting position with negative margin
    height: $grw-nav-main-tab-height;
    line-height: 1.25;
    border-bottom: 1px solid $grw-line-gray;

    .liker-user-count,
    .seen-user-count {
      font-weight: bold;
    }
  }

  .revision-toc {
    &.affix {
      top: calc(46px + 5px);
      min-width: calc(#{100 / 12 * 2%} - #{$grid-gutter-width}); // width of 2column - padding
      margin-top: 5px;
    }

    .revision-toc-content {
      padding: 0;
    }
  }
}
