@import 'layout';

.growi {
  .content-main {
    padding: 0;
  }

  .liker-and-seenusers {
    // adjusting position with negative margin
    height: $grw-nav-main-tab-height;
    line-height: 1.25;
    border-bottom: 1px solid transparent;

    .user-list-content {
      direction: rtl;

      .liker-user-count,
      .seen-user-count {
        font-weight: bold;
      }
    }
    svg {
      width: 20px;
    }
    .cls-1 {
      fill: none;
    }
    .cls-2 {
      isolation: isolate;
    }
  }

  .revision-toc {
    position: sticky;
    // growisubnavigation + grw-navbar-boder
    top: calc(100px + 4px);
    min-width: 100%;
    margin-top: 5px;

    .revision-toc-content {
      padding: 0;
    }
  }
}
