.kibela {
  .icon-link,
  .CodeMirror-hint-active,
  .nav-main-left-tab,
  .tav-pane,
  .active {
    color: #5882FA;
  }
  .bg-white {
    background: #fefffe !important;
  }
  .logo {
    background: transparent;
    .logo-mark {
      background-color: white;
      height: 50px;
      box-shadow: none;
      svg {
        width: 60px;
      }
    }
  }
  /* header */
  .background-t {
    background-color: transparent;
  }
  .authors {
    padding-top: 10px;
    li {
      list-style: none !important;
    }
  }
  .search-input-group,
  .search-typeahead {
    .btn {
      background-color: transparent;
    }
  }
  .panel-heading {
    border-radius: 0 !important;
  }
  .btn-open-dropzone {
    background: rgb(243, 245, 247);
    border-bottom: 0px !important;
  }
  /* page list */
  .page-list {
    background: white;
  }
  .page-attachments-row {
    border: 0px;
    background-color: #E5ECF1 !important;
  }
  .round-corner {
    border-radius: 0.35em;
  }
  .round-corner-top {
    border-radius: 0.35em;
    border-top: solid 0.4em #5584E1;
    z-index: absolute;
  }
  .kibela-block {
    position: absolute;
    top: 0px;
    right: 100px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 11em;
    border-radius: 0.35em;
    border-top: solid 0.4em #5584E1;
    z-index: absolute;
  }
  .bg-title {
    position: relative;
    background: transparent;
    border: none;
    svg {
      display: none;
    }
    @media screen and (max-width: 765px) {
      padding-top: 30px;
    }
  }
}
.on-edit {
  .kibela-block {
    border: 0px;
  }
}
