body {
  overflow-y: scroll !important;
}

.grw-logo {
  svg {
    width: $grw-logo-width;
    height: $grw-navbar-height;
    padding: ($grw-logo-width - $grw-logomark-width) / 2;
  }
}

.confidential {
  font-weight: bold;
}

.grw-modal-head {
  font-size: 1em;
  border-bottom: 1px solid $gray-500;
}

// padding settings for GrowiNavbarBottom
.page-wrapper {
  padding-bottom: $grw-navbar-bottom-height;

  @include media-breakpoint-up(md) {
    padding-bottom: unset;
  }
}

.main {
  margin-top: 1rem;
}

.revision-toc {
  // to get on the Attachment row
  z-index: 1;
  overflow: hidden;
  font-size: 0.9em;

  .revision-toc-content {
    padding: 10px;

    > ul {
      padding-left: 0;
      ul {
        padding-left: 1em;
      }
    }

    // first level of li
    > ul > li {
      padding: 5px;
      margin: 4px 4px 4px 17px;
    }
  }
}

.grw-fab {
  position: fixed;
  right: 1.5rem;
  bottom: 3rem;
  z-index: $zindex-fixed;

  transition: all 200ms linear;

  .btn-create-page {
    width: 60px;
    height: 60px;
    font-size: 24px;

    box-shadow: 2px 3px 6px #0000005d;
  }

  .btn-scroll-to-top {
    width: 40px;
    height: 40px;

    opacity: 0.4;

    i {
      display: inline-block;
      transform: rotate(90deg);
    }
  }
}

// printable style
@media print {
  padding: 30px;

  a:after {
    display: none !important;
  }
  .main {
    header {
      border-bottom: solid 1px $secondary;
      h1 {
        font-size: 2em;
        color: #000;
      }
    }

    .row {
      display: block !important;
    }

    .revision-toc {
      float: none;
      max-width: 100%;
      margin-bottom: 20px;
      font-size: 0.9em;
      border: solid 1px #aaa;

      .revision-toc-head {
        display: inline-block;
        float: none;
      }

      .revision-toc-content.collapse {
        display: block;
        height: auto;
      }
    }

    .meta {
      margin-top: 32px;
      color: $secondary;
      border-top: solid 1px #$gray-300;
    }
  }
}

.system-version {
  position: fixed;
  right: 0.5em;
  bottom: 0;
  opacity: 0.6;

  > span {
    margin-left: 0.5em;
  }
}
