.crowi {
  header {
    #search-listpage-form {
      .btn-sm {
        line-height: 0.5em;
      }
    }
  }

  .revision-toc {
    float: right;
    max-width: 250px;
    overflow: hidden;
    border: solid 1px #aaa;
    border-radius: 5px;

    .revision-toc-head {
      display: inline-block;
      float: right;
      padding: 3px 11px;
      margin-bottom: 5px;
      margin-left: 5px;
      font-weight: bold;
      background: $gray-200;
      border-bottom: solid 1px #aaa;
      border-left: solid 1px #aaa;
      border-radius: 0 5px;

      &.collapsed {
        margin: 0;
        border: none;
      }
    }
    .revision-toc-content {
      background: #fcfcfc;
    }
  }
}
