@import '../scss/theme/layout_kibela_variable';

body.kibela {
  .icon-link,
  .CodeMirror-hint-active,
  .grw-nav-main-left-tab,
  .tav-pane,
  .active {
    color: #5882fa;
  }

  .bg-white {
    background: #fefffe !important;
  }

  .bg-primary {
    background-color: $primary !important;
  }

  /* h element */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-header;
    margin: 10px 0;
  }

  .logo {
    background: transparent;

    .logo-mark {
      height: 50px;
      background-color: white;
      box-shadow: none;

      svg {
        width: 60px;
      }
    }
  }

  /* header */
  .background-t {
    background-color: transparent;
  }

  .authors {
    padding-top: 10px;

    li {
      list-style: none !important;
    }
  }

  .search-input-group,
  .search-typeahead {
    .btn {
      background-color: transparent;
    }
  }

  .panel-heading {
    border-radius: 0 !important;
  }

  .btn-open-dropzone {
    background: rgb(243, 245, 247);
  }

  /* page list */
  .page-list {
    background: white;
  }

  .page-attachments-row {
    background-color: #e5ecf1 !important;
    border: 0px;
  }

  .round-corner {
    border-radius: 0.35em;
  }

  .round-corner-top {
    z-index: absolute;
    border-top: solid 0.4em #5584e1;
    border-radius: 0.35em;
  }

  .kibela-block {
    position: relative;
    top: 0px;
    right: 100px;
    bottom: 0px;
    left: 0px;
    z-index: absolute;
    height: 11em;
    max-width: 840px;
    margin: auto;
    border-top: solid 0.4em #5584e1;
    border-radius: 0.35em;
  }

  .grw-subnav {
    position: relative;
    background: transparent;
    border: none;

    svg {
      display: none;
    }

    @media screen and (max-width: 765px) {
      padding-top: 30px;
    }
  }

  .revision-toc {
    position: sticky;
    top: calc(60px + 5px);
    right: 10rem;
    min-width: 100%;
    margin-top: 40px;

    .revision-toc-content {
      padding: 0;
    }

    @media screen and (max-width: 1400px) {
      &.affix {
        right: 0rem !important;
        transition: 0.5s;
      }
    }
  }

  /* admin navigation */
  .admin-navigation {
    .list-group-item + .list-group-item.active {
      margin-top: 2px;
    }

    .list-group-item.active {
      color: #fff;
      background: #1256a3;
    }

    .list-group-item {
      &:hover {
        background: #eee;
      }
    }
  }

  /* search page */
  .search-result-list,
  .page-list-li {
    background: #f4f5f6;
  }

  /* Tabs */
  .nav.nav-tabs {
    > .nav-item {
      color: #5882fa;
      cursor: pointer;
      background: transparent;

      &:hover,
      &:focus {
        > .nav-link {
          color: #7a94d9;
        }
      }

      > .nav-link {
        color: #5882fa;
        border: none;
        border-radius: 3px;
      }

      > .nav-link.active {
        background: transparent !important;
        border-bottom: solid 2.7px #5584e1;
      }
    }

    .wiki {
      h1 {
        border-bottom: solid 2px #5584e1 !important;
      }

      h2 {
        border-color: solid 1px #5584e1;
      }
    }
  }

  /* Modal */
  .modal-content {
    background-color: $themelight;

    .modal-header.bg-primary {
      color: white;

      .close {
        color: white;
      }
    }
  }

  /* Inline Code */
  :not(.hljs) > code:not(.hljs) {
    background-color: $bgcolor-inline-code;
    color: $color-inline-code;
  }

  /* Card */
  .card {
    border: 1px solid $border;

    .card-header {
      background-color: $lightthemecolor;
      border-bottom: 1px solid $border;
    }

    .card-body {
      background-color: $themelight;
    }

    .card-footer {
      background: white;
      border-top: 1px solid $border
    }
  }

  /* button */
  .btn {
    border-radius: $radius;
  }

  .btn-primary {
    background: $primary;
    border: 1px solid $primary;
  }

  /* Custom Control */
  .custom-control {
    .custom-control-input {
      ~ .custom-control-label::before {
        border-color: $lightthemecolor;
      }

      &:checked~ .custom-control-label::before {
        background-color: $color-control;
        border-color: $color-control;
      }
    }
  }

  /* edit */
  .CodeMirror {
    border: solid 1.2px #d8d8d8;
    border-top: solid 0.3em #5584e1 !important;
    border-radius: 0.35em;
  }

  &.on-edit {
    $header-plus-footer: 42px //  .nav height
      + 5.5px //                  .kibela-block border-top
      + 15px //                   .tab-content padding-top
      + 1px //                    .page-editor-footer border-top
      + 60px; //                  .page-editor-footer min-height

    @include expand-editor($header-plus-footer);

    .main {
      > .row.page-content {
        > .col-xs-12 {
          width: 100%;
          padding: 0;
        }
      }
    }

    .tab-content {
      padding-top: 15px;

      #edit {
        margin-right: 1em;
        margin-left: 1em;
      }
    }

    .tab-pane {
      .page-editor-editor-container {
        margin: 0px;
        border: none !important;
      }
    }

    .page-editor-preview-container {
      padding-right: 0px !important;
      padding-left: 2em;
      background: white !important;
    }

    .page-editor-footer {
      min-height: 60px;
      padding: 13px;
      margin: 0;
    }
  }
}

.on-edit {
  .kibela-block {
    border: 0px;
  }
}
