.kibela {
  .icon-link,
  .CodeMirror-hint-active,
  .nav-main-left-tab,
  .tav-pane,
  .active {
    color: #5882FA;
  }
  .bg-white {
    background: #fefffe !important;
  }
  .logo {
    background: transparent;
    .logo-mark {
      background-color: white;
      height: 50px;
      box-shadow: none;
      svg {
        width: 60px;
      }
    }
  }
  /* header */
  .background-t {
    background-color: transparent;
  }
  .authors {
    padding-top: 10px;
    li {
      list-style: none !important;
    }
  }
  .search-input-group,
  .search-typeahead {
    .btn {
      background-color: transparent;
    }
  }
  .panel-heading {
    border-radius: 0 !important;
  }
  .btn-open-dropzone {
    background: rgb(243, 245, 247);
    border-bottom: 0px !important;
  }
  /* page list */
  .page-list {
    background: white;
  }
  .page-attachments-row {
    border: 0px;
    background-color: #E5ECF1 !important;
  }
  .round-corner {
    border-radius: 0.35em;
  }
  .round-corner-top {
    border-radius: 0.35em;
    border-top: solid 0.4em #5584E1;
    z-index: absolute;
  }
  .kibela-block {
    position: absolute;
    top: 0px;
    right: 100px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    height: 11em;
    border-radius: 0.35em;
    border-top: solid 0.4em #5584E1;
    z-index: absolute;
  }
  .bg-title {
    position: relative;
    background: transparent;
    border: none;
    svg {
      display: none;
    }
    @media screen and (max-width: 765px) {
      padding-top: 30px;
    }
  }
  .revision-toc {
    &.affix {
      right: 10rem;
      margin-top: 40px;
      top: calc(60px + 5px);
      min-width: calc(#{100/12*2%} - #{$grid-gutter-width}); // width of 2column - padding
    }
    .revision-toc-content {
      padding: 0;
    }
    @media screen and (max-width: 1400px) {
      &.affix {
        right: 0rem !important;
        transition: 0.5s;
      }
    }
  }
  /* search page */
  .search-result-list,
  .page-list-li {
    background: #F4F5F6;
  }
  /* Tabs */
  .nav.nav-tabs {
    border-bottom-color: #F4F5F6;
    >li>a {
      &,
      &:hover,
      &:focus {
        background: transparent;
        border-top: none;
        border-left: none;
        border-right: none;
      }
    }
    >li.active>a {
      background: transparent !important;
      border-bottom: solid 2.7px #5584E1;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    .wiki {
      h1 {
        border-bottom: solid 2px #5584E1 !important;
      }
      h2 {
        border-color: solid 1px #5584E1;
      }
    }
  }
  /* user page */
  .header-wrap {
    margin-left: 2em;
    padding: 0px;
  }
  /* edit */
  .CodeMirror {
    border-radius: 0.35em;
    border-top: solid 0.3em #5584E1 !important;
    border: solid 1.2px #D8D8D8;
  }
  .tab-content {
    padding: 1em;
  }
  .tab-pane {
    .page-editor-editor-container {
      margin: 0px;
      border: none !important;
    }
  }
  .page-editor-preview-container {
    background: white !important;
    padding-right: 0px !important;
    padding-left: 2em;
  }
}
.on-edit {
  .kibela-block {
    border: 0px;
  }
}
