body {
  overflow-y: scroll !important;
}

.wrapper:not(.growi-layout-fluid) .grw-container-convertible {
  @extend .container-lg;
}

.wrapper.not-found-page .grw-container-convertible {
  @extend .container-lg;
}

.wrapper.growi-layout-fluid .grw-container-convertible {
  @extend .container-fluid;
}

.grw-logo {
  svg {
    width: $grw-logo-width;
    height: $grw-navbar-height;
    padding: ($grw-logo-width - $grw-logomark-width) / 2;
  }
}

.confidential {
  font-weight: bold;
}

.grw-modal-head {
  font-size: 1em;
  border-bottom: 1px solid transparent;
}

// padding settings for GrowiNavbarBottom
.page-wrapper {
  padding-bottom: $grw-navbar-bottom-height;

  @include media-breakpoint-up(md) {
    padding-bottom: unset;
  }
}

.main {
  margin-top: 1rem;

  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

.grw-side-contents-container {
  margin-bottom: 1rem;

  @include media-breakpoint-up(lg) {
    width: 250px;
    min-width: 250px;
    margin-left: 30px;
  }
}

.grw-side-contents-sticky-container {
  position: sticky;
  // growisubnavigation + grw-navbar-boder
  top: calc(100px + 4px);
  margin-top: 5px;
}

.grw-fab {
  position: fixed;
  right: 1.5rem;
  bottom: 3rem;
  z-index: $zindex-fixed;

  transition: all 200ms linear;

  .btn-create-page {
    width: 60px;
    height: 60px;
    font-size: 24px;

    box-shadow: 2px 3px 6px #0000005d;
    svg {
      width: 28px;
      height: 28px;
    }
  }

  .btn-scroll-to-top {
    width: 40px;
    height: 40px;

    opacity: 0.4;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

// printable style
@media print {
  // TODO: https://youtrack.weseek.co.jp/issue/GW-3855
  // padding: 30px;

  a:after {
    display: none !important;
  }
  .main {
    header {
      border-bottom: solid 1px $secondary;
      h1 {
        font-size: 2em;
        color: black;
      }
    }

    .row {
      display: block !important;
    }

    .revision-toc {
      float: none;
      max-width: 100%;
      margin-bottom: 20px;
      font-size: 0.9em;
      border: solid 1px $gray-400;
    }

    .meta {
      margin-top: 32px;
      color: $secondary;
      border-top: solid 1px $gray-300;
    }
  }
}

.system-version {
  position: fixed;
  right: 0.5em;
  bottom: 0;
  opacity: 0.6;

  > span {
    margin-left: 0.5em;
  }
}
