body {
  overflow-y: scroll !important;
}

.grw-logo {
  svg {
    width: $grw-logo-width;
    height: $grw-navbar-height;
    padding: ($grw-logo-width - $grw-logomark-width) / 2;
  }
}

.confidential {
  font-weight: bold;
}

.grw-modal-head {
  font-size: 1em;
  border-bottom: 1px solid $gray-500;
}

// padding settings for GrowiNavbarBottom
.page-wrapper {
  padding-bottom: $grw-navbar-bottom-height;

  @include media-breakpoint-up(md) {
    padding-bottom: unset;
  }
}

.main {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 1rem;
}

.grw-fab {
  position: fixed;
  right: 1.5rem;
  bottom: 3rem;
  z-index: $zindex-fixed;

  transition: all 200ms linear;

  .btn-create-page {
    width: 60px;
    height: 60px;
    font-size: 24px;

    box-shadow: 2px 3px 6px #0000005d;
    svg {
      width: 28px;
      height: 28px;
    }
  }

  .btn-scroll-to-top {
    width: 40px;
    height: 40px;

    opacity: 0.4;
    svg {
      width: 18px;
      height: 18px;
    }
  }
}

// printable style
@media print {
  padding: 30px;

  a:after {
    display: none !important;
  }
  .main {
    header {
      border-bottom: solid 1px $secondary;
      h1 {
        font-size: 2em;
        color: black;
      }
    }

    .row {
      display: block !important;
    }

    .revision-toc {
      float: none;
      max-width: 100%;
      margin-bottom: 20px;
      font-size: 0.9em;
      border: solid 1px $gray-400;

      .revision-toc-head {
        display: inline-block;
        float: none;
      }

      .revision-toc-content.collapse {
        display: block;
        height: auto;
      }
    }

    .meta {
      margin-top: 32px;
      color: $secondary;
      border-top: solid 1px $gray-300;
    }
  }
}

.system-version {
  position: fixed;
  right: 0.5em;
  bottom: 0;
  opacity: 0.6;

  > span {
    margin-left: 0.5em;
  }
}
