.crowi-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 65px 0 0 0;
  overflow: auto;
  border-left: solid 1px transparent;

  transition: 0.3s ease;

  .page-meta {
    padding: 15px 15px 5px 15px;
    font-size: 0.9em;

    line-height: 1.4em;
    border-bottom: solid 1px #ccc;
    p {
      line-height: 1.4em;
    }

    .creator-picture {
      text-align: center;
      img {
        width: 48px;
        height: 48px;
        border: 1px solid #ccc;
      }
    }
    .creator {
      font-size: 1.3em;
      font-weight: bold;
    }
    .created-at {
    }

    .like-box {
      padding-bottom: 0;

      .dl-horizontal {
        margin-bottom: 0;

        dt,
        dd {
          padding-top: 5px;
          padding-bottom: 5px;
          border-top: solid 1px #ccc;
        }
        dt {
          width: 80px;
        }
        dd {
          margin-left: 90px;
          text-align: right;
        }
      }
    }

    .liker-user-count,
    .seen-user-count {
      margin-bottom: 5px;
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .side-content {
    padding: 15px;
    margin-bottom: 100px;

    h3 {
      font-size: 1.1em;
    }

    ul.fitted-list {
      padding-left: 0;
      li {
        margin-bottom: 2px;

        .input-group-addon {
          padding: 5px 6px;
        }
      }
    }

    .page-comments {
      margin: 8px 0 0 0;

      .page-comment-form {
        margin-top: 16px;

        .comment-form-main {
          .navbar-editor button {
            padding: 5px;
            font-size: 12px;
          }
          .overlay-gfm-cheatsheet {
            display: none; // hide cheatsheet
          }
          .CodeMirror {
            height: 150px;
          }
          .comment-submit {
            margin-top: 8px;
          }
        }
      }

      hr {
        border-color: #ccc;
      }

      .page-comments-list {
        .page-comment {
          padding-top: 8px;
          margin-top: 8px;

          .picture {
            float: left;
            width: 24px;
            height: 24px;
          }

          .page-comment-creator {
            font-weight: bold;
          }

          .page-comment-main {
            position: relative;
            margin-left: 40px;

            .page-comment-meta {
              font-size: 0.9em;
              color: #aaa;
            }
            .page-comment-body {
              padding: 8px 0;
              word-wrap: break-word;
            }
            .page-comment-control {
              position: absolute;
              top: 0;
              right: 0;
              display: none; // default hidden
            }
          }

          // show controls when hover
          .page-comment-main:hover > .page-comment-control {
            display: block;
          }
        }
      }
    }
  }

  .portal-form-button {
    text-align: center;
  }

  .system-version {
    position: fixed;
    right: 1.4em;
    bottom: 0.1em;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    width: calc(25% - 1.5em);
    padding-right: 1em;
    opacity: 1;

    transition: 0.3s ease;
  }
}

body:not(.aside-hidden) #toggle-crowi-sidebar {
  i.ti-angle-left {
    display: none;
  }
  i.ti-angle-right {
    display: block;
  }
}

.aside-hidden {
  #toggle-crowi-sidebar {
    right: 0;
    i.ti-angle-right {
      display: block;
    }
    i.ti-angle-right {
      display: none;
    }
  }

  .crowi-sidebar,
  .system-version {
    right: -25%;
  }

  .bg-title .col-md-9,
  .main {
    width: 100%;
  }
}
