/* color variables */

$grw-base-green: rgb(7, 146, 72);
$grw-mos-green: rgb(5, 70, 35);
$grw-light-green: rgb(204, 238, 220);

.bg-grw-green {
  background: $grw-base-green;
}

.bg-grw-mos-green {
  background: $grw-mos-green;
}

.bg-grw-light-green {
  background: $grw-light-green;
}
