$navbar-height-adjustment: 10px;

body.kibela {
  .grw-pt-10px {
    padding-top: 10px !important;
  }

  /* navbar for kibela */
  #page-wrapper {
    margin-top: $grw-navbar-height + $grw-navbar-border-width;
  }

  /* Logo */
  .logo {
    .logo-mark {
      height: 50px;
      box-shadow: none;

      svg {
        width: 60px;
      }
    }
  }

  /* header */
  .authors {
    padding-top: 10px;

    li {
      list-style: none !important;
    }
  }

  .panel-heading {
    border-radius: 0 !important;
  }

  /* page list */
  .page-attachments-row {
    border: 0px;
  }

  .round-corner {
    border-radius: 0.35em;
  }

  .round-corner-top {
    z-index: absolute;
    border-radius: 0.35em;
  }

  .kibela-block {
    position: relative;
    top: 10px;
    right: 100px;
    bottom: 0px;
    left: 0px;
    z-index: absolute;
    max-width: 1024px;
    min-height: 8em;
    margin: auto;
    border-radius: 0.35em;
    @include media-breakpoint-down(xs) {
      top: 0px;
    }
  }

  .grw-subnav {
    position: relative;
    border: none;

    svg {
      display: none;
    }

    &.grw-subnav-user-page {
      min-height: 128px;
    }

    @media screen and (max-width: 765px) {
      padding-top: 30px;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 0px;
    }
  }

  .revision-toc {
    position: sticky;
    top: calc(60px + 5px);
    right: 10rem;
    min-width: 100%;
    margin-top: 40px;

    .revision-toc-content {
      padding: 0;
    }

    @media screen and (max-width: 1400px) {
      &.affix {
        right: 0rem !important;
        transition: 0.5s;
      }
    }
  }

  /* admin navigation */
  .admin-navigation {
    .list-group-item + .list-group-item.active {
      margin-top: 2px;
    }
  }

  /* Tabs */
  .nav.nav-tabs {
    > .nav-item {
      cursor: pointer;

      > .nav-link {
        border: none;
        border-radius: 3px;
      }
    }
  }

  /* edit */
  .CodeMirror {
    border-radius: 0.35em;
  }

  &.on-edit {
    $header-plus-footer: 42px //  .nav height
      + 5.5px //                  .kibela-block border-top
      + 15px //                   .tab-content padding-top
      + 1px //                    .page-editor-footer border-top
      + 60px; //                  .page-editor-footer min-height

    @include expand-editor($header-plus-footer, $navbar-height-adjustment);

    .kibela-block {
      top: 0px;
      max-width: unset;
      padding-top: 0px;
      border: 0px;
    }

    .tab-content {
      padding-top: 15px;

      #edit {
        margin-right: 1em;
        margin-left: 1em;
      }
    }

    .tab-pane {
      .page-editor-editor-container {
        margin: 0px;
        border: none !important;
      }
    }

    .page-editor-preview-container {
      padding-right: 0px !important;
      padding-left: 2em;
    }

    .page-editor-footer {
      min-height: 60px;
      padding: 13px;
      margin: 0;
    }
  }
}
