.popover .popover-body {
  .linkedit-preview {
    .page-editor-preview-body {
      max-height: 70vh;
      padding-top: 0px;
      .wiki {
        overflow-y: scroll;
        font-size: 100%;
      }
    }
  }
}
