.popover {
  .popover-body {
    .linkedit-preview {
      .page-editor-preview-body {
        max-height: 70vh;
        padding-top: 0px;
        margin: 0px -10px 0px -10px;
        .wiki {
          width: 200%;
          overflow-y: scroll;
          transform: scale(0.5) translate(-50%, -50%);
        }
      }
    }
  }
}
