.nologin {
  $gray-800-for-login: darken(white, 30%);
  $color-gradient: #3e4d6c;

  // background color
  background: linear-gradient(45deg, darken($color-gradient, 30%) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, $growi-green 10%, hsla(225, 95%, 50%, 0) 70%), linear-gradient(225deg, $growi-blue 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, darken($color-gradient, 25%) 100%, hsla(35, 95%, 55%, 0) 70%);

  #page-wrapper {
    background: none;
  }

  // layout
  #wrapper {
    height: 100vh;

    #page-wrapper {
      display: flex;
      align-items: center;
      height: 100vh;
      margin-top: 0px;

      .main {
        width: 100vw;

        > .row {
          margin-right: 20px;
          margin-left: 20px;
        }

        .login-header {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 30px;
          padding-bottom: 10px;
        }

        .login-form-errors {
          width: 100%;

          .alert {
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 0;

            ul {
              padding-left: 1.5em;
            }
          }
        }
      }

      // .main
    }

    // #page-wrapper
  }

  // #wrapper

  // styles
  .login-header {
    background-color: rgba(white, 0.5);

    .logo {
      background-color: rgba(black, 0);
      fill: rgba(black, 0.5);
    }

    h1 {
      font-size: 22px;
      line-height: 1em;
      color: rgba(black, 0.5);
    }
  }

  .login-dialog {
    background-color: rgba(white, 0.5);
  }

  .input-group {
    margin-bottom: 10px;

    .input-group-text {
      color: $gray-800-for-login;
      text-align: center;
      background-color: rgba(black, 0.4);
      border: none;
      border-radius: 0;
    }

    .form-control {
      color: white;
      background-color: rgba(lighten(black, 10%), 0.4);

      &::placeholder {
        color: $gray-800-for-login;
      }
    }
  }

  .input-group:not(.has-error) {
    .form-control {
      border: transparent;
    }
  }

  .collapse-external-auth {
    overflow: hidden;
  }

  $btn-fill-colors: (
    'login': (
      rgba($danger, 0.4),
      rgba(#7e4153, 0.5),
    ),
    'register': (
      rgba($success, 0.4),
      rgba(#3f7263, 0.5),
    ),
    'google': (
      rgba(#24292e, 0.4),
      #555,
    ),
    'github': (
      rgba(lighten(black, 20%), 0.4),
      #555,
    ),
    'facebook': (
      rgba(#29487d, 0.4),
      #555,
    ),
    'twitter': (
      rgba(#1da1f2, 0.4),
      #555,
    ),
    'oidc': (
      rgba(#24292e, 0.4),
      #555,
    ),
    'saml': (
      rgba(#55a79a, 0.4),
      #555,
    ),
    'basic': (
      rgba(#24292e, 0.4),
      #555,
    ),
  );

  @each $label, $colors in $btn-fill-colors {
    .btn-fill##{$label} {
      .btn-label {
        background-color: nth($colors, 1);
      }
      .eff {
        background-color: nth($colors, 2);
      }
    }
  }

  // footer link text
  .link-growi-org {
    font-size: smaller;
    font-weight: bold;
    color: rgba(black, 0.4);

    &,
    .growi,
    .org {
      transition: color 0.8s;
    }

    &:hover,
    &.focus {
      color: black;

      .growi {
        color: darken($growi-green, 20%);
      }

      .org {
        color: darken($growi-blue, 15%);
      }
    }
  }

  .link-switch {
    color: $gray-200;

    &:hover {
      color: white;
    }
  }

  .grw-fixed-controls-container {
    display: none;
  }
}

.login-page {
  // layout
  .main .row .login-header,
  .login-dialog {
    width: 320px;
  }

  .link-growi-org {
    position: absolute;
    bottom: 9px;
    z-index: 2;
  }

  // To adjust the behavior, this problem is not solved.
  // See https://github.com/AaronCCWong/react-card-flip/issues/56
  .react-card-front,
  .react-card-back {
    height: 0% !important;
  }
}

.invited,
.nologin.error {
  .main .row {
    @media (min-width: 510px) {
      .col-sm-offset-4 {
        margin-left: calc(50% - 240px);
      }

      .col-sm-4 {
        width: 480px;
      }
    }
  }
}

.login-header,
.login-dialog {
  max-width: 480px;
}

.nologin.error {
  .alert h2 {
    line-height: 1em;
  }
}
