.modal-dialog.page-list-delete-modal {
  width: 600px;
  max-width: initial;
  margin: 30px auto;
  .modal-content .modal-footer,
  .modal-content .modal-header {
    padding: 10px 15px;
  }
  .modal-header,
  .modal-body {
    border-bottom: 1px solid $border;
  }
}
