.grw-handsontable-modal {
  width: 900px;
  max-width: initial;
  overflow-x: hidden;
  .grw-modal-header {
    .modal-title {
      display: flex;
      width: 100%;
    }
  }
  .grw-modal-footer {
    display: flex;
    border-top: 1px solid $border;
  }
}
