/* navbar */

.kibela {
  .grw-navbar {
    height: 60px;
    background: white;
    border-bottom: solid 1px #e6e9ec;
    .navbar-nav {
      .confidential {
        color: white;
        background: #0d3e75;
      }
      & > li > a {
        height: 40px !important;
        margin-right: 1.5em;
        color: #3c4a60;
        border-radius: 0.35em;
        &:hover {
          color: #3c4a60;
        }
      }
    }
    .create-page {
      background: #5584e1;
      border-radius: 0.35em;
      &:hover {
        background: rgb(124, 168, 255);
      }
      span,
      i {
        color: white;
      }
    }
    @media screen and (max-width: 790px) {
      .grw-search-top {
        display: none !important;
      }
      @media screen and (max-width: 540px) {
        // TODO responsive after implementation of Sidebar
      }
    }
  }
}
