.grw-navbar {
  top: -$grw-navbar-height !important;

  max-height: $grw-navbar-height + $grw-navbar-border-width;
  border-top: 0;
  border-right: 0;
  border-bottom: $grw-navbar-border-width solid;
  border-left: 0;

  .grw-app-title {
    @include variable-font-size(24px);
  }

  .grw-navbar-search {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .nav-link,
  .nav-item.confidential {
    display: flex;
    align-items: center;
    min-height: $grw-navbar-height;
    padding: 0 1rem;
  }

  .nav-link {
    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }

    &:focus {
      background: rgba(0, 0, 0, 0);
    }
  }
  .nav-item.confidential {
    :not(i) {
      @include variable-font-size(14px);
    }

    @include media-breakpoint-only(md) {
      max-width: 100px;
    }

    max-width: 120px;
    max-height: $grw-navbar-height;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
  }

  .grw-personal-dropdown {
    .grw-email-sm {
      font-size: 0.75em;
    }
  }
}

.grw-mobile-footer {
  height: $grw-mobile-footer-height;

  // apply transition
  transition-property: bottom;
  @include apply-navigation-transition();

  &.grw-mobile-footer-drawer-opened {
    bottom: -$grw-mobile-footer-height;
  }
}
