.CodeMirror {
  pre.CodeMirror-line.grw-cm-header-line {
    padding-top: 0.16em;
    padding-bottom: 0.08em;
    font-family: $font-family-monospace;

    // '#'
    .cm-formatting-header {
      font-style: italic;
      font-weight: bold;
      opacity: 0.5;
    }

    .cm-header-1 {
      font-size: 1.9em;
    }
    .cm-header-2 {
      font-size: 1.6em;
    }
    .cm-header-3 {
      font-size: 1.4em;
    }
    .cm-header-4 {
      font-size: 1.35em;
    }
    .cm-header-5 {
      font-size: 1.25em;
    }
    .cm-header-6 {
      font-size: 1.2em;
    }
  }

  .cm-matchhighlight {
    color: $gray-900 !important;
    background-color: cyan;
  }

  .CodeMirror-selection-highlight-scrollbar {
    background-color: darkcyan;
  }

  // overwrite .CodeMirror-placeholder
  pre.CodeMirror-placeholder {
    color: $text-muted;
  }
}
