// override react-bootstrap-typeahead styles
// see: https://github.com/ericgio/react-bootstrap-typeahead
.rbt-input.form-control {
  // focus
  &.focus {
    box-shadow: none;
    border-color: inherit;
  }
}
// hide loading icon
.rbt-aux {
  display: none;
}
