// override react-bootstrap-typeahead styles
// see: https://github.com/ericgio/react-bootstrap-typeahead
.form-group:not(.has-error) {
  .rbt-input.form-control {
    // focus
    &.focus {
      border-color: inherit;
      box-shadow: none;
    }
  }
}

.rbt-input-wrapper {
  .close {
    padding: 3px 7px !important;
  }
}

// hide loading icon
.rbt-aux {
  display: none;
}
