// override react-bootstrap-typeahead styles
// see: https://github.com/ericgio/react-bootstrap-typeahead
.form-group:not(.has-error) {
  .rbt-input.form-control {
    // focus
    &.focus {
      border-color: inherit;
      box-shadow: none;
    }
  }
}

.rbt-input-wrapper {
  .close.rbt-close {
    // default bootstrap .close has padding 0
    padding: 3px 7px;
  }
}

// hide loading icon
.rbt-aux {
  display: none;
}

// seamless border for .input-group-prepend
.input-group-prepend + div {
  .rbt .rbt-input-main {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
