.grw-page-accessories-modal {
  .nav-link svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .grw-modal-body-style {
    max-height: 80vh;
  }
}

// revision-history
// to stay d2h-code-side-line-number in the revision history diff area
.d2h-wrapper {
  position: relative;
}
