.grw-page-accessories-modal {
  .nav-title {
    flex-wrap: nowrap;

    li {
      a.nav-link {
        padding: 1rem 1.5rem;
      }
    }
  }
  #grw-nav-slide-hr {
    border-top: 0rem;
    border-bottom: 3px solid;
    transition: 0.3s ease-in-out;
  }
  .nav-link svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }

  .grw-modal-body-style {
    max-height: calc(100vh - 100px);
  }
}

// revision-history
// to stay d2h-code-side-line-number in the revision history diff area
.d2h-wrapper {
  position: relative;
}
