.growi {
  header {
    div.title-logo-container {
      display: none; // hide in default

      a {
        // centering
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    ul.authors {
      padding-left: 1.5em;
      margin: 0;

      li {
        font-size: 12px;
        list-style: none;
      }

      .picture {
        width: 22px;
        height: 22px;
        border: 1px solid #ccc;

        &.picture-xs {
          width: 14px;
          height: 14px;
        }
      }
    }
  }

  /*
   * affix header
   */
  header:not(.affix) {
    .only-affix {
      display: none !important;
    }
  }
  header.affix {
    .not-affix {
      display: none !important;
    }

    // show logo link
    div.title-logo-container {
      display: unset;
      margin-right: 6px;
      margin-left: -12px;
    }
    // hide authors in affix
    .authors {
      padding-left: 0.5em;
    }
  }
}
