// @import '../scss/variables';
// @import '../scss/override-bootstrap-variables';

.revision-history-table {
  tbody {
    max-height: 250px;
  }
}

.revision-history-main {
  img.picture-lg {
    width: 32px;
    height: 32px;
  }
}

.revision-history-main-nodiff {
  .picture-container {
    min-width: 32px;
    text-align: center; // centering .picture
  }
}

.revision-history-diff {
  color: $gray-900;
  table-layout: fixed;
}

.comparison-header {
  height: 34px;
  background-color: #ffffff;
  border: 1px solid $gray-300;
  .comparison-source-wrapper {
    height: 26px;
    margin-right: 1px;
    border-right: 1px solid $gray-300;
    .comparison-source {
      color: $gray-500;
    }
  }
  .comparison-target-wrapper {
    height: 26px;
    .comparison-target {
      color: $gray-500;
    }
  }
}

.revision-compare {
  .revision-compare-container {
    min-height: 100px;

    &.nodiff {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .d2h-file-header {
    display: none;
  }
}
