.grw-sidebar-content-header {
  .grw-icon-reload {
    font-size: 18px;
  }
}

.list-group {
  .list-group-item {
    .grw-recent-changes-item-lower {
      height: 17.5px;
    }
    .footstamp-icon {
      svg {
        width: 14px;
        height: 14px;
        transform: translateY(-3.5px);
      }
    }

    .grw-list-counts {
      height: 14px;
      font-size: 12px;
    }

    .grw-formatted-distance-date {
      font-size: 10px;
    }

    .icon-lock {
      font-size: 14px;
    }
  }
}
