.list-group {
  .list-group-item {
    .footstamp-icon {
      svg {
        width: 13.92px;
        height: 13.95px;
        viewbox: 0 0 13.9 13.9;
      }
    }

    .grw-list-counts {
      font-size: 12px;
    }

    .icon-lock {
      font-size: 14px;
    }
  }
}
