// Staff Credit
.staff-credit {
  // .modal-dialog のスタイルを打ち消すために !important を付ける
  width: 80vw !important;
  height: 80vh !important;
  max-width: initial !important;
  // see https://css-tricks.com/old-timey-terminal-styling/
  @mixin old-timey-terminal-styling() {
    text-shadow: 0 0 10px #c8c8c8;
    background-color: black;
    background-image: radial-gradient(rgba(50, 100, 100, 0.75), black 120%);
  }

  font-family: 'Press Start 2P', $basefont1;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Press Start 2P', $basefont1;
    color: white;
  }

  $credit-length: -240em;

  // see https://css-tricks.com/old-timey-terminal-styling/
  .credit-curtain {
    padding-top: 80vh;
    @include old-timey-terminal-styling();
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .credit-body {
    position: relative;
    top: 100%;
    // credit duration
    animation-duration: 20s;
    animation-timing-function: linear;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.2em;
  }

  .dev-position {
    font-size: 1em;
  }

  .dev-name {
    font-size: 1.8em;
  }

  .staff-credit-mt-10 {
    margin-top: 6rem;
  }

  .staff-credit-mb-10 {
    margin-bottom: 6rem;
  }

  .staff-credit-my-10 {
    @extend .staff-credit-mt-10;
    @extend .staff-credit-mb-10;
  }
}
