$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

%transitionForCompactMode {
  // set transition-duration (normal -> compact)
  transition: all 300ms $easeInOutCubic;
}

/*
 * Styles
 */

.grw-header {
  .title {
    padding: 0.5rem 15px;

    line-height: 1em;

    @include variable-font-size(28px);
    line-height: 1.1em;
  }
}

.grw-subnavbar {
  min-height: 115px;
  padding: 10px 30px;

  &:hover {
    .btn-copy,
    .btn-edit,
    .btn-edit-tags {
      // change button opacity
      opacity: unset;
    }
  }

  h1 {
    @include variable-font-size(32px);
    line-height: 1.4em;
  }

  .grw-page-path-nav {
    .separator {
      margin-right: 0.2em;
      margin-left: 0.2em;
    }
  }

  .btn-like,
  .btn-bookmark {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  ul.authors {
    padding: 0.7em 0 0.7em 1.5em;
    margin-bottom: 0;
    margin-left: 1em;

    li {
      font-size: 12px;
      list-style: none;
    }

    .text-date {
      font-size: 11px;
    }

    .picture {
      width: 22px;
      height: 22px;
      border: 1px solid #ccc;

      &.picture-xs {
        width: 14px;
        height: 14px;
      }
    }
  }
}
