.grw-subnav {
  min-height: $grw-subnav-min-height;
  padding: 8px 15px;

  @include media-breakpoint-up(md) {
    min-height: $grw-subnav-min-height-md;
  }

  &:hover {
    .btn-copy,
    .btn-edit,
    .btn-edit-tags {
      // change button opacity
      opacity: unset;
    }
  }

  .grw-drawer-toggler {
    width: 50px;
    height: 50px;
    font-size: 24px;
  }

  h1 {
    @include variable-font-size(32px);
    line-height: 1.4em;
  }

  .grw-page-path-nav {
    .separator {
      margin-right: 0.2em;
      margin-left: 0.2em;
    }
  }

  .btn-like,
  .btn-bookmark {
    height: 40px;
    font-size: 20px;
    border-radius: $border-radius-xl;
  }

  .total-likes,
  .total-bookmarks {
    font-size: 17px;
    font-weight: $font-weight-bold;
  }

  ul.authors {
    padding: 0.7em 0 0.7em 1.5em;
    margin-bottom: 0;
    margin-left: 1em;

    li {
      font-size: 12px;
      list-style: none;
    }

    .text-date {
      font-size: 11px;
    }

    .picture {
      width: 22px;
      height: 22px;
      border: 1px solid $gray-300;

      &.picture-xs {
        width: 14px;
        height: 14px;
      }
    }
  }

  /*
   * Compact Mode
   */
  &.grw-subnav-compact {
    min-height: 70px;

    @include media-breakpoint-up(md) {
      min-height: 90px;
    }

    .btn-like,
    .btn-bookmark {
      @extend .btn-sm;

      height: 30px;
      font-size: 15px !important;
      border-radius: $border-radius-xl;
    }

    .total-likes,
    .total-bookmarks {
      height: 12px;
      font-size: 12px;
    }
  }
}

/*
 * Fixed ver
 */
$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

.grw-subnav-fixed-container {
  top: $grw-navbar-border-width;
  z-index: $zindex-sticky - 5;

  .grw-subnav {
    box-shadow: 0px 6px 6px -3px rgba(black, 0.15);
  }
}

/*
 * Switching show/hide
 */
.grw-subnav-switcher {
  .grw-subnav-fixed-container {
    transition: transform 150ms $easeInOutCubic;
  }

  &.grw-subnav-switcher-hidden {
    .grw-subnav-fixed-container {
      transition: unset;
      transform: translateY(-100%);
    }
  }
}
