$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

@mixin setTransitionForCompactMode() {
  // set transition-duration (normal -> compact)
  transition: all 300ms $easeInOutCubic;
}

/*
 * layout for sticky
 */
header.grw-header {
  top: $grw-navbar-height;

  // Adjust to be on top of the growi subnavigation
  z-index: $zindex-sticky - 100;
  height: 80px;
  pointer-events: none; // disable pointer events for sticky

  .grw-subnav {
    overflow: unset;
    pointer-events: all; // enable pointer events
  }
}

/*
 * Compact Mode Switching
 */
.grw-subnavbar {
  &.grw-subnavbar-compact {
    @include setTransitionForCompactMode();

    h1 {
      @include variable-font-size(18px);
      @include setTransitionForCompactMode();
    }
  }
}

/*
 * Sticky Mode Switching
 */
.grw-subnavbar {
  &.grw-subnavbar-sticky {
    // set transition-duration (init -> sticky)
    transition: all 400ms linear !important;
  }
}

/*
 * Styles
 */

.grw-header {
  .title {
    padding: 0.5rem 15px;

    line-height: 1em;

    @include variable-font-size(28px);
    line-height: 1.1em;
  }
}

.grw-subnavbar {
  &:hover {
    .btn-copy,
    .btn-edit,
    .btn-edit-tags {
      // change button opacity
      opacity: unset;
    }
  }

  h1 {
    @include variable-font-size(28px);
    line-height: 1.1em;
  }

  ul.authors {
    padding-left: 1.5em;
    margin: 0;

    li {
      font-size: 12px;
      list-style: none;
    }

    .picture {
      width: 22px;
      height: 22px;
      border: 1px solid #ccc;

      &.picture-xs {
        width: 14px;
        height: 14px;
      }
    }
  }
}
