.title-container {
  .tag-viewer {
    float: left;
    color: gray;

    .manage-tags {
      cursor: pointer;
      font-size: 15px;
      margin-left: 15px;
      margin-right: 10px;
      padding-top: 1px;
      float: left;
    }

    .tag-icon {
      border: none;
      font-size: 10px;
      margin-left: 5px;
    }

    a {
      margin-left: 2px;
      color: gray;
      font-size: 10px;
    }
  }


}
