.manage-tags {
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
}

.tag-icon:not(:first-child) {
  margin-left: 5px;
}

.display-of-notag,
.tag-icon {
  font-size: 10px;
}

.tag-name {
  margin-left: 1px;
  font-size: 10px;
}

.list-tag-icon {
  margin: auto 0px;
}

.list-tag-name {
  margin-left: 5px;
}

.list-tag-count {
  color: rgba(60, 74, 96, 0.5);
  background: rgba(0, 0, 0, 0.08);
  padding: 0px 15px;
  border-radius: 40px;
  font-size: 70%;
  height: 14px;
  margin: auto 20px;
}


#editTagModal {
  .form-control {
    height: auto;
  }
}
