.title-container {
  .tag-viewer {
    float: left;
    color: gray;

    .manage-tags {
      cursor: pointer;
      font-size: 12px;
      margin-left: 10px;
    }

    .tag-icon {
      border: none;
      font-size: 10px;
      margin-left: 5px;
    }

    a {
      margin-left: 2px;
      color: gray;
      font-size: 10px;
    }
  }

}

#editTagModal {
  .form-control {
    height: auto;
  }
}
