.top-of-table-contents {
  flex-wrap: wrap;

  .grw-btn-top-of-table {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  .seen-user-count {
    font-size: 12px;
    font-weight: bolder;
  }
  .grw-seen-user-list {
    .btn {
      white-space: nowrap;
    }
  }

  .seen-user-popover {
    max-width: 200px;
  }
}

.revision-toc {
  // to get on the Attachment row
  z-index: 1;
  font-size: 0.9em;

  .revision-toc-content {
    padding: 10px;

    > ul {
      padding-left: 0;
      ul {
        padding-left: 1em;
      }
    }

    // first level of li
    > ul > li {
      padding: 5px;
      margin: 4px 4px 4px 17px;
    }
  }
}
