.main-container {
  .user-page-header {

    #revision-path {
      margin-bottom: 0;
    }

    .users-meta {
      margin-left: 30px;
    }

    h1 {
      margin: 0;
      font-size: 2.5em;
      color: #666;
    }

    .picture {
      height: 64px;
      width: 64px;
    }

    .user-page-meta {
      color: #999;

      ul {
        padding-left: 0;
        li {
          list-style: none;
        }
      }
      .user-page-username {
        font-weight: bold;
      }
      .user-page-email {
      }
      .user-page-introduction {
      }
    }

    .like-button, .bookmark-link {
      &.btn-lg {
        font-size: 1.5em;
        padding: 8px;
      }
    }
  }

  // affix
  .user-page-header.affix {

    .users-meta {
      margin-left: 15px;
    }

    h1 {
      font-size: 1.5em;
      line-height: 30px;
    }

    .picture {
      height: 48px;
      width: 48px;
    }
  }
}

.user-component {

  img.picture {
    margin-right: 4px;
  }
  span {
    margin-right: 4px;
  }
}
