$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

%transitionForCompactMode {
  // set transition-duration (normal -> compact)
  transition: all 300ms $easeInOutCubic;
}

.grw-header.grw-header-user-page {
  height: 150px;
}

/*
 * Compact Mode Switching
 */
.grw-subnavbar.grw-subnavbar-user-page {
  &.grw-subnavbar-compact {
    .grw-user-page-path {
      margin-bottom: 0;
      font-size: 14px;

      @extend %transitionForCompactMode;
    }
    .picture {
      width: 62px;
      height: 62px;

      @extend %transitionForCompactMode;
    }
    h1 {
      font-size: 1.5em;
      line-height: 30px;

      @extend %transitionForCompactMode;
    }
    .users-meta {
      margin-left: 15px;

      @extend %transitionForCompactMode;
    }
  }
}

/*
 * Styles
 */
.grw-subnavbar-user-page {
  #revision-path {
    margin-bottom: 0;
  }

  .users-meta {
    margin-left: 30px;
  }

  h1 {
    margin: 0;
    font-size: 2.5em;
    color: #666;
  }

  .picture {
    width: 72px;
    height: 72px;
  }

  ul.user-page-meta {
    padding-left: 0;
    color: #999;

    li {
      list-style: none;
    }

    .user-page-username {
      font-weight: bold;

      .user-page-email {
      }

      .user-page-introduction {
      }
    }

    .user-page-email {
    }

    .user-page-introduction {
    }
  }

  .btn.btn-bookmark {
    width: 50px;
    height: 50px;
    &.btn-lg {
      font-size: 1.5em;
    }
  }
}

.draft-list-item {
  .icon-container {
    .icon-copy,
    .draft-delete,
    .icon-edit {
      cursor: pointer;
    }
  }
}
