$easeInOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

%transitionForCompactMode {
  // set transition-duration (normal -> compact)
  transition: all 300ms $easeInOutCubic;
}

/*
 * Styles
 */
.grw-users-info {
  .users-meta {
    margin-left: 30px;
  }

  .user-page-name {
    margin: 0;
    font-size: 2.5em;
    color: $secondary;
  }

  .picture {
    width: 120px;
    height: 120px;
  }

  div.user-page-meta {
    padding-left: 0;
    color: $gray-400;

    .user-page-username {
      font-weight: bold;
    }
  }
}

.grw-usermenu-notification-icon {
  position: absolute;
  top: -4px;
  left: 30px;
}

.draft-list-item {
  .icon-container {
    .icon-copy,
    .draft-delete,
    .icon-edit {
      cursor: pointer;
    }
  }
}

.user-page-footer {
  .grw-user-page-list-m {
    svg {
      width: 35px;
      height: 35px;
      margin-bottom: 6px;
    }
  }
}
