//== GROWI Official Color
$growi-green: #74bc46;
$growi-blue: #175fa5;

$font-family-monospace-not-strictly: Monaco, Menlo, Consolas, 'Courier New', MeiryoKe_Gothic, monospace;

//== Layout
$grw-navbar-height: 50px;

$grw-sidebar-nav-width: 64px;
$grw-sidebar-content-min-width: 240px;

$grw-logo-width: $grw-sidebar-nav-width;
$grw-logomark-width: 40px;

// fix tab width to 95 pixels
// see also '_on-edit.scss'
$grw-nav-main-left-tab-width: 95px;
$grw-nav-main-tab-height: 42px;
