$font-family-monospace-not-strictly: Monaco, Menlo, Consolas, 'Courier New', MeiryoKe_Gothic, monospace;

// Layout
$grw-navbar-height: 50px;
$grw-logo-width: 60px;
$grw-logomark-width: 32px;

// fix tab width to 95 pixels
// see also '_on-edit.scss'
$grw-nav-main-left-tab-width: 95px;
$grw-nav-main-tab-height: 42px;
