// import variables
@import '../agile-admin/inverse/variables';
@import 'variables';
@import 'variables-bootstrap';

@import 'mixins';

// vendor
@import 'vendor';

// override bootstrap
@import 'override-bootstrap';

// override react-bootstrap-typeahead styles
@import 'override-rbt';

// atoms
@import 'atoms/buttons';
@import 'atoms/nav';
@import 'atoms/spinners';

// crowi component
@import 'admin';
@import 'attachments';
@import 'comment';
@import 'comment_crowi';
@import 'comment_growi';
@import 'comment_kibela';
@import 'create-page';
@import 'create-template';
@import 'draft';
@import 'editor-attachment';
@import 'editor-navbar';
@import 'handsontable';
@import 'layout';
@import 'layout_crowi';
@import 'layout_crowi_sidebar';
@import 'layout_growi';
@import 'layout_kibela';
@import 'layout_variable';
@import 'login';
@import 'modal';
@import 'navbar';
@import 'navbar_kibela';
@import 'notification';
@import 'on-edit';
@import 'page_list';
@import 'page';
@import 'page_growi';
@import 'search';
@import 'shortcuts';
@import 'tag';
@import 'user';
@import 'user_growi';
@import 'staff_credit';
@import 'waves';
@import 'wiki';

/*
 * for Guest User Mode
 */
.dropdown-disabled {
  cursor: not-allowed;
}

.edit-button.edit-button-disabled {
  cursor: not-allowed;
}

/*
 * Helper Classes
 */

.picture {
  width: 24px;
  height: 24px;

  // size list
  &.picture-lg {
    width: 48px;
    height: 48px;
  }

  &.picture-md {
    width: 24px;
    height: 24px;
  }

  &.picture-sm {
    width: 18px;
    height: 18px;
  }

  &.picture-xs {
    width: 14px;
    height: 14px;
  }
}

// transplant from FontAwesome
.icon-fw {
  display: inline-block;
  width: 1.4em;
  text-align: left;
}

.cmd-key.mac {
  &:after {
    content: '⌘';
  }
}

.cmd-key.win {
  &:after {
    content: 'Ctrl';
  }
}
