@use '~/styles/variables' as var;
@use '~/styles/bootstrap/init' as bs;

/*
 * style of inline-code
 */
code:not([class^='language-']) {
  padding: 2px 4px;
  font-family: var.$font-family-monospace-not-strictly;
  border: 1px solid;
  border-radius: bs.$border-radius;
}
