{% extends '../../layout/layout.html' %}

{% block html_additional_headers %}
  {% parent %}
  {{ cdnScriptTag('highlight-addons') }}
  {{ cdnScriptTag('drawio-viewer') }}
{% endblock %}

{% block layout_main %}
<div class="container-fluid p-0">

  <div class="row body m-0 p-0">

    <div id="main" class="main col-12 kibela-block round-corner {% if page %}{{ css.grant(page) }}{% endif %}{% block main_css_class %}{% endblock %}">
      <div class="row grw-subnav d-edit-none">
        <div class="col px-0 mx-0 bg-white kibela-border-top round-corner">
          {% block content_header %} {% endblock %}
        </div>
        <div class="col-xl-3 col-lg-4"></div>
      </div>
      <!-- /.grw-subnav -->

      {% block content_main_before %}
      {% endblock %}

      {% block content_main %}
      {% endblock content_main %}

      {% block content_main_after%}
      {% endblock %}
    </div>

  </div>

</div>
<!-- /.container-fluid -->

<footer class="footer">
  {% include '../../widget/system-version.html' %}
</footer>
{% endblock %} {# layout_main #}
