{% extends '../../layout/layout.html' %} {% block layout_main %}
<div class="container-fluid">

  <div class="row body m-0 p-0">

    <div id="main" class="main col-md-7 col-xs-12 kibela-block bg-white m-t-30 round-corner {% if page %}{{ css.grant(page) }}{% endif %}{% block main_css_class %}{% endblock %}">
      <div class="row bg-title">
        <div class="col-xs-12 ">
          {% block content_header %} {% endblock %}
        </div>
      </div>
      <!-- /.bg-title -->
      {% block content_main_before %} {% endblock %} {% block content_main %} {% endblock content_main %} {% block content_main_after%}
      {% endblock %}
    </div>

  </div>

</div>
<!-- /.container-fluid -->

<footer class="footer">
  {% include '../../widget/system-version.html' %}
</footer>
{% endblock %} {# layout_main #}
