{% extends '../../layout/layout.html' %}

{% block html_additional_headers %}
  {% parent %}
  {{ cdnScriptTag('highlight-addons') }}
  {{ cdnScriptTag('drawio-viewer') }}
{% endblock %}

{% block layout_main %}
<div class="container-fluid p-0">

  <div id="grw-subnav-switcher-container" class="d-edit-none"></div>
  <div id="grw-subnav-sticky-trigger" class="sticky-top"></div>

  <div class="row body m-0 p-0 d-print-block">

    <div id="main" class="main col-12 kibela-block round-corner {% if page %}{{ css.grant(page) }}{% endif %}{% block main_css_class %}{% endblock %}">
      {% block content_header_wrapper %}
        <header class="row mb-5 grw-subnav d-edit-none d-print-block round-corner">
            <div class="col-12 px-0 mx-0">
              {% block content_header %}
                <div id="grw-subnav-container" class="d-edit-none"></div>
              {% endblock %}
            </div>
          </header>
        </header>
      {% endblock %}

      <!-- /.grw-subnav -->

      {% block content_main_before %}
      {% endblock %}

      {% block content_main %}
      {% endblock content_main %}

      {% block content_main_after%}
      {% endblock %}
    </div>

  </div>

</div>
<!-- /.container-fluid -->

<footer class="footer">
</footer>
{% endblock %} {# layout_main #}
