.codemirror-editor-container :global {

  .cm-editor {
    width: 100%;
    height: 100%;

    // Header highlight style
    .cm-header {
      text-decoration: none;
      &:first-of-type {
        font-style: italic;
        opacity: 0.5;
      }
    }

    .cm-header-1 {
      font-size: 1.9em;
    }
    .cm-header-2 {
      font-size: 1.6em;
    }
    .cm-header-3 {
      font-size: 1.4em;
    }
    .cm-header-4 {
      font-size: 1.35em;
    }
    .cm-header-5 {
      font-size: 1.25em;
    }
    .cm-header-6 {
      font-size: 1.2em;
    }

  }

}

// TODO: ref Editor.module.scss
//
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$secondary: $gray-600 !default;

@mixin overlay-processing-style($additionalSelector, $contentFontSize: inherit, $contentPadding: inherit) {
  .overlay.#{$additionalSelector} {
    background: rgba(255, 255, 255, 0.5);
    .overlay-content {
      padding: $contentPadding;
      font-size: $contentFontSize;
      color: $gray-700;
      background: rgba(200, 200, 200, 0.5);
    }
  }
}

@mixin insertSimpleLineIcons($code) {
  &:before {
    margin-right: 0.2em;
    font-family: 'simple-line-icons';
    content: $code;
  }
}

// ref: https://github.com/google/material-design-icons/blob/master/font/MaterialIcons-Regular.codepoints
@mixin insertMaterialIcons($code) {
  &:before {
    margin-right: 0.2em;
    font-family: 'Material Icons';
    content: $code;
  }
}


.codemirror-editor :global {

  // overlay in .codemirror-editor
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7; // forward than .CodeMirror-vscrollbar
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // for Dropzone
  .dropzone {
    position: relative; // against .overlay position: absolute

    @include overlay-processing-style(overlay-dropzone-active, 2.5em, 0.5em);


    // uploading
    &.dropzone-uploading {
      .overlay.overlay-dropzone-active {
        .overlay-content {
          // insert content
          @include insertMaterialIcons('\e9fc'); // upload_file

          &:after {
            content: 'Uploading...';
          }
        }
      }

    }

    // diabled
    &.dropzone-disabled {
      .overlay.overlay-dropzone-active {
        .overlay-content {
          // insert content
          // @include insertSimpleLineIcons('\e617'); // icon-exclamation
          @include insertMaterialIcons('\e000'); // error

          &:after {
            content: 'File uploading is disabled';
          }
        }
      }
    }

    // uploadable
    // &.dropzone-uploadable {
    // accepted
    &.dropzone-accepted {
      .overlay.overlay-dropzone-active {
        border: 4px dashed $gray-300;

        .overlay-content {
          // insert content
          // @include insertSimpleLineIcons('\e084'); // icon-cloud-upload
          @include insertMaterialIcons('\e2c3'); // cloud-upload

          &:after {
            content: 'Drop here to upload';
          }

          // style
          color: $secondary;
          background: rgba(200, 200, 200, 0.8);
        }
      }
    }

    // file type mismatch
    &.dropzone-mismatch-picture {
      .overlay.overlay-dropzone-active {
        .overlay-content {
          // insert content
          // @include insertSimpleLineIcons()('\e032'); // icon-picture
          @include insertMaterialIcons('\e410'); // photo

          &:after {
            content: 'Only an image file is allowed';
          }
        }
      }
    }

    // rejected
    &.dropzone-rejected {
      .overlay.overlay-dropzone-active {
        background: rgba(200, 200, 200, 0.8);

        .overlay-content {
          color: $gray-300;
        }
      }
    }
    /* end of.dropzone */
  }
}

