@use '@growi/core/scss/bootstrap/init' as bs;


.codemirror-editor-container :global {

  .cm-editor {
    width: 100%;
    height: 100%;

    // Header highlight style
    .cm-header {
      text-decoration: none;
      &:first-of-type {
        font-style: italic;
        opacity: 0.5;
      }
    }

    .cm-header-1 {
      font-size: 1.9em;
    }
    .cm-header-2 {
      font-size: 1.6em;
    }
    .cm-header-3 {
      font-size: 1.4em;
    }
    .cm-header-4 {
      font-size: 1.35em;
    }
    .cm-header-5 {
      font-size: 1.25em;
    }
    .cm-header-6 {
      font-size: 1.2em;
    }

  }

}


@mixin insertMaterialSymbolAndMessage($code, $message) {
  .overlay-icon:before {
    margin-right: 0.2em;
    font-size:1.4em;
    content: $code;
  }
  &:after {
    content: $message;
  }
}

.codemirror-editor :global {

  // overlay in .codemirror-editor
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7; // forward than .CodeMirror-vscrollbar
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // for Dropzone
  .dropzone {
    position: relative; // against .overlay position: absolute

    .overlay.overlay-dropzone-active {
      background: rgba(255, 255, 255, 0.5);
      .overlay-content {
        padding: 0.5em;
        font-size: 2.5em;
        color: bs.$gray-700;
        background: rgba(200, 200, 200, 0.5);
      }
    }

    // uploading
    &.dropzone-uploading {
      .overlay.overlay-dropzone-active {
        .overlay-content {
          @include insertMaterialSymbolAndMessage('upload_file', 'Uploading...');
        }
      }
    }

    // diabled
    &.dropzone-disabled {
      .overlay.overlay-dropzone-active {
        .overlay-content {
          @include insertMaterialSymbolAndMessage('error', 'File uploading is disabled');
        }
      }
    }

    // accepted
    &.dropzone-accepted {
      .overlay.overlay-dropzone-active {
        // style
        color: bs.$secondary;
        background: rgba(200, 200, 200, 0.8);
        border: 4px dashed bs.$gray-300;

        .overlay-content {
          @include insertMaterialSymbolAndMessage('cloud_upload', 'Drop here to upload');
        }
      }
    }

    // file type mismatch
    &.dropzone-mismatch-picture {
      .overlay.overlay-dropzone-active {
        .overlay-content {
          @include insertMaterialSymbolAndMessage('photo', 'Only an image file is allowed');
        }
      }
    }

    // rejected
    &.dropzone-rejected {
      .overlay.overlay-dropzone-active {
        background: rgba(200, 200, 200, 0.8);

        .overlay-content {
          @include insertMaterialSymbolAndMessage('error', 'This file is not allowed');
        }

      }
    }
    /* end of.dropzone */
  }
}

