.codemirror-editor-container :global {

  .cm-editor {
    width: 100%;
    height: 100%;

    .cm-header-1 {
      font-size: 1.9em;
    }
    .cm-header-2 {
      font-size: 1.6em;
    }
    .cm-header-3 {
      font-size: 1.4em;
    }
    .cm-header-4 {
      font-size: 1.35em;
    }
    .cm-header-5 {
      font-size: 1.25em;
    }
    .cm-header-6 {
      font-size: 1.2em;
    }

  }

}
