@use '@growi/core-styles/scss/bootstrap/init' as bs;

.grw-grid-edit-modal :global {
  .desktop-preview,
  .tablet-preview,
  .mobile-preview {
    .row {
      height: 140px;
      margin: 0;
    }
  }
  .desktop-preview {
    .row {
      div {
        padding: 0;
      }
    }
  }

  .tablet-preview {
    .row {
      div {
        padding: 0;
      }
    }
  }

  .mobile-preview {
    width: 75%;
    .row {
      div {
        padding: 0;
      }
    }
  }

  .grid-division-menu {
    width: 60vw;

    @include bs.media-breakpoint-down(lg) {
      width: 80vw;
    }
  }
}
