.admin-page {

  .admin-user-menu {
    .dropdown-menu {
      left: auto;
      right: 0;
      width: 300px;
    }
  }

  .admin-group-menu {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  .admin-customize {
    .ss-container img {
      padding: .5em;
      background-color: #ddd;
    }

    .table-user-list {
      .label-admin {
        margin-left: 1em;
      }
    }

    // override CodeMirror styles
    .CodeMirror pre {
      font-family: $font-family-monospace;
    }
  }

  .admin-security {
    .passport-logo {
      margin-top: -.5em;
      padding: 3px;
      height: 32px;
      background-color: black;
    }

    .auth-mechanism-configurations {
      min-height: 800px;
    }
  }

  // Toggle Twitter Bootstrap button class when active
  // https://jsfiddle.net/ms040m01/3/
  @mixin active-color($color, $bg-color, $border-color) {
    color: $color;
    background-color: darken($bg-color, 10%);
    border-color: $border-color;

    &:hover {
      background-color: darken($bg-color, 15%);
    }
  }
  .btn-group.btn-toggle {
    .btn {
      min-width: 60px;
    }
    .btn.active[data-active-class="default"] {
      @include active-color($btn-default-color, $btn-default-bg, $btn-default-border);
    }
    .btn.active[data-active-class="primary"] {
      @include active-color($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
  }

  // theme selector
  #themeOptions {
    // layout
    a {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 3px;

      svg {
        display: block;
      }
    }

    // style
    a {
      border: 1px solid #ccc;
      background-color: #f5f5f5;

      &.active {
        border-color: $brand-success;
        background-color: $brand-success;
      }
    }

    // theme color
    .default {
      .color1 {
        fill: white;
      }
      .color2 {
        fill: #334455;
      }
      .color3 {
        fill: #112744;
      }
    }
    .default-dark {
      .color1 {
        fill: #212731;
      }
      .color2 {
        fill: #151515;
      }
      .color3 {
        fill: #f75b36;
      }
    }
  }
}
