.growi.main-container {
  .content-main {
    padding: 0;
  }

  .revision-toc {
    &.affix {
      margin-top: 5px;
      top: calc(46px + 5px);
    }

    .revision-toc-content {
      padding: 0;
    }
  }

}

.system-version {
  position: fixed;
  right: 0.5em;
  bottom: 0;
  opacity: .6;

  > span {
    margin-left: .5em;
  }

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
