.kibela {

  html, body, #page-wrapper {
    background-color: #F4F5F6 !important;

  }

  .kibela-block {
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  }
  .bg-title {
    margin: none !important;
    padding: none !important;
    background: transparent;
    width: 100%;
  }
  .page-content {
    padding: 15px;
    margin: auto;
  }

}
.kibela.main-container {
  .content-main {
    padding: 0;
  }

  .revision-toc {
    &.affix {
      right: 6rem;
      margin-top: 30px;
      top: calc(46px + 5px);
      min-width: calc(#{100/12*2%} - #{$grid-gutter-width});  // width of 2column - padding

    }

    .revision-toc-content {
      padding: 0;
    }
    @media screen and (max-width: 1350px) {
      &.affix {
      right: 0rem !important;
      transition: 0.5s ;
      }
    }
  }
}


