.kibela {

  p, h1, h2, h3, h4, h5, h6, li, span, i {
    color: #3c4a60;
  }
  body, html {
    background-color: gray;
  }
  .logo {
    background: transparent;
     .logo-mark {
      background-color: white;
      height: 50px;
   }
 }




  #page-header, .navbar-header, .textarea-editor, .page-editor-preview-body, .btn, .top-left-part {
    background: white;
  }

  #page-wrapper {
    background-color: #F4F5F6 !important;

  }
  .bg-title {
     svg {
      display: none;
    }
  }
  .round-corner {
    border-radius: 0.5em;
    border-top: solid 0.4em #5584E1;
    z-index: absolute;
  }
  .d-flex {

  }
  .kibela-block {

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  }
  .bg-title {
    margin: none !important;
    padding: none !important;
    background: transparent;
    border: none;
   }
}
.kibela.main-container {
  .content-main {
    padding: 0;
    border-radius: 0.3em;
    border-top: solid 0.2em #5584E1;
    z-index: absolute;
  }

  .revision-toc {
    &.affix {
      right: 6rem;
      margin-top: 30px;
      top: calc(46px + 5px);
      min-width: calc(#{100/12*2%} - #{$grid-gutter-width});  // width of 2column - padding

    }

    .revision-toc-content {
      padding: 0;
    }
    @media screen and (max-width: 1350px) {
      &.affix {
      right: 0rem !important;
      transition: 0.5s ;
      }
    }
  }



















}












