.crowi-plus.main-container {
  .main-crowi-plus-customized .content-main {
    padding: 0;
  }

  @media (max-width: $screen-sm-max) {
    .system-version {
      display: none;
    }
  }
}

.system-version {
  position: fixed;
  right: 0.5em;
  bottom: 0;
  opacity: .6;

  > span {
    margin-left: .5em;
  }
}
