.main-container { // {{{
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }

  .navbar-top-links { // {{{
    .confidential {
      a {
        // border: solid 2px #f00;
        // background: #fff;
        // color: #f00;
        // font-weight: bold;
        // height: 42px;
        // margin-top: 5px;
        // padding: 10px;
        // margin-right: 5px;
      }
    }
  } // }}}

  .main {
    .header-wrap {
      padding: 15px 15px 0 15px;
      min-height: 70px;
    }
  }

  .layout-control { // {{{
    transition: .3s ease;
    -webkit-transition: .3s ease;
    position: fixed;
    display: block;
    text-align: center;
    right: 25%;
    bottom: 25px;
    padding: 5px 8px;
    border: solid 1px #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    z-index: 1039;
    font-size: .8em;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  } // }}}

  .revision-toc {
    font-size: .9em;
    max-width: 250px;
    overflow: hidden;

    .revision-toc-content {
      padding: 10px;

      > ul {
        padding-left: 0;
        ul {
          padding-left: 1em;
        }
      }

      > ul > li { // first level of li
        margin: 4px 4px 4px 15px;
        padding: 5px;
      }
    }
  }
} // }}}


.crowi.single { // {{{
} // }}}

.crowi.single.nologin { // {{{
  .installer-header {
    margin-top: 100px;
    text-align: center;

    h1 {
      margin: 40px 0 40px;
      color: #fff;
      font-size: 1.6em;
    }
  }

  .main {
    margin: 0;
    padding: 0;
  }

  h1.login-page {
    margin-top: 80px;
    color: #fff;
    font-size: 1.6em;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0,0,0,.5);
    line-height: 100%;
  }


  .login-dialog-container {

    margin: 40px auto;
    float: none;

    .login-dialog {
      position: relative;

      form {
        margin-top: 10px;
        .input-group {
          margin-bottom: 10px;
        }
      }

      .login-dialog-inner, .register-dialog-inner {
        top: 0;
        left: 0;
        padding: 42px 48px;
        background: #fff;
        position: absolute;
        margin-bottom: 40px;
        width: 100%;

        box-shadow: 0 1px 40px 0 rgba(0,0,0,0.3);
        border-radius: 3px;

        h2 {
          margin: 0 0 28px;
          font-size: 1.3em;
          text-align: center;
        }
      }

      p.bottom-text {
        text-align: right;
        margin: 20px 0 0;
      }
    }

  }


} // }}}

@media print { // {{{ printable style
  .main-container { // {{{
    padding: 30px;

    a:after {
      display: none !important;
    }
    .main {
      header {
        border-bottom: solid 1px #666;
        h1 {
          font-size: 2em;
          color: #000;
        }
      }

      .revision-toc {
        float: none;
        font-size: .9em;
        border: solid 1px #aaa;
        border-radius: 5px;
        max-width: 100%;
        margin-bottom: 20px;

        .revision-toc-head {
          display: inline-block;
          float: none;
        }

        .revision-toc-content.collapse {
          display: block;
          height: auto;
        }
      }

      .meta {
        border-top: solid 1px #ccc;
        margin-top: 32px;
        color: #666;
      }


    }
  }
} // }}}
