// hide sidebar by agile-admin completely
.content-wrapper {
  .sidebar {
    display: none;
  }
  #page-wrapper {
    margin-left: 0;
  }
}

/*
 * Logo
 */
.top-left-part {
  line-height: 0%;
  a {
    text-transform: none;
  }

  .logo {
    svg.dark-logo, svg.dark-logo-text {
      fill: white;
    }
    svg.light-logo, svg.light-logo-text {
      fill: #4F5467;
    }
    svg.dark-logo, svg.light-logo {
      padding: 12px;
      width: 50px;
      height: 50px;
    }
    svg.dark-logo-text, svg.light-logo-text {
      width: 156px;
      height: 50px;
    }
  }
}

/*
 * Dropdown
 */
.dropdown-menu {
  border-radius: 0;

  > li > a {
    padding: 5px 15px;
  }
}


/*
 * Modal
 */
.modal-content {
  border: none;
  border-radius: 0;

  .modal-header, .modal-footer {
    padding: 10px 15px;
  }
}


/*
 * Helper Classes
 */
.img-circle {
  // size list
  &.img-circle-lg {
    width: 48px;
    height: 48px;
  }
  &.img-circle-sm {
    width: 16px;
    height: 16px;
  }
  &.img-circle-xs {
    width: 12px;
    height: 12px;
  }
}
