#page-wrapper {
  padding-bottom: 0;
}

/*
 * Sidebar
 */
.content-wrapper {
  // hide elements by agile-admin completely
  .logo .logo-text {
    display: none;
  }
  @media(min-width:768px) {
    .sidebar {
      display: none;
    }
  }
  #page-wrapper {
    margin-left: 0;
  }
}

/*
 * Logo
 */
.top-left-part {
  line-height: 0%;

  a {
    text-transform: none;
  }
}
.logo {
  // set transition for fill
  svg * {
    transition: fill 0.8s ease-out;
  }

  .dark-logo, .dark-logo-text {
    svg {
      fill: white;
    }
  }
  .light-logo, .light-logo-text {
    svg {
      fill: $dark-themecolor;
    }
  }
  .dark-logo, .light-logo {
    svg {
      padding: 12px;
      width: 50px;
      height: 50px;
    }
  }
  .dark-logo-text, .light-logo-text {
    svg {
      width: 156px;
      height: 50px;
    }
  }
}
// when sidebar is hidden
.content-wrapper {
  .top-left-part {
    background-color: darken($topbar, 10%);

    .logo {
      .dark-logo, .light-logo {
        svg {
          fill: lighten($topbar, 15%);

          &:hover {
            .group1 { fill: #74bc45; }
            .group2 { fill: #1664b0; }
          }
        }
      }
    }
  }
}


/*
 * Button
 */
button.btn.btn-link:hover {
  text-decoration: none;
}

/*
 * Dropdown
 */
.dropdown-menu {
  > li > a {
    padding: 5px 15px;
  }
}


/*
 * Modal
 */
.modal-content {
  border: none;
  // border-radius: 0;

  .modal-header, .modal-footer {
    padding: 10px 15px;
  }
}


/*
 * Wells
 */
.well {
  background-color: #f5f5f5;
  padding: .7em;
  &.well-sm {
    padding: .5em;
  }
}


/*
 * Panel
 */
.panel {
  .panel-heading {
    padding: 7px 15px;
  }
  .panel-body {
    padding: 15px;
  }
  .panel-footer {
    padding: 7px 15px;
  }
}


/*
 * Label
 */
.label {
  padding: 2px 7px;
}
