// import diff2html styles
@import "~diff2html/dist/diff2html.css";

.main-container {
  // padding controll of .header-wrap and .content-main are moved to _layout and _form

  /*
   * header
   */
  header {
    line-height: 1em;

    // the container of h1
    div.title-container {
      margin-right: auto;
      h1 {
        line-height: 1.1em;
      }
    }

    .btn-copy, .btn-copy-link, .btn-edit {
      @extend .text-muted;
      opacity: 0.3;
      border: none;
      &:not(:hover) {
        background-color: transparent;
      }
    }
    // change button opacity
    &:hover {
      .btn.btn-copy, .btn-copy-link, .btn.btn-edit {
        opacity: unset;
      }
    }

    .like-button, .bookmark-link {
      border: none;
      font-size: 1.2em;
      line-height: 0.8em;
      &:not(:hover) {
        background-color: transparent;
      }
    }
    .like-button {
      &.active {
        @extend .btn-info;
      }
    }
    .bookmark-link {
      &.active {
        @extend .btn-warning;
      }
    }

    h1 {
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 0;

      .btn-copy-container {
        font-size: 0.65em;
      }

      // crowi layout only
      a.last-path {
        color: #ccc;

        &:hover {
          color: inherit;
        }
      }

    }

    .url-line {
      color: #999;
      font-size: 1rem;
    }

    // affix
    &.affix {
      width: 100%;
      top: 0;
      left: 0;
      padding: 2px 20px;
      z-index: 15; // over the .sidebar
      background: rgba(white, .9);
      box-shadow: 0 0px 2px #999;

      h1 {
        font-size: 1.8em;
      }
    }

  }

  // alert component settings for trash page and moved page
  .alert-trash, .alert-moved, .alert-unlinked {
    padding: 10px 15px;
  }

  /*
  // {{{ grant related style
  .main.grant-restricted,
  .main.grant-specified,
  .main.grant-owner {
    background: #333;
    padding: 16px;

    .page-grant {
      color: #ccc;
    }

    article {
      border-radius: 5px;
    }
  }
  // }}}

  .footer { // {{{
    position: fixed;
    width: calc(25% - 18px);
    bottom: 0px;
    height: 26px;
    padding: 4px;
    color: #444;
    // background: $crowiAsideBackground;
    border-top-left-radius: 5px;
    z-index: 1055;

    a {
      color: #666;
    }
  } // }}}

  */
}

.main-container .main .content-main .revision-history { // {{{

  .revision-history-list {
    .revision-hisory-outer {
      .revision-history-main {
        .picture {
          width: 32px;
          height: 32px;
        }
        .revision-history-meta {
          a:hover {
            cursor: pointer;
          }
        }

        .caret {
          transform: rotate(-90deg);
          transition: 0.4s;

          &.caret-opened {
            transform: rotate(0deg);
          }
        }
      }
      .revision-history-diff {
        padding-left: 40px;
      }
    }

    li {
      position: relative;
      list-style: none;
    }
  }

} // }}}

// for not_found.html
/*
.main-container {
  .message-not-found {
    margin-top: 10px;
    margin-left: 16px;
  }

  .content-main.content-main-not-found {
    .nav {
      margin-top: 16px;
    }
  }
}
*/
