// import diff2html styles
@import "~diff2html/dist/diff2html.css";

.crowi.main-container {
  // padding controll of .header-wrap and .content-main are moved to _layout and _form

  /*
   * header
   */
  header {
    .btn-copy, .btn-copy-link, .btn-edit {
      @extend .text-muted;
      opacity: 0.3;
      border: none;
      &:not(:hover) {
        background-color: transparent;
      }
    }
    // change button opacity
    &:hover {
      .btn.btn-copy, .btn-copy-link, .btn.btn-edit {
        opacity: unset;
      }
    }

    .like-button, .bookmark-link {
      border: none;
      font-size: 1.2em;
      line-height: 0.8em;
      &:not(:hover) {
        background-color: transparent;
      }
    }
    .like-button {
      &.active {
        @extend .btn-info;
      }
    }
    .bookmark-link {
      &.active {
        @extend .btn-warning;
      }
    }

    .flex-title-line {
      line-height: 1;
      display: flex;
      align-items:         center;

      .flex-item-title {
        flex-basis: auto;
        margin-right: auto;
      }
      .flex-item-action {
        flex-basis: 2em;
        text-align: center;
        padding: 0 2px;
      }
    }

    h1 {
      font-size: 28px;
      margin-top: 0;
      margin-bottom: 0;

      .btn-copy-container {
        font-size: 0.65em;
      }

      //// TODO crowi layout only
      // a.last-path {
      //   color: #D1E2E4;
      //   opacity: .4;

      //   &:hover {
      //     color: inherit;
      //   }
      // }

    }

    .url-line {
      color: #999;
      font-size: 1rem;
    }

    // affix
    &.affix {
      width: 100%;
      top: 0;
      left: 0;
      padding: 5px 20px;
      z-index: 15; // over the .sidebar
      background: rgba(white, .9);
      box-shadow: 0 0px 2px #999;

      h1 {
        font-size: 1.8em;
      }
    }

  }

  // alert component settings for trash page and moved page
  .alert-trash, .alert-moved, .alert-unlinked {
    padding: 10px 15px;
  }

  /*
  // {{{ grant related style
  .main.grant-restricted,
  .main.grant-specified,
  .main.grant-owner {
    background: #333;
    padding: 16px;

    .page-grant {
      color: #ccc;
    }

    article {
      border-radius: 5px;
    }
  }
  // }}}

  .page-attachments { // {{{
    p {
      font-weight: bold;
    }

    ul {
    }
  } // }}}

  aside.sidebar { // {{{
    z-index: 1030;
    position: fixed;
    padding: 65px 0 0 0;
    // margin-bottom: $crowiFooterHeight;
    color: #333;
    height: 100%;
    right: 0;
    top: 0;
    overflow: auto;
    border-left: solid 1px #ccc;
    // background: $crowiAsideBackground;

    transition: .3s ease;
    -webkit-transition: .3s ease;


    .page-meta {
      padding: 15px 15px 5px 15px;
      color: #666;
      font-size: .9em;
      line-height: 1.4em;
      border-bottom: solid 1px #ccc;

      .creator-picture {
        text-align: center;
        img {
          width: 48px;
          height: 48px;
          box-shadow: 0 0 1px #666;
        }
      }
      .creator {
        font-size: 1.3em;
        font-weight: bold;
      }
      .created-at {
      }

      .like-box {
        padding-bottom: 0;

        .dl-horizontal {
          margin-bottom: 0;

          dt, dd {
            border-top: solid 1px #ccc;
            padding-top: 5px;
            padding-bottom: 5px;
          }
          dt {
            width: 80px;
          }
          dd {
            margin-left: 90px;
            text-align: right;
          }
        }
      }

      .liker-count, .contributor-count, .seen-user-count {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .contributor-list, .seen-user-list {
      }
    }

    .side-content {
      // margin-bottom: $crowiFooterHeight + $crowiHeaderHeight;
      color: #666;
      padding: 15px;

      h3 {
        font-size: 1.1em;
      }

      // disabled in crowi-plus -- 2017.06.03 Yuki Takei
      // a {
      //   color: #ccc;
      //   &:hover { color: #aaa;}
      // }

      ul.fitted-list {
        padding-left: 0;
        li {
          margin-bottom: 2px;

          .input-group-addon {
            padding: 5px 6px;
          }
        }
      }
    }
  } // }}}
  */

  /*
  .footer { // {{{
    position: fixed;
    width: calc(25% - 18px);
    bottom: 0px;
    height: 26px;
    padding: 4px;
    color: #444;
    // background: $crowiAsideBackground;
    border-top-left-radius: 5px;
    z-index: 1055;

    a {
      color: #666;
    }
  } // }}}

  &.aside-hidden { // {{{
    .layout-control {
      right: 0;
      i {
        transform: rotate(180deg);
      }
    }

    aside.sidebar { // {{{
      right: -25%;
    } // }}}

    .main { // {{{
      width: 100%;

      article header.affix {
        width: 100%;
      }
    } // }}}
  } // }}}
  */
}

.crowi.main-container .main .content-main .revision-history { // {{{

  .revision-history-list {
    .revision-hisory-outer {
      .revision-history-main {
        .picture {
          width: 32px;
          height: 32px;
        }
        .revision-history-meta {
          a:hover {
            cursor: pointer;
          }
        }

        .caret {
          transform: rotate(-90deg);
          transition: 0.4s;

          &.caret-opened {
            transform: rotate(0deg);
          }
        }
      }
      .revision-history-diff {
        padding-left: 40px;
      }
    }

    li {
      position: relative;
      list-style: none;
    }
  }

} // }}}

// for not_found.html
/*
.crowi.main-container {
  .message-not-found {
    margin-top: 10px;
    margin-left: 16px;
  }

  .content-main.content-main-not-found {
    .nav {
      margin-top: 16px;
    }
  }
}
*/
