#shortcuts-modal {
  @media (min-width: $screen-sm-min) { // {{{ more than tablet size
    .modal-dialog {
      width: 750px;
    }
  }
  @media (max-width: $screen-xs-max) { // {{{ less than tablet size
    table {
      table-layout: fixed;
    }
  }

  h3 {
    margin-bottom: 1em;
  }

  table {
    th {
      vertical-align: middle;
    }
    td {
      min-width: 170px;
    }
  }

  // see http://coliss.com/articles/build-websites/operation/css/css-apple-keyboard-style-by-nrjmadan.html
  .key {
    /*Box Properties*/
    display:inline-block;
    width:36px;
    height:36px;
    margin: 0px 4px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
    /*Text Properties*/
    font: 18px/36px Helvetica, serif ;
    text-transform: uppercase;
    text-align: center;
    color: #666;
    /* SVG Properties*/
    polygon {
      fill: #666;
    }

    &.key-longer {
      width: 64px;
    }
    &.key-long {
      width: 72px;
    }
  }

  .dl-horizontal {
    dt {
      // width: 180px;
      height: 41px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    // dd {
    //   margin-left: 190px;
    // }
  }

}
