.crowi-sidebar { // {{{
  position: fixed;
  padding: 65px 0 0 0;
  // margin-bottom: $crowiFooterHeight;
  color: #333;
  height: 100%;
  right: 0;
  top: 0;
  overflow: auto;
  border-left: solid 1px #ccc;
  background: #f5f5f5;

  transition: .3s ease;
  -webkit-transition: .3s ease;


  .page-meta {
    padding: 15px 15px 5px 15px;
    color: #666;
    font-size: .9em;
    line-height: 1.4em;
    border-bottom: solid 1px #ccc;

    .creator-picture {
      text-align: center;
      img {
        width: 48px;
        height: 48px;
        box-shadow: 0 0 1px #666;
      }
    }
    .creator {
      font-size: 1.3em;
      font-weight: bold;
    }
    .created-at {
    }

    .like-box {
      padding-bottom: 0;

      .dl-horizontal {
        margin-bottom: 0;

        dt, dd {
          border-top: solid 1px #ccc;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        dt {
          width: 80px;
        }
        dd {
          margin-left: 90px;
          text-align: right;
        }
      }
    }

    .liker-count, .contributor-count, .seen-user-count {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .contributor-list, .seen-user-list {
    }
  }

  .side-content {
    // margin-bottom: $crowiFooterHeight + $crowiHeaderHeight;
    color: #666;
    padding: 15px;

    h3 {
      font-size: 1.1em;
    }

    // disabled in crowi-plus -- 2017.06.03 Yuki Takei
    // a {
    //   color: #ccc;
    //   &:hover { color: #aaa;}
    // }

    ul.fitted-list {
      padding-left: 0;
      li {
        margin-bottom: 2px;

        .input-group-addon {
          padding: 5px 6px;
        }
      }
    }
  }

} // }}}

.aside-hidden { // {{{
  #toggle-sidebar {
    right: 0;
    i {
      transform: rotate(180deg);
    }
  }

  .crowi-sidebar { // {{{
    right: -25%;
  } // }}}

  .main { // {{{
    width: 100%;

    article header.affix {
      width: 100%;
    }
  } // }}}
} // }}}
