/**
 * default config
 */

module.exports = {
  server: {
    port: 3000
  },
  app: {
    title: 'Crocos Wiki'
  },
  security: {
    confidential: '',
    passwordSeed: "j9a5gt", // please change here
    registrationMode: 'Restricted', // Open, Restricted, Closed
    registrationWhiteList: []
  },
  aws: {
    bucket: 'crowi',
    region: 'ap-northeast-1',
    accessKeyId: '',
    secretAccessKey: ''
  },
  mongodb: {
    host: 'localhost',
    dbname: 'crowi',
    user: '',
    password: ''
  },
  searcher: {
    url: 'https:// ...' // crocos-wikis
  },
  google: {
    clientId: '',
    clientSecret: ''
  },
  facebook: {
    appId: '',
    secret: ''
  },
  session: {
    secret: 'please input here some string',
  }
}
