@use '~/styles/mixins';
@use '@growi/core-styles/scss/bootstrap/init' as bs;

.grw-contextual-sub-navigation {
  @include bs.media-breakpoint-down(md) {
    // set min-height to keep the height
    //  even if the item is empty on the share link page
    min-height: 46px;
  }
}

@include mixins.at-editing() {
  .grw-contextual-sub-navigation {
    position: fixed;
    right: 0;

    // unset colors
    background-color: unset;
    backdrop-filter: unset;
  }
}
