@use '~/styles/bootstrap/init' as bs;
@use './_comment-inheritance';

// display cheatsheet for comment form only
.comment-editor-styles :global {
  .comment-form {
    // TODO: Never use this class
    // .editor-cheatsheet {
    //   display: none;
    // }

    position: relative;
    margin-top: 1em;

    // user icon
    .picture {
      @extend %picture;
    }

    // seciton
    .comment-form-main {
      @extend %comment-section;
      margin-left: 4.5em;
      @include bs.media-breakpoint-down(xs) {
        margin-left: 3.5em;
      }
    }

    // textarea
    .comment-write {
      margin-bottom: 0.5em;
    }
    // TODO: Never use this class
    // .comment-form-comment {
    //   height: 80px;
    //   &:focus,
    //   &:not(:invalid) {
    //     height: 180px;
    //     transition: height 0.2s ease-out;
    //   }
    // }
    .comment-form-preview {
      padding-top: 0.5em;
    }
  }
}
