@use './items-tree-variables';

// fix height
.items-tree :global {
  li {
    height: items-tree-variables.$list-item-height;
  }
}


// fix padding-left
.items-tree {

  &:global{
    // To realize a hierarchical structure, set multiplied padding-left to each pagetree-item
    > .tree-item-layout {
      > .list-group-item {
        padding-left: 0;
      }
      > .tree-item-layout-children {
        > .tree-item-layout {
          > .list-group-item {
            padding-left: items-tree-variables.$list-item-padding-left;
          }
          > .tree-item-layout-children {
            > .tree-item-layout {
              > .list-group-item {
                padding-left: items-tree-variables.$list-item-padding-left * 2;
              }
              > .tree-item-layout-children {
                > .tree-item-layout {
                  > .list-group-item {
                    padding-left: items-tree-variables.$list-item-padding-left * 3;
                  }
                  > .tree-item-layout-children {
                    > .tree-item-layout {
                      > .list-group-item {
                        padding-left: items-tree-variables.$list-item-padding-left * 4;
                      }
                      > .tree-item-layout-children {
                        > .tree-item-layout {
                          > .list-group-item {
                            padding-left: items-tree-variables.$list-item-padding-left * 5;
                          }
                          > .tree-item-layout-children {
                            > .tree-item-layout {
                              > .list-group-item {
                                padding-left: items-tree-variables.$list-item-padding-left * 6;
                              }
                              > .tree-item-layout-children {
                                > .tree-item-layout {
                                  > .list-group-item {
                                    padding-left: items-tree-variables.$list-item-padding-left * 7;
                                  }
                                  > .tree-item-layout-children {
                                    > .tree-item-layout {
                                      > .list-group-item {
                                        padding-left: items-tree-variables.$list-item-padding-left * 8;
                                      }
                                      > .tree-item-layout-children {
                                        > .tree-item-layout {
                                          > .list-group-item {
                                            padding-left: items-tree-variables.$list-item-padding-left * 9;
                                          }
                                          .tree-item-layout-children {
                                            > .tree-item-layout {
                                              > .list-group-item {
                                                padding-left: items-tree-variables.$list-item-padding-left * 10;
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
