@use '@growi/core/scss/bootstrap/init' as bs;

// TODO: relocate following styles into PageTreeItem.mdoule.scss after refactoring
// https://redmine.weseek.co.jp/issues/127544
@include bs.color-mode(light) {
  .pagetree-item :global {
    .list-group-item-action {
      .btn-page-item-control {
        --bs-btn-bg: transparent;
        --bs-btn-hover-bg: var(--grw-highlight-400);
        --bs-btn-active-bg: var(--grw-highlight-600);
      }
    }
  }
}
@include bs.color-mode(dark) {
  .pagetree-item :global {
    .list-group-item-action {
      .btn-page-item-control {
        --bs-btn-bg: transparent;
        --bs-btn-hover-bg: var(--grw-highlight-700);
        --bs-btn-active-bg: var(--grw-highlight-800);
      }
    }
  }
}
