@use '@growi/core/scss/bootstrap/init' as bs;


// == Colors

// drag over
.page-tree-item :global {
  .drag-over {
    background-color: var(--bs-list-group-action-active-bg);
  }
}

@include bs.color-mode(light) {
  // button
  .page-tree-item :global {
    .list-group-item-action {
      .btn-page-item-control {
        --bs-btn-bg: transparent;
        --bs-btn-hover-bg: var(--grw-primary-200);
        --bs-btn-active-bg: var(--grw-primary-300);
      }
    }
  }
}

@include bs.color-mode(dark) {
  // button
  .page-tree-item :global {
    .list-group-item-action {
      .btn-page-item-control {
        --bs-btn-bg: transparent;
        --bs-btn-hover-bg: var(--grw-primary-600);
        --bs-btn-active-bg: var(--grw-primary-700);
      }
    }
  }
}
