@use '@growi/core/scss/bootstrap/init' as bs;

// == Colors
@include bs.color-mode(light) {
  .pagetree-item :global {
    li:hover {
      background-color: var(--grw-primary-100);
    }
    li.active {
      background-color: var(--grw-primary-100)
    }
    .list-group-item-action {
      .btn-page-item-control {
        --bs-btn-bg: transparent;
        --bs-btn-hover-bg: var(--grw-primary-200);
        --bs-btn-active-bg: var(--grw-primary-300);
      }
    }
  }
}

@include bs.color-mode(dark) {
  .pagetree-item :global {
    li:hover {
      background-color: var(--grw-primary-800);
    }
    li.active {
      background-color: var(--grw-primary-800)
    }
    .list-group-item-action {
      .btn-page-item-control {
        --bs-btn-bg: transparent;
        --bs-btn-hover-bg: var(--grw-primary-600);
        --bs-btn-active-bg: var(--grw-primary-700);
      }
    }
  }
}
