// @mixin page-editor-mode-manager($textColor, $borderColor, $bgColorHoverAndActive, $bgColor: white) {
.grw-page-editor-mode-manager .btn {
  width: 70px;
  white-space: nowrap;

  @include border-vertical('before', 70%, 1, true);

  &.view-button,
  &.edit-button {
    line-height: 1.2rem;
    .grw-page-editor-mode-manager-icon {
      @include media-breakpoint-down(sm) {
        font-size: 1.2rem;
      }
    }
  }
  &.hackmd-button {
    line-height: 1.2rem;
    .grw-page-editor-mode-manager-icon {
      @include media-breakpoint-down(sm) {
        font-size: 1.2rem;
      }
    }
    .grw-page-editor-mode-manager-label {
      font-size: 12px;
      letter-spacing: -0.6px;
    }
  }
  &:not(:disabled):not(.disabled):focus {
    box-shadow: none;
  }
}
