.grw-slack-notification {
  $input-height-slack: 1.8rem;
  border-color: $gray-200;

  border-style: solid;
  border-width: 1px;
  border-radius: $input-height-slack/2 2px 2px $input-height-slack/2;

  .form-control {
    height: $input-height-slack;
    border: transparent;
    @include media-breakpoint-up(sm) {
      width: 130px;
    }
    @include media-breakpoint-up(md) {
      width: 180px;
    }
  }
}
//　TODO デザインの使用が確定して実装、本タスクのスコープ外
// .grw-slack-notification-xd {
// }
