@import '@growi/core-styles/scss/bootstrap/apply';

@import 'react-toastify/scss/main';

@import '@growi/core-styles/scss/helpers/flex-expand';

:root {
  --font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  --font-family-serif: georgia, 'Times New Roman', times, serif;
  --font-family-monospace: Menlo, Consolas, DejaVu Sans Mono, monospace;
}
