@use '@growi/core/scss/bootstrap/init' as bs;

.page-path-header :global {
  max-width: calc(100vw - 650px);
  @include bs.media-breakpoint-down(lg) {
    max-width: calc(100vw - 372px);
  }
  @include bs.media-breakpoint-down(md) {
    max-width: calc(100vw - 264px);
  }
  input {
    min-width: 20px;
    min-height: unset;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.2em;
  }

  .page-path-header-buttons {
    height: 0;

    .btn {
      width: 24px;
      height: 24px;
      transform: translateY(12px);
    }
  }
}
