.page-title-header :global {
  input {
    min-width: 20px;
    min-height: unset;
    padding: 0 0.5rem;
    line-height: 1em;
    transform: translateX(0.05rem) translateY(0.05rem);
  }

  // Make Truncated elements horizontally scrollable and hide the scroll bar
  .page-title-header-input {
    scrollbar-width: none;
  }
}

.page-title-header-border-color {
  --bs-border-color: transparent;

  &:global {
    &:hover {
      --bs-border-color: var(--bs-primary-border-subtle);
    }
  }
}
