.page-title-header :global {
  max-width: calc(100vw - 650px);
  input {
    min-width: 20px;
    min-height: unset;
    padding: 0 0.5rem;
    line-height: 1em;

.page-title-header-border-color {
  --bs-border-color: transparent;

  &:global {
    &:hover {
      --bs-border-color: var(--bs-primary-border-subtle);
    }
  }
}
