.page-path-header :global {
  input {
    min-width: 20px;
    min-height: unset;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 1.2em;
  }

  .page-path-header-buttons {
    height: 0;

    .btn {
      width: 24px;
      height: 24px;
      transform: translateY(12px);
    }
  }
}
