@use '@growi/core/scss/bootstrap/init' as bs;

@include bs.color-mode(light) {
  .personal-dropdown-header :global {
    color: var(--bs-gray-600);
  }

  .personal-dropdown-item :global {
    --bs-link-color-rgb:var(--bs-gray-600);
    color: var(--bs-gray-600);
  }
}

@include bs.color-mode(dark) {
  .personal-dropdown-header :global {
    --bs-heading-color: var(--bs-gray-500);
    --bs-dropdown-header-color: var(--bs-gray-500);
  }

  .personal-dropdown-item :global {
    .item-icon,
    .item-text {
      color: var(--bs-gray-500);
    }
  }
}

.personal-dropdown-menu :global {
  --bs-dropdown-font-size: 14px;
}

.personal-dropdown-header :global {
  .item-text-email {
    font-size: 10.5px;
  }
}
