@use '@growi/core/scss/bootstrap/init' as bs;

@use '~/styles/variables' as var;

.grw-sidebar-nav :global {
  width: var.$grw-sidebar-nav-width;

  border-right : 1px solid var(--bs-border-color);

  .grw-sidebar-nav-secondary-container {
    position: fixed;
    bottom: 1.5rem;
  }
}


// == Colors
.grw-sidebar-nav :global {
}
@include bs.color-mode(light) {
  .grw-sidebar-nav :global {
    background-color: var(--grw-sidebar-nav-bg, var(--grw-highlight-100));
  }
}
@include bs.color-mode(dark) {
  .grw-sidebar-nav :global {
    background-color: var(--grw-sidebar-nav-bg, var(--grw-highlight-800));
  }
}
