@use '@growi/core/scss/bootstrap/init' as bs;

@use './variables' as sidebarNavVar;

.grw-skeleton-item :global {
  height: sidebarNavVar.$grw-sidebar-primary-button-height;
  padding: .75rem;

  .grw-skeleton {
    background-color: var(--bs-secondary-bg-subtle);
  }
}
