.grw-copy-dropdown :global {
  .dropdown-menu {
    min-width: 310px;

    .dropdown-header {
      margin-bottom: 0.5em;
      font-size: 1.1em;
    }

    // unset active styles
    .dropdown-item:active {
      color: unset;
      background-color: unset;
    }

    .card-font {
      font-size: 0.7em;
      word-break: break-all;
    }
  }
}
