{% if req.form.errors %}
<div class="alert alert-danger">
  <ul>
  {% for error in req.form.errors %}
    <li>{{ t(error) }}</li>
  {% endfor %}

  </ul>
</div>
{% endif %}

<div class="page-editor-footer d-flex flex-row align-items-center justify-content-between">

  <div>
    <div id="page-editor-options-selector" class="hidden-xs"></div>
  </div>

  <div id="save-page-controls"
    data-grant="{{ grant }}"
    data-grant-group="{{ grantedGroupId }}"
    data-grant-group-name="{{ grantedGroupName }}">
  </div>

</div>

<div class="file-module hidden"></div>
