{% extends './layout/layout.html' %}

{% block html_title %}{{ customizeService.generateCustomTitleForFixedPageName(t('forgot_password')) }}{% endblock %}


{#
  # Remove default contents
  #}
 {% block html_head_loading_legacy %}
 {% endblock %}
 {% block html_head_loading_app %}
 {% endblock %}
 {% block layout_head_nav %}
 {% endblock %}
 {% block sidebar %}
 {% endblock %}
 {% block head_warn_alert_siteurl_undefined %}
 {% endblock %}
 {% block fixed-controls %}
 {% endblock %}

 {% block html_additional_headers %}
   <script src="{{ webpack_asset('js/nologin.js') }}" defer></script>
 {% endblock %}

{% block layout_main %}

  <div id="main" class="main">
    <div id="content-main" class="content-main container-lg">
      <div id="password-reset-request-form"></div>
    </div>
  </div>

{% endblock %}
