<!DOCTYPE html>
<html>
{% block html_head %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ customTitle(t('installer.setup')) }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="apple-mobile-web-app-title" content="{{ appService.appTitle() }}">

  {% include './widget/headers/favicon.html' %}
  {% include './widget/headers/ie11-polyfills.html' %}

  {{ cdnScriptTagsByGroup('basis') }}

  {% include './widget/headers/scripts-for-dev.html' %}

  <script src="{{ webpack_asset('js/vendors.js') }}" defer></script>
  <script src="{{ webpack_asset('js/commons.js') }}" defer></script>

  <!-- styles -->
  {% include './widget/headers/styles-for-app.html' %}
  {% block theme_css_block %}
    {% include './widget/headers/styles-theme.html' with {theme: 'default'} %}
  {% endblock %}

  {{ cdnStyleTagsByGroup('basis') }}

  <script src="{{ webpack_asset('js/installer.js') }}" defer></script>

</head>
{% endblock %}

{% block html_body %}
<body
  class="main-container content-wrapper installer nologin growi"
  {% block html_base_attr %}{% endblock %}
  data-csrftoken="{{ csrf() }}"
 >

<div id="wrapper">

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="main container-fluid">

      <div class="row">

        <div class="login-header col-sm-offset-4 col-sm-4">
          <div class="logo">{% include 'widget/logo.html' %}</div>
          <h1>GROWI</h1>

          <div class="login-form-errors">
            {% if req.form.errors.length > 0 %}
            <div class="alert alert-danger">
              <ul>
              {% for error in req.form.errors %}
                <li>{{ error }}</li>
              {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>

        <div id='installer-form'
          data-user-name="{{ req.body.registerForm.username }}"
          data-name="{{ googleName|default(req.body.registerForm.name) }}"
          data-email="{{ googleEmail|default(req.body.registerForm.email) }}"
          data-csrf="{{ csrf() }}">
        </div>

      </div>{# /.row #}

    </div>
  </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

{% block body_end %}
{% endblock %}
</body>
{% endblock %}

<script type="application/json" id="crowi-context-hydrate">
{{ local_config|json|safe|preventXss }}
</script>

</html>
