{% extends './layout/layout.html' %}

{% block html_title %}{{ customizeService.generateCustomTitleForFixedPageName(t('forgot_password.reset_password')) }}{% endblock %}


{#
  # Remove default contents
  #}
 {% block html_head_loading_legacy %}
 {% endblock %}
 {% block html_head_loading_app %}
 {% endblock %}
 {% block layout_head_nav %}
 {% endblock %}
 {% block sidebar %}
 {% endblock %}
 {% block head_warn_alert_siteurl_undefined %}
 {% endblock %}
 {% block fixed-controls %}
 {% endblock %}

 {% block html_additional_headers %}
   <script src="{{ webpack_asset('js/nologin.js') }}" defer></script>
 {% endblock %}

{% block layout_main %}

  <div id="main" class="main">
    <div id="content-main" class="content-main container-lg">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-6 mt-5">
            <div class="text-center">
              <h1><i class="icon-lock-open large"></i></h1>
              <h2 class="text-center">{{ t('forgot_password.reset_password') }}</h2>
              <h5>{{ email }}</h5>
              <p class="mt-4">{{ t('forgot_password.password_reset_excecution_desc') }}</p>
              <div id="password-reset-execution-form"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>

{% endblock %}
