{% extends 'layout/layout.html' %}

{% block html_title %}{{ customizeService.generateCustomTitle(t('Tags')) }}{% endblock %}

{% block html_base_css %}tags-page{% endblock %}

{% block layout_main %}
<header class="py-0 grw-header">
  <h1 class="title">{{ t('Tags') }}</h1>
</header>

<div class="container-fluid">
  <div class="row">
    <div id="main" class="main mt-3 col-md-12 tags-page">
      <div class="" id="tags-page"></div>
    </div>
  </div>
</div><!-- /.container-fluid -->

<footer class="footer">
  {% include 'widget/system-version.html' %}
</footer>
{% endblock %} {# layout_main #}
