<p>
  <span class="text-danger msg msg-notfound_or_forbidden">
    <strong><i class="icon-fw icon-ban"></i>{{ t('page_api_error.notfound_or_forbidden') }}</strong>
  </span>
  <span class="text-danger msg msg-already_exists">
    <strong><i class="icon-fw icon-ban"></i>{{ t('page_api_error.already_exists') }}</strong>
    <small id="linkToNewPage"></small>
  </span>
  <span class="text-warning msg msg-outdated">
    <strong><i class="icon-fw icon-bulb"></i> {{ t('page_api_error.outdated') }}</strong>
    <a href="javascript:location.reload();">
      <i class="fa fa-angle-double-right"></i> {{ t('Load latest') }}
    </a>
  </span>
  <span class="text-danger msg msg-invalid_path">
    <strong><i class="icon-fw icon-ban"></i> Invalid path</strong>
  </span>
  <span class="text-danger msg msg-unknown">
    <strong><i class="icon-fw icon-ban"></i> Unknown error occured</strong>
  </span>
</p>
