/*
 * VSCode の Stylelint 設定チェック方法
 *
 * 1. .stylelintrc.json ファイル中の `src/linter-checker/test.scss` 行を削除
 * 
 * 2. VSCode で以下のエラーが表示されていることを確認
 *   - color で stylelint(order/properties-order)
 *   - ul で stylelint(selector-combinator-space-after)
 *
 * 3. VSCode で上書き保存
 *
 * 4. 以下のように整形され、全てのエラーが消えていることを確認
 *   - color が background の上の行にくる
 *   - ul と li の間にスペースが入る
 *
 */

.test {
  background: #ccc;
  color: #333;

  ul>li {
    margin-left: 0;
  }
}