@use '@growi/core/scss/bootstrap/init' as bs;

%btn-basis {
  --bs-btn-padding-x: 6px;
  --bs-btn-padding-y: 8px;
  --bs-btn-line-height: 1em;
  --bs-btn-border-width: 0;
  --bs-btn-box-shadow: none;
}

%btn-total-counts-basis {
  --bs-btn-font-size: 13px;
}

%text-total-counts-basis {
  font-size: 13px;
}

@mixin btn-color($color) {
  $color-rgb: #{bs.to-rgb($color)};

  --bs-btn-color: var(--bs-tertiary-color);
  --bs-btn-bg: transparent;

  --bs-btn-hover-color: #{$color};
  --bs-btn-hover-bg: rgba(#{$color-rgb}, 0.2);

  --bs-btn-active-color: #{$color};
  --bs-btn-active-bg: transparent;

  &:hover {
    --bs-btn-active-bg: rgba(#{$color-rgb}, 0.2);
  }
}
