@use '@growi/core/scss/bootstrap/init' as bs;

@use '@growi/ui/scss/atoms/btn-muted';

@use './button-styles';

.btn-group-bookmark :global {
  .btn-bookmark {
    @extend %btn-basis;
  }
  .dropdown .btn-bookmark {
    padding-right: 1px;
  }
  .total-counts {
    @extend %btn-total-counts-basis;
    padding-left: 5px;
  }
}

// == Colors
.btn-group-bookmark :global {
  .btn-bookmark {
    @include btn-muted.colorize(bs.$orange);
  }
}

