@use '@growi/core/scss/bootstrap/init' as bs;

@use '@growi/ui/scss/atoms/btn-muted';

@use './button-styles';

.btn-group-like :global {
  .btn-like {
    @extend %btn-basis;
  }
  .btn-like#like-button {
    padding-right: 3px;
  }
  .total-counts {
    @extend %btn-total-counts-basis;
    padding-left: 5px;
  }
}

// == Colors
.btn-group-like :global {
  .btn-like {
    @include btn-muted.colorize(bs.$red);
  }
}
