@use '@growi/core/scss/bootstrap/init' as bs;

@use '@growi/ui/scss/atoms/btn-muted';

@use './button-styles';

// PageItemControl styles
.grw-page-controls :global {
  .btn-page-item-control {
    @extend %btn-basis;
  }
}

// == Colors
// PageItemControl colors
.grw-page-controls :global {
  .btn-page-item-control {
    @include btn-muted.colorize(bs.$gray-500);
  }
}
