.user-list-popover :global {
  --bs-popover-max-width: 200px;
  --bs-popover-body-padding-x: .5rem;
  --bs-popover-body-padding-y: .5rem;

  .user-list-content {
    direction: rtl;
  }
  .cls-1 {
    isolation: isolate;
  }
}
