.grw-bookmark-folder-menu  :global {
  max-width: 65%;

  .grw-bookmark-folder-menu-item-folder-first {
    padding-left: 40px;
  }
  .grw-bookmark-folder-menu-item-folder-second {
    padding-left: 60px;
  }
}
