@use '~/styles/bootstrap/init' as bs;

.code-highlight-demo {
  position: relative;

  // override Highlight Js Style Border
  border: 1px solid bs.$gray-500;
  border-radius: bs.$border-radius;

  &:global {

    &.hljs-no-border {
      border: none;
    }
  }
}
