@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '@growi/ui/scss/atoms/btn-muted';

.grw-page-path-nav-layout :global {
  .grw-page-path-nav-copydropdown {
    opacity: 0;
    @include bs.media-breakpoint-down(md) {
      opacity: 1;
    }
  }
  &:hover {
    .grw-page-path-nav-copydropdown {
      opacity: 1;
    }
  }
}

.grw-page-path-nav :global {
  .btn-copy {
    @include btn-muted.colorize(bs.$orange);
  }
}

// == Colors
.grw-former-link :global {
  .separator {
    opacity: 0.75;
  }
}

.grw-former-link a {
  --bs-link-opacity: 0.75;

  &:global {
    &:hover {
      --bs-link-opacity: 1;
    }
  }
}
