@use '@growi/core/scss/bootstrap/init' as bs;

@use '@growi/ui/scss/atoms/btn-muted';

.grw-mx-02em {
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.grw-page-path-nav-sticky :global {
  min-height: 75px;

  .sticky-inner-wrapper {
    z-index: bs.$zindex-sticky;
  }

  // set smaller font-size when sticky
  .sticky-inner-wrapper.active {
    h1 {
      font-size: 1.75rem !important;
    }
  }
  // avoid sticky-top nav to turnate page path
  .is-collapse-with-top {
    @include bs.media-breakpoint-down(md) {
      max-width: calc(100% - 350px);
    }
    @include bs.media-breakpoint-up(md) {
      max-width: calc(100% - (500px - (100vw - 100%) / 2));
      &.is-dock-mode {
        max-width: min(calc(100% - 450px), calc(100vw - 100%));
      }
    }
  }
}

.grw-page-path-nav :global {
  .btn-copy {
    @include btn-muted.colorize(bs.$orange);
  }
}
