@use '@growi/core/scss/bootstrap/init' as bs;


// == Colors
@include bs.color-mode(light) {
  .grw-sidebar-head :global {
    background-color: var(
      --grw-sidebar-head-bg,
      var(
        --grw-sidebar-nav-bg,
        var(--grw-highlight-100)
      )
    );
  }
}
@include bs.color-mode(dark) {
  .grw-sidebar-head :global {
    background-color: var(
      --grw-sidebar-head-bg,
      var(
        --grw-sidebar-nav-bg,
        var(--grw-highlight-800)
      )
    );
  }
}
