
.search-form :global {
  position: relative;
  width: 100%;

  .search-cancel {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 3;
    width: auto;
    height: 100%;
    line-height: 0;
    border: none;
  }
}
