@use '@growi/core/scss/bootstrap/init' as bs;

@use '~/styles/variables' as var;

.search-menu-item :global {
  li {
    cursor: pointer;
  }
}

// == Colors
@include bs.color-mode(light) {
  .search-menu-item :global {
    li.active {
      background-color: var(--grw-primary-100)
    }

    li:hover {
      background-color: bs.$gray-200;
    }
  }
}

@include bs.color-mode(dark) {
  .search-menu-item :global {
    li.active {
      background-color: var(--grw-primary-800)
    }

    li:hover {
      background-color: bs.$gray-800;
    }
  }
}
