{% extends 'layout.html' %}

{% block layout_head_nav %}
<nav class="crowi-header navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">{% block title %}{{ config.crowi['app:title'] }}{% endblock %}</a>
  </div>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="nav navbar-nav">
      <li class=""><a href="/INDEX">INDEX</a></li>
    </ul>
    {% include '../widget/searcher.html' %}

    <ul class="nav navbar-nav navbar-right">

      {% if user and user.admin %}
      <li id="">
        <a href="/admin" id="link-mypage">
          <i class="fa fa-cube"></i> 管理
        </a>
      </li>
      {% endif %}
      {#
      <li id="">
        <a href="#" id="createPage">
          <i class="fa fa-plus"> 新規</i>
        </a>
      </li>
      #}
      {% if user %}
      {#
      <li id="" class="notif">
        <a href="" id="notif-opener">
          <i class="fa fa-globe"></i> <span class="badge badge-danger">6</span>
        </a>
        <script>
          $('#notif-opener').popover({
            placement: 'bottom',
            trigger: 'manual',
            html: 'true',
            content: function () {
              return '<div></div>';
            }
          });
          $('#notif-opener').click(function(e) {
            $('#notif-opener').popover('show');
            return false;
          });
        </script>
      </li>
      #}
      <li id="login-user">
        <a href="/user/{{ user.username }}" id="link-mypage">
          <img src="{{ user|picture }}" class="picture picture-rounded" width="25" /> マイページ
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> <label class="sr-only">メニュー</label></a>
        <ul class="dropdown-menu">
          <li><a href="" data-target="#createMemo" data-toggle="modal"><i class="fa fa-pencil"></i> 今日のメモを作成</a></li>
          <li class="divider"></li>
          <li><a href="/me"><i class="fa fa-gears"></i> ユーザー設定</a></li>
          <li class="divider"></li>
          <li><a href="/logout"><i class="fa fa-sign-out"></i> ログアウト</a></li>
          {# <li><a href="#">今日の日報を作成</a></li> #}
          {# <li class="divider"></li> #}
          {# <li class="divider"></li> #}
          {# <li><a href="#">ログアウト</a></li> #}
        </ul>
      </li>
      {% else %}
      <li id="login-user"><a href="/login" id="login"><i class="fa fa-user"></i> Login</a></li>
      {% endif %}
      {% if config.crowi['app:confidential'] && config.crowi['app:confidential'] != '' %}
      <li class="confidential"><a href="#">{{ config.crowi['app:confidential'] }}</a></li>
      {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{% include '../modal/widget_today_memo.html' %}
{% endblock  %} {# layout_head_nav #}

{% block layout_sidebar %}

<a href="" class=" hidden-xs hidden-sm layout-control" id="toggle-sidebar"><i class="fa fa-chevron-right"></i> <span class="hide-on-affix-top"></span></a>
<script>
  $(function() {
    $('#toggle-sidebar').click(function(e) {
      var $mainContainer = $('.main-container');
      if ($mainContainer.hasClass('aside-hidden')) {
        $('.main-container').removeClass('aside-hidden');
        $.cookie('aside-hidden', 0, { expires: 30, path: '/' });
      } else {
        $mainContainer.addClass('aside-hidden');
        $.cookie('aside-hidden', 1, { expires: 30, path: '/' });
      }
      return false;
    });
  });
</script>
<aside class="sidebar col-md-3 hidden-xs hidden-sm hidden-print">

  {% block side_header %}
  {% endblock %}

  <div class="side-content">
  {% block side_content %}
  {% endblock %}
  </div>

  {% block side_footer %}
  {% endblock %}

  <div id="footer-container" class="footer">
    <footer class="">
    <p>
    <a href="" data-target="#helpModal" data-toggle="modal"><i class="fa fa-question-circle"> ヘルプ</i></a>
    &copy; {{ now|date('Y') }} {{ config.crowi['app:title'] }} <img src="/logo/100x11_g.png" alt="powered by Crowi"> </p>
    </footer>
  </div>
</aside>
{% include '../modal/widget_help.html' %}

<script>
  $(function() {
    console.log($.cookie('aside-hidden'));
    if ($.cookie('aside-hidden') == 1) {
      console.log("add aside-hidden");
      $('.main-container').addClass('aside-hidden');
    }
  });
</script>
{% endblock %} {# layout_sidebar #}

{% block layout_main %}
<div id="main" class="main col-md-9 {% if page %}{{ css.grant(page) }}{% endif %}" ng-controller="WikiPageController">
  {% if page && page.grant != 1 %}
  <p class="page-grant">
    <i class="fa fa-lock"></i> {{ consts.pageGrants[page.grant] }} (このページの閲覧は制限されています)
  </p>
  {% endif %}
  <article>
  {% block content_head %}
    <header>
    <h2>-</h2>
    <p>-</p>
    </header>
  {% endblock %}

  {% block content_main %}
  //
  {% endblock content_main %}

  {% block content_footer %}
    <footer>
    <h3>-</h3>
    <p>-</p>
    </footer>
  {% endblock %}
  </article>
</div>

{% endblock %} {# layout_main #}
