:root {
  :global {
    /* stylelint-disable-next-line no-invalid-position-at-import-rule */
    @import 'reveal.js/dist/reveal.css';
  }
}

.grw-presentation {
  // workaround from https://github.com/css-modules/css-modules/issues/295#issuecomment-952885628
  &:global(.reveal) :global {
    .slides {
      text-align: unset;

      section {
        position: absolute;
        width: 100%;
      }
    }
    .controls {
      bottom: 24px;
      color: var(--bs-body-color);
    }
    .progress {
      color: var(--bs-primary);
    }
  }

}

// adjust marp default theme
:root[data-bs-theme='light'] {
  .grw-presentation {
    &:global {
      &.reveal-viewport {
        background-color: #fff;
      }
    }
  }
}

:root[data-bs-theme='dark'] {
  .grw-presentation {
    &:global {
      &.reveal-viewport {
        background-color: #0d1117;
      }
    }
  }
}
