{% extends '../layout/layout.html' %}

{% block html_title %}{{ customizeService.generateCustomTitleForFixedPageName(t('My Drafts')) }}{% endblock %}

{% block layout_main %}

{% block content_header_wrapper %}
<header class="py-3">
  <div class="container-fluid">
    <h1 class="title">{{ t('My Drafts') }}</h1>
  </div>
</header>
<div id="grw-fav-sticky-trigger" class="sticky-top"></div>
{% endblock %}

<div id="main" class="main">
  <div id="content-main" class="content-main grw-container-convertible">
    <div id="my-drafts"></div>
  </div>
</div>
{% endblock %}
