<form action="/_api/admin/security/passport-basic" method="post" class="form-horizontal passportStrategy" id="basicSetting" role="form"
    {% if isRestartingServerNeeded %}style="opacity: 0.4;"{% endif %}>
  <legend class="alert-anchor">{{ t("security_setting.Basic.name") }} {{ t("security_setting.configuration") }}</legend>

  {% set nameForIsbasicEnabled = "settingForm[security:passport-basic:isEnabled]" %}
  {% set isbasicEnabled = getConfig('crowi', 'security:passport-basic:isEnabled') %}

  <div class="form-group">
    <label for="{{nameForIsbasicEnabled}}" class="col-xs-3 control-label">{{ t("security_setting.Basic.name") }}</label>
    <div class="col-xs-6">
      <div class="btn-group btn-toggle" data-toggle="buttons">
        <label class="btn btn-default btn-rounded btn-outline {% if isbasicEnabled %}active{% endif %}" data-active-class="primary">
          <input name="{{nameForIsbasicEnabled}}" value="true" type="radio"
              {% if true === isbasicEnabled %}checked{% endif %}> ON
        </label>
        <label class="btn btn-default btn-rounded btn-outline {% if !isbasicEnabled %}active{% endif %}" data-active-class="default">
          <input name="{{nameForIsbasicEnabled}}" value="false" type="radio"
              {% if !isbasicEnabled %}checked{% endif %}> OFF
        </label>
      </div>
      <p class="help-block">
        <small>
          {{ t("security_setting.Basic.desc_1") }}<br>
          {{ t("security_setting.Basic.desc_2") }}
        </small>
      </p>
    </div>
  </div>


  <fieldset id="passport-basic-hide-when-disabled" {%if !isbasicEnabled %}style="display: none;"{% endif %}>

    <div class="form-group">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="checkbox checkbox-info">
        <input type="checkbox" id="bindByUserName-basic" name="settingForm[security:passport-basic:isSameUsernameTreatedAsIdenticalUser]" value="1"
            {% if getConfig('crowi', 'security:passport-basic:isSameUsernameTreatedAsIdenticalUser') %}checked{% endif %} />
        <label for="bindByUserName-basic">
          {{ t("security_setting.Treat username matching as identical", "username") }}
        </label>
        <p class="help-block">
          <small>
            {{ t("security_setting.Treat username matching as identical_warn", "username") }}
          </small>
        </p>
    </div>
      </div>
    </div>

  </fieldset>

  <div class="form-group" id="btn-update">
    <div class="col-xs-offset-3 col-xs-6">
      <input type="hidden" name="_csrf" value="{{ csrf() }}">
      <button type="submit" class="btn btn-primary">{{ t('Update') }}</button>
    </div>
  </div>

</form>

<script>
  $('input[name="settingForm[security:passport-basic:isEnabled]"]').change(function() {
    const isEnabled = ($(this).val() === "true");

    if (isEnabled) {
      $('#passport-basic-hide-when-disabled').show(400);
    }
    else {
      $('#passport-basic-hide-when-disabled').hide(400);
    }
  });
</script>

