<form action="/_api/admin/security/passport-google" method="post" class="form-horizontal passportStrategy" id="googleSetting" role="form">
  <legend class="alert-anchor">{{ t("security_setting.OAuth.Google.name") }} {{ t("security_setting.configuration") }}</legend>

  {% set nameForIsGoogleEnabled = "settingForm[security:passport-google:isEnabled]" %}
  {% set isGoogleEnabled = getConfig('crowi', 'security:passport-google:isEnabled') | default('') %}
  {% set siteUrl = getConfig('crowi', 'app:siteUrl') || '[INVALID]' %}
  {% set callbackUrl = pathUtils.removeTrailingSlash(siteUrl) + '/passport/google/callback' %}

  <div class="form-group">
    <label for="{{nameForIsGoogleEnabled}}" class="col-xs-3 control-label">{{ t("security_setting.OAuth.Google.name") }}</label>
    <div class="col-xs-6">
      <div class="btn-group btn-toggle" data-toggle="buttons">
        <label class="btn btn-default btn-rounded btn-outline {% if isGoogleEnabled %}active{% endif %}" data-active-class="primary">
          <input name="{{nameForIsGoogleEnabled}}" value="true" type="radio"
              {% if true === isGoogleEnabled %}checked{% endif %}> ON
        </label>
        <label class="btn btn-default btn-rounded btn-outline {% if !isGoogleEnabled %}active{% endif %}" data-active-class="default">
          <input name="{{nameForIsGoogleEnabled}}" value="false" type="radio"
              {% if !isGoogleEnabled %}checked{% endif %}> OFF
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-3 control-label">{{ t("security_setting.callback_URL") }}</label>
    <div class="col-xs-6">
        <input class="form-control" type="text" value="{{ callbackUrl }}" readonly>
      <p class="help-block small">{{ t("security_setting.desc_of_callback_URL", 'OAuth') }}</p>
      {% if !getConfig('crowi', 'app:siteUrl') %}
      <div class="alert alert-danger">
        <i class="icon-exclamation"></i> {{ t("security_setting.alert_siteUrl_is_not_set", '<a href="/admin/app">' + t('App settings') + '<i class="icon-login"></i></a>') }}
      </div>
      {% endif %}
    </div>
  </div>

  <fieldset id="passport-google-hide-when-disabled" {%if !isGoogleEnabled %}style="display: none;"{% endif %}>

    <div class="form-group">
      <label for="settingForm[security:passport-google:clientId]" class="col-xs-3 control-label">{{ t("security_setting.clientID") }}</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" name="settingForm[security:passport-google:clientId]" value="{{ getConfig('crowi', 'security:passport-google:clientId') | default('') }}">
        <p class="help-block">
          <small>
            {{ t("security_setting.Use env var if empty", "OAUTH_GOOGLE_CLIENT_ID") }}
          </small>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="settingForm[security:passport-google:clientSecret]" class="col-xs-3 control-label">{{ t("security_setting.client_secret") }}</label>
      <div class="col-xs-6">
        <input class="form-control" type="text" name="settingForm[security:passport-google:clientSecret]" value="{{ getConfig('crowi', 'security:passport-google:clientSecret') | default('') }}">
        <p class="help-block">
          <small>
            {{ t("security_setting.Use env var if empty", "OAUTH_GOOGLE_CLIENT_SECRET") }}
          </small>
        </p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="checkbox checkbox-info">
          <input type="checkbox" id="bindByUserName-Google" name="settingForm[security:passport-google:isSameUsernameTreatedAsIdenticalUser]" value="1"
              {% if getConfig('crowi', 'security:passport-google:isSameUsernameTreatedAsIdenticalUser') %}checked{% endif %} />
          <label for="bindByUserName-Google">
            {{ t("security_setting.Treat username matching as identical", "username") }}
          </label>
          <p class="help-block">
            <small>
              {{ t("security_setting.Treat username matching as identical_warn", "username") }}
            </small>
          </p>
        </div>
      </div>
    </div>

  </fieldset>

  <div class="form-group" id="btn-update">
    <div class="col-xs-offset-3 col-xs-6">
      <input type="hidden" name="_csrf" value="{{ csrf() }}">
      <button type="submit" class="btn btn-primary">{{ t('Update') }}</button>
    </div>
  </div>

</form>

{# Help Section #}
<hr>

<div style="min-height: 300px;">
  <h4>
    <i class="icon-question" aria-hidden="true"></i>
    <a href="#collapseHelpForGoogleOauth" data-toggle="collapse">{{ t("security_setting.OAuth.how_to.google") }}</a>
  </h4>
  <ol id="collapseHelpForGoogleOauth" class="collapse">
    <li>{{ t("security_setting.OAuth.Google.register_1", "https://console.cloud.google.com/apis/credentials", "Google Cloud Platform API Manager") }}</li>
    <li>{{ t("security_setting.OAuth.Google.register_2") }}</li>
    <li>{{ t("security_setting.OAuth.Google.register_3") }}</li>
    <li>{{ t("security_setting.OAuth.Google.register_4", callbackUrl) }}</li>
    <li>{{ t("security_setting.OAuth.Google.register_5") }}</li>
  </ol>
</div>

<script>
  $('input[name="settingForm[security:passport-google:isEnabled]"]').change(function() {
    const isEnabled = ($(this).val() === "true");

    if (isEnabled) {
      $('#passport-google-hide-when-disabled').show(400);
    }
    else {
      $('#passport-google-hide-when-disabled').hide(400);
    }
  });
</script>
