<div class="modal fade" id="helpModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ヘルプ</h4>
      </div>
      <div class="modal-body">
        <h4>基本的な機能</h4>
        <br>
        <ul>
          <li>表示される画面には、「一覧ページ」と「ページ」の2種類があります</li>
          <li>スラッシュ <code>/</code> で終わるページは、その階層の一覧ページとなります。</li>
          <li>ページでの変更はすべて記録されています。サイドバーには、変更の履歴が一覧となっていて、クリックするとそのページの過去の状態を見ることができます。</li>
        </ul>
        <br>

        <h4>編集のコツ</h4>
        <br>
        <p>
        文章の <strong>構造</strong> を意識しましょう。本を書くように、内容と文脈を整理してセクション・サブセクション...と構造的に書くと、わかりやすく他人に伝わりやすいページがになります。
        </p>
        <br>

        <h4>記法</h4>
        <br>
        <div class="wiki">
        <pre># セクション</pre>
        <h1>セクション</h1>
        </div>
        <hr>

        <div class="wiki">
        <pre>## サブセクション</pre>
        <h2>サブセクション</h2>
        </div>
        <hr>

        <div class="wiki">
        <pre>### サブサブセクション</pre>
        <h3>サブサブセクション</h3>
        </div>
        <hr>

        <div class="wiki">
        <pre>* このようにアスタリスクと半角スペースを先頭に書くと、
* 箇条書きのリストにになります
    * タブキーを押すと半角スペース4つが挿入され、インデントされます
    * インデントはリストにも反映されます</pre>
          <ul>
            <li>リスト記法はこのように</li>
            <li>箇条書きになります
            <ul>
              <li>タブキーを押すと半角スペース4つが挿入され、インデントされます</li>
              <li>インデントはリストにも反映されます</li>
            </ul>
            </li>
          </ul>
        </div>
        <hr>

        <div class="wiki">
        <pre>1. 番号付きリストも作れます
2. "数字" "ドット" "半角スペース" の後に項目を記載しましょう
2. "1." "2." "2." などと数字がズレても、正しい数字で整形されます</pre>
          <ol>
            <li>番号付きリストも作れます</li>
            <li>"数字" "ドット" "半角スペース" の後に項目を記載しましょう</li>
            <li>"1." "2." "2." などと数字がズレても、正しい数字で整形されます</li>
          </ol>
        </div>
        <hr>

        <div class="wiki">
        <pre>**アスタリスク2つで囲った箇所は** 太字になります</pre>
        <p><strong>アスタリスク2つで囲った箇所は</strong> 太字になります</p>
        </div>
        <hr>

        <div class="wiki">
        <pre>Wiki内リンクは &lt;/とある/ページへの/リンク&gt; のように、 &lt; と &gt; で囲います</pre>
        <p>Wiki内リンクは <a href="/とある/ページへの/リンク">/とある/ページへの/リンク</a> のように、 &lt; と &gt; で囲います</p>
        </div>
        <hr>

        <h4>プレゼンモード</h4>
        <br>
        <p>
        文章をきちんと構造的に作成していれば、自然とプレゼンモードが適用できます。ページの <code><i class="fa"></i></code> アイコンをクリックし、プレゼンモードを選択してください。
        </p>
        <p>
        プレゼンモードでは、<strong>改行2つ</strong> をページ区切りとして利用します。プレゼンモードでページを区切りたい場合、2つの改行を挿入してください。
        </p>

        <p>例:</p>
        <div class="wiki">
          <pre># 改行したいプレゼンの説明

何かしらの説明


## 次の章

ここでは、「次の章」の前に2つの改行があるため、「次の章」以降が1つのプレゼンページになります。 </pre>
        </div>
        <br>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
