.workflow-status {
  width: 52px;
  height: 20px;
  font: normal normal normal 12px/20px Hiragino Sans;

  &.APPROVE {

  }

  &.INPROGRESS {
    color: #6AC3AE;
    letter-spacing: 0px;
    background: #EDFDFC 0% 0% no-repeat padding-box;
    border: 1px solid #6AC3AE;
  }

  text-align: center; // これは残す

  border-radius: 10px;
  opacity: 1;
}
