@use '@growi/ui/scss/molecules/page_list';

.page-list :global {
  .page-list-li  {
    line-height: inherit;
  }

  .page-list-ul > li > div > a {
    padding: 0px;
    color: inherit;

    &:not(:hover) {
      text-decoration: none;
    }

    &:hover {
      color: inherit;
    }
  }
}
