@use '@growi/core/scss/bootstrap/init' as bs;

@mixin button-svg-icon-variant($background, $hover-background: darken($background, 7.5%), $active-background: darken($background, 10%)) {
  svg {
    fill: color-contrast($background);
  }

  &:hover {
    svg {
      fill: color-contrast($hover-background);
    }
  }

  &:focus,
  &.focus {
    svg {
      fill: color-contrast($hover-background);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    svg {
      fill: color-contrast($background);
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    svg {
      fill: color-contrast($active-background);
    }
  }
}

@mixin button-outline-svg-icon-variant($value, $color-hover: $value) {
  svg {
    fill: $value;
  }
  &:hover {
    svg {
      fill: $color-hover;
    }
  }
  &.disabled,
  &:disabled {
    svg {
      fill: $value;
    }
  }
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    svg {
      fill: $color-hover;
    }
  }
}
