.top-left-part {
  .logo-mark,
  .logo-text {
    fill: $themecolor;
  }
}

/*
 * Form
 */
.form-control {
  background-color: $bodycolor;
}

.form-control[disabled],
.form-control[readonly] {
  color: lighten($bodytext, 10%);
  background-color: darken($bodycolor, 5%);
}

/*
 * GROWI header
 */
header.affix {
  .logo-mark {
    fill: $themecolor;
  }
}

/*
 * GROWI search-top
 */
.search-top {
  .btn-group-dropdown-scope .dropdown-toggle {
    background-color: rgba($bodycolor, 0.8);
  }
  .rbt-input.form-control {
    background-color: rgba($bodycolor, 0.9);
  }
}

/*
 * GROWI page list
 */
.page-list {
  .page-list-ul {
    > li {
      > a strong {
        color: darken($bodytext, 20%);
      }
      > span.page-list-meta {
        color: lighten($bodytext, 10%);
      }
    }
  }
}

/*
 * GROWI on-edit
 */
.page-editor-footer {
  #slack-mark-white {
    display: none;
  }
}

.wiki {
  h1 {
    border-color: darken($border, 10%);
  }
  h2 {
    border-color: $border;
  }
}

/*
 * GROWI admin page #themeOptions
 */
.admin-page {
  #themeOptions {
    .theme-option-container.active a {
      background-color: lighten($themecolor, 20%);
      border-color: lighten($themecolor, 20%);
    }
  }
}

/*
 * GROWI comment form
 */
.comment-form {
  #slack-mark-white {
    display: none;
  }
}
