@import '../variables';

$themecolor:#112744;

$topbar:#334455;
$sidebar:#fff;
$bodycolor:#fff;
$headingtext: #2b2b2b;
$bodytext: #333333;
$linktext: lighten($themecolor, 20%);
$linktext-hover: lighten($linktext, 20%);
$sidebar-text:#38495a;

$primary: $themecolor;

$logo-mark-fill: lighten(desaturate($topbar, 10%), 15%);
$wikilinktext: lighten($themecolor, 20%);
$wikilinktext-hover: lighten($wikilinktext, 20%);

@import 'apply-colors';
@import 'apply-colors-light';
