@import '../variables';

$bgcolor-theme: #000080;
$themelight: #f0f8ff;
$subthemecolor: black;
$accentcolor: #ffd700;
$sidebar-text: $themelight;
$bgcolor-navbar: $bgcolor-theme;
$bgcolor-global: $themelight;
$bgcolor-global: $themelight;
$color-header: $subthemecolor;
$color-global: $subthemecolor;
$linktext: lighten(blue, 5%);
$primary: $bgcolor-theme;
$active-nav-tabs-bgcolor: $bgcolor-theme;
$fillcolor-logo-mark: $themelight;
$color-link-wiki: lighten($bgcolor-theme, 5%);
$color-link-wiki-hover: lighten($color-link-wiki, 15%);
$inline-code-color: #c7254e;
$inline-code-bg: #f9f2f4;
$border: $subthemecolor;
$border-original: $subthemecolor;
$navbar-border: $bgcolor-theme;
$background-color: rgba(
  $color: $themelight,
  $alpha: 0.8,
);
$info: $subthemecolor;

@import 'apply-colors';
@import 'apply-colors-light';

// change color of highlighted header in wiki (default: orange)
.code-line,
ul > .text-muted {
  color: $subthemecolor;
}

.wiki {
  h1 {
    border-color: $subthemecolor;
  }

  .code-line.revision-head.highlighted {
    color: $themelight;
    background-color: lighten($bgcolor-theme, 50%);

    .icon-note,
    .icon-link {
      color: $themelight;
    }
  }
}

// add background-image
#wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url('/images/themes/antarctic/bg.svg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.sidebar {
  background: $bgcolor-theme;
}

table,
.hljs,
.help-block {
  background-color: $background-color;
}

.grw-subnav,
.nav-navbar {
  background-color: $themelight;
}

.edit-button {
  color: $themelight;
}

.editor-container .btn-open-dropzone {
  border-top: none;
}

.help-block {
  padding: 5px;
}

/*
 * Accentcolor (yellow)
 */

header.affix {
  border-bottom: 4px solid $accentcolor;
}

.modal {
  .modal-header {
    border-bottom: 4px solid $accentcolor;
  }
}

#wrapper > .navbar > .navbar-header {
  border-bottom: 4px solid $accentcolor;
}

/*
 * Comments
 */

.page-comment {
  .page-comment-main {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    .page-comment-creator > a {
      border-bottom: 1px double $subthemecolor;
    }
  }
}

.growi .main {
  .page-comments-row {
    border-top-color: transparent;
  }

  .page-comment .page-comment-main,
  .page-comment-form .comment-form-main {
    background-color: $background-color;

    &::before {
      border-right-color: $background-color;
    }

    .nav.nav-tabs {
      > li.active > a {
        background: $bgcolor-theme;
        border-bottom: solid 1px $bgcolor-theme;
        border-bottom-color: $bgcolor-theme;
      }
    }
  }
}

/*
 * Tabs
 */

.nav.nav-tabs > li.active > a {
  color: $themelight;
}

.text-info,
body:not(.on-edit) .nav.nav-tabs {
  > li > a {
    color: $subthemecolor;
  }

  > li.active > a {
    color: $themelight;
    background: linear-gradient(
      rgba($active-nav-tabs-bgcolor, 0) 50%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%
    ); // overwrite only the bottom pixel
    background-color: $bgcolor-theme;
  }
}

/*
 * Panel
 */

.panel {
  width: 80%;
  margin: 0px auto;

  &.panel-white,
  &.panel-default {
    border: 1px solid $subthemecolor;
    border-color: $border-original;

    .panel-heading {
      color: $subthemecolor;
      background-color: $background-color;
    }
  }
}

/*
 *  Right space for readable
 */

.growi {
  .revision-toc {
    max-width: 360px;
    background-color: $background-color;
    border-radius: 5px;

    .revision-toc-content {
      padding: 10px;

      ul {
        padding-left: 5px;
      }
    }
  }
}

/*
 *  Login page
 */

.login-page > #wrapper > #page-wrapper {
  background-image: url('/images/themes/antarctic/topimage.svg');
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  .link-switch {
    color: dimgray;

    &:hover {
      color: #000080;
    }
  }
}

/*
 *  for Hightlight-js
 */

.hljs-ln {
  background-color: transparent;
}
