@import '../variables';

$themecolor: #000080;
$themelight: #f0f8ff;
$subthemecolor: black;
$accentcolor: #ffd700;
$sidebar-text: $themelight;
$topbar: $themecolor;
$sidebar: $themelight;
$bodycolor: $themelight;
$headingtext: $subthemecolor;
$bodytext: $subthemecolor;
$linktext: lighten(blue, 5%);
$primary: $themecolor;
$active-nav-tabs-bgcolor: $themecolor;
$logo-mark-fill: $themelight;
$wikilinktext: lighten($themecolor, 5%);
$wikilinktext-hover: lighten($wikilinktext, 15%);
$inline-code-color: darken($subthemecolor, 5%);
$inline-code-bg: lighten($subthemecolor, 70%);
$border: $accentcolor;
$border-original: $subthemecolor;
$navbar-border: $themecolor;
$background-color: rgba($color: $themelight, $alpha: 0.8);


@import 'apply-colors';
@import 'apply-colors-light';

// change color of highlighted header in wiki (default: orange)
.wiki {
  h1 {
    border-color: $subthemecolor;
  }

  .code-line.revision-head.highlighted {
    background-color: lighten($themecolor, 50%);
    color: $themelight;

    .icon-note,
    .icon-link {
      color: $themelight;
    }
  }
}

// add background-image

.main-container>#wrapper>#page-wrapper,
.page-editor-preview-container {
  background-image: url("/images/themes/antarctic/test6.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

}

.sidebar {
  background: $themecolor;
}

.bg-title,
.nav-navbar {
  background-color: $themelight;
}

.edit-button {
  color: $themelight;
}

.editor-container .btn-open-dropzone {
  border-top: none;
}

#wrapper>.navbar>.navbar-header,
.modal-header {
  border-bottom: 4px solid $accentcolor;
}

/*
 * comments
 */

.page-comment {
  .page-comment-main {
    box-shadow: 4px 4px 4px gray;

    .page-comment-creator>a {
      border-bottom: 1px double $subthemecolor;
    }
  }
}




// /*
//  * Tabs
//  */
.nav.nav-tabs>li.active>a {
  color: $themelight;
}

body:not(.on-edit) .nav.nav-tabs {
  >li>a {
    color: $subthemecolor;
  }

  >li.active>a {
    background: linear-gradient(rgba($active-nav-tabs-bgcolor, 0) 50%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%); // overwrite only the bottom pixel
    color: #f0f8ff;
    background-color: $themecolor;
  }
}

/*
 * Panel
 */
.panel {
  width: 80%;
  margin: 0px auto;

  &.panel-white,
  &.panel-default {
    border-color: $border-original;
    border: 1px solid $subthemecolor;

    .panel-heading {
      color: $subthemecolor;
      background-color: $background-color;
    }
  }

}

table {
  background-color: $background-color;
}

.revision-toc-content a {

  color: $themelight;
  text-shadow: 0.9px 0.9px 0 #000,
    -0.9px 0.9px 0 #000,
    0.9px -0.9px 0 #000,
    -0.9px -0.9px 0 #000;
}

.hljs {
  background-color: $background-color;
}
