@import '../variables';

$basecolor: #061f2f;
$bgcolor-theme: #0090c8;

$linkcolor: #97d1f0;

$bgcolor-navbar: #27343b;
$bgcolor-global: #061f2f;
$bgcolor-global: #061f2f;
$color-header: #fff;
$color-global: #d3d4d4;
$linktext: $linkcolor;
$linktext-hover: rgba($linktext, 0.8);
$sidebar-text: #d3d4d4;
$dark-themecolor: #4f5467;

$primary: $bgcolor-theme;

$fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 10%), 15%);
$color-link-wiki: $linkcolor;
$color-link-wiki-hover: rgba($linktext, 0.8);

$dark: darken($color-global, 5%);
$border: #fff;
$navbar-border: lighten($basecolor, 25%);
$active-navbar-border: darken($navbar-border, 3%);
$btn-default-bgcolor: darken($basecolor, 10%);
$color-inline-code: #c1f1f0;
$bgcolor-inline-code: #0a121b;

@import 'apply-colors';
@import 'apply-colors-dark';

.wiki {
  .highlighted {
    background-color: lighten($bgcolor-theme, 20%);
  }
}

.panel {
  &,
  &.panel-white,
  &.panel-default {
    border-color: $color-global;
    .panel-heading {
      color: $basecolor;
      background-color: 1px solid $color-global;
    }
  }
}
