@import '../variables';

$themecolor: #b3000c;
$themelight: #ffffff;
$subthemecolor:	#017e20;
$topbar: $themecolor;
$sidebar: $themelight;
$bodycolor: $themelight;
$headingtext: $subthemecolor;
$bodytext: #bd3425;
$linktext: lighten(#0d5901, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: #ffffff;
$primary: $themecolor;
$info: lighten($themecolor, 10%);
$logo-mark-fill: lighten(desaturate($topbar, 50%), 50%);
$wikilinktext: lighten($themecolor, 5%);
$wikilinktext-hover: lighten($wikilinktext, 15%);
$inline-code-color: darken($subthemecolor, 5%);
$inline-code-bg: lighten($subthemecolor, 70%);
$active-nav-tabs-bgcolor: #017e20;

@import 'apply-colors';
@import 'apply-colors-light';

// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    background-color: lighten($themecolor, 20%);
    color: $themelight;

    .icon-note,
    .icon-link {
      color: $themelight;
    }
  }
}

.sidebar{
  background: $themecolor;
}

.rbt-menu {
  background: $themelight;
}

.main-container > #wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url("/images/themes/christmas/christmas.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.bg-title {
  background-color: #ffffff;
}

#wrapper > .navbar > .navbar-header {
  background-image: url("/images/themes/christmas/christmas-navbar.jpg");
  border-bottom: 3px solid $active-nav-tabs-bgcolor;
}

/*
 * Tabs
 */
body:not(.on-edit) .nav.nav-tabs {
  > li.active > a {
    background: linear-gradient(
      rgba($active-nav-tabs-bgcolor, 0) 0%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%);         // overwrite only the bottom pixel
  }
}

// login page
.nologin {
  .input-group {
    .input-group-addon {
      background-color: rgba(lighten(black, 10%), 0.6);
    }
    .form-control {
      background-color: rgba(lighten(black, 10%), 0.6);
    }
  }

  &.login-page {
    .login-header, .login-dialog {
      background-color: rgba(#ccc, 0.5);
    }
    .link-switch {
      color: $bodytext;
    }
  }
}

/*
 * Modal
 */
.modal-dialog .modal-header.bg-primary {
  background-image: url("/images/themes/christmas/christmas-navbar.jpg");
  border-bottom: 2px solid $active-nav-tabs-bgcolor;
}
