@import '../variables';

$bgcolor-theme: #b3000c;
$themelight: white;
$subthemecolor: #017e20;
$bgcolor-navbar: $bgcolor-theme;
$bgcolor-global: $themelight;
$bgcolor-global: $themelight;
$color-header: $subthemecolor;
$color-global: black;
$linktext: lighten(#0d5901, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: #ffffff;
$primary: $bgcolor-theme;
$fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 50%), 50%);
$color-link-wiki: lighten($bgcolor-theme, 5%);
$color-link-wiki-hover: lighten($color-link-wiki, 15%);
$inline-code-color: darken($subthemecolor, 5%);
$inline-code-bg: lighten($subthemecolor, 70%);
$border-original: $border;
$border: $subthemecolor;
$navbar-border: $bgcolor-theme;
$active-nav-tabs-bgcolor: white;

@import 'apply-colors';
@import 'apply-colors-light';

// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    color: $themelight;
    background-color: lighten($bgcolor-theme, 20%);

    .icon-note,
    .icon-link {
      color: $themelight;
    }
  }
}

.sidebar {
  background: $bgcolor-theme;
}

.rbt-menu {
  background: $themelight;
}

#wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url('/images/themes/christmas/christmas.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.grw-subnav {
  background-color: #ffffff;
}

#wrapper > .navbar > .navbar-header {
  background-image: url('/images/themes/christmas/christmas-navbar.jpg');
  border-bottom: 4px solid $subthemecolor;
}

/*
 * Tabs
 */
body:not(.on-edit) .nav.nav-tabs {
  > li.active > a {
    background: linear-gradient(
      rgba($active-nav-tabs-bgcolor, 0) 0%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%
    ); // overwrite only the bottom pixel
  }
}

// login page
.nologin {
  .input-group {
    .input-group-addon {
      background-color: rgba(lighten(black, 10%), 0.6);
    }
    .form-control {
      background-color: rgba(lighten(black, 10%), 0.6);
    }
  }

  &.login-page {
    .login-header,
    .login-dialog {
      background-color: rgba(#ccc, 0.5);
    }
    .link-switch {
      color: #bd3425;
    }
  }
}

/*
 * Modal
 */
.modal-dialog .modal-header.bg-primary {
  background-image: url('/images/themes/christmas/christmas-navbar.jpg');
  border-bottom: 2px solid $subthemecolor;
}

/*
 * Panel
 */
.panel {
  &.panel-white,
  &.panel-default {
    border-color: $border-original;
    .panel-heading {
      color: $dark;
      background-color: $border-original;
      border-bottom: 1px solid $border-original;
    }
  }
}

.panel.panel-primary {
  border-color: #bd3425;
  .panel-heading {
    color: white;
    background-color: $bgcolor-theme;
    background-image: url('/images/themes/christmas/christmas-navbar.jpg');
  }
}
