@import '../variables';

$basecolor: #16282d;
$bgcolor-theme: rgba(11, 79, 104, 0.616);

$bgcolor-navbar: #011414;
$bgcolor-global: #fff;
$bgcolor-global: $basecolor;
$color-header: #d9a364;
$color-global: lighten($basecolor, 35%);
$linktext: lighten($basecolor, 45%);
$linktext-hover: lighten($linktext, 80%);
$sidebar-text: rgb(65, 133, 124);
$dark-themecolor: #4f5467;

$primary: $bgcolor-theme;
$info: lighten($bgcolor-theme, 20%);

$fillcolor-logo-mark: rgb(170, 245, 237);
$color-link-wiki: saturate($color-global, 20%);
$color-link-wiki-hover: darken($color-link-wiki, 5%);

$dark: darken($color-global, 5%);
$border: lighten($basecolor, 15%);
$navbar-border: lighten($border, 10%);
$active-navbar-border: darken($border, 3%);
$btn-default-bgcolor: darken($basecolor, 10%);
$inline-code-bg: darken($bgcolor-global, 5%);

@import 'apply-colors';
@import 'apply-colors-dark';

body:not(.on-edit) {
  .grw-subnav {
    border-bottom: 1px solid rgb(131, 228, 215);
  }
}
