@import '../variables';

$basecolor:#0a010a;
$themecolor: #aa4a04;
$subthemecolor: #e9af2b;
$linkcolor: #aa4a04;
$topbar: $themecolor;
$sidebar:#061f2f;
$subthemecolor: #e9af2b;
$bodycolor: #0f0101;
$headingtext: #e9af2b;
$bodytext: #e9af2b;
$linktext: $linkcolor;
$linktext-hover: rgba($linktext, 0.8);
$sidebar-text: $themecolor;
$dark-themecolor:#4f5467;
$primary: $themecolor;
$logo-mark-fill: lighten($subthemecolor, 20%);
$wikilinktext: $linkcolor;
$wikilinktext-hover: rgba($linktext, 0.8);
$dark: darken($bodytext, 5%);
$border: $themecolor;
$navbar-border: lighten($basecolor, 25%);
$active-navbar-border: darken($navbar-border, 3%);
$active-nav-tabs-bgcolor: #231313;
$btn-default-bgcolor: darken($basecolor, 10%);
$inline-code-color: #a94f04;
$inline-code-bg: #0a121b;

@import 'apply-colors';
@import 'apply-colors-dark';

.wiki {
  .highlighted {
    background-color: lighten($themecolor, 20%);
  }
}

.panel {

  &,
  &.panel-white,
  &.panel-default {
    border-color: $bodytext;
    background-color: lighten($basecolor, 5%);

    .panel-heading {
      color: $basecolor;
      background-color: 1px solid $bodytext;
    }
  }
}

.rbt-menu {
  background: lighten($basecolor, 7%);
}

.nav-pills>li>a:hover {
  background: #d3671a;
  color: $white;
}

#wrapper > .navbar > .navbar-header {
  background-image: url("/images/themes/halloween/halloween-navbar.jpg");
}

.main-container > #wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url("/images/themes/halloween/halloween.jpg");
  background-attachment: fixed;
}

.grw-subnav {
  background-color: rgba(0, 0, 0, 0.3);
}

/*
 * Tabs
 */
body:not(.on-edit) .nav.nav-tabs {
  > li.active > a {
    background: linear-gradient(
      rgba($active-nav-tabs-bgcolor, 0) 0%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%);         // overwrite only the bottom pixel
  }
}
