@import '../variables';

$basecolor: #0a010a;
$bgcolor-theme: #aa4a04;
$subthemecolor: #e9af2b;
$linkcolor: #aa4a04;
$bgcolor-navbar: $bgcolor-theme;
$bgcolor-global: #061f2f;
$subthemecolor: #e9af2b;
$bgcolor-global: #0f0101;
$color-header: #e9af2b;
$color-global: #e9af2b;
$linktext: $linkcolor;
$linktext-hover: rgba($linktext, 0.8);
$sidebar-text: $bgcolor-theme;
$dark-themecolor: #4f5467;
$primary: $bgcolor-theme;
$fillcolor-logo-mark: lighten($subthemecolor, 20%);
$color-link-wiki: $linkcolor;
$color-link-wiki-hover: rgba($linktext, 0.8);
$dark: darken($color-global, 5%);
$border: $bgcolor-theme;
$navbar-border: lighten($basecolor, 25%);
$active-navbar-border: darken($navbar-border, 3%);
$active-nav-tabs-bgcolor: #231313;
$btn-default-bgcolor: darken($basecolor, 10%);
$color-inline-code: #a94f04;
$bgcolor-inline-code: #0a121b;

@import 'apply-colors';
@import 'apply-colors-dark';

.wiki {
  .highlighted {
    background-color: lighten($bgcolor-theme, 20%);
  }
}

.panel {
  &,
  &.panel-white,
  &.panel-default {
    background-color: lighten($basecolor, 5%);
    border-color: $color-global;

    .panel-heading {
      color: $basecolor;
      background-color: 1px solid $color-global;
    }
  }
}

.rbt-menu {
  background: lighten($basecolor, 7%);
}

.nav-pills > li > a:hover {
  color: $white;
  background: #d3671a;
}

#wrapper > .navbar > .navbar-header {
  background-image: url('/images/themes/halloween/halloween-navbar.jpg');
}

#wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url('/images/themes/halloween/halloween.jpg');
  background-attachment: fixed;
}

.grw-subnav {
  background-color: rgba(0, 0, 0, 0.3);
}

/*
 * Tabs
 */
body:not(.on-edit) .nav.nav-tabs {
  > li.active > a {
    background: linear-gradient(
      rgba($active-nav-tabs-bgcolor, 0) 0%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%
    ); // overwrite only the bottom pixel
  }
}
