@import '../variables';


$themecolor: #0c2a44;
$themelight: rgba(174, 216, 210, 0.973);
$subthemecolor: rgba($linktext, 0.8);
$linkcolor: #fbfdfa;
$themecolor: #97cbc3;

$topbar: #0c2a44;
$sidebar: $themelight;
$bodycolor: $themelight;

$headingtext: #ffffff;
$bodytext: #ffffff;
$linktext: $linkcolor;
$linktext-hover: rgba($linktext, 0.8);
$sidebar-text: $themecolor;

$primary: $themecolor;

$logo-mark-fill: lighten($themelight, 10%);
$wikilinktext: $linkcolor;
$wikilinktext-hover: rgba($linktext, 0.8);

$dark: darken($bodytext, 5%);
$border: #fff;
$navbar-border: lighten($themecolor, 25%);
$active-navbar-border: darken($navbar-border, 3%);
$btn-default-bgcolor: darken($themecolor, 10%);
$inline-code-color: lighten($themelight, 40);
$inline-code-bg: darken($themelight, 3%);

@import 'apply-colors';
@import 'apply-colors-light';

.wiki {
  .highlighted {
   background-color: lighten($themecolor, 20%);
  }
}
.panel {
  &,
  &.panel-white,
  &.panel-default {
    background-color: lighten($themecolor, 30%);
    border-color: $bodytext;
    color: $themecolor;
    .panel-heading {
      color: $themecolor;
      background-color: lighten($themecolor, 20%);
    }
    ul {
      li {
        a {
          color: darken($themecolor, 15%);
        }
      }
    }
  }
}
/*Nav-pills*/
 .nav-pills a:hover{
  background: $themecolor;
  color: #72a1a4 !important;
}

/* GROWI page list */
 .page-list {
  .page-list-ul {
    > li {
      > a strong {
        color: lighten($themelight, 20%);
      }
    }
  }
}
.rbt-menu {
  background: lighten($themelight, 5%);
}
