@import '../variables';

$bgcolor-theme: #00587a;
$themelight: #f7fbfd;
$subthemecolor: #186718;

$bgcolor-navbar: $bgcolor-theme;
$bgcolor-global: $themelight;
$bgcolor-global: $themelight;

$color-header: $bgcolor-theme;
$color-global: $bgcolor-theme;
$linktext: lighten($bgcolor-theme, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: $bgcolor-theme;

$primary: $bgcolor-theme;
$info: lighten($bgcolor-theme, 20%);

$fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 30%), 20%);
$color-link-wiki: lighten($bgcolor-theme, 20%);
$color-link-wiki-hover: lighten($color-link-wiki, 20%);
$color-inline-code: $subthemecolor;
$bgcolor-inline-code: lighten($subthemecolor, 70%);

@import 'apply-colors';
@import 'apply-colors-light';

// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    color: $themelight;
    background-color: lighten($bgcolor-theme, 20%);

    .icon-note,
    .icon-link {
      color: $themelight;
    }
  }
}
