@import '../variables';

$bgcolor-theme: #460039;

$bgcolor-navbar: #118050;
$bgcolor-global: #fff;
$bgcolor-global: #fefffd;

$color-header: #46694e;
$color-global: #333333;
$linktext: lighten($bgcolor-theme, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: #5c7253;

$primary: $bgcolor-theme;

$fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 30%), 20%);
$color-link-wiki: lighten($bgcolor-theme, 20%);
$color-link-wiki-hover: lighten($color-link-wiki, 20%);

@import 'apply-colors';
@import 'apply-colors-light';
