@import '../variables';

$themecolor:#112744;

$topbar:#F5A9F2;
$sidebar:#fff;
$bodycolor:#fff;
$headingtext: #2b2b2b;
$bodytext: #333333;
$linktext: lighten($themecolor, 20%);
$linktext-hover: lighten($linktext, 20%);
$sidebar-text:#38495a;

$primary: $themecolor;

$logo-mark-fill: lighten(desaturate($topbar, 10%), 15%);
$wikilinktext: lighten($themecolor, 20%);
$wikilinktext-hover: lighten($wikilinktext, 20%);

@import 'apply-colors';
@import 'apply-colors-light';

// add background-image
.main-container > #wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url('/images/themes/spring/spring.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  opacity: 0.4;
}
