@import '../variables';

$themecolor: #aaa45f;
$themelight: #ffffff;
$subthemecolor: #dddebf;


$topbar: $themecolor;
$sidebar: $themelight;
$bodycolor: $themelight;

$headingtext: #6d8969;
$bodytext: #92918c;
$linktext: lighten(#6d8969, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text:  #859083;

$primary: $themecolor;
$info: lighten($themecolor,20%);

$logo-mark-fill: lighten(desaturate($topbar, 30%), 20%);
$wikilinktext: lighten($themecolor, 20%);
$wikilinktext-hover: lighten($wikilinktext, 20%);
$inline-code-color: $subthemecolor;
$inline-code-bg: lighten($subthemecolor,70%);

@import 'apply-colors';
@import 'apply-colors-light';


// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    background-color: lighten($themecolor,20%);
    color: $themelight;

    .icon-note, .icon-link {
      color: $themelight;
    }
  }
}
