@import '../variables';

$bgcolor-theme: #aaa45f;
$themelight: #f5f3ee;
$subthemecolor: #dddebf;
$bgcolor-navbar: $bgcolor-theme;
$bgcolor-global: $themelight;
$bgcolor-global: $themelight;
$color-header: #577254;
$color-global: #7c7a70;
$linktext: lighten(#6d8969, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text: #859083;
$primary: $bgcolor-theme;
$info: lighten($bgcolor-theme, 10%);
$fillcolor-logo-mark: lighten(desaturate($bgcolor-navbar, 50%), 50%);
$color-link-wiki: lighten($bgcolor-theme, 5%);
$color-link-wiki-hover: lighten($color-link-wiki, 15%);
$color-inline-code: darken($bgcolor-theme, 20%);
$bgcolor-inline-code: lighten($subthemecolor, 70%);
$active-nav-tabs-bgcolor: #fffffc;

@import 'apply-colors';
@import 'apply-colors-light';

// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    color: $themelight;
    background-color: lighten($bgcolor-theme, 20%);

    .icon-note,
    .icon-link {
      color: $themelight;
    }
  }
}

.rbt-menu {
  background: $themelight;
}

#wrapper > #page-wrapper,
.page-editor-preview-container {
  background-image: url('/images/themes/wood/wood.jpg');
  background-attachment: fixed;
}

.grw-subnav {
  background-color: rgba(226, 221, 192, 0.205);
}

#wrapper > .navbar > .navbar-header {
  background-image: url('/images/themes/wood/wood-navbar.jpg');
}

/*
 * Tabs
 */
body:not(.on-edit) .nav.nav-tabs {
  > li.active > a {
    background: linear-gradient(
      rgba($active-nav-tabs-bgcolor, 0) 0%,
      rgba($active-nav-tabs-bgcolor, 0) 90%,
      $active-nav-tabs-bgcolor 100%
    ); // overwrite only the bottom pixel
  }
}

// login page
.nologin {
  .input-group {
    .input-group-addon {
      background-color: rgba(lighten(black, 10%), 0.6);
    }
    .form-control {
      background-color: rgba(lighten(black, 10%), 0.6);
    }
  }

  &.login-page {
    .login-header,
    .login-dialog {
      background-color: rgba(#ccc, 0.5);
    }
    .link-switch {
      color: $color-global;
    }
  }
}
