@import '../variables';

$themecolor: #aaa45f;
$themelight: #fffefb;
$subthemecolor: #dddebf;


$topbar: $themecolor;
$sidebar: $themelight;
$bodycolor: $themelight;

$headingtext: #6d8969;
$bodytext: #92918c;
$linktext: lighten(#6d8969, 5%);
$linktext-hover: lighten($linktext, 12%);
$sidebar-text:  #859083;

$primary: $themecolor;
$info: lighten($themecolor,20%);

$logo-mark-fill: lighten(desaturate($topbar, 50%), 50%);
$wikilinktext: lighten($themecolor, 10%);
$wikilinktext-hover: lighten($wikilinktext, 20%);
$inline-code-color: darken($themecolor, 20%);
$inline-code-bg: lighten($subthemecolor,70%);

@import 'apply-colors';
@import 'apply-colors-light';


// change color of highlighted header in wiki (default: orange)
.wiki {
  .code-line.revision-head.highlighted {
    background-color: lighten($themecolor,20%);
    color: $themelight;

    .icon-note, .icon-link {
      color: $themelight;
    }
  }
}
.rbt-menu {
  background: $themelight;
}
#page-wrapper {
  background-image: url("/images/admin/customize/wood.png") !important;
}
.bg-title {
  background: transparent !important;
}
