

  <ul class="nav nav-tabs d-print-none" role="tablist">
    <li class="nav-item grw-nav-main-left-tab">
      <a class="nav-link active">
        <i class="icon-notebook"></i> List
      </a>
    </li>
  </ul>

  <div class="tab-content">
    {# list view #}
    <div class="pt-2 active tab-pane page-list-container">
      {% if pages.length == 0 %}
        <div class="mt-2">
          There are no pages under <strong>{{ path | preventXss }}</strong>.
        </div>
      {% endif  %}

      {% include '../widget/page_list.html' with { pages: pages, pager: pager, viewConfig: viewConfig } %}
    </div>

  </div>
</div>
