<div class="row not-found-message-row mb-4">
  <div class="col-lg-12">
    <h2 class="text-muted">
      <i class="icon-ban" aria-hidden="true"></i>
      Forbidden
    </h2>
  </div>
</div>

<div id="content-main" class="content-main page-list"
  data-path="{{ encodeURI(path) }}"
  data-current-user="{% if user %}{{ user._id.toString() }}{% endif %}"
  >

  <div class="row row-alerts d-edit-none">
    <div class="col-sm-12">
        <p class="alert alert-primary py-3 px-4">
          <i class="icon-fw icon-lock" aria-hidden="true"></i> Browsing of this page is restricted
        </p>
    </div>
  </div>

  <ul class="nav nav-tabs d-print-none" role="tablist">
    <li class="nav-item grw-nav-main-left-tab">
      <a class="nav-link active">
        <i class="icon-notebook"></i> List
      </a>
    </li>
  </ul>

  <div class="tab-content">
    {# list view #}
    <div class="pt-2 active tab-pane page-list-container">
      {% if pages.length == 0 %}
        <div class="mt-2">
          There are no pages under <strong>{{ path | preventXss }}</strong>.
        </div>
      {% endif  %}

      {% include '../widget/page_list.html' with { pages: pages, pager: pager, viewConfig: viewConfig } %}
    </div>

  </div>
</div>
