<div class="row not-found-message-row mb-4">
  <div class="col-md-12">
    <h2 class="text-muted">
      <i class="icon-info" aria-hidden="true"></i>
      Page is not found
    </h2>
  </div>
</div>

<div id="content-main" class="content-main content-main-not-found page-list"
  data-path="{{ path | preventXss }}"
  data-current-user="{% if user %}{{ user._id.toString() }}{% endif %}"
  {% if templateTags %}
    data-template-tags="{{ templateTags }}"
  {% endif %}
  >

  {% include 'not_found_tabs.html' %}

  <div class="tab-content">
    {% if getConfig('crowi', 'customize:isEnabledAttachTitleHeader') %}
    {% if template %}
    <script type="text/template" id="raw-text-original"># {{ path|path2name }}&NewLine;{{ template }}</script>
    {% else %}
    <script type="text/template" id="raw-text-original"># {{ path|path2name }}</script>
    {% endif %}
    {% else %}
    {% if template %}
    <script type="text/template" id="raw-text-original">{{ template }}</script>
    {% endif %}
    {% endif %}
    {# list view #}
    <div class="p-t-10 active tab-pane page-list-container" id="revision-body">
      {% if pages.length == 0 %}
        <div class="m-t-10">
          There are no pages under <strong>{{ path }}</strong>.
        </div>
      {% endif  %}

      {% include '../widget/page_list.html' with { pages: pages, pager: pager, viewConfig: viewConfig } %}
    </div>

    {# edit view #}
    <div class="tab-pane" id="edit">
      <div id="page-editor">{% if pageForm.body %}{{ pageForm.body }}{% endif %}</div>
    </div>
    {% include '../_form.html' %}

  </div>

  <div id="page-status-alert"></div>
</div>
