<div id="content-main" class="content-main page-list"
  data-path="{{ encodeURI(path) }}"
  data-current-user="{% if user %}{{ user._id.toString() }}{% endif %}"
  {% if templateTags %}
    data-template-tags="{{ templateTags }}"
  {% endif %}
  >

  <div id="display-switcher"></div>
  <div id="not-found-alert"></div>
  <div id="not-found-page"></div>

  <div class="tab-content">


    {# TODO: should be removed and transplanted to PageContainer.initStateMarkdown ------ from here ------ #}

    {% if getConfig('crowi', 'customize:isEnabledAttachTitleHeader') %}
    {% if template %}
    <script type="text/template" id="raw-text-original"># {{ path | path2name | preventXss }}&NewLine;{{ template }}</script>
    {% else %}
    <script type="text/template" id="raw-text-original"># {{ path | path2name | preventXss }}</script>
    {% endif %}
    {% else %}
    {% if template %}
    <script type="text/template" id="raw-text-original">{{ template }}</script>
    {% endif %}
    {% endif %}

    {# TODO: should be removed and transplanted to PageContainer.initStateMarkdown ------ to here ------ #}
  </div>

  <div id="grw-page-status-alert-container"></div>
</div>
