<ul class="nav nav-tabs hidden-print">
  <li class="nav-main-left-tab active">
    <a href="#revision-body" data-toggle="tab">
      <i class="icon-notebook"></i> List
    </a>
  </li>

  {% if !isTrashPage() and !page.isDeleted() %}
  <li class="nav-main-left-tab">
    <a
      {% if user %} href="#edit" data-toggle="tab" class="edit-button" {% endif %}
      {% if not user %} class="edit-button edit-button-disabled" data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}" {% endif %}
    >
      <i class="icon-note"></i> {{ t('Create') }}
    </a>
  </li>
  {% endif %}
</ul>
