<div class="row not-found-message-row mb-4">
  <div class="col-md-12">
    <h2 class="text-muted">
      <i class="icon-ban" aria-hidden="true"></i>
      Couldn't create path
    </h2>
  </div>
</div>

<div id="content-main" class="content-main content-main-not-found page-list"
  data-path="{{ path | preventXss }}"
  data-current-user="{% if user %}{{ user._id.toString() }}{% endif %}"
  >

  <ul class="nav nav-tabs hidden-print">
    <li class="grw-nav-main-left-tab active">
      <a href="#revision-body" data-toggle="tab">
        <i class="icon-notebook"></i> List
      </a>
    </li>
  </ul>

  <div class="tab-content">
    {# list view #}
    <div class="pt-2 active tab-pane page-list-container" id="revision-body">
      {% if pages.length == 0 %}
        <div class="mt-2">
          There are no pages under <strong>{{ path }}</strong>.
        </div>
      {% endif  %}

      {% include '../widget/page_list.html' with { pages: pages, pager: pager, viewConfig: viewConfig } %}
    </div>

  </div>
</div>
