<div class="page-attachments-row mt-5 py-4 d-edit-none d-print-none">
  <div class="container-lg">
    <p class="page-meta">
      <p>Last revision posted at {{ page.revision.createdAt|datetz('Y-m-d H:i:s') }} by <a href="/user/{{ page.revision.author.username }}"><img src="{{ page.revision.author.imageUrlCached|default('/images/icons/user.svg') }}" class="picture picture-sm rounded-circle"> {{ page.revision.author.name }}</a></p>
      <p>Created at {{ page.createdAt|datetz('Y-m-d H:i:s') }} by <a href="/user/{{ page.creator.username }}"><img src="{{ page.creator.imageUrlCached|default('/images/icons/user.svg') }}" class="picture picture-sm rounded-circle"> {{ page.creator.name }}</a></p>
    </p>
  </div>
</div>
