<ul class="page-list-ul page-list-ul-flat">
{% for data in pages %}

{% if pagePropertyName %}
  {% set page = data[pagePropertyName] %}
{% else %}
  {% set page = data %}
{% endif %}

<li>
  <img src="{{ page.lastUpdateUser|picture }}" class="picture img-circle">
  <a href="{{ page.path }}"
    class="page-list-link"
    data-path="{{ page.path }}">{{ decodeURIComponent(page.path) }}
  </a>
  <span class="page-list-meta">
    {% if page.isPortal() %}
      <span class="label label-info">PORTAL</span>
    {% endif  %}

    {% if page.isTemplate() %}
      <span class="label label-info">TMPL</span>
    {% endif  %}

    {% if page.commentCount > 0 %}
    <span>
      <i class="icon-bubble"></i>{{ page.commentCount }}
    </span>
    {% endif  %}

    {% if page.liker.length > 0 %}
    <span class="page-list-liker" data-count="{{ page.liker.length }}">
      <i class="icon-like"></i>{{ page.liker.length }}
    </span>
    {% endif  %}

    {% if viewConfig.seener_threshold and page.seenUsers.length >= viewConfig.seener_threshold %}
    <span class="page-list-seer" data-count="{{ page.seenUsers.length }}">
      <i class="fa fa-paw"></i>{{ page.seenUsers.length }}
    </span>
    {% endif  %}

    {% if !page.isPublic() %}
    <span>
      <i class="icon icon-lock"></i>
    </span>
    {% endif %}
  </span>
</li>
{% endfor %}
</ul>

{% if pager %}
<ul class="pagination">
  {% if pager.prev !== null %}
    <li class="prev"><a href="{{ path }}?offset={{ pager.prev }}"><i class="fa fa-arrow-left"></i> Prev</a></li>
  {% endif %}
  {% if pager.next %}
    <li class="next"><a href="{{ path }}?offset={{ pager.next }}">Next <i class="fa fa-arrow-right"></i></a></li>
  {% endif %}
</ul>
{% endif %}
