<div class="row page-attachments-row d-edit-none d-print-none">
  <div class="col-12">
    <div class="mt-4 mb-4">
      <div class="page-attachments" id="page-attachment"></div>

      <p class="page-meta">
        <p>Last revision posted at {{ page.revision.createdAt|datetz('Y-m-d H:i:s') }} by <a href="/user/{{ page.revision.author.username }}"><img src="{{ page.revision.author|picture }}" class="picture picture-sm rounded-circle"> {{ page.revision.author.name }}</a></p>
        <p>Created at {{ page.createdAt|datetz('Y-m-d H:i:s') }} by <a href="/user/{{ page.creator.username }}"><img src="{{ page.creator|default(page.creator)|picture }}" class="picture picture-sm rounded-circle"> {{ page.creator.name }}</a></p>
      </p>
    </div>
  </div>
</div>
