{% if page %}
<ul class="nav nav-tabs d-print-none d-edit-none" role="tablist">

  {#
    Left Tabs
  #}
  <li class="nav-item grw-main-nav-item-left">
    <a class="nav-link active" href="#revision-body" role="tab" data-toggle="tab">
      <i class="icon-control-play icon-fw"></i><span class="d-none d-md-inline">View</span>
    </a>
  </li>

  {% if !isTrashPage() %}
    <li class="nav-item grw-main-nav-item-left grw-nav-item-edit">
      <a
        {% if user %} href="#edit" data-toggle="tab" class="nav-link edit-button" {% endif %}
        {% if not user %}
          class="nav-link edit-button edit-button-disabled"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="icon-note icon-fw"></i><span class="d-none d-md-inline">{{ t('Edit') }}</span>
      </a>
    </li>

    {% if isHackmdSetup() %}
    <li class="nav-item grw-main-nav-item-left grw-nav-tab-hackmd">
      <a
        {% if user %} href="#hackmd" data-toggle="tab" class="nav-link edit-button" {% endif %}
        {% if not user %}
          class="nav-link edit-button edit-button-disabled"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="fa fa-fw fa-file-text-o"></i><span class="d-none d-md-inline">{{ t('HackMD') }}</span>
      </a>
    </li>
    {% endif %}

    <div id="page-editor-path-nav" class="d-none d-edit-sm-block ml-2"></div>
  {% endif %}

  {#
    Right Tabs
  #}

  {# to place right side #}
  <div class="mr-auto"></div>

  <!-- presentation -->
  {% if not page.isTopPage() %}
    <li class="nav-item d-edit-none">
      <a href="?presentation=1" class="nav-link toggle-presentation">
        <i class="icon-film icon-fw"></i><span class="d-none d-sm-inline">{{ t('Presentation Mode') }}</span>
      </a>
    </li>
  {% endif %}

  <!-- revision-history -->
  <li class="nav-item d-edit-none">
    <a class="nav-link" href="#revision-history" role="tab" data-toggle="tab">
      <i class="icon-layers icon-fw"></i><span class="d-none d-md-inline">{{ t('History') }}</span>
    </a>
  </li>

  <!-- Outside-share-link -->
  {% if !isTrashPage() %}
    <li id="page-share-management" class="nav-item dropdown d-edit-none"></li>
  {% endif %}

  <!-- icon-options-vertical -->
  {% if !isTrashPage() %}
    <li id="page-management" class="nav-item dropdown d-edit-none"></li>
  {% endif %}
</ul>

{% endif %}
