{% if page %}
<ul class="nav nav-tabs d-print-none">

  {#
    Left Tabs
  #}
  <li class="nav-item active">
    <a class="nav-link active" href="#revision-body" data-toggle="tab">
      <i class="icon-control-play"></i> View
    </a>
  </li>

  {% if !isTrashPage() %}
    <li class="nav-item nav-tab-edit">
      <a
        {% if user %} href="#edit" data-toggle="tab" class="nav-link edit-button" {% endif %}
        {% if not user %}
          class="nav-link edit-button edit-button-disabled"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="icon-note"></i> {{ t('Edit') }}
      </a>
    </li>
    {% if isHackmdSetup() %}
    <li class="nav-item nav-tab-hackmd">
      <a
        {% if user %} href="#hackmd" data-toggle="tab" class="nav-link edit-button" {% endif %}
        {% if not user %}
          class="nav-link edit-button edit-button-disabled"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="fa fa-file-text-o"></i> {{ t('HackMD') }}
      </a>
    </li>
    {% endif %}

    <div id="page-editor-path-nav" class="d-none d-edit-block ml-2"></div>

  {% endif %}

  {#
    Right Tabs
  #}
  {# to place right side #}
  <div class="mr-auto"></div>

  {% if not page.isTopPage() %}
  <li class="nav-item">
    <a href="?presentation=1" class="nav-link toggle-presentation">
      <i class="icon-film"></i><span class="d-none d-sm-inline"> {{ t('Presentation Mode') }}</span>
    </a>
  </li>
  {% endif %}

  <li class="nav-item">
    <a href="#revision-history" class="nav-link" data-toggle="tab">
      <i class="icon-layers"></i><span class="d-none d-sm-inline"> {{ t('History') }}</span>
    </a>
  </li>

  {% if !isTrashPage() %}
    {% if page.isTopPage() %}
    <li class="nav-item dropdown">
      <a
        {% if user %} role="button" class="nav-link dropdown-toggle dropdown-toggle-no-caret" data-toggle="dropdown" {% endif %}
        {% if not user %}
          class="nav-link dropdown-toggle dropdown-toggle-disabled dropdown-toggle-no-caret"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="icon-options-vertical"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item">
          <a href="#" data-target="#create-template" data-toggle="modal"><i class="icon-fw icon-magic-wand"></i> {{ t('template.option_label.create/edit') }}</a>
        </li>
        {% if ('/' !== path) %}
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#" data-target="#unportalize" data-toggle="modal"><i class="fa fa-share"></i> {{ t('Unportalize') }}</a></li>
        {% endif %}
      </ul>
    </li>
    {% else %}
    <li class="nav-item dropdown">
      <a
        {% if user %} role="button" class="nav-link dropdown-toggle dropdown-toggle-no-caret" data-toggle="dropdown" {% endif %}
        {% if not user %}
          class="nav-link dropdown-toggle dropdown-toggle-disabled dropdown-toggle-no-caret"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="icon-options-vertical"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item"><a href="#" data-target="#renamePage" data-toggle="modal"><i class="icon-fw icon-action-redo"></i> {{ t('Move/Rename') }}</a></li>
        <li class="dropdown-item"><a href="#" data-target="#duplicatePage" data-toggle="modal"><i class="icon-fw icon-docs"></i> {{ t('Duplicate') }}</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item">
          <a href="#" data-target="#create-template" data-toggle="modal"><i class="icon-fw icon-magic-wand"></i> {{ t('template.option_label.create/edit') }}</a>
        </li>
        {% if isDeletablePage() %}
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#" data-target="#deletePage" data-toggle="modal"><i class="icon-fw icon-fire text-danger"></i> {{ t('Delete') }}</a></li>
        {% endif %}
      </ul>
    </li>
    {% endif %}
  {% endif %}

</ul>

{% endif %}
