{% if page %}
<ul class="nav nav-tabs d-print-none">

  {#
    Left Tabs
  #}
  <li class="nav-item active">
    <a class="nav-link active" href="#revision-body" data-toggle="tab">
      <i class="icon-control-play"></i> View
    </a>
  </li>

  {% if !isTrashPage() %}
    <li class="nav-item nav-tab-edit">
      <a
        {% if user %} href="#edit" data-toggle="tab" class="nav-link edit-button" {% endif %}
        {% if not user %}
          class="nav-link edit-button edit-button-disabled"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="icon-note"></i> {{ t('Edit') }}
      </a>
    </li>
    {% if isHackmdSetup() %}
    <li class="nav-item nav-tab-hackmd">
      <a
        {% if user %} href="#hackmd" data-toggle="tab" class="nav-link edit-button" {% endif %}
        {% if not user %}
          class="nav-link edit-button edit-button-disabled"
          data-toggle="tooltip" data-placement="top" data-container="body" title="{{ t('Not available for guest') }}"
        {% endif %}
      >
        <i class="fa fa-file-text-o"></i> {{ t('HackMD') }}
      </a>
    </li>
    {% endif %}

    <div id="page-editor-path-nav" class="d-none d-edit-block ml-2"></div>

  {% endif %}

  {#
    Right Tabs
  #}
  {# to place right side #}
  <div class="mr-auto"></div>

  {% if not page.isTopPage() %}
  <li class="nav-item">
    <a href="?presentation=1" class="nav-link toggle-presentation">
      <i class="icon-film"></i><span class="d-none d-sm-inline"> {{ t('Presentation Mode') }}</span>
    </a>
  </li>
  {% endif %}

  <li class="nav-item">
    <a href="#revision-history" class="nav-link" data-toggle="tab">
      <i class="icon-layers"></i><span class="d-none d-sm-inline"> {{ t('History') }}</span>
    </a>
  </li>

  {% if !isTrashPage() %}
    <li id="page-management" class="nav-item dropdown"></li>
  {% endif %}

</ul>

{% endif %}
