<div class="row row-alerts">
  <div class="col-xs-12">
    {% if page && page.grant != 1 %}
      <p class="alert alert-inverse alert-grant">
      {% if page.grant == 2 %}
        <i class="icon-fw icon-link"></i><strong>{{ consts.pageGrants[page.grant] }}</strong> ({{ t('Browsing of this page is restricted') }})
      {% elseif page.grant == 4 %}
        <i class="icon-fw icon-lock"></i><strong>{{ consts.pageGrants[page.grant] }}</strong> ({{ t('Browsing of this page is restricted') }})
      {% elseif page.grant == 5 %}
        <i class="icon-fw icon-organization"></i><strong>'{{ pageRelatedGroup.name | preventXss }}' only</strong> ({{ t('Browsing of this page is restricted') }})
      {% endif %}
      </p>
    {% endif %}

    {% if page.isDeleted() %}
    <div class="alert alert-warning alert-trash d-flex align-items-center justify-content-between">
      <div>
        <i class="icon-trash" aria-hidden="true"></i>
        This page is in the trash.<br>
        Deleted by <img src="{{ page.lastUpdateUser|picture }}" class="picture picture-sm img-circle"> {{ page.lastUpdateUser.name }} at {{ page.updatedAt|datetz('Y-m-d H:i:s') }}
      </div>
      {% if user %}
      <ul class="list-inline">
        <li>
          <a href="#" class="btn btn-default btn-rounded btn-sm" data-target="#putBackPage" data-toggle="modal"><i class="icon-action-undo" aria-hidden="true"></i> {{ t('Put Back') }}</a>
        </li>
        <li>
          <a href="#" class="btn btn-danger btn-rounded btn-sm" data-target="#deletePage" data-toggle="modal"><i class="icon-fire" aria-hidden="true"></i> {{ t('Delete Completely') }}</a>
        </li>
      </ul>{# /.pull-right #}
      {% endif %}
    </div>
    {% endif %}

    {% if not page.isDeleted() and (req.query.renamed or req.query.redirectFrom) %}
    <div class="alert alert-info alert-moved d-flex align-items-center justify-content-between">
      <span>
        {% if req.query.renamed %}
          <strong>{{ t('Moved') }}: </strong> {{ t('page_page.notice.moved', req.sanitize(req.query.renamed)) }}
        {% else %}
          <strong>{{ t('Moved') }}: </strong> {{ t('page_page.notice.moved', req.sanitize(req.query.redirectFrom)) }}
        {% endif %}
      </span>
      {% if user %}
      <form role="form" id="unlink-page-form" onsubmit="return false;">
        <input type="hidden" name="_csrf" value="{{ csrf() }}">
        <input type="hidden" name="path" value="{{ path }}">
        <button type="submit" class="btn btn-default btn-sm pull-right">
          <i class="ti-unlink" aria-hidden="true"></i>
          Unlink
        </button>
      </form>
      {% endif %}
    </div>
    {% endif %}

    {% if req.query.duplicated and not page.isDeleted() %}
    <div class="alert alert-success alert-moved">
      <span>
        <strong>{{ t('Duplicated') }}: </strong> {{ t('page_page.notice.duplicated', req.sanitize(req.query.duplicated)) }}
      </span>
    </div>
    {% endif %}

    {% if req.query.unlinked %}
    <div class="alert alert-info alert-unlinked">
      <strong>{{ t('Unlinked') }}: </strong> {{ t('page_page.notice.unlinked') }}
    </div>
    {% endif %}

    {% if page and not page.isLatestRevision() %}
    <div class="alert alert-warning">
      <strong>{{ t('Warning') }}: </strong> {{ t('page_page.notice.version') }}
      <a href="{{ page.path }}"><i class="icon-fw icon-arrow-right-circle"></i>{{ t('Show latest') }}</a>
    </div>
    {% endif %}

    {% set dmessage = req.flash('dangerMessage') %}
    {% if dmessage.length %}
    <div class="alert alert-danger m-b-15">
      {{ dmessage }}
    </div>
    {% endif %}
  </div>
</div>
