<div class="page-list-container">
  <ul class="nav nav-tabs customtab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#view-list" role="tab" data-toggle="tab">{{ t('List View') }}</a>
      </li>
      {% if getConfig('crowi', 'customize:isEnabledTimeline') %}
      <li class="nav-item">
        <a class="nav-link" href="#view-timeline" role="tab" data-toggle="tab">{{ t('Timeline View') }}</a>
      </li>
      {% endif %}
  </ul>

  <div class="tab-content">
    {# list view #}
    <div class="pt-2 active tab-pane fade page-list-container in" id="view-list">
      {% if pages.length == 0 %}
        <div class="mt-2">
          {% if isTrashPage() %}
          No deleted pages.
          {% else %}
          There are no pages under <strong>{{ path }}</strong>.
          {% endif %}
        </div>
      {% else %}
        {% include 'page_list.html' with { pages: pages, pager: pager, viewConfig: viewConfig } %}
      {% endif %}
    </div>

    {# timeline view #}
    {% if getConfig('crowi', 'customize:isEnabledTimeline') %}
      <div class="tab-pane mt-5" id="view-timeline">
        <script type="text/template" id="page-timeline-data">{{ JSON.stringify(pagesDataForTimeline(pages)) }}</script>
        {# render React Component PageTimeline #}
        <div id="page-timeline"></div>
      </div>
    {% endif %}
  </div>
</div>
