<div class="user-page-content mb-4">
  <ul class="nav nav-tabs user-page-content-menu mb-4" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" href="#user-bookmark-list" role="tab" data-toggle="tab">
        <i class="icon-star"></i>
        <span class="d-none d-sm-inline">Bookmarks</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#user-created-list" role="tab" data-toggle="tab">
        <i class="icon-clock"></i>
        <span class="d-none d-sm-inline">Recently Created</span>
      </a>
    </li>

    {% if user._id.toString() == pageUser._id.toString() %}
    <li class="nav-item">
      <a class="nav-link" href="/me" role="tab">
        <i class="icon-wrench"></i>
        <span class="d-none d-sm-inline">Settings</span>
      </a>
    </li>
    {% endif %}
  </ul>

  <div class="user-page-content-tab tab-content">

    <div class="tab-pane user-bookmark-list page-list active" id="user-bookmark-list">
      {% if bookmarkList.length == 0 %}
        {{t('No bookmarks yet')}}.
      {% else %}
        <div class="page-list-container">
          {# {% include 'page_list.html' with { pages: bookmarkList, pagePropertyName: 'page' } %} #}
        </div>
      {% endif %}
    </div>

    <div class="tab-pane user-created-list page-list" id="user-created-list">
      <div class="page-list-container">
      </div>
    </div>

    {% if user._id.toString() == pageUser._id.toString() %}
    <div class="tab-pane user-draft-list page-list" id="user-draft-list">
      <div class="page-list-container">
      </div>
    </div>
    {% endif %}
  </div>
</div>

<script>
  function activateTab(tab){
    $('.nav-tabs a[href="#' + tab + '"]').tab('show');
  };

  window.addEventListener('load', function(e) {
    // hash on page
    if (location.hash) {
      if (location.hash == '#user-draft-list') {
        activateTab('user-draft-list');
      }
    }
  });
</script>
