.grw-presentation {

  // workaround from https://github.com/css-modules/css-modules/issues/295#issuecomment-952885628
  &:global(.reveal) :global {
    .slides {
      text-align: unset;

      section {
        position: absolute;
        width: 100%;
      }
    }
    .controls {
      bottom: 24px;
      color: var(--bs-body-color);
    }
    .progress {
      color: var(--bs-primary);
    }
  }

}
