.slides-styles :global {
  .slides {
    *, *:before, *::after {
      box-sizing: initial;
    }

    *::before, *::after {
      all: initial;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-weight: initial;
      line-height: initial;
      border: initial;
    }

    code {
      color: unset;
    }

  }
}

div.slides.marpit > section :is(pre, marp-pre) {
  padding: 0;
  border: none;
}
