.slides-styles :global {
  .slides {
    /*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

    /* Reset box-model and set borders */
    /* ============================================ */

    *,
    ::before,
    ::after {
      box-sizing: border-box;
      border-style: solid;
      border-width: 0;
    }

    /* Document */
    /* ============================================ */

    /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

    html {
      line-height: 1.15; /* 1 */
      -webkit-text-size-adjust: 100%; /* 2 */
      -webkit-tap-highlight-color: transparent; /* 3*/
    }

    /* Sections */
    /* ============================================ */

    /**
 * Remove the margin in all browsers.
 */

    body {
      margin: 0;
    }

    /**
 * Render the `main` element consistently in IE.
 */

    main {
      display: block;
    }

    /* Vertical rhythm */
    /* ============================================ */

    p,
    table,
    blockquote,
    address,
    pre,
    iframe,
    form,
    figure,
    dl {
      margin: 0;
    }

    /* Headings */
    /* ============================================ */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-size: initial;
      font-weight: initial;
      line-height: initial;
    }

    /* Lists (enumeration) */
    /* ============================================ */

    ul,
    ol {
      padding: 0;
      margin: 0;
    }

    /* Lists (definition) */
    /* ============================================ */

    dt {
      font-weight: bold;
    }

    dd {
      margin-left: 0;
    }

    /* Grouping content */
    /* ============================================ */

    /**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

    hr {
      box-sizing: content-box; /* 1 */
      height: 0; /* 1 */
      margin: 0;
      overflow: visible; /* 2 */
      clear: both;
      color: inherit;
      border-top-width: 1px;
    }

    /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

    pre {
      font-family: initial; /* 1 */
      font-size: inherit; /* 2 */
    }

    address {
      font-style: inherit;
    }

    /* Text-level semantics */
    /* ============================================ */

    /**
 * Remove the gray background on active links in IE 10.
 */

    a {
      color: inherit;
      text-decoration: none;
      background-color: transparent;
    }

    /**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

    abbr[title] {
      text-decoration: underline dotted; /* 2 */
    }

    /**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

    b,
    strong {
      font-weight: bolder;
    }

    /**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

    code,
    kbd,
    samp {
      font-family: initial; /* 1 */
      font-size: initial; /* 2 */
    }

    /**
 * Add the correct font size in all browsers.
 */

    small {
      font-size: 80%;
    }

    /**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

    sub,
    sup {
      position: relative;
      font-size: 75%;
      line-height: 0;
      vertical-align: baseline;
    }

    sub {
      bottom: -0.25em;
    }

    sup {
      top: -0.5em;
    }

    /* Replaced content */
    /* ============================================ */

    /**
 * Prevent vertical alignment issues.
 */

    svg,
    img,
    embed,
    object,
    iframe {
      vertical-align: bottom;
    }

    /* Forms */
    /* ============================================ */

    /**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

    button,
    input,
    optgroup,
    select,
    textarea {
      padding: 0;
      margin: 0;
      font: initial;
      color: inherit;
      text-align: inherit;
      text-transform: inherit; /* 2 */
      vertical-align: middle;
      background: transparent;
      border-radius: 0;
      -webkit-appearance: none; /* 1 */
      appearance: none;
    }

    /**
 * Correct cursors for clickable elements.
 */

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
      cursor: pointer;
    }

    button:disabled,
    [type='button']:disabled,
    [type='reset']:disabled,
    [type='submit']:disabled {
      cursor: default;
    }

    /**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

    :-moz-focusring {
      outline: auto;
    }

    select:disabled {
      opacity: inherit;
    }

    /**
 * Remove padding
 */

    option {
      padding: 0;
    }

    /**
 * Reset to invisible
 */

    fieldset {
      min-width: 0;
      padding: 0;
      margin: 0;
    }

    legend {
      padding: 0;
    }

    /**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

    progress {
      vertical-align: baseline;
    }

    /**
 * Remove the default vertical scrollbar in IE 10+.
 */

    textarea {
      overflow: auto;
    }

    /**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

    [type='number']::-webkit-inner-spin-button,
    [type='number']::-webkit-outer-spin-button {
      height: auto;
    }

    /**
 * Correct the outline style in Safari.
 */

    [type='search'] {
      outline-offset: -2px; /* 1 */
    }

    /**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

    [type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    /**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

    ::-webkit-file-upload-button {
      -webkit-appearance: button; /* 1 */
      font: initial; /* 2 */
    }

    /**
 * Fix appearance for Firefox
 */
    [type='number'] {
      -moz-appearance: textfield;
    }

    /**
 * Clickable labels
 */

    label[for] {
      cursor: pointer;
    }

    /* Interactive */
    /* ============================================ */

    /*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

    details {
      display: block;
    }

    /*
 * Add the correct display in all browsers.
 */

    summary {
      display: list-item;
    }

    /*
 * Remove outline for editable content.
 */

    [contenteditable]:focus {
      outline: auto;
    }

    /* Tables */
    /* ============================================ */

    /**
1. Correct table border color inheritance in all Chrome and Safari.
*/

    table {
      border-collapse: collapse;
      border-color: inherit; /* 1 */
    }

    caption {
      text-align: left;
    }

    td,
    th {
      padding: 0;
      vertical-align: top;
    }

    th {
      font-weight: bold;
      text-align: left;
    }
  }
}

div.slides.marpit > section :is(pre, marp-pre) {
  padding: 0;
  border: none;
}
