<%- include('commons/head'); %>

<body>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="p-3">
        <h1 class="text-center">Terms of Service</h1>
        <h2 class="text-center">At First</h2>
        <p>This Terms of Use Agreement(hereinafter referred to as the "Agreement") stipulates the terms and conditions of use for the services provided by WESEEK,Inc. on GROWI Slack-Bot(hereinafter referred to as the "Services"). All registered users(hereinafter referred to as "Users") are required to follow these Terms of Service.</p>

        <h2 class="text-center">Application of Terms</h2>
        <p>This Agreement shall apply to all relationships between the User and WESEEK,Inc. regarding the use of the Service.  In addition to this Agreement, WESEEK,Inc. may make various provisions regarding the Service, such as rules for use (hereinafter referred to as "Individual Provisions"). These individual regulations may be called by any name. These Individual Regulations, regardless of their names, shall constitute a part of these Terms. In the event that the provisions of these Terms of Use conflict with the provisions of the Individual Provisions of the preceding article, the provisions of the Individual Provisions shall take precedence unless otherwise specified in the Individual Provisions.</p>

        <h2 class="text-center">User Registration</h2>
        <p>Registration for this service shall be completed when the applicant agrees to these Terms of Use, applies for registration in accordance with the method specified by WESEEK,Inc. approves the application. If WESEEK,Inc. determines that the applicant has any of the following reasons, WESEEK,Inc. may not approve the application for registration, and WESEEK,Inc. shall not be obligated to disclose any of the reasons.</p>
          <ul>
            <li>If the applicant has provided false information in the application for registration.</li>
            <li>If the application is from a person who has violated this agreement.</li>
            <li>In addition, when WESEEK,Inc. deems that the registration is not appropriate.</li>
          </ul>

        <h2 class="text-center">Account</h2>
        <p>Users are responsible for maintaining the privacy and security of their accounts. We will not be liable for any damage or loss caused by your failure to protect your login information, including your password.</p>

        <h2 class="text-center">Prohibited Matters</h2>
        <p>Users shall not commit any of the following acts when using the Service.</p>
        <ul>
          <li>Acts that violate laws or public order and morals</li>
          <li>Acts related to criminal acts</li>
          <li>Acts that destroy or interfere with the functions of the servers or networks of WESEEK,Inc., other users, or other third parties.</li>
          <li>Acts that may interfere with the operation of WESEEK,Inc.'s services.</li>
          <li>Unauthorized access or attempts to do so.</li>
          <li>Acts that collect or accumulate personal information about other users.</li>
          <li>Acts of using this service for illegal purposes.</li>
          <li>Actions that cause disadvantage, damage, or discomfort to other users of this service or other third parties.</li>
          <li>Act of impersonating other users.</li>
          <li>Advertising, solicitation, or business activities on this service that are not authorized by WESEEK,Inc..</li>
          <li>Directly or indirectly providing benefits to antisocial forces in relation to WESEEK,Inc.'s services.</li>
          <li>Any other acts that WESEEK,Inc. deems inappropriate.</li>
        </ul>

        <h2 class="text-center">Suspension of Provision of the Service, etc.</h2>
        <p>WESEEK,Inc. may suspend or interrupt the provision of all or part of the Service without prior notice to the User if WESEEK,Inc. deems any of the following to be the case When performing maintenance, inspection, or updating of the computer system for this service</p>
        <ul>
          <li>In the event that the provision of the Service becomes difficult due to force majeure such as earthquakes, lightning, fire, power outages, or natural disasters.</li>
          <li>When a computer or communication line is stopped due to an accident</li>
          <li>In any other cases where WESEEK,Inc. deems it difficult to provide the Service.</li>
        </ul>
        <p>WESEEK,Inc. shall not be liable for any disadvantage or damage incurred by the User or any third party due to the suspension or interruption of the provision of the Service.</p>

        <h2 class="text-center">Restriction of Use and Cancellation of Registration</h2>
        <p>In the event that a User falls under any of the following, WESEEK,Inc. may, without prior notice, restrict the User from using all or part of the Service, or cancel the User's registration.</P>
        <ul>
          <li>If the user violates any of the provisions of this agreement.</li>
          <li>When it is found that there is a false fact in the registered information.</li>
          <li>When there is no response to communication from WESEEK,Inc. for a certain period of time.</li>
          <li>When there is no use of this service for a certain period of time after the last use.</li>
          <li>In any other cases where WESEEK,Inc. deems the use of the Service to be inappropriate.</li>
        </ul>
        <p>WESEEK,Inc. shall not be liable for any damages incurred by the User as a result of any action taken by WESEEK,Inc. in accordance with this Article.</p>

        <h2 class="text-center">No Warranty and Disclaimer</h2>
        <p>WESEEK,Inc does not warrant, expressly or impliedly, that the Service is free from defects in fact or in law (including defects in safety, reliability, accuracy, completeness, effectiveness, fitness for a particular purpose, security, errors or bugs, infringement of rights, etc.).
            WESEEK,Inc shall not be liable for any damages incurred by the User due to the Service. WESEEK,Inc shall not be liable for any transactions, communications, or disputes that may arise between the User and other users or third parties in relation to the Service.</p>
        <h2 class="text-center">Modification of Service Contents, etc.</h2>
        <p>WESEEK,Inc. may change the contents of the Service or discontinue the provision of the Service without notice to the User, and shall not be liable for any damages incurred by the User as a result of such changes.</p>

        <h2 class="text-center">Modification of the Terms of Service, etx.</h2>
        <p>WESEEK,Inc. may change the Terms of Use at any time without notice to the User, if WESEEK,Inc. deems it necessary. In the event that a User begins to use the Service after a change to the Terms, the User shall be deemed to have agreed to the changed Terms.</p>

        <h2 class="text-center">Handling of Personal Information</h2>
        <p>WESEEK,Inc. shall handle personal information obtained through the use of the Service in an appropriate manner in accordance with WESEEK,Inc.'s "Privacy Policy".</p>

        <h2 class="text-center">Notification or Communication</h2>
        <p>Notification or communication between the User and WESEEK,Inc. shall be conducted in a manner determined by WESEEK,Inc.. Unless the User notifies WESEEK,Inc. of a change in the method specified separately by WESEEK,Inc., WESEEK,Inc. will assume that the currently registered contact information is valid and send notifications or communications to said contact information, and these notifications or communications will be deemed to have reached the User at the time they are sent.</p>

        <h2 class="text-center">Prohibition of Transfer of Rights and Obligations</h2>
        <p>The User may not assign or pledge to a third party his/her position in the User Agreement or rights or obligations under this Agreement without the prior written consent of WESEEK,Inc..</p>

        <h2 class="text-center">Governing Law</h2>
        <p>These Terms of Use shall be governed by and construed in accordance with the laws of Japan. In the event of a dispute regarding the Service, the court having jurisdiction over the location of the head office of WESEEK,Inc. shall have exclusive jurisdiction.</p>
      </div>
    </div>
  </div>
</body>
