.grw-custom-nav-tab :global {
  .nav-title {
    flex-wrap: nowrap;
  }

  .nav-link {
    padding: 1rem 1.5rem;
  }

  .grw-nav-slide-hr {
    border-top: 0rem;
    border-bottom: 3px solid;
    transition: 0.3s ease-in-out;
  }

  .material-symbols-outlined {
    margin-right: 6px;
    font-size: 18px;
  }
}
