.revision-head :global {
  a {
    text-decoration: none;
  }

  .revision-head-link {
    margin-right: 0.5em;
    opacity: 0;
    user-select: none;
  }
  .revision-head-edit-button{
    margin-left: 0.5em;
    opacity: 0;
    font-size: 16px;
    user-select: none;
    .material-symbols-outlined{
      vertical-align: middle;
    }
  }
}

.revision-head:hover :global {
  .revision-head-link, .revision-head-edit-button {
    opacity: 0.5;
  }
  .revision-head-link:hover :global {
    opacity: 1;
  }
  .revision-head-edit-button:hover :global {
    opacity: 1;
  }
}

// blink
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

.blink {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 70%;
    content: '';
    background-color: var(--bs-highlight-bg);
    border-radius: 2px;
    animation: fadeout 1s ease-in 1.5s forwards;
  }
}
