.attachment :global {
  .attachment-icon {
    flex-shrink: 0;
    width: 35px;
    height: 35px;
  }

  .custom-shadow {
    height: 30vh;
    max-height: 150px;
    overflow: hidden;
    transition: 0.3s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      filter: brightness(0.5);
    }
  }
}
