/**
 * for table with handsontable modal button
 */
.editable-with-handsontable :global {
  position: relative;

  .handsontable-modal-trigger {
    position: absolute;
    top: 11px;
    right: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    vertical-align: bottom;
    background-color: transparent;
    border: none;
    opacity: 0;
  }
}

.editable-with-handsontable:hover :global {
  .handsontable-modal-trigger {
    opacity: 1;
  }
}
