@use '~/styles/mixins';

.grw-contextual-sub-navigation :global {
  background-color: rgba(var(--bs-body-bg-rgb), 0.7);
  backdrop-filter: blur(35px);
}

@include mixins.editing() {
  .grw-contextual-sub-navigation {
    position: fixed;
    right: 0;
  }
}
