@use '@growi/core-styles/scss/bootstrap/init' as bs;
@use '~/styles/mixins';
@use '~/styles/variables' as var;


$subnavigation-height: 50px;
$page-view-layout-margin-top: 32px;

.page-view-layout :global {
  $page-content-footer-min-heigh: 130px;

  min-height: calc(100vh - #{$subnavigation-height + $page-view-layout-margin-top + $page-content-footer-min-heigh});
}

// fluid layout
.fluid-layout :global {
  .grw-container-convertible {
    @include mixins.fluid-layout();
  }
}

.page-view-layout :global {
  .grw-side-contents-container {
    margin-bottom: 1rem;

    @include bs.media-breakpoint-up(lg) {
      width: 250px;
      min-width: 250px;
      margin-left: 30px;
    }

    @include bs.media-breakpoint-up(md) {
      max-width: 170px;
    }

    @include bs.media-breakpoint-down(sm) {
      position: fixed;
      right: 1rem;
    }
  }
}

// sticky side contents
.page-view-layout :global {
  .grw-side-contents-sticky-container {
    position: sticky;

    $page-path-nav-height: 99px;

    top: calc($subnavigation-height + $page-view-layout-margin-top + $page-path-nav-height + 4px);
  }
}
