@use '~/styles/bootstrap/init' as bs;

.grw-users-info :global {
  .users-meta {
    margin-left: 30px;
  }

  .user-page-name {
    margin: 0;
    font-size: 2.5em;
    color: bs.$secondary;
  }

  .picture {
    width: 120px;
    height: 120px;
  }

  div.user-page-meta {
    padding-left: 0;
    color: bs.$gray-400;

    .user-page-username {
      font-weight: bold;
    }
  }
}
