@use '@growi/core-styles/scss/variables/growi-official-colors';
@use '~/styles/mixins';
@use '@growi/core-styles/scss/bootstrap/init' as bs;

// == Colors
.grw-logo :global {
  // set transition for fill
  svg, svg * {
    transition: fill 0.8s ease-out;
  }

  fill: var(--grw-app-title-color, var(--bs-tertiary-color));
}

.grw-logo {
  &:global {
    &:hover {
      .group1 {
        fill: growi-official-colors.$growi-green;
      }

      .group2 {
        fill: growi-official-colors.$growi-blue;
      }
    }
  }
}

// == Editor mode
@include mixins.at-editing() {
  @include bs.media-breakpoint-up(xl) {
    .grw-logo {
      &:global {
        opacity: 0.5;
        transition: opacity 0.8s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
