<header id="page-header background-t">
  <div class="d-flex align-items-center">
    <div class="hidden-xs hidden-sm">
      <a class="logo" href="/">
        <div class="">{% include '../../widget/logo.html' %}</div>
      </a>
    </div>
    <div class="title-container">
      <h1 class="title" id="revision-path"></h1>
      {% if not forbidden and not isTrashPage() %}
        <div id="tag-label"></div>
      {% endif %}
    </div>
    {% if page %} {% include '../../widget/header-buttons.html' %}

    <ul class="authors hidden-sm hidden-xs text-nowrap p-t-10">
      <li>
        <div class="d-flex align-items-center b">
          <a class="m-r-5" href="{{ userPageRoot(page.creator) }}">
            <img src="{{ page.creator|default(author)|picture }}" class="picture img-circle">
          </a>
          <div class="d-flex align-items-end flex-column">
            <div>Created by
              <a href="{{ userPageRoot(page.creator) }}">{{ page.creator.name|default(author.name) }}</a>
            </div>
            <div class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{ page.createdAt|datetz('Y/m/d H:i:s') }}">{{ page.createdAt|dateDistance }}</div>
          </div>
        </div>
      </li>
      <li class="m-t-5">
        <div class="d-flex align-items-center">
          <a class="m-r-5" href="{{ userPageRoot(author) }}">
            <img src="{{ author|picture }}" class="picture img-circle">
          </a>
          <div class="d-flex align-items-end flex-column">
            <div>Updated by
              <a href="{{ userPageRoot(author) }}">{{ author.name }}</a>
            </div>
            <div class="text-muted" data-toggle="tooltip" data-placement="bottom" title="{{ page.updatedAt|datetz('Y/m/d H:i:s') }}">{{ page.updatedAt|dateDistance }}</div>
          </div>
        </div>
      </li>
    </ul>
    {% endif %} {% if not page and ('/' === path or 'crowi' === getConfig('crowi', 'customize:behavior')) and not isUserPageList(path) and !isTrashPage()
    %} {% if '/' === path.slice(-1) %} {% include '../../widget/create_portal.html' %} {% endif %} {% endif %}

  </div>

</header>
