%grw-page-accessories-control {
  .grw-btn-page-accessories {
    padding-right: 1rem;
    padding-left: 1rem;

    svg {
      width: 16px;
      height: 16px;
    }
  }
  .grw-page-accessories-control-icon {
    display: flex;
    justify-content: center;
    width: 20px;
  }
}
