.btn-attachment-toggle {
  $color-active: var(--bs-tertiary-color);
  $color-active-rgb: var(--bs-tertiary-color-rgb);

  --bs-btn-color: var(--bs-tertiary-color);
  --bs-btn-bg: var(--bs-secondary-bg);

  --bs-btn-hover-color: #{$color-active};
  --bs-btn-hover-bg: rgba(#{$color-active-rgb}, 0.2);

  --bs-btn-active-color: #{$color-active};
  // --bs-btn-active-bg: transparent;

  --bs-btn-border-width: 0;

  &:global {
    &:hover {
      --bs-btn-active-bg: rgba(#{$color-active-rgb}, 0.2);
    }
  }
}
