@mixin btn-page-editor-mode-manager($textColor, $borderColor, $bgColorHoverAndActive, $bgColor: white) {
  color: $textColor;
  background-color: $bgColor;
  border-color: $borderColor;

  &:not(:first-child) {
    &::before {
      border-left-color: $borderColor;
    }
  }

  &:hover,
  &:active,
  &.active {
    color: $textColor;
    background-color: $bgColorHoverAndActive;
    border-color: $borderColor;
    &::after {
      border-color: $bgColorHoverAndActive;
    }
  }
}
